<!--
  Generated template for the GnregeEmbrasementScenarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">EMBRASEMENT GÉNÉRALISÉ ÉCLAIR</h3>

<h4 class="Style1">SCÉNARIO TYPE ET DESCRIPTION DU PHÉNOMÈNE</h4>

<p>Lors de la phase de croissance, le tirage s’établit. Les grands principes de l’aéraulique
permettent d’identifier les phénomènes suivants :</p>

<li>Le <strong>local est en surpression en partie haute</strong>, du fait de l’augmentation de la chaleur due à la pyrolyse et à la libération de produits de combustion</li>
<li><strong>De l’air entre par la dépression créée en partie basse</strong>, alimentant l’incendie (notion de transfert de masse)</li>
<li>En présence d’ouverture, des échanges s’établissent : les <strong>fumées et les gaz chauds sortent en partie haute</strong> alors que de <strong>l’air frais entre en partie basse.</strong></li>

<p>Comme le montre la figure suivante, un <strong>gradient de pression</strong> permet cet échange essentiel pour l’incendie.</p>

<p><img src="assets/icon/Capture1.PNG" alt="" /><strong>Répartition des champs de pression</strong></p>

<p>Le feu continue de croître, mais sa taille reste proportionnelle au volume qui le contient.
L’énergie libérée par le foyer, les fumées et les gaz chauds, est largement absorbée par
les murs et le plafond dont la température interne continue d’augmenter de façon
conséquente.</p>

<p>Cette élévation de température provoque l’émission de rayonnement thermique par les
parois et la couche de fumées vers le coeur du volume.</p>

<p class="Style1"><u>Tout corps chauffé émet à son tour du rayonnement thermique</u></p>

<p>Une concentration nouvelle de l’énergie est créée dans le volume.
Les ouvertures du local permettent la <strong>continuité de la ventilation</strong> par des entrées d’air
frais apportant tout le comburant (oxygène) nécessaire au foyer.</p>

<p>Durant cette phase, le <strong>combustible initial</strong> (mobilier, aménagements intérieurs,
décoration, etc.) réparti dans la partie basse du volume s’échauffe fortement et l’émission
de <strong>gaz de pyrolyse</strong> augmente.</p>

<p>La <strong>couche de fumées</strong> combustibles stratifiées, qui s’est créée en partant du plafond lors
de la phase de croissance, va jouer un rôle essentiel dans le déclenchement de
l’embrasement généralisé éclair.</p>

<p><img src="asset/icon/Capture2.PNG" alt="" /><strong>Pyrolyse des éléments combustibles du volume</strong>porte et fenêtre ouvertes</p>

<h5>Couche de fumées</h5>

<p>Il est important de comprendre ce qui se passe au sein de la couche de fumées au-dessus
du foyer. En effet, la réaction de combustion produit du « nouveau combustible ».</p>

<p>Comme indiqué précédemment, les éléments combustibles du volume s’échauffent sous
l’effet de l’incendie en libérant des gaz de pyrolyse ; le feu est correctement ventilé, la
quantité d’air frais entrant dans le volume n’étant limitée que par la section des ouvertures.</p>

<p>Si le flux de gaz de pyrolyse libéré est trop important pour que la flamme puisse le brûler
entièrement (excès de combustible pour les capacités de ventilation), l’atmosphère du
volume va voir sa <strong>concentration en combustible</strong> (gaz + suies) augmenter.</p>

<p><img src="asset/icon/Capture3.PNG" alt="" />La <strong>couche de fumées augmente</strong> et se <strong>stratifie</strong> thermiquement</p>

<p class="Style1">En fonction de leur température, les fumées et gaz se stratifient, les couches les
plus chaudes en partie haute, les plus froides en partie basse.</p>

<p>La <strong>composition chimique de cette couche</strong> dépend :</p>

<li>Du type de feu</li>
<li>Des produits impliqués dans la combustion</li>
<li>Du taux de ventilation</li>

<p>Les <strong>plages d’inflammabilité du mélange gazeux</strong> composant la fumée varient en
fonction des produits impliqués.<p>

<p>L’inflammation des gaz libère plus d’énergie, ce qui intensifie encore leur combustion. Le
point important est le caractère hautement inflammable des fumées et gaz issus de l’incendie.</p>

<p class="Style1">Les fumées et les gaz issus d’un incendie ne sont <strong>pas de simples résidus</strong> ou des sous-produits de la combustion. Ils forment un <strong>mélange de combustibles</strong> qui occupe tout le haut du volume <strong>au-dessus des intervenants.</strong></p>

<p>Il importe d’intégrer la dangerosité de cette couche de fumées et de gaz que la littérature
technique décrit comme étant comparable à du <strong>carburant.</strong>
Le matelas de fumées, <strong>véritable couche de combustibles inflammables</strong>, s’enrichit et
devient, au fil des minutes, de plus en plus dangereux.<p>

<p class=Style1>Ne pas négliger la présence, entre autres gaz, de <strong>monoxyde de
carbone</strong> dans la couche de fumées, élément particulièrement dangereux
notamment sur le plan de la <strong>combustion.</strong></p>

<h5>Dynamique du système</h5>

<p>A ce stade, la situation est la suivante :</p>

<li>Le local dans lequel le feu s’est déclaré depuis un certain temps possède une
ouverture sur l’extérieur, permettant la ventilation du feu mais s’avérant insuffisante
pour évacuer la totalité de l’énergie et des matières produites.</li>
<li>La pyrolyse des éléments combustibles présents dans le volume ne cesse
d’augmenter et crée à son tour du combustible.</li>
<li>La couche chaude de fumées et de gaz au plafond et les parois surchauffées
émettent un rayonnement thermique.</li>

<p>L’énergie ainsi dégagée accentue l’action du foyer initial et augmente à son tour la
pyrolyse et la chaleur ambiante.
On assiste ainsi à des échanges thermiques par rayonnement qui vont induire un cycle de
« <strong>montée en température</strong> » de l’ensemble du système « <strong>volume en feu</strong> ».</p>

<p>Les flux de rayonnement thermique avoisinent les 30 kW/m2 à 600°C. A titre d’exemple,
les combustibles cellulosiques peuvent s’enflammer à partir de 20 kW/m2.
Les différentes expérimentations effectuées avant la survenue de l’embrasement
généralisé éclair ont révélé la présence, d’une couche de fumées et de gaz dont la
température est comprise entre <strong>500 °C et 650 °C.</strong></p>

<p class=Style1>Le feu continue à se ventiler mais <strong>l’évacuation de la chaleur reste insuffisante.</strong>
La <strong>phase d’instabilité est maximale et peut évoluer</strong> à tout instant vers
<strong>l’embrasement brutal</strong> de tous les combustibles du volume (mobilier et fumées).</p>

<img src="asset/icon/Capture4.PNG" alt="" />

<p>De très nombreux paramètres régissent la combustion et son expansion :</p>

<li>Le rôle du monoxyde de carbone (CO)</li>
<li>L’inflammabilité de la couche de fumées</li>
<li>Le taux de pyrolyse</li>
<li>La température d’ignition des gaz issus de cette pyrolyse</li>
<li>Le rayonnement thermique depuis la couche de fumées et les parois</li>

<h5>Déclenchement du phénomène</h5>

<p>A ce moment, l’ambiance gazeuse du volume est <strong>hautement inflammable</strong> et la <strong>chaleur
maximale.</strong>
Des <strong>petites flammes</strong> apparaissent dans la couche de fumées, à l’interface avec l’air,
lorsque la température d’auto-inflammation des gaz est atteinte.</p>

<p>Celles-ci s’intensifient en <strong>rouleaux de flammes</strong> courant dans les fumées proches du
plafond (« roll-over »).</p>

<img src="asset/icon/Capture5.PNG" alt="" />

<p>La couche de <strong>fumées s’épaissit en s’abaissant assez brutalement</strong> emplissant de
combustibles gazeux hautement inflammables la presque totalité du volume sinistré.</p>

<p class="Style1">Cette situation annonce <strong>l’imminence (quelques secondes) de
l’embrasement généralisé éclair</strong>, les combustibles présents dans le
local (surfaces, objets) ayant été chauffés jusqu’à atteindre leur point
d’auto-inflammation.
L’embrasement généralisé éclair peut se produire <strong>à partir de 500 °C.</strong></p>

<p>C’est alors le <strong>passage brutal</strong> d’un feu <strong>localisé</strong> à un feu <strong>généralisé</strong> :</p>

<li>Le volume se retrouve <strong>entièrement embrasé</strong> pendant un <strong>très long moment</strong></li>
<li>La <strong>température</strong> « ambiante » atteint environ <strong>1000°C</strong></li>

<p>L’incendie, localisé dans une seule partie du volume, transforme celui-ci en un brasier
considérable risquant de :</p>

<li><strong>Piéger mortellement les intervenants et les victimes</strong></li>
<li><strong>Déstabiliser le dispositif de lutte et de secours</strong></li>
<li><strong>Propager l’incendie</strong></li>

<img src="asset/icon/Capture6.PNG" alt="" />

<p class="Style1"><u>L’analyse des accidents liés à ce phénomène démontre qu’une personne exposée en
<strong>sort rarement indemne.</strong></u></p>

</ion-content>
