<!--
  Generated template for the MgoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>M.G.O</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">

  <h3 class="Style1">ALERTE</h3>
  <ul class="Style3">
    <li>Itinéraire<br>
      </li>
    <li>Analyse de la défense incendie<br>
      </li>
    <li>Moyens radio<br>
    </li>
    <li>Etablissement répertorié </li>
  </ul>
  <h3 class="Style1">RECONNAISSANCE</h3>
  <ul class="Style3">
    <li> Combustible et risque de propagation<br>
      </li>
    <li>Risque pour les personnes et animaux<br>
      </li>
    <li>Caractéristiques des structures de l'ouvrage<br>
      </li>
    <li>Cheminements, points d'attaque et de secours 3D du bâtiment<br>
      </li>
    <li>Voies engins, voies échelles, accès et sorties<br>
      </li>
    <li>Moyens en eau<br>
      </li>
    <li>Risques spécifiques (gaz, chimiques, etc.)<br>
      </li>
    <li>Organes de coupure des fluides<br>
      </li>
    <li>Système de sécurité incendie - SSI<br>
      </li>
    <li>Plan schématique d'intervention</li>
  </ul>
  <h3 class="Style1">SAUVETAGE ET MISE EN SECURITE</h3>
  <ul class="Style3">
    <li> Sauvetage immédiat<br>
      </li>
    <li> Mise en sécurité <br>
      </li>
    <li> Confinement<br>
      </li>
    <li> Evacuations verticales ou horizontales</li>
  </ul>
  <h3 class="Style1">ETABLISSEMENTS ET ATTAQUE</h3>
  <ul class="Style3">
    <li> SMES = Situation - Mission - Exécution - Sécurité<br>
      </li>
    <li> Solutions de replis<br>
      </li>
    <li> Limite d'utilisation de l'eau<br>
      </li>
    <li> Faire la part du feu<br>
      </li>
    <li> Feu Circonscrit (propagation maitrisée)<br>
      </li>
    <li> Maître du feu (Foyer baisse d'intensité)<br>
      </li>
    <li> Feu éteint (Foyers principaux éteints)</li>
  </ul>
  <h3 class="Style1">PROTECTION ET DEBLAI</h3>
  <ul class="Style3">
    <li> Protection des biens (bâches, déménagement)<br>
      </li>
    <li> Aspiration et épuisement<br>
      </li>
    <li> Déblai décombres<br>
      </li>
    <li> Dégarnissage<br>
      </li>
    <li> Vérification points chauds et teneur CO</li>
  </ul>
  <h3 class="Style1">SURVEILLANCE</h3>
  <ul class="Style3">
    <li> Piquet incendie avec moyen en eau<br>
      </li>
    <li> Ronde de surveillance<br>
      </li>
    <li> Vérification points chauds et teneur CO</li>
  </ul>
  <h3 class="Style1">RETOUR INTERVENTION</h3>
  <ul>
    <li class="Style3"> Reconditionnement des EPI et engins<br>
       </li>
    <li class="Style3">Alimentation et propreté du personnel<br>
       </li>
    <li class="Style3">Debriefing <br>
       </li>
    <li class="Style3">Compte rendu de sortie<br>
       </li>
    <li class="Style3">RETEX</li>
  </ul>
</ion-content>
