<!--
  Generated template for the GnrfdfMoyensAeriensPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MOYENS OPÉRATIONNELS</h3>

<h4 class="Style1">MOYENS AÉRIENS</h4>

<img src="assets/icon/Capture21.PNG" alt="" />

<p>La flotte aérienne de la sécurité civile est composée <strong>d’avions et d’hélicoptères</strong>. L’emploi de ces
moyens est défini dans le guide d’emploi des moyens aériens en feux de forêts.</p>

</ion-content>
