<ion-content>
    <h3 class="Style1">Actions :</h3>
  
    <li>Identifier le type de métal<br>
      </li>
    <li>Identifier les facteurs aggravants (pluie, brouillard, etc.)<br>
    </li>
    <li>Demander un expert via CODIS avant toutes actions irréversibles<br>
      </li>
    <li>Utiliser les poudres adaptées extinctrices du site<br>
      </li>
    <li>Envisager d'étouffer le foyer par projection de ciment sec, talc sec, sable sec...<br>
    </li>
    <li>Périmètre de sécurité de 100m ou plus selon risque d'explosion<br>
    </li>
    <li>Port de l'ARI, tenue d'approche<br>
    </li>
    <li>Mesures explosimètrique<br>
    </li>
    <li>Engager une équipe CMIC<br>
    </li>
    <li>Soutien sanitaire<br>
    </li>
    <li>Logistique<br>
    </li>
  </ion-content>
  
