<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Décomposition auto-entretenue, avec noyau faisant conduction et convection par la création d'une cheminée dans le tas de fertilisant produisant des fumées toxiques<br>
  </li>
<li>Dégagements d'oxyde d'azote et d'ammoniac<br>
  </li>
  <li>Risques d'explosion (croûte par l'eau, contact avec matières organiques / présence de combustible)<br>
  </li>
</ion-content>