<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Y a t-il stockage de bouteilles diverses? Quelle est la nature de ces stockages?<br>
    </li>
  <li>Engagement d’un minimum de personnel, sous ARI<br>
    </li>
  <li>Mise en place de l’échelle pour permettre une évacuation rapide si besoin est (emplacement stratégique)<br>
    </li>
  <li>Protection et refroidissement des stockages<br>
    </li>
  <li>Mise en place d’un moyen d’extinction. Si possible, un moyen mousse de par la présence de goudron<br>
  </li>
  <li>Mise en place d’un large périmètre de sécurité au sol (Police)<br>
  </li>
</ion-content>
  