<!--
  Generated template for the DivAscenseursPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>DIV</ion-title>
            <ion-buttons end >
              <header-menu></header-menu>
            </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="Style1 centrer">ASCENSEUR</h3>

<p>L'intervention des pompiers n'est justifiée que lorsque des occupants sont bloqués à l'interieur de la
cabine et qu'il y a une urgence (enfant, personne âgée, malaise, etc)</p>

<h4>Familles d'ascenseurs</h4>

<p>On distingue essentiellement deux types de familles d'ascenseur :</p>

<li>Les ascenseurs à traction à câble</li>
<li>Les ascenseurs hydrauliques</li><br>

<p>En régle générale, ces deux types utilisent l'énergie électrique pour déplacer les cabines verticalement
(moteur électrique continu ou alternatif, en local ou embarqué)</p>

<h4>Procédures de dégagements d'une personne</h4>

<li>Prendre le matériel (EPI + projecteurs + 2 radios + clés ascenseurs)</li>
<li>Faire une reconnaissance à tous les niveaux pour s'assurer que les portes palières sont fermées</li>
<li>Un équipier reste au niveau de la cabine pour rassurer les personnes et être en contact avec le chef d'équipe qui ira en machinerie</li><br>

<h5 class="Style1">Ascenseur électrique en machinerie</h5>

<li>Mise à l'arrêt de l'ascenseur : couper l'alimentation électrique sur le tableau principal</li>
<li>Poser le volant de manoeuvre s'il n'est pas poser à demeure sur le moteur</li>
<li>Débloquer le frein lentement à l'aide du levier de déblocage</li>
<li>Tourner le volant jusqu'à aligner les repères jaunes sur le câble (indique la remise à niveau)</li>
<li>Procéder à l'ouverture de la porte palière derrière laquelle se trouve la cabine à l'aide des clés adéquates</li><br>

<h5 class="Style1">Ascenseur électrique en cabine</h5>

<li>Intervenir sur l'armoire de commande équipée d'un système manuel permettant la descente de la cabine situé au niveau desservi le plus bas</li>
<li>Mise à l'arrêt de l'ascenseur : couper l'alimentation électrique sur le tableau principal</li><br>

<h5 class="Style1">Ascenseur hydraulique</h5>

<li>Mise à l'arrêt de l'ascenseur : couper l'alimentation électrique sur le tableau principal</li>
<li>Libérer la pression du fluide en utilisant le bouton poussoir ou la poignée permettant au vérin de se reployer et descendre la cabine au niveau inférieur</li>
<li>Procéder à l'ouverture de la porte palière derrière laquelle se trouve la cabine à l'aide des clés adéquates</li><br>

<h4>Dégagement des personnes, cabine bloquée entre deux niveaux</h4>

<li>Si les parachutes sont bloquées, il faut essayer de remonter la cabine d'une dizaine de centimétres
afin de débloquer les parachutes, si ça ne marche pas , il faudra :
  <ul>
    <li>Mettre à l'arrêt l'ascenseur par la coupure de l'alimentation électrique</li>
    <li>L'ouverture de la porte palière du niveau supérieur : Le dégagement devra toujours se faire en partie
    haute (à l'aide d'une échelle) pour éviter tout risque de chute dans la gaine</li>
  </ul>
</li>

<h4>Neutralisation de l'appareil</h4>

<p>Avant de quitter les lieux, il convient de :</p>

<li>Maintenir l'ascenseur hors tension (interrupteur à consigner)</li>
<li>S'assurer que toutes les portes palières son verrouillées (test d'ouverture à la main) et les locaux machineries</li>

<h4>MEMOTECHNIQUE "SECURITE"</h4>

<li><font color="red">Situation</font> : Reconnaître les lieux</li>
<li><font color="red">Electricité</font> : Couper le courant</li>
<li><font color="red">Contact</font> : Etat des personnes bloquéeset les rassurer</li>
<li><font color="red">Utilisation des radios</font> : Réseau tactique entre la cabine et le palier</li>
<li><font color="red">Ramener la cabine</font> : Ramener la cabine à niveau</li>
<li><font color="red">Inviter les personnes à sortir</font> : Une fois confirmation de l'arrêt, sortir prudemment par le haut</li>
<li><font color="red">Technicien</font> : Avertir le technicien de garde</li>
<li><font color="red">Empêcher l'accès</font> : Refermer toute les portes et s'assurer de leur complet verrouillage</li>


</ion-content>
