<ion-content>
    <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Pavillonavant1.png"/>
    
  <div id="m1-demiPavAvant-text">

      1. Couper les ceintures, baisser ou casser les vitres<br>
</div>
          
</ion-content>
