<ion-content>
  <h3 class="Style1">MESSAGE DE RENSEIGNEMENT :</h3>

  <p>Message à transmettre dans les 20 premières minutes et à renouveler régulièrement et dès évolution de la situation :</p>

  <li>Je suis...<br>
  </li>
  <li>Je vois...<br>
  </li>
  <li>Je fais...<br>
  </li>
  <li>Je demande... (renforts)<br>
  </li>
</ion-content>
