<ion-content>

  <h5 class="Style1">Etablissement d'une LDV par l'extérieur au moyen de la commande</h5>

    <li>Procède à l’établissement de la division jusqu’à la prise d’eau</li><br>
    <li>Récupère la commande envoyée par le BAT après avoir donné l’ordre « envoyez »</li><br>
    <li>Amarre la lance et le tuyau à la commande et ordonne « hissez »</li><br>
    <li>Aide à la progression de la lance en façade</li><br>
    <li>Sur l’ordre « ouvrez », branche le ½ raccord du BAT à la division et ouvre</li><br>
    <li>Se tient à la disposition du chef d’agrès</li><br>

</ion-content>
