<ion-content>
    <h3 class="Style1">Actions - Conduite a Tenir :</h3>
  
    <ul>
      <li>Gestes à effectuer :
        <ul>
          <li>Immobiliser, maintien de la tête</li>
          <li>Pose de collier cervical</li>
          <li>Oxygène</li>
          <li>Relevage en rectitude</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Conditionnement :
        <ul>
          <li>Coquille (moulage symétrique)</li>
          <li>Planche à colonne si nécessaire</li>
          <li>Renfort si nécessaire pour dégagement ou transport</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Surveillance :
        <ul>
          <li>Trois fonctions vitales</li>
        </ul>
      </li>
    </ul>
  </ion-content>
