<ion-content>
    <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Pavillonarriere2.png"/>
    <div id="m1-demiPavAvant-text4">
        4. Couper les montants A si pas déjà fait<br>
        5. Faite une coupe de décharge dans le toit au niveau du montant B<br>
  </div>
</ion-content>
