<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Hauteur ne permettant pas une intervention par l’extérieur dans l’immédiat<br>
  </li>
<li>Risques liés au type d’IGH (habitations, administrations, hopitaux)<br>
  </li>
<li>Complexité et dimensionnement des locaux<br>
</li>
<li>Présence d’une population importante<br>
</li>
</ion-content>