<ion-content>

    <h5 class="Style1">Point Fixe Humain</h5>
    
    <li>Dans la mesure ou l'urgence de la situation rend impossible l'installation de tout amarrage, l'équipier sert de point fixe</li><br>
    <li>Cette maneouvre spécifique est garante de rapidité. Toutefois, le chef d'agrès doit participer à la mise au vide de la victime</li><br>
    <li>L'équipier, muni du harnais équipé du descendeur, est assis sur le sol, les deux pieds contre le mur, et contrôle la descente</li><br>
    <li>La hauteur entre le 8 descendeur et le point d'appui sur le passage au vide de la corde doit obligatoirement être supérieure à 20 cm<br></li>
    
    </ion-content>
