<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Utilisée comme habitation<br>
  </li>
<li>Utilisée comme transporteur<br>
  </li>
<li>Utilisée comme habitation et transporteur<br>
</li>
<li>Particularités propres au feu de bateau<br>
</li>
</ion-content>
