<!--
  Generated template for the GnrAriAugmentationPoidsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contraintes Physiologiques</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">Poids de l’Appareil</h5>

<li>Poids de 10 à 18 kg maxi</li><br>
<li>Modification comportement du porteur : ne marche plus normalement, se baisse difficilement, difficultés lors des déplacements verticaux</li>

</ion-content>
