<ion-content>
    <h3 class="Style1">Signes :</h3>
  
    <ul>
      <li>Visibles :
        <ul>
          <li>Rupture de la poche des eaux</li>
          <li>Douleurs</li>
        </ul>
      </li>
    </ul>
  
  <ul>
    <li> A rechercher :
      <ul>
        <li>Régularité des contractions ?</li>
        <li>Nombre de minutes entre chaque contraction</li>
      </ul>
    </li>
  </ul>
  </ion-content>
