<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <strong>Identifier le type d'engrais et la quantité<br>
  </strong>
  <h5>Engrais azoté en solution</h5>
  - Liquide - ne présente pas de danger majeur<br>
  - Pollution des eaux en cas de fuite<br>
  <h5>N ou Ammonitrates</h5>  
 - Granulés - Risque de décomposition en présence de la châleur, explosion possible si teneur &gt; à 28%<br>
  <h5>NP - NK - NPK (composé)</h5>
 - Granulés - Risque de décomposition<br>
<h5>PK (composé)</h5>
- Granulés - Aucune décomposition possible<br>
<h5>NASC (Nitrate d'Amonium en Solution Chaude)</h5>
- Liqueur stockage &gt; à 110°<br>
- Décomposition possible à partir de 150°<br>
- Possibilité de le cristalliser à l'eau<br>
<h5>Urée</h5>
- Granulés ou liquide<br>
- Aucune décomposition possible<br>
- Ininflammable<br>
</ion-content>