<ion-content>
    <h3 class="Style1">Signes :</h3>
  
    <ul>
      <li>Visibles :
        <ul>
          <li>Plaies, Bosse ?</li>
          <li>Saignements éventuels ? (hémorragie externe ou extériorisée)</li>
        </ul>
      </li>
    </ul>
  
  <ul>
    <li> A rechercher :
      <ul>
        <li>Perte de connaissance initiale ?</li>
        <li>Intervalle libre ?</li>
        <li>Trouble du comportement ?</li>
      </ul>
    </li>
  </ul>
  </ion-content>
