<!--
  Generated template for the GnrfdfGiffOffensivesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DU GIFF</h3>

<img src="assets/icon/Capture54.PNG" alt="" />

<h4 class="Style1">MANOEUVRES OFFENSIVES</h4>

<h5>Généralités</h5>

<p>Les <strong>manoeuvres offensives</strong> (attaque de front, attaque de flanc, attaque par percée de flanc)
permettent d’aller chercher le feu.</p>

<p>Afin de les réaliser, il existe 4 types d’établissements :</p>

<li>L’établissement de 4 lances 500 jusqu'à 120 m</li>
<li>L’établissement de 2 lances 500 jusqu'à 280 m</li>
<li>L’établissement d’1 lance 500 ou de 2 lances 150 jusqu’à 440 m</li>
<li>L’établissement supérieur à 440 m (de grande longueur)</li><br>

<h5>ÉTABLISSEMENT DE 4 LANCES 500 JUSQU'A 120 M</h5>

<p>Cette manoeuvre est effectuée simultanément par les 4 véhicules. Chaque chef d'agrès fait établir 1 lance 500 selon les manoeuvres
décrites en 2.2 et 2.3 de la partie « Manoeuvres du CCF ».</p>

<p><strong>Commandement du chef du GIFF : « Pour l’établissement de 4 lances 500, débit XXX l/min, établissez »</strong></p>

<p class="Style1">Lorsque la manoeuvre ne nécessite pas l’établissement de 4 lances, le chef du GIFF désigne les chefs d’agrès chargés de
l’établissement et ceux chargés de l’alimentation.</p>

<p><img src="assets/icon/Capture60.PNG" alt="" /><strong>Établissement de 4 lances 500 jusqu’à 120 m</strong></p>

<h5>ÉTABLISSEMENT DE 2 LANCES 500 JUSQU'A 280 M</h5>

<p>Le chef du GIFF désigne les CCF pour l’établissement de 2 lances 500, débit XXX l/min.
De préférence, ceux possédant la plus grande capacité et/ou le meilleur indice de pompe alimenteront les établissements. Les autres
véhicules effectuent le ravitaillement en eau.</p>

<p><strong>Commandement du chef du GIFF : « Pour l’établissement de 2 lances 500, débit XXX l/min par les CCF… à plus de 120 m, établissez »</strong></p>

<p  class="center">Exemple d’établissement réalisé par les CCF 1 et 3</p>

<img src="assets/icon/Capture61.PNG" alt="" />

<p  class="Style1">Lorsque la manoeuvre ne nécessite pas l’établissement de 2 lances, le chef du GIFF désigne les chefs d’agrès chargés de
l’établissement et ceux chargés de l’alimentation.</p>

<img src="assets/icon/Capture62.PNG" alt="" />

<h5>ÉTABLISSEMENT D’UNE LANCE 500 OU DE 2 LANCES 150 JUSQU'À 440 M</h5>

<p><strong>La réalisation de cette manoeuvre demande la totalité du personnel des véhicules.</strong>
L’acheminement du matériel est facilité par l’utilisation des claies de portage et l’emploi du matériel de forestage.</p>

<p class="center">Le chef du GIFF peut faire établir 1 lance 500 ou 2 lances 150 à partir d'un des véhicules.</p>

<img src="assets/icon/Capture63.PNG" alt="" /><br>

<img src="assets/icon/Capture64.PNG" alt="" />

<h5>ÉTABLISSEMENT SUPÉRIEUR A 440 M (GRANDE LONGUEUR)</h5>

<p>L’établissement de grande longueur nécessite du matériel complémentaire tel que claies de portage, matériel de forestage, motopompes,
tuyaux, etc.</p>

<p>Sa réalisation est spécifique aux contraintes rencontrées sur le terrain et aux matériels en dotation dans chaque service départemental
d’incendie et de secours.</p>

<p><strong>La vanne d’arrêt permet les prolongements de l’établissement en eau. Elle peut être remplacée par une division feux de forêts à clapet
qui maintient en eau l’établissement sur les pentes positives en cas de rupture accidentelle de tuyaux ainsi que la mise en oeuvre d’une ou
deux lances 150 pour la protection de l’établissement de tuyaux et/ou le traitement des lisières.</strong></p>

<p class="Style1">Il convient d’utiliser <strong>les deux engins possédant le meilleur indice de pompe, en « série »</strong>, pour refouler dans
l'établissement.</p>

<p>Les autres véhicules effectuent les norias.
Sur demande du COS, la réalisation de cet établissement peut être facilitée par l’engagement d’un DIH, avec ou sans vecteur aérien.</p>

<img src="assets/icon/Capture65.PNG" alt="" /><br>

</ion-content>
