<ion-content>

  <h3 align="center" class="Style1">Thermomètre</h3>

  <p>La mesure de la température est réalisée :</p>

  <li>Lorsque la victime semble anormalement chaude ou froide</li>
  <li>En cas de suspicion de maladies infectieuses</li>
  <li>En fonction des conditions climatiques (canicule, grand froid,...)</li><br>

  <p><strong>La voie buccale et axillaire</strong> sont les 2 modes de température retenus pour les SP</p>

  <p><strong>Adulte :</strong> La voie buccale est à privilégier, plus fiable que la voie axillaire. Elle est contre indiquée en cas de détresse respiratoire</p>

  <p><strong>Enfant < 5ans :</strong> La voie buccale n'est pas recommandée (difficulté à maintenir le thermomètre sous la langue). <strong>La voie axillaire</strong> est donc privilégier</p>

  <p>La voie rectale est la méthode la plus fiable chez l'enfant surtout en cas de convulsions hyperthermiques. Elle reflète le mieux la température centrale. <strong>Elle sera prise par les parents</strong></p>


  </ion-content>
