<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Mise en place d’un périmètre de sécurité à priori<br>
    </li>
  <li>Reconnaître la structure du silo et son contenu<br>
    </li>
  <li>Identifier les moyens d’extinction fixes, les moyens de vidange<br>
    </li>
  <li>Limiter les risques d’explosion par le biais d’eau pulvérisée ou de mousse et refroidir massivement les structures<br>
    </li>
  <li>Procéder à des relevés d’explosimètrie<br>
  </li>
  <li>Débuter la vidange progressive du silo et étudier les moyens d’évacuation des déblais<br>
  </li>
  <li>Étudier un procédé d’inertage (azote,…)<br>
  </li>
</ion-content>