<ion-content>

<h5 class="Style1">Règles de Base Apres l'Engagement</h5>

  <li>Regrouper le matériel par lot de sauvetage en vue de le contrôler</li>
  <li>Nettoyer sommairement le matériel</li>
  <p>Vérifier l'état du matériel :</p>
    <li>Vérification tactile (corps étrangers dans les agrès en fibres synthétiques, écrasement de l'âme, détérioration par la chaleur, usure de la graine)</li>
    <li>Vérification visuelle des pièces métalliques et des agrès en fibres synthètiques (coutures,usures,souillures) </li>
    <li>Rangement du matériel dans le sac</li><br>

<p><strong>Tout constat d'anomalies susceptibles d'entraîner la réforme immédiate d'un adrès en fibres synthètiques ou du descendeur en huit, rend le lot indisponible jusqu'au contrôle par le responsable</strong></p><br>

<p class="Style1">SIGNALER AU RESPONSABLE TOUT INCIDENT SURVENU AU MATERIEL OU TOUT EMPLOI HORS DES LIMITES DE SECURITE AINSI QUE DES CONTRAINTES EXCEPTIONNELLES SUBIES</p>

</ion-content>
