<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Nombres de victimes ?</li>
        <li>Ejectées ?</li>
        <li>Véhicules impliqués ?</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>Risques d'incendie ?</li>
      <li>Surraccident ?</li>
      <li>Victimes comprimées, coincées ?</li>
    </ul>
  </li>
</ul>
</ion-content>
