<!--
  Generated template for the GnregeExplosiondefumeeScenarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">EXPLOSION DE FUMÉES</h3>

<h4 class="Style1">SCÉNARIO TYPE ET DESCRIPTION DU PHÉNOMÈNE</h4>

<p>Une <strong>chaleur intense</strong> règne à l’intérieur du volume. <strong>Un ou plusieurs points d’ignition</strong>
peuvent encore, à ce stade, provoquer l’inflammation du mélange combustible qui ne
prend toutefois pas la forme d’une réaction explosive.</p>

<p>Puis le volume de fumées augmentant, la <strong>limite supérieure d’inflammabilité</strong> du mélange
combustible est <strong>dépassée</strong>.</p>

<p>Tous les éléments nécessaires à la combustion sont donc présents à <strong>l’exception du
comburant</strong>, l’oxygène de l’air en l’occurrence.</p>

<p>Il suffit qu’une <strong>entrée d’air</strong> se produise pour que le mélange combustible puisse rentrer
dans sa <strong>zone d’inflammabilité</strong>, se rapprochant ainsi des conditions de <strong>mélange idéal</strong>
(stoechiométrie).</p>

<p><img src="assets/icon/Page-15-Image-14.png" alt="" /><strong>Déclenchement du phénomène</strong>: porte fermée et fenêtre ouverte</p>

<p><strong>L’amenée d’air</strong> peut survenir de différentes manières. Par exemple :</p>

<li>Une vitre cède sous l’effet de la chaleur, de la surpression ou de la dilatation des huisseries</li>

<li>Les sapeurs-pompiers ouvrent une porte, cassent une vitre ou, plus schématiquement, percent l’enveloppe du volume dans un but de reconnaissance</li>

<p class="Style1">En cas d’<strong>ouverture du volume</strong>, une importante quantité d’air est aspirée
produisant un <strong>bruit caractéristique</strong> rappelant un sifflement.</p>

<p class="Style1">Cet <strong>apport d’oxygène</strong> va venir enrichir en comburant le mélange combustible du volume.</p>

<p class="Style1">En un instant, ce mélange redescend en dessous de sa LSI et se retrouve dans la <strong>zone d’inflammabilité</strong>.</p>

<p>Le résultat est fulgurant : au contact des points d’ignition (braises) dans le volume, une
<strong>violente explosion se produit : le local s’embrase</strong> et <strong>une boule de feu</strong> apparaît dans
l’ouverture créée, due à la détente de la surpression.</p>

<p>Comme dans toute explosion, un <strong>effet de souffle</strong> aggrave les conséquences thermiques
de l’allumage : les structures sont soumises à une <strong>onde de surpression</strong> qui peut causer
d’importants dégâts et mettre en péril la stabilité de l’édifice.</p>

<p>Les personnels sont exposés aux effets cumulatifs des <strong>brûlures</strong>, du <strong>blast</strong>, de blessures
par <strong>projections</strong> et <strong>chutes</strong> de matériaux.</p>

<p><img src="assets/icon/Page-16-Image-15.png" alt="" /><strong>Rupture du confinement et explosion de fumées</strong></p>

</ion-content>
