<ion-content>

  <h5><u>Les Cheminements</u> :</h5>

  <img src="assets/icon/charteg0.PNG"/>


  <h5><u>Le Sinistre</u> :</h5>

  <img src="assets/icon/charteg1.PNG"/>

  <h5><u>Les Prises d'eau</u> :</h5>

  <img src="assets/icon/charteg2.PNG"/>

  <h5><u>Sources de danger (Potentiel)</u> :</h5>

  <img src="assets/icon/charteg3.PNG"/>

  <h5><u>Points sensibles (Cibles)</u> :</h5>

  <img src="assets/icon/charteg4.PNG"/>

</ion-content>
