<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>Repos strict</li>
        <li>Couvrir</li>
        <li>Oxygène</li>
        <li>Calmer et rassurer</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Installer demi assis</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Aggravation de la détresse respiratoire</li>
      </ul>
    </li>
  </ul>
</ion-content>
