<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Sauvetage humain et animalier<br>
    </li>
  <li>Stopper la propagation en privilégiant l’exploitation<br>
    </li>
  <li>Besoins en eaux<br>
    </li>
</ion-content>
