<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Prévoir un PRM<br>
  </li>
  <li>Liés au périmètre de sécurité<br>
  </li>
  <li>Accès en hauteur et étroits<br>
  </li>
</ion-content>
