<ion-content>
    <h5><u>TECHNIQUE N°1</u></h5>
    <img src="assets/icon/OuvertureporteA1.png"/>
<ul>
1. Ecraser l'aile au-dessus de la roue<br>
2. Couper l'écrasement si charnières non accessibles<br>
3. Retourner l'aile sur le capot<br>
</ul>

</ion-content>
