<ion-content>

    <h3 align="center" class="Style1">Thermomètre</h3>

    <li>Respecter la méthode de prise en fonction des indications</li>
    <li>La sonde doit être correctement placée</li>
    <li>Utiliser un étui de protection</li>

  </ion-content>
