<!--
  Generated template for the GnretablissementlancesTuyauxechevauxMaterielPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>BINOMES</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">TUYAUX EN ECHEVEAUX : MATERIEL</h5>

<p><strong>BAT :</strong></p>
<li>Chef : 1 tuyau en « O » de 45x20 avec sa lance 500l/mn pré-connectée</li>
<li>Equipier : 2 tuyaux en « Z » de 45x20 pré-connectés</li>

<p><strong>BAL :</strong></p>
<li>Chef : 2 tuyaux en « Z » de 70x20 non connectés</li>
<li>Equipier : 1 tuyau en « Z » de 70x20 et une division pré-connectée</li>

<p><strong>Conducteur</strong> si BAL en BAT 2 et si division à moins de 40m du FPT :</p>
<li>2 tuyaux en « Z » de 70x20 préparés dans un coffre proche de la pompe</li>
<li>1 division</li><br>

<p><strong>TANSFORMER UN TUYAU « Z » EN « O » :</strong></p>
<li>Poser le tuyau au sol</li>
<li>Ecarter les demi-raccords</li>
<li>Passer un bras à l’intérieur de chacune des boucles du même côté</li>
<li>Passer le second bras dans les mêmes boucles, parallèlement au premier bras</li>
<li>Ecarter les deux bras</li>
<li>Se lever et avancer d’un pas en passant la jambe dans la boucle qui vient d’être formée</li>
<li>Poser le tuyau en « O » au sol et ajuster les demi-raccords</li>

</ion-content>
