<ion-content>

    <h3 align="center" class="Style1">BRANCARD CUILLERE</h3>

   <p>L’utilisation du brancard cuillère est particulièrement indiquée dans les cas suivants :</p>

   <li>victime traumatisée suspecte d’ un traumatisme du rachis pour l’installer sur un matelas immobilisateur à dépression</li>
   <li>impossibilité de réaliser un pont simple ou un pont amélioré (zone surbaissée : victime sous un train, un véhicule...)</li><br>

   <p>Il permet également de relever une victime sans atteinte traumatique présentant des souillures ou des salissures (le matériel est non oxydable et aisément nettoyable)</p>


  </ion-content>
