<!--
  Generated template for the GnrAriEquipementDetendeurhpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>MATERIEL</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h5>DETENTEUR HAUTE PRESSION</h5>

    <img src="assets/icon/GNR_DetenteurHP.png"/><br>

    <li>Abaisse la pression de la bouteille à 6/7 bars</li>
    <li>Reçoit le manomètre et le sifflet d’alarme de fin de charge</li>
    <li>Alimente la soupape à la demande</li>

</ion-content>
