<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Utilisation du lot feu de cheminée<br>
    </li>
  <li>Éteindre et sortir le combustible présent dans le foyer<br>
    </li>
  <li>Repérage et fermeture du conduit<br>
    </li>
  <li>Visite des locaux et localisation des points chauds<br>
    </li>
  <li>Extinction par le haut, en diffusé avec un minimum d’eau. Favoriser l’étouffement par la vapeur<br>
  </li>
  <li>Récupération éventuelle des eaux d’extinction avec une serpillière<br>
  </li>
  <li>Faire tomber les braises. Effectuer des percées si nécessaire au-dessus des points chauds persistants<br>
  </li>
</ion-content>
