<ion-content>
  <h3 class="Style1">A proscrire</h3>

  <li>Sous-estimer les risques de propagation, surtout dans les vieilles constructions<br>
  </li>
  <li>Sous-estimer les risques de backdraft ou flash-over<br>
  </li>
</ion-content>