<!--
  Generated template for the GnrAriOperationillustrationsReconnaissancelateralePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Procèdure Opérationnelle</ion-title>
          <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>PROCEDURES OPERATIONNELLES ILLUSTRATIONS</h5>

<h3 class="Style1"><u>RECONNAISSANCE LATERALE</u></h3><br>

<img src="assets/icon/GNR_engagement3.png"/><br>
<li>La ligne guide est déroulée dans le couloir, la liaison personnelle longue permet d’explorer les pièces latérales sans se désolidariser de la ligne guide</li><br>
<li>Le chef est relié à l’équipier par les 6 m de sa liaison personnelle</li><br>
<li>L’équipier est relié à la ligne guide par sa liaison personnelle courte</li>

</ion-content>
