<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Victime coincée par une charge</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>Risque d'ensevelissement ?</li>
      <li>Accès à la victime ?</li>
    </ul>
  </li>
</ul>
</ion-content>
