<!--
  Generated template for the GnrfdfDihLimitesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DU DIH</h3>

<img src="assets/icon/Capture81.PNG" alt="" />

<h4 class="Style1">LIMITES D’EMPLOI AÉRONAUTIQUES</h4>

<p>Les opérations de lutte active s’effectuent seulement durant les heures du jour aéronautique.
Lors de conditions météorologiques défavorables ou d’une propagation trop violente, la mission
du DIH peut être différée.</p>

<p>En fonction du potentiel ou de l’indisponibilité d’un appareil, l’action du DIH sera limitée ou
suspendue.
Compte tenu des limitations techniques des appareils et des exigences réglementaires,
l’équipage peut arrêter la mission.</p>

</ion-content>
