<ion-content>

<h5 class="Style1">Tuyaux en écheveaux : Etablissement du point d'attaque vers la prise d'eau</h5>

  <li>Prend son matériel</li>
  <li>Suit le chef BAT jusqu’au point d’attaque</li>
  <li>Laisse le chef BAT raccorder le tuyau en « O » au tuyau en « Z »</li>
  <li>Déroule ses tuyaux jusqu’à la prise d’eau et raccorde à la division ou donne au conducteur</li>
  <li>Ouvre ou donne l’ordre d’ouverture</li>
  <li>Vient double le chef</li>

</ion-content>
