<ion-content>

<h3 align="center" class="Style1">ATTELLE PNEUMATIQUE DE TRACTION (DONWAY)</h3>

<li>Fracture du fémur</li>
<li><strong>Présence d'un médecin obligatoire</strong></li><br>

<h5>Evolution - Surveillance :</h5>
<ul>
<li>Locale :
  <ul>
    <li>Hématome, oedème, déformation</li>
  </ul>
</li>
</ul><br>

<ul>
<li>Distale :
    <ul>
      <li>Chaleur, sensibilité, mobilité, coloration des extrémités, douleur</li>
    </ul>
  </li>
</ul><br>

</ion-content>
