<ion-content>

    <h3 align="center" class="Style1">BRANCARD CUILLERE</h3>

    <p>La mise en oeuvre de cette technique nécessite trois intervenants :</p>

    <li>Un secouriste, placé à la tête la victime, à genou. Il en assure le maintien par une prise latéro-­‐latérale (secouriste 1). C’est ce secouriste qui guide et commande l’ensemble de la manoeuvre.</li><br>

    <li>Deux secouristes, placés de chaque côté de la victime (secouristes 2, 3).</li><br>

    <p>Préalablement à la manœuvre de relevage :</p>

    <li>Déplier le brancard cuillère, si nécessaire</li><br>

    <li>Placer le brancard cuillère le long de  la  victime</li><br>

    <li>Régler sa longueur en fonction de la taille du blessé et le verrouiller dans cette position</li><br>

    <li>S'assurer de la rigidité du système en tirant sur la partie mobile côté jambes</li><br>

    <li>Désolidariser les deux parties du brancard</li><br>

    <li>Mettre en place un collier cervical à la victime, si elle est suspecte d’un traumatisme du rachis</li><br>

    <h5>Initialement :</h5>

    <p>Les secouristes 2 et 3 doivent :</p>

    <li>Placer la face palmaire des mains de la victime sur ses cuisses pour éviter de les pincer pendant la manœuvre de fermeture du brancard</li><br>

    <h5>Puis</h5>

    <p>les secouristes 2 et 3 doivent :</p>

    <li>Se placer de chaque côté de la victime, chacun muni d’une cuillère du brancard</li><br>

    <li>Glisser une cuillère sous la victime, à tour  de rôle</li><br>

    <p>Pendant que glisse la cuillère, l’autre saisit la victime à l’épaule et à la hanche pour la tirer vers lui très légèrement et faciliter ainsi la mise en place de la cuillère sous la victime.</p>

    <p>Lors de la mise en place de la 2ème cuillère, s’assurer que cette dernière est bien en face de l’autre pour faciliter sa fermeture.</p>

    <li>Réunir et solidariser les deux parties du brancard cuillère, à l’aide des dispositifs à encliquetage</li><br>

    <p>Il convient de commencer par celui situé à la tête, puis celui des pieds</p>

    <li>S’assurer de la fermeture du dispositif à encliquetage en tirant latéralement sur les deux parties du brancard</li><br>

    <li>Installer les cales têtes, si les cuillères en sont équipées</li><br>

    <p>Une fois la tête calée, le maintien tête peut être relâché.</p>

    <li>Arrimer la victime au brancard cuillère si un brancardage doit être réalisé</li><br>

  </ion-content>
