<!--
  Generated template for the GnrfdfGiffAlimentationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DU GIFF</h3>

<img src="assets/icon/Capture54.PNG" alt="" />

<h4 class="Style1">MANOEUVRES D’ALIMENTATION DES CITERNES DES CCF DU GIFF</h4>

<h5>Alimentation simultanée de 2 CCF</h5>

<p>Dans certains cas, 2 CCF doivent remplir simultanément leur citerne sur le même poteau ou
bouche d’incendie. Chaque conducteur déroule un tuyau Ø 70mm / 20 m et alimente son
véhicule par l’entrée latérale de la citerne.</p>

<p><img src="assets/icon/Capture69.PNG" alt="" /><strong>Alimentation simultanée de 2 CCF</strong></p>

<h5>Alimentation simultanée de 4 CCF sur un poteau ou une bouche d’incendie</h5>

<p>Chaque conducteur déroule un tuyau de Ø 45 mm. Les 4 CCF sont alimentés en simultané sur
l’entrée latérale de leur citerne.</p>

<p><strong>Commandement du chef du GIFF : « Alimentation des 4 CCF sur le poteau ou sur la bouche d’incendie »</strong></p>

<img src="assets/icon/Capture70.PNG" alt="" />

<p class="Style1">La manoeuvre peut s’effectuer, en fonction du type d’hydrant, avec des tuyaux de Ø 70 mm.</p>

<p><img src="assets/icon/Capture71.PNG" alt="" /><strong>Alimentation simultanée de 4 CCF sur un poteau ou une bouche d’incendie</strong></p>

<h5>ALIMENTATION SIMULTANÉE DE 4 CFF SUR UN POINT D’EAU NATUREL OU ARTIFICIEL</h5>

<p>L’alimentation sur point d’eau peut être réalisée soit par la mise en aspiration d’un CCF ou par
tout autre dispositif (motopompe remorquable, motopompe flottante ou immergée, etc).</p>

<p><img src="assets/icon/Capture72.PNG" alt="" /><strong>Exemple d’alimentation simultanée de 4 CCF sur un point d’eau naturel ou artificiel</strong></p><br>

</ion-content>
