<ion-content>
  <img id="m1-Calage-image1" class="m1-clickable m1-image" src="assets/icon/Calagecote.png"/>
            <div id="m1-Calage-text" >Calage 3/4 points : vue latérale</div>
  </ion-content>