<ion-content>

<h3 align="center" class="Style1">ATTELLE PNEUMATIQUE DE TRACTION (DONWAY)</h3>

<p>Attelle pneumatique de traction de type DONWAY permettant l'immobilisation dans l'axe d'un membre inférieur fracturé.</p>
<p>Elle se compose de :</p>

<li>1 cadre métallique avec support de pied</li>
<li>2 bras coulissants verrouillables</li>
<li>1 anneau ischiatique</li>
<li>1 jeu de sangles de maintien ou de fixation</li>
<li>1 pompe</li>
<li>1 manomètre</li><br>

<img class="centrer" src="assets/icon/Capture99.PNG" alt="" /><br>

</ion-content>
