<ion-content>
    <h3 class="Style1">Bilan Radio :</h3>
  
    <ul>
      <li>Adresse exacte<br>
      </li>
      <li>Nombre de victimes et type de victimes (piéton, motard, automobiliste...)<br>
      </li>
      <li>Âge, Sexe<br>
      </li>
      <li>Lecture du bilan fonctionnel<br>
      </li>
      <li>Lésions associés (fractures)<br>
      </li>
      <li>Antécédents médicaux (diabète, épilepsie)<br>
      </li>
      <li>Gestes entrepris<br>
      </li>
    </ul>
  </ion-content>
