<!--
  Generated template for the AutresPgrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Autres Interventions</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 align="center" class="Style1">PROCEDURE GAZ RENFORCEE (PGR)</h3>

<h5>Engagement des moyens</h5>

<p>FPT-FPTL-VLO-VLM-VSAV-PC-GRDF</p>

<h5>Cadre d’engagement</h5>

<p>Systématiquement en cas de fuite sur VP sans exutoire (dite « fermée »)</p>

<p class="Style1">A la demande du COS / GRDF / CTA dans les autres cas</p>

<h5>Réactions à priori</h5>

<p><u>1-Zonage :</u></p>

<li>Zone d’exclusion 50m</li>
<li>Zone contrôlée et zone de soutien 100m</li><br>

<img src="assets/icon/Capture107.PNG" alt="" /><br>

<p><u>2-Evacuation</u> de tout public de la zone d’exclusion</p>
<i>Confinement possible en cas de danger imminent d’explosion</i><br>

<p><u>3-Concertation</u> avec GRDF</p>
<i>(actions à mener, requalification, besoins…)</i>

</ion-content>
