<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>Accès victime, attention aux airbags</li>
        <li>Bilan vital</li>
        <li>Dégagement victime selon protocoles, concertation Chef d'afrés VSR/CDG/Médecin</li>
        <li>Maintien tête, pose collier cervical</li>
        <li>Oxygène</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Protection victime (couverture, casque, etc.)</li>
        <li>Dégagement en rectitude</li>
        <li>Matelas à dépression, etc</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Bilan évolutif</li>
      </ul>
    </li>
  </ul>
</ion-content>
