<!--
  Generated template for the GnretablissementlancesGeneralitesProtectionindPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>BINOMES</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h5 class="Style1">PROTECTION INDIVIDUELLE</h5>

    <li>Casque, cagoule, veste de feu, pantalon et sur-pantalon, rangers, gants, ARI, etc</li>
    <p>Il est important que les binômes constitués disposent excactement de la même protection individuelle</p>

</ion-content>
