<!--
  Generated template for the MenuSapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Secours à Personnes</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h4 class="titre-categorie-sap">SECOURS A PERSONNES ET ROUTIER</h4>

  <ion-list inset>
    <button ion-item *ngFor="let item of list" (click)="itemSelected(item)">
    <fa-icon name="ambulance"></fa-icon>
      {{ item.title }}
    </button>
  </ion-list>
</ion-content>
