<!--
  Generated template for the GnretablissementlancesGeneralitesReconnaissancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>BINOMES</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

  <h5 class="Style1">LA RECONNAISSANCE</h5>

    <p>Le chef d'agrès fait sa reconnaissance accompagné d'un binôme d'attaque afin :</p>
      <li>Les Reconnaissances</li>
      <li>Les Sauvetages</li>
      <li>Les Etablissements</li>
      <li>L’Attaque</li>
      <li>La Protection</li>
      <li>Le Déblai</li>
      <li>La Surveillance</li>
  
</ion-content>
