<ion-content>

  <li>Les locaux à risques sont les locaux avec un potentiel calorique élevé, ou comportant une installation à risque d'incendie</li><br>
  <li>Ces locaux sont isolés des autres parties du bâtiment par des murs, planchers et portes coupe-feu</li><br>
  <li>Les chaufferies à gaz comportent une vanne d'arrêt gaz + arrêt électrique à proximité de l'accès</li><br>
  <li>Les chaufferies au fioul comportent une vanne police + arrêt électrique à proximité de l'accès</li><br>
  <li>Les chaufferies en sous-sol sont pourvues d'un raccord ZAG pour la ventilation ou l'extinction</li><br>

</ion-content>
