<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Organisation des reconnaissances<br>
    </li>
  <li>Recherche de victime, localisation du sinistre<br>
    </li>
  <li>Stratégie d’attaque<br>
    </li>
</ion-content>
