<ion-content>
        <h5><u>TECHNIQUE N°1</u></h5>
        <img src="assets/icon/OuvertureporteA3.png"/>
    <ul>
        6. Enlever la porte<br>
        7. Poser la porte dans la zone de dépôt<br>
    </ul>
    
</ion-content>