<ion-content>

<h5 class="Style1">Sac d'attaque : Etablissement par les communications existantes</h5>

  <li>Prends 2 tuyaux et suit son chef d'equipe et le chef d’agrès</li><br>
  <li>Au point d’attaque, sur l’ordre « en avant » du chef, saisit le sac par la poignée verte et se dirige vers la prise d’eau</li><br>
  <li>Raccorde le tuyau à la prise d’eau et ouvre</li><br>
  <li>Vient doubler le chef</li>

</ion-content>