<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Périmètre de sécurité en fonction du vent de 100 mètres à priori<br>
    </li>
  <li>Engagement d’un minimum de personnel avec protections maximales<br>
    </li>
  <li>Sauvetage/évacuation/identification des substances<br>
    </li>
  <li>Enrayer la propagation en attente de la CMIC<br>
    </li>
</ion-content>
