<ion-content>

  <h3 align="center" class="Style1">ATTELLE CERVICO-THORACIQUE</h3>

  <p class="Style1">L'ACT est mise en place après la pose d'un collier cervical</p>

  <p>La mise en place d'une ACT nécessite 3 équipiers</p>

  <p><strong>EQUIPIER 1</strong></p>

  <li>Se place derrière la victime et maintient la tête de la victime pendant toute la manoeuvre</li><br>

  <img class="centrer" src="assets/icon/2.jpg" alt="" /><br>

  <p><strong>EQUIPIER 2</strong></p>

  <li>Contrôle la motricité et la sensibilité de chaque membre</li><br>

  <p><strong>EQUIPIER 3</strong></p>

  <li>Prépare l'ACT et la dispose à proximité de la victime</li><br>

  <img class="centrer" src="assets/icon/3.jpg" alt="" /><br>

  <p><strong>EQUIPIER 2 et 3</strong></p>

  <li>Décollent légèrement la victime du dossier su siège ou actionnent le dispositif pour descendre le siège de la voiture sans à-coup</li><br>

  <li>Les équipiers devront positionner leurs mains de chaque côté de l'épaule tout en maintenant l'axe "tête-cou-tronc"</li><br>

  <img class="centrer" src="assets/icon/4.jpg" alt="" /><br>

  <p><strong>EQUIPIER 3</strong></p>

  <li>Examine le dos de la victime (recherche de déformation, de trace de sang ou de coprs étrangers type débris de verre)</li><br>

  <p><strong>EQUIPIER 2</strong></p>

  <li>Maintient la victime dans cette position</li><br>

  <p><strong>EQUIPIER 3</strong></p>

  <li>Insère l'ACT, extrémité supérieure en premier, entre le dos de la victime et le dossier du siège, entre les avant-bras de l'équipier 1 qui maintient le tête</li><br>

  <img class="centrer" src="assets/icon/5.jpg" alt="" /><br>

  <p><strong>EQUIPIER 2 et 3</strong></p>

  <li>Centrent l'ACT et rémènent la victime contre celle-ci tout en glissant les bandes thoraciques du corset sous les bras de la victime</li><br>

  <li>Veillent à ce que les parties supérieures des bandes thoraciques soient au contact des aisselles</li><br>

  <li>Fixent et serrent modérément afin de maintenir le corset en place:
    <ul>
      <li>la sangle thoracique au milieu (jaune)</li>
      <li>la sangle inférieure (rouge)</li>
      <li>puis supérieure (verte)</li>
    </ul>
  </li><br>

  <img class="centrer" src="assets/icon/6.jpg" alt="" /><br>
  <img class="centrer" src="assets/icon/7.jpg" alt="" /><br>

  <p><strong>EQUIPIER 2 et 3</strong></p>

  <li>Attachent et serrent les sangles de cuisse en passant sous celles-ci. Les sangles peuvent éventuellement être croisées devant le pubis, s'il n'y a pas de traumatisme à ce niveau</li><br>

  <li>Vérifient alors le serrage de l'ensemble des sangles tout en évitant de comprimer le thorax et de limiter les mouvements respiratoires</li><br>

  <img class="centrer" src="assets/icon/8.jpg" alt="" /><br>

  <p><strong>EQUIPIER 2 et 3</strong></p>

  <li>Ramènent prudemment la victime contre l'ACT</li><br>

  <li>Comblent, si nécessaire, l'espace situé entre la bande de tête et la partie postérieure de la tête de la victime avec le coussin plié au besoin</li><br>

  <img class="centrer" src="assets/icon/9.jpg" alt="" /><br>

  <p><strong>EQUIPIER 2 et 3</strong></p>

  <li>Ramènent le rabat de tête de chaque côté de la tête de la victime</li><br>

  <p><strong>EQUIPIER 1</strong></p>

  <li>Reprend le maintient par-dessus le rabat de tête</li>

  <p><strong>EQUIPIER 2 et 3</strong></p>

  <li>Maintiennent le rabat de tête à l'aide de 2 sangles :
    <ul>
      <li>la première prend appui sur le front de la victime</li>
      <li>la seconde prend appui sous le menton, sur la partie haute et rigide du collier cervical</li>
    </ul>
  </li><br>

  <img class="centrer" src="assets/icon/11.jpg" alt="" /><br>

  <p><strong>EQUIPIER 2</strong></p>

  <li>Contrôle à nouveau la motricité et la sensibilité de chaque membre</li><br>

  <p><strong>EQUIPIER 1</strong></p>

  <li>Peut relâcher la tête de la victime si besoin</li><br>

  <p><strong>EQUIPIER 2 et 3</strong></p>

  <li>Installer et préparer à proximité de la victime un moyen d'immobolisation générale</li><br>


</ion-content>
