<ion-content>

<h5><u>Les Moyens</u></h5>

<p>Les <span color="danger">MOYENS D'INTERVENTION</span> engagés ou à engager sont <span color="danger">OBLIGATOIREMENT</span> rattachés à une ou plusieurs actions</p>

<li>Les Moyens Aeriens</li>
<li>Les Moyens de Commandement et de Coordination Operationnelle, Ressources, Infrastructures et Logistiques Operationnelles</li>
<p class="Style1">NE FONT PAS L'OBJET DE RATTACHEMENT A UNE ACTION</p>

<p class="Style1"><strong>TOUS LES MOYENS SONT CONSIDERES EN FONCTION DE LEURS CAPACITES OPERATIONNELLES</strong></p>

<h5><u>Les Moyens d'Intervention SP</u> :</h5>

<img src="assets/icon/charteg9.PNG"/>

<h5><u>Les Moyens de Commandement</u> :</h5>

<img src="assets/icon/charteg10.PNG"/>

<h5><u>Les Moyens d'Intervention Aériens</u> :</h5>

<img src="assets/icon/charteg11.PNG"/>

</ion-content>
