<ion-content>

  <h3 align="center" class="Style1">Mesure de la Pression Artérielle</h3>

  <p>La pression artérielle est un indicateur de la fonction circulatoire, cette mesure se fait à l'aide d'un appareil appelé <strong>tensiomètre manuel</strong></p>

  <img class="centrer" src="assets/icon/tensionarterielle1.jpg" alt="" /><br>

</ion-content>
