<ion-content>

  <h5 class="Style1">M5: Lance à Mousse</h5>

    <li>Se munit de deux tuyaux</li><br>
    <li>Se rend au point d’attaque</li><br>
    <li>Déroule les 2 tuyaux</li><br>
    <li>Intercale le proportionneur entre le 1er et le 2e tuyau ou entre le 2e et le 3e tuyau</li><br>
    <li>Ouvre ou ordonne l’ouverture de l’eau</li><br>
    <li>Surveille l’établissement</li><br>
    <li>Double le chef au point d’attaque</li>

</ion-content>
