<!--
  Generated template for the GnrfdfCcfAlimentationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DU CCF</h3>

<h4 class="Style1">MANOEUVRES D’ALIMENTATION</h4>

<h5>Généralités</h5>

<p>Ces manoeuvres visent à assurer la permanence de l’eau sur l’intervention</p>

<p class="Style1">Dans le cas d’une noria, le conducteur peut être amené, sur ordre, à se
déplacer seul entre le point d’attaque et le point de ravitaillement en eau. <strong>Il
reste alors en liaison avec l’échelon hiérarchique supérieur.</strong></p>

<p>L’alimentation en eau du CCF est réalisée par l’un des orifices suivants :</p>

<li>Orifice d’alimentation pompe</li>
<li>Orifice d’alimentation citerne</li>
<li>Trou d’homme</li><br>

<img class="centrer" src="assets/icon/Capture53.PNG" alt="" /><br>

<h5>Mise en aspiration</h5>

<p>Le chef d’agrès fait préparer l’établissement pour la mise en aspiration</p>
<p>Le conducteur procède à l’alimentation de l’engin aidé des personnels disponibles</p>

<h5>Alimentation sur poteau ou bouche d’incendie</h5>

<p>Lorsque le CCF est alimenté sur poteau d’incendie (PI) ou bouche d’incendie (BI), le
conducteur choisit l’orifice de plus gros diamètre en fonction de la distance prise d’eau – engin.</p>

<li>Distance inférieure ou égale à 10 m : le CCF est alimenté par l’orifice d’alimentation de la
pompe au moyen de tuyaux de Ø 110 mm.</li><br>

<ul>
  <li>Distance supérieure à 10 m :
    <ul>
      <li>Le CCF est alimenté, au moyen de tuyaux de Ø 70 mm, par l’orifice d’alimentation de la pompe si l’alimentation est de longue durée</li>
      <li>Le CCF est alimenté, au moyen de tuyaux de Ø 70 mm, par l’orifice d’alimentation de la citerne ou par le trou d’homme si le remplissage est ponctuel</li>
    </ul>
  </li>
</ul>

<h5>Alimentation par d’autres moyens</h5>

<li>Véhicules (porteurs d’eau, DA, etc.)</li>
<li>Motopompes</li>
<li>Hydro-éjecteur, nécessité d’avoir un minimum de 300 l de réserve dans la citerne</li>
<li>Etc</li>


</ion-content>
