<ion-content>
    <h3 class="Style1">A retenir :</h3>
  
  <li>Toujours intervenir en présence des plongeurs pour la sécurité du personnel<br>
  </li>
  <li>Toujours demander un moyen médical pour les intervenants<br>
  </li>
  </ion-content>