<!--
  Generated template for the MaterielsSapThermometrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Matériels SAP</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-tabs>
        <ion-tab [root]="tab65Root" tabTitle="Description" tabIcon="clipboard"></ion-tab>
        <ion-tab [root]="tab66Root" tabTitle="Indications" tabIcon="information-circle"></ion-tab>
        <ion-tab [root]="tab67Root" tabTitle="Risques" tabIcon="warning"></ion-tab>
        <ion-tab [root]="tab68Root" tabTitle="Utilisation" tabIcon="cog"></ion-tab>
        <ion-tab [root]="tab69Root" tabTitle="Points Clés" tabIcon="key"></ion-tab>
        <ion-tab [root]="tab70Root" tabTitle="Efficacité" tabIcon="checkbox"></ion-tab>
      </ion-tabs>

</ion-content>
