<ion-content>
    <img id="m1-Pavillon-image1" class="m1-clickable m1-image" src="assets/icon/Pavillon1.png"/>
  <div id="m1-Pavillon-text">

1. Couper les ceintures<br>
2. Baisser ou casser les vitres (avec films adhésifs)<br>
3. Fendre le pare-brise de part en part<br>
4. Couper le pare-brise<br>
</div>
          
</ion-content>
