<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Gonflement du visage</li>
        <li>Problème de respiration</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>Obstruction des voies aériennes supérieures</li>
      <li>Facteur déclenchant</li>
    </ul>
  </li>
</ul>
</ion-content>
