<!--
  Generated template for the GnregeSyntheseApparitionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">SYNTHÈSE DES PHÉNOMÈNES</h3>

<h4 class="Style1">Apparition des phénomènes dans le temps</h4>

<p>Il est aisé de comprendre que les phénomènes d’explosion de fumées et d’embrasement
généralisé éclair <strong>peuvent survenir lors des différentes phases d’un même incendie</strong> et
intéresser plusieurs zones adjacentes.</p>

<p>Les risques pour les sapeurs-pompiers sont ainsi
fonction du <strong>moment</strong> et du lieu de leur intervention</p>

<p class="Style1">L’embrasement généralisé éclair apparaît <strong>dans la phase de croissance</strong>
du feu. C’est le moment où le feu localisé se généralise.</p>

<p class="Style1">L’explosion de fumées peut être plus insidieuse et survenir aussi bien en
phase de croissance <strong>qu’en phase de déclin</strong>. L’attention des
intervenants est alors relâchée ce qui rend cette phase d’autant plus
délicate et dangereuse</p>

<p class="Style1"><strong>La plus grande vigilance reste requise pendant toute la durée de
l’intervention.</strong></p>

<p><img src="assets/icon/Capture10.PNG" alt="" /><strong>Courbe d’évolution des températures d’un feu :
Possibilité d’apparition des phénomènes</strong></p>

</ion-content>
