<ion-content>
    <h3 class="Style1">Risques :</h3>

    <li>Risque d’embrasement généralisé des combles et de la toiture<br>
    </li>
  <li>Difficultés de cheminements selon leurs constitutions<br>
    </li>
  <li>Difficulté à ventiler ou attaquer par l’extérieur selon le type de recouvrement<br>
  </li>
  <li>Risque d’effondrement du plancher<br>
  </li>
</ion-content>