    <ion-content>
        <h3 class="Style1">Risques :</h3>

        <li>Locaux à usage d'habitation<br>
        </li>
      <li>Locaux à sommeil : victimes potentielles<br>
        </li>
      <li>Risques de propagations horizontales et verticales<br>
      </li>
    </ion-content>
  
  
