<!--
  Generated template for the GnrLspccCompositionProtectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MATERIEL</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>PROTECTION</h5>

  <img src="assets/icon/protection_corde.jpg"/><br>

  <p><strong>EN OPTION</strong></p><br>
  <li>Evite que la corde frotte sur les angles vifs ou matériaux coupants</li>

</ion-content>
