<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Risque incendie lié à la configuration du site<br>
  </li>
<li>Risques d’irradiation et de contamination<br>
  </li>
<li>Difficulté voir impossibilité de confiner la source<br>
</li>
</ion-content>
