<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Temporisation<br>
    </li>
  <li>Protection<br>
    </li>
  <li>Confection d’un dispositif d’attaque<br>
    </li>
  <li>Extinction<br>
    </li>
</ion-content>
