<!--
  Generated template for the GnregeExplosiondefumeeSignesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">EXPLOSION DE FUMÉES</h3>

<h4 class="Style1">LES SIGNES D’ALARME</h4>

<p>L’observation des signes d’alarme de l’occurrence d’une explosion de fumées doit
concerner <strong>l’extérieur du volume sinistré</strong>.</p>

<p>En présence d’un volume clos, <strong>il est possible d’observer de l’extérieur</strong> que :</p>

<li>Les <strong>fumées</strong> sont <strong>grasses, chargées,</strong> compte tenu de la phase de production à l’intérieur de l’espace impliqué.
Elles sortent par <strong>bouffées</strong> des interstices, avec une apparence de pulsation similaire à
celle d’une soupape à vapeur : le feu « respire</li>

<li>Elles peuvent sortir par le <strong>bas</strong> des portes où entre habituellement l’air frais.
Une particularité peut également être observée dans de telles situations : des fumées
extériorisées peuvent être <strong>ré-aspirées</strong> à intervalles irréguliers.</li>

<li>Ce phénomène est dû à un régime aéraulique de type turbulent à l’intérieur du volume
qui engendre des zones de dépressions très localisées qui, lorsqu’elles surviennent
près des interstices des ouvertures, produisent cette aspiration de l’extérieur vers
l’intérieur.
Les fumées sont de <strong>couleurs inhabituelles</strong>, généralement foncées : en fonction des
matériaux décomposés, elles peuvent être jaunâtres, brunâtres ou verdâtres, parfois
plus claires, grises ou blanches.</li>

<li><strong>Aucune flamme ou lumière</strong> n’est visible de l’extérieur : seules des lueurs rouges de
braises ou de petites flammes bleutées de combustion du CO peuvent être aperçues</li>

<li><strong>Les vitres</strong> sont noires et opaques, car recouvertes d’un fin dépôt de particules de
carbone (suies).
Elles peuvent vibrer très légèrement du fait de la chaleur et de la surpression interne.
La chaleur est perceptible au toucher ainsi que par le rayonnement.</li>

<li>Les <strong>portes, huisseries et poignées de porte</strong> sont très chaudes au toucher</li>

<li>Les <strong>sons</strong> sont amortis et aucun crépitement habituel des feux libres n’est perceptible.</li>

<p class="Style1">Tous ces signes traduisent une <strong>forte intensité thermique à l’intérieur du volume.</strong></p>

<p class="Style1">Pour résumer tous ces signes d’alarme de la possibilité d’une explosion de fumées, le volume clos laisse :</p>

<li class="Style1">« transpirer » une impression de chaleur intense</li>
<li class="Style1">S’échapper sous forme « pulsée », des fumées denses, grasses et colorées.</li>

<h5 class="Style1">AUCUNE FLAMME NETTE N’EST VISIBLE</h5>

<p class="Style1">Seules les fumées expulsées et les impressions de chaleur extériorisées indiquent qu’un incendie « couve ».
<strong>L’attention</strong> des intervenants doit être <strong>maximale</strong> face à des signes d’alarme s’avérant difficiles à repérer.</p>

<p>Ces signes peuvent apparaître plus marqués lorsque les feux sont découverts très tardivement (week-end, nuit, situés en sous-sols, …).</p>

</ion-content>
