<!--
  Generated template for the GnrLspccCompositionCordePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MATERIEL</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>CORDE</h5>

  <img src="assets/icon/corde4.png"/><br>

  <li>Statique de 30 m (60 m pour le lot échelle)</li>
  <li>12 à 13 mm de diamètre</li>
  <li>Charge à la rupture &gt; à 3000 kg</li>
  <li>Allongement inférieur ou égal à 4%</li><br>

<p>A chaque extrémités, il y a un noeud en huit double indémontable avec gaine thermorétractable. L'extrémité placée au dessus du sac est munie d'un mousqueton.</p>
<p>Pour assurer une usure uniforme, alterner l'emploi des extrémités</p>

</ion-content>
