<ion-content>
    <h5><u>TECHNIQUE N°3</u></h5>
    <img src="assets/icon/OuvertureporteC1.png"/>

<p>Si pas d'accès à l'aile et importante déformation au niveau de la serrure :</p>

<ul>
  1. Placer l'écarteur en appui sur le montant A en partie haute<br>
  2. Pousser l'ensemble de la porte vers l'extérieur<br>
  3. Accèder aux charnières<br>
  4. Déposer la porte<br>
</ul>

</ion-content>
