<ion-content>
    <h3 class="Style1">Bilan Evolutif :</h3>
  
    <ul>
      <li>L'état de la victime s'est-il modifié ?<br>
      </li>
      <li>Etat circulatoire et ventilatoire ?<br>
      </li>
      <li>Efficacité du pansement hémostatique ?<br>
      </li>
      <li>Immobilisation éfficace ?<br>
      </li>
      <li>Victime réconfortée ?<br>
      </li>
    </ul>
  </ion-content>
