<!--
  Generated template for the GnrAriOperationillustrationsOperationcomplexePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Procèdure Opérationnelle</ion-title>
          <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>PROCEDURES OPERATIONNELLES ILLUSTRATIONS</h5>

<h3 class="Style1"><u>OPERATION COMPLEXE</u></h3><br>

<img src="assets/icon/GNR_engagement4.png"/><br>
<li>Les équipes qui sortent sont prioritaires sur les équipes qui pénètrent</li><br>
<li>Des ramification peuvent être installées à partir de la ligne guide à l’aide des dispositifs de dérivation</li>

</ion-content>
