<ion-content>

  <h3 align="center" class="Style1">Mesure de la Pression Artérielle</h3>

<li>Sa mesure fait partie du bilan complémentaire systématique, elle est donc réalisée chaque fois que possible lors de la recherche d'une détresse vitale</li><br>

<li>La pression artérielle varie en fonction de paramètres multiples</li><br>

<li>La mesure de la pression artérielle (PA) permet au médecin régulateur d'affiner le diagnostic</li>

</ion-content>
