<!--
  Generated template for the GnretablissementlancesManoeuvresGnrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BINOMES</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <h5>Manoeuvres Type GNR</h5>

    <ion-list inset>
     <button ion-item *ngFor="let item of list" (click)="itemSelected(item)">
       {{ item.title }}
     </button> 
   </ion-list>

</ion-content>
