<ion-content>

  <p><strong>Certains bâtiments sont équipés de :</strong></p><br>
  <li>RIA (30m de tuyau, DN 25 ou 33, P de 2.5 à 4.5 b)</li><br>
  <li>Colonne sèche (h&gt;18m, DN 65 ou 100, raccords de 40mm sur palier, point d'eau à 60m maximum de la prise d'alimentation)</li><br>
  <li>Colonne humide (H&gt;28m, DN 100, P de 4.5 à 8.5 b, réserve d'eau &gt; à 120m3, réalimentation possible)</li><br>
  <li>Deversoir ponctuel (Inondations de locaux, scène de théâtre, commandes à l'intérieur et à l'extérieur du local)</li><br>
  <li>Sprinkleur (Courveture de zone par une ou plusieurs nappes, têtes avec alcool raccordées à un poste de commande avec vannes d'arrêt, réserve d'eau - eau de ville et cuve)</li><br>
 
</ion-content>