<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Difficultés liées aux cheminements<br>
  </li>
<li>Importantes fumées<br>
  </li>
<li>Présence de plusieurs types de véhicules (GPL en particulier)<br>
</li>
<li>Propagation des fumées horizontale et verticale vers les bâtiments supérieurs<br>
</li>
</ion-content>
