<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Source électrique en contact avec la victime</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>Personne choquée, désorientée</li>
      <li>Point d'entrée et de sortie du courant</li>
    </ul>
  </li>
</ul>
</ion-content>
