<ion-content>

    <h5 class="Style1">M2: Alimentation d'une prise d'eau</h5>
  
      <li>Décroche de dévidoir avec le chef</li><br>
      <li>Bascule la flèche</li><br>
      <li>Commence à tirer le dévidoir</li><br>
      <li>Laisse le dévidoir près de l’engin, en protection éventuellement</li><br>
      <li>Vérifie avec le chef l’établissement en remontant vers le point d’attaque</li><br>
      <li>Se met à disposition du chef d’agrès</li><br>

</ion-content>
