<ion-content>
  <img id="m1-OuvertureLaterale-image1" class="m1-clickable m1-image" src="assets/icon/Voielaterale3.png"/>
  <div id="m1-OuvertureLaterale-text"> Césariser le montant B le plus haut et le plus bas possible</div>

  <p>Attention : Avant de césariser, vérifier la présence des systèmes pyrotechniques (dégarnissage + charte graphique)</p>
  </ion-content>
