<ion-content>

  <h5 class="Style1">M6: Remplacement et Prolongation de Tuyaux</h5>

    <li>Récupère un tuyau</li><br>
    <li>Rejoint le chef</li><br>
    <li>Déroule le tuyau</li><br>
    <li>Se rend à la prise d’eau : annonce «PRET»</li><br>
    <li>Sur ordre du chef FERMEZ, ferme l’eau ou répercute l’ordre au conducteur</li><br>
    <li>Ouvre ou fait ouvrir sur ordre OUVREZ du chef</li><br>
    <li>Vient doubler le chef au point d’attaque</li><br>

</ion-content>
