<ion-content>

    <h5 class="Style1">M3: Etablissement d'une lance sur prise d'eau</h5>
    
      <li>Déroule 2 tuyaux (ou 1 sur ordre)</li><br>
      <li>Réalise les branchements</li><br>
      <li>Raccorde à la prise d’eau et ouvre l’eau ou donne le raccord au conducteur</li><br>
      <li>Surveille l’établissement en rejoignant le chef (fuite, réserve, ...)</li><br>
      <li>Vient doubler le chef au point d’attaque</li><br>
    
    </ion-content>
