<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Risque de propagation verticale<br>
  </li>
<li>Réactions imprévisibles des occupants<br>
  </li>
<li>Condamnation des communications<br>
</li>
<li>Chute de matériaux<br>
  </li>
</ion-content>
