<ion-content>

    <h3 align="center" class="Style1">KIT BRULURES</h3>

    <p>Les compresses d'hydrogel stériles sont utilisées pour assurer le refroidissement des brulures thermiques dont la surface l'autorise</p>

    <p>La mise en place des compresses et de leur emballage limite les risques d'infection</p>


</ion-content>
