<ion-content>
  <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Portefeuille3.png"/>
  
<div id="m1-demiPavAvant-text">

  6. Develepper le ou les vérins<br>
  7. Reprise du calage pendant les poussées<br>
  8. Placer éventuellement des coins dans la fente du montant A<br>

  <p>Attention à ne pas reployer le vérin, bien observer le sens de commande avant chaque manoeuvre</p>

</div>
        
</ion-content>
