<!--
  Generated template for the GnrfdfCcfPossibilitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DU CCF</h3>

<h4 class="Style1">POSSIBILITÉS D’ÉTABLISSEMENT</h4>

<img src="assets/icon/Capture29.PNG" alt="" />

<h5>Généralités</h5>

<p>L’armement du CCF permet de réaliser différents types d’établissements.</p>

<p class="Style1">Les manoeuvres décrites ci-après sont réalisées <strong>plus rapidement</strong> lorsque le
véhicule est armé de <strong>claies de portage</strong> et d’un <strong>dévidoir auxiliaire
supplémentaire</strong> équipé de tuyaux de Ø 45 mm, en complément des tuyaux de Ø 45 mm roulés sur eux-mêmes.</p>

<h5>Principes de réalisation des manoeuvres</h5>

<p>Toutes les manoeuvres s’exécutent <strong>de l’engin vers le point d’attaque.</strong> Elles ont été élaborées
afin de veiller au maintien de la permanence de l’eau au fur et à mesure de la progression.</p>

<p>L’équipier établit ses tuyaux avant ceux du chef d’équipe afin que ce dernier soit toujours au
plus près du point d’attaque.</p>

<h5>Composition des claies de portage</h5>

<p>Les compositions minimales et optionnelles des claies de portage de 25 et de 45 sont les suivantes :</p>

<img src="assets/icon/Capture30.PNG" alt="" />

<p>La <strong>vanne d’arrêt FDF</strong> mise en place sur l’établissement permet de le maintenir en eau tout en procédant aux
opérations suivantes : <img src="assets/icon/Capture31.PNG" alt="" /></p>

<li>Débrancher ou raccorder une lance</li>
<li>Etablir le nombre de tuyaux correspondant au prolongement ou à la transformation</li>
<li>Interrompre ou poursuivre l’extinction en ouvrant la vanne</li>
<li>Maintenir, le plus possible, la permanence de l’eau</li><br>

<img src="assets/icon/Capture32.PNG" alt="" />

<p>La <strong>division mixte FDF à clape</strong>t maintient en eau l’établissement de grande longueur sur les pentes positives en
cas de rupture d’un tuyau en évitant la perte de la colonne d’eau se trouvant en amont de ce clapet, mais permet aussi un
gain de temps appréciable lors du refoulement (une minute pour cent mètres environ).</p><br>

<img src="assets/icon/Capture33.PNG" alt="" />

<p>Cette division permet, en outre, le prolongement de l’établissement de 45, la mise en oeuvre d’une ou deux lances
150 à l’approche du foyer en plus de la lance 500 pour assurer la protection de l’établissement, la désignation d’un ou deux
points d’attaque ou de noyage supplémentaires afin de parfaire l’extinction, traiter les lisières, etc.</p><br>

</ion-content>
