<!--
  Generated template for the AutresViolancesurbainesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Autres Interventions</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 align="center" class="Style1">LES VIOLENCES URBAINES</h3>

<h5>Les niveaux de violences urbaines</h5>

<p>Il en existe 8, dont 3 concernent les SP (le repli est impératif à partir du niveau3)</p>

<p><font color="Style1">Niveau 1 :</font> Rassemblements, jets de projectiles depuis l’arrière</p>
<p><font color="Style1">Niveau 2 :</font> Insultes ciblées sur les SP, jets latéraux de projectiles, gestuelle avec mains au-dessus de la taille.</p>
<p><font color="Style1">Niveau 3 :</font> Jets de projectiles de front, agression physique des intervenants</p>

<p align="center"><strong>Repli des SP</strong></p>

<p><font color="Style1">Niveau 4,5,6,7,8 :</font> Opération de police (maintien de l’ordre)</p>

<h5>Les messages-types du chef d’agrès</h5>

<p>La systématisation des messages est facteur de gain de temps et d’efficacité pour la sécurisation des personnels. La connaissance des niveaux de VU permet de dimensionner le dispositif (départ aggravé, rdv avec police)</p>

<p align="center"><u><strong>A l’occasion du transit :</strong></u></p>

<p>« CTA Nice du …………… Secours entravés dans leurs progressions par actes de violence. Avons interrompu notre cheminement et sommes positionnés à telle adresse. Je demande d’urgence la police ! »</p>

<p align="center"><u><strong>Sur les lieux :</strong></u></p>

<li><strong>Si la mission peut se poursuivre :</strong></li>

<p>« CTA Nice du …………… Sapeurs pompiers agressés sur opération. Je poursuis ma mission. Je demande d’urgence la police »</p>

<li><strong>S’il est impossible de mener à bien la mission :</strong></li>

<p>« CTA Nice du ………….. Sapeur pompier agressés sur opération.
Avons quitté les lieux et sommes positionnés à telle adresse. Je demande d’urgence la police »</p>

</ion-content>
