<ion-content>

<h5 class="Style1">Tuyaux en écheveaux : Etablissement du point d'attaque vers la prise d'eau</h5>

  <li>Prend son matériel</li>
  <li>Suit le chef d’agrès jusqu’au point d’attaque</li>
  <li>Pose sont tuyaux au point d’attaque</li>
  <li>Raccorde son tuyau au tuyau de l’équipier</li>
  <li>Ouvre le « O » de son tuyau et attend son équipier</li>
  <li>Réalise la mission confiée par le chef d'agrès</li>

</ion-content>
