<ion-content>

  <h5 class="Style1">Etablissement d'une LDV par l'extérieur au moyen de la commande</h5>

    <li>BAT BAL, pour l’établissement d’une LDV par l’extérieur au moyen de la commande, en reconnaissance</li><br>
    <li>BAT, emplacement de la LDV pour être hissée..., point d’attaque ici… mission… ; Etablissez !</li><br>
    <li> BAL, emplacement de la division…prise d’eau…Etablissez !</li>

</ion-content>

