<ion-content>

  <h5 class="Style1">Etablissement d'une LDV par l'extérieur au moyen de l'échelle à coulisses</h5>

    <li>Prend l’échelle à coulisses avec le chef</li>
    <li>Suit le chef d’agrès à l’endroit où doit être dressée l’échelle</li>
    <li>Dresse et développe l’échelle</li>
    <li>Déroule son tuyau et raccorde sa lance</li>
    <li>Aide le chef à s’équiper et lui donne la commande</li>
    <li>Fait filer le tuyau pendant l’ascension du chef</li>
    <li>A l’ordre « ouvrez », raccorde le tuyau à la division et ouvre</li>
    <li>Monte à l’échelle et vient doubler le chef</li>

</ion-content>
