<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Sauvetage/mise en sécurité humain et animalier<br>
    </li>
  <li>Prise de renseignements (puisard, nature des stockages, configuration de l’exploitation…)<br>
  </li>
  <li>Coupure des énergies<br>
    </li>
  <li>Stopper la propagation et si possible protéger l’exploitation<br>
    </li>
  <li>Étudier les besoins en eau et demande de renfort éventuelle (mise en place de noria, DA…)<br>
  </li>
  <li>Déblais rapides au moyen de machines<br>
  </li>
  <li>Étaler le combustible (paille, fourrages…)<br>
  </li>
  <li>Solliciter un équarrisseur pour les animaux morts<br>
  </li>
</ion-content>
