<!--
  Generated template for the GnretablissementlancesGeneralitesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>ETABLISSEMENTS DES LANCES</ion-title>
            <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h5>Cadre Général d'Intervention</h5>

   <ion-list inset>
    <button ion-item *ngFor="let item of list" (click)="itemSelected(item)">
      {{ item.title }}
    </button> 
  </ion-list>

</ion-content>
