<ion-content>
    <h3 class="Style1">Signes :</h3>
  
    <ul>
      <li>Visibles :
        <ul>
          <li>Rougeurs, cloques, oedème, douleur</li>
          <li>Ingestion : douleurs abdominales, vomissements, bouche colorée</li>
        </ul>
      </li>
    </ul>
  
  <ul>
    <li> A rechercher :
      <ul>
        <li>Causes, Depuis combien de temps ?</li>
        <li>Nature du produit</li>
        <li>Etandue</li>
      </ul>
    </li>
  </ul>
  </ion-content>