<!--
  Generated template for the GnrLspccOperationSauvetageexcavationIllustrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LSPCC</ion-title>
                <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<img id="m1-OPERATION_EXCAVATION_IMAGE-image1" class="m1-clickable m1-image" src="assets/icon/excavation.png"/>

</ion-content>
