<ion-content>

    <ul>
        <h5>RISQUES :</h5>
            <li>Electrocution (haute-voltage à 300V)</li>
            <li>Brûlure (batterie avec substance alcaline)</li>
            <li>Toxique (électrolite de certaines batteries)</li>
          
      </ul>

      <ul>
          <h5>PROCEDURES :</h5>
              <p>Ne jamais écraser, couper ou débrancher le faisceau de câblage haute voltage de couleur orange</p>

              <li>Déconnecter la batterie 12 V</li>
              <li>Tourner et retirer la clé de contact</li>
              <li>Identifier le véhicule</li>
              <li>Contrôler les équipements Ht sans toucher</li>
              <li>Neutraliser la source d'énergie BT+HT</li>
      </ul>

        <ul>
            <h5>PRINCIPAUX MODELES :</h5>
                <li>Electrocution (haute-voltage à 300V)</li>
                <li>Brûlure (batterie avec substance alcaline)</li>
                <li>Toxique (électrolite de certaines batteries)</li>
        </ul>

  </ion-content>
