<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Ronflement anormal dans le conduit<br>
    </li>
  <li>Odeur particulière<br>
    </li>
  <li>Dernier ramonage? Type de bois brûlé? Fumées refoulées par le foyer<br>
    </li>
</ion-content>