<!--
  Generated template for the GnregeConduiteatenirLecturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">CONDUITES À TENIR</h3>

<h4 class="Style1">LECTURE PRÉCISE DU FEU</h4>

<p class="Style1">Dans tous les cas, les intervenants doivent procéder à une lecture précise du feu avant
toute action et adopter, après pénétration dans le volume, une technique de progression
adaptée.</p>

<p>Pour la bonne marche des opérations de sauvetage et de lutte contre l’incendie, <strong>la lecture
du feu</strong> est essentielle afin d’assurer aux personnels engagés une évaluation plus précise
du risque. Les 5 éléments à observer sont les suivants :</p>

<li>Les <strong>FUMÉES</strong> : couleur, densité, stratification, lieu et
façon dont elles sortent ou entrent</li><br>

<li>Les <strong>FLAMMES</strong> : couleur, forme, position, intensité</li><br>

<li>La <strong>CHALEUR</strong> : couches de température dans le volume</li><br>


  <li>Les <strong>OUVERTURES</strong> : il est impératif de repérer les
ouvertures existantes ouvertes ou fermées :
    <ul>
      <li><i>les fenêtres</i> : degré d’opacité dû aux dépôts de suies, chaleur radiante à l’approche ou au
contact...</li>
      <li><i>les portes</i> : chaleur radiante à l’approche ou au contact, position d’ouverture, aspect extérieur…</li>
      <li><i>les exutoires</i> : ouverts ou fermés</li><br>
    </ul>
  </li>


<li>Les <strong>SONS</strong> : origine et intensité (nets, assourdis, etc.).</li><br>

<p class="Style1">La lecture précise du feu permet :<p>

<li class="Style1">D’évaluer le risque d’explosion de fumées ou d’embrasement
généralisé éclair</li>

<li class="Style1">De décider des actions tactiques à mener</li>

</ion-content>
