<ion-content>

  <h3 align="center" class="Style1">GARROT</h3>

<li>Le garrot est indiqué lorsque la compression directe est inefficace ou impossible (victime qui présente de nombreuses lésions, plusieurs victimes, plaie inaccessible) ou lors de situations particulières (catastrophes, théâtres d’opérations militaires ou situations apparentées, situation d’isolement)</li><br>

<li>Il ne peut être posé qu’aux membres supérieurs ou inférieurs</li><br>

<li>Une fois posé, il ne doit être desserré que sur ordre du medecin</li>

</ion-content>
