<ion-content>

<h3 align="center" class="Style1">LA SANGLE ARAIGNEE</h3>

<li>L’axe « tête-cou-tronc » est maintenu</li>
<li>Le corps de la victime est correctement solidarisé au plan dur</li><br>

<h5>RANGEMENT</h5>

<li>Replier et rassembler les sangles</li>
<li>Enrouler la sangle centrale autour de l’ensemble</li>

<img class="centrer" src="assets/icon/Capture96.PNG" alt="" /><br>

<li>Maintenir les sangles avec la petite sangle noire de la sangle de chevilles</li>

<img class="centrer" src="assets/icon/Capture97.PNG" alt="" /><br>

<li>Ranger l’ensemble dans le sac</li>

<img class="centrer" src="assets/icon/Capture98.PNG" alt="" /><br>

</ion-content>
