<ion-content>

  <h5 class="Style1">M4: Alimentation de l'engin</h5>
    
    <li>Conducteur :  Prise d’eau à moins de 20m, ALIMENTEZ l’engin</li><br>
    <p>ou</p><br>
    <li>BAL, avec le dévidoir (+ clé PI ou BI),  ALIMENTEZ l’engin</li><br>
    <p>ou</p><br>
    <li>BAL et COD, pour une aspiration X longueur, ALIMENTEZ l’engin</li><br>
    
</ion-content>