<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Cheminements longs et difficiles<br>
  </li>
<li>Visibilité quasi négative et dégagement calorifique élevé<br>
  </li>
  <li>Environnement  hostile (stabilité des plafonds, confinement, ventilation…)<br>
  </li>
  <li>Accumulation des gaz chauds et risque d’inflammation<br>
  </li>
</ion-content>