<!--
  Generated template for the GnrfdfUiffDefensivesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DE L’UIFF et DE L’ULIFF</h3>

<img src="assets/icon/Capture54.PNG" alt="" />

<h4 class="Style1">MANOEUVRES DÉFENSIVES</h4>

<p>Les manoeuvres défensives décrites dans le chapitre 3 de la partie « Manoeuvres du GIFF » du
présent guide peuvent être réalisées par l’UIFF ou par l’ULIFF.</p>

<p>La mise en oeuvre des dispositifs opérationnels est adaptée à la spécificité des moyens
terrestres de lutte.</p>

</ion-content>
