<ion-content>

    <h3 align="center" class="Style1">BRANCARD CUILLERE</h3>

    <p>Si la victime est susceptible de présenter un traumatisme du rachis :</p>

    <li>Poser systématiquement un collier cervical et maintenir la tête pendant toute la manoeuvre</li><br>

    <li>La mise en place des cuillères doit mobiliser le moins possible la victime. La victime est correctement installée sur le brancard cuillère et
      le verrouillage des fermeture est vérifié</li>

  </ion-content>
