<ion-content>

    <h3 align="center" class="Style1">KIT SINUS</h3>

    <li>Le dispositif SINUS est activé à partir de 6 victimes</li><br>

    <li>Il est activé sur demande du COS ou sur décision du CODIS</li>

</ion-content>
