<ion-content>
  <h3 class="Style1">Ordre de Mouvement : DPIF</h3>

<ul>
  <li>Direction
    <ul>
      <li>Indiquer la direction générale à suivre</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Point à atteindre
    <ul>
      <li>Désigner le point précis où le groupe devra s'arrêter</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Itinéraire
    <ul>
      <li>Présiser l'itinéraire à suivre</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Formation du groupe
    <ul>
      <li>Ordre de marche des engins (véhicule le plus lents en tête de file)</li>
      <li>L'intervalle à réspecter (50m sur la route, 20m sur piste, resserer en agglomération)</li>
      <li>Vitesse à observer (60 km/h sur route, adaptée en fonction du terrain sur piste, 30 km/h en agglomération)</li>
      <li>Signaux à mettre en oeuvre (feux de croisement, phares à éclats allumés, deux tons sur ordre)</li>
      <li>Canaux à veiller pendant le deplacement (tactique 3/4 pour l'ensemble du groupe, OPS ou sécurité/accueil sur ERM pour le chef de groupe et son adjoint)</li>
      <li>Consignes de sécurité</li>
    </ul>
  </li>
</ul>

</ion-content>
