<ion-content>

  <li>La charge calorifique est très élevée en cas d'incendie, il convient de faire une reconnaissance cubique très rapidement pour surveiller les risques de propagations</li><br>

</ion-content>
