<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Périmètre de sécurité<br>
    </li>
  <li>Evacuation ou confinement de la zone sous le vent<br>
    </li>
  <li>Identification de l'engrai, La quantitée<br>
    </li>
  <li>Engager les équipes RCH + CMIC<br>
    </li>
  <li>Engager un VAR<br>
  </li>
  <li>Repérer l'emplacement de la décomposition à l'aide d'une caméra thermique ou en observant la convection de la fumée<br>
  </li>
  <li>Dégager la matière qui n'est pas en décomposition<br>
  </li>
  <li>Utiliser de l'eau<br>
  </li>
  <li>Faire attention que l'eau ne forme pas de croûte par l'utilisation de l'eau (risque d'explosion)<br>
  </li>
  <li>Rabattre ou contenir la fumée avec des écrans d'eau<br>
  </li>
</ion-content>