<ion-content>

  <h3 align="center" class="Style1">BRANCARD CUILLERE</h3>

  <li>Eviter tout pincement au niveau du dos lors de la fermeture</li><br>

  <li>Eviter tout risque de chute en vérifiant les verrous de fermeture du brancard</li>

</ion-content>
