<ion-content>

  <h3 align="center" class="Style1">Oxymètre de Pouls</h3>

<li>Le capteur doit être correctement positionné</li>
<li>Les contraintes d'emploi doivent être respectées</li>
<li>Les mesures complètes doivent être transmises au médecin régulateur lors du bilan</li>

</ion-content>
