<ion-content>

  <h3 align="center" class="Style1">GARROT</h3>

  <p>Le garrot arrête une hémorragie externe en interrompant totalement la circulation du sang en amont de la plaie</p>

  <img class="centrer" src="assets/icon/garrot.jpg" alt="" /><br>

</ion-content>
