
<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Barrage générale du gaz. Coupure des énergies<br>
    </li>
  <li>Procéder à la mise en sécurité des habitants aux moyens des échelles, et les rassembler en lieu sûr pour contrôle<br>
    </li>
  <li>Effectuer l’extinction<br>
    </li>
  <li>Création d’un exutoire en partie haute et ventiler<br>
    </li>
  <li>Reconnaître l’ensemble des façades, les appartements et les bâtiments mitoyens<br>
  </li>
  <li>Reconnaître les éventuels appartements duplexes<br>
  </li>
  <li>Reconnaître les éventuelles dessertes d’appartements, par un deuxième escalier<br>
  </li>
</ion-content>
  