<ion-content>
  <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Charniere3.png"/>
  
<div id="m1-demiPavAvant-text">

  7. Faire pivoter le pavillon sans à-coup<br>
  8. Ajuster le callage<br>
  9. Protéger les parties saillantes<br>

</div>
        
</ion-content>
