<!--
  Generated template for the GnrfdfMesuresAutoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MESURES DE SÉCURITÉ, D’AUTOPROTECTION ET D’AUTODÉFENSE</h3>

<h4 class="Style1">MESURES D’AUTOPROTECTION ET D’AUTODÉFENSE</h4>

<img src="assets/icon/Capture22.PNG" alt="" />

<p class="Style1">Les mesures d’autoprotection et d’autodéfense sont un ensemble d’actions à
réaliser en situation d’urgence, lorsque tout repli est impossible, <strong>visant à
protéger les personnels en cas de situation défavorable</strong> mettant en jeu leur sécurité physique.</p>

<h5>Définitions</h5>

<li><strong>Autoprotection :</strong>déclenchement des dispositifs de protection d’un CCF équipé
conformément à la norme en vigueur à la date de parution du présent guide</li><br>

<li><strong>Autodéfense :</strong>mise en oeuvre d’un dispositif de sécurité intégrant notamment le
positionnement des véhicules, l’autoprotection des CCF pour les engins en étant équipés
et éventuellement l’utilisation de moyens hydrauliques (lances, canon, etc.). Elle peut
être <strong>active</strong> (utilisation de moyens hydrauliques) ou <strong>passive</strong> (sans utilisation de moyens hydrauliques).</li><br>

<h5>Autoprotection du CCF</h5>

<p>Lorsque le personnel est directement menacé par le feu, le chef d’agrès doit, en tenant compte de la situation :</p>

<li>Anticiper les actions à réaliser</li>
<li>Faire fermer les vannes d’aspiration et de refoulement si nécessaire</li>
<li>Regrouper les personnels dans le CCF</li>
<li>Faire mettre en oeuvre l’autoprotection du CCF</li>
<li>Alerter sa hiérarchie de sa situation</li>
<li>Demander des renforts terrestres et/ou aériens (largages de sécurité)</li>
<li>Prévenir tout mouvement de panique</li>
<li>Tâcher de maintenir le contact radio avec l’échelon hiérarchique supérieur sur le canal radio approprié</li><br>

<h5>Autodéfense du GIFF</h5>

<p>La mise en place du dispositif est effectuée dans les plus brefs délais et par mesure de sécurité,
si possible en une seule manoeuvre pour les véhicules.</p>

<p class="Style1">Lorsque le terrain et le délai de mise en place le permettent, les véhicules sont
positionnés de façon à protéger les cabines du flux thermique. <strong>Si le GIFF
comprend un CCF de classe S, celui-ci est privilégié pour être utilisé comme écran.</strong></p><br>

<p class="Style1">Le chef de groupe <strong>doit adapter son dispositif de défense à la situation du
moment</strong>. Il l’indique aux personnels et s’assure de leur bonne compréhension de celui-ci, afin d’en garantir l’efficacité.</p><br>

<p>Lors de la phase préalable à l’autodéfense, il doit :</p>

<li>Anticiper sur l’évolution du feu pour manoeuvrer</li>
<li>Faire évacuer la zone dangereuse</li>
<li>Tâcher de maintenir le contact radio</li>
<li>Alerter de sa situation l’échelon hiérarchique supérieur sur le canal approprié</li>
<li>Choisir la zone qui offre le plus de sécurité</li>
<li>Resserrer son dispositif, la VLTT étant placée de préférence entre les CCF, sans bloquer les accès aux cabines des véhicules</li>
<li>Rassembler les équipages sur les points de défense qui paraissent offrir le meilleur abri (au centre du dispositif ou dans les cabines)</li>
<li>Prévenir tout mouvement de panique</li>
<li>Demander des renforts (terrestres et /ou aériens (largages de sécurité))</li><br>

<p>Lorsque le personnel est directement menacé par le feu, il doit en fonction de la situation :</p>

<li>Anticiper les actions à réaliser</li>
<li>Regrouper les personnels non employés dans les CCF</li>
<li>Faire mettre en oeuvre l’autoprotection des véhicules</li>
<li>Faire mettre en oeuvre les moyens hydrauliques qu’il juge adaptés en fonction de la
situation et en prenant en compte la réserve en eau disponible (le canon ou 1 lance 1000
l et 2 queues de paon ou 2 lances 500, une ou des lances 500 devant les véhicules pour compléter la protection, etc.)</li>
<li>Commander, au moment le plus judicieux, la mise en oeuvre de l’autoprotection des véhicules et, en fonction de la réserve en eau, des lances</li>
<li>Prévoir tout mouvement de panique</li>
<li>Faire le bilan de la situation</li>
<li>Rendre compte</li>
<li>Tâcher de maintenir le contact radio avec l’échelon hiérarchique supérieur</li><br>

<p>Les chefs d’agrès doivent :</p>

<li>Faire établir les lances sur ordre</li>
<li>Veiller la radio</li>
<li>Appliquer les consignes de sécurité établies pour les CCF isolés</li><br>

<p>Lorsque le terrain et le délai de mise en place ne permettent pas de regroupement adapté,
l’autodéfense du groupe peut être réalisée avec les véhicules en colonne.</p>

<p>Les exemples d’autodéfense du GIFF présentés ci-après représentent des CCF disposant d’une
autoprotection. Dans le cas contraire, il appartient au chef du groupe d’adapter son dispositif
d’autodéfense en fonction de la situation et des véhicules mis en oeuvre.</p>

<h5>Exemples d’autodéfense active du GIFF</h5>

<p>Le groupe a la possibilité et le temps de mettre en oeuvre des moyens hydrauliques : utilisation
du canon et établissements de lances 500, en fonction de la réserve hydraulique du GIFF.</p><br>

<p><img src="assets/icon/Capture23.PNG" alt="" /><strong>Autodéfense active du GIFF avec utilisation du canon et de lances 500</strong></p><br>

<p><img src="assets/icon/Capture24.PNG" alt="" /><strong>Autodéfense active du GIFF avec utilisation du canon et des lances en attente</strong></p><br>

<h5>Exemples d’autodéfense passive du GIFF</h5>

<p>Le groupe n’a plus suffisamment d’eau et/ou de temps pour mettre des moyens hydrauliques (lances, canon, etc.) en oeuvre.</p>

<p><img src="assets/icon/Capture25.PNG" alt="" /><strong>Autodéfense passive du GIFF avec CCFS</strong></p><br>

<p><img src="assets/icon/Capture26.PNG" alt="" /><strong>Autodéfense passive du GIFF avec CCFM</strong></p><br>

<p><img src="assets/icon/Capture27.PNG" alt="" /><strong>Autodéfense passive du GIFF avec CCFM</strong></p><br>

<p><img src="assets/icon/Capture28.PNG" alt="" /><strong>Autodéfense passive du GIFF avec CCFM en colonne</strong></p><br>

<h5>Autodéfense de l’UIFF et de l’ULIFF</h5>

<p>Lors de l’autodéfense de l’UIFF et de l’ULIFF, le chef d’agrès applique la même méthodologie que pour l’autodéfense du GIFF.</p>

<h5>Largage de sécurité</h5>

<p class="Style1">Un <strong>largage de sécurité</strong> est un largage effectué délibérément sur un véhicule
ou un groupe en difficulté pour faire tomber les flammes et la température afin de permettre au personnel de se dégager.</p><br>

</ion-content>
