<!--
  Generated template for the GnregeSyntheseComparaisonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">SYNTHÈSE DES PHÉNOMÈNES</h3>

<h4 class="Style1">Comparaison des deux phénomènes</h4>

<h5>Scénarios types</h5>

<img src="assets/icon/Capture8.PNG" alt="" />

<h5>Paramètres</h5>

<img src="assets/icon/Capture9.PNG" alt="" />

</ion-content>
