<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Se procurer le plan du site, se renseigner auprès du responsable des lieux<br>
    </li>
  <li>Reconnaître les parties supérieures, notamment les cages d’escaliers enfumées<br>
    </li>
  <li>Isoler les communications verticales et ventiler énergiquement<br>
    </li>
  <li>Établissement au plus près du foyer<br>
    </li>
</ion-content>

