<ion-content>
    <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Pavillonavant3.png"/>
    
  <div id="m1-demiPavAvant-text">

      3. Effectuer une coupe de décharge au niveau du montant A<br>
      4. Basculer le toit vers le capot (sangler si nécessaire)<br>
      5. Protégéer les parties saillantes<br>
</div>
          
</ion-content>
