<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Prendre garde à l’encombrement des accès parking<br>
  </li>
  <li>Premier engin au point d’attaque, reste du dispositif au PRM<br>
  </li>
  <li>Prévoir l’emplacement des moyens aériens<br>
  </li>
</ion-content>