<ion-content>

  <h3 align="center" class="Style1">D.S.A</h3>

 <p>Le DSA est un appareil qui permet :</p>

 <li>D'analyser l'activité électrique du coeur de la victime</li><br>

 <li>De reconnaître une anomalie grave du fonctionnement du coeur à l'origine de l'arrêt cardiaque</li><br>

 <li>D'inviter à délivrer, au travers du thorax de la victime, une quantité d'énergie d'origine électrique (choc électrique) afin de synchroniser l'activité électrique cardiaque</li><br>

  <p>Le DSA est un appareil fiable car il est :</p>

  <li><u>Sensible :</u> Il reconnaît les rythmes devant être choqués</li><br>

  <li><u>Spécifique :</u> Il n'invite pas à choquer un rythme non indiqué</li><br>

  <p>Seul un DAE peut assurer le redémarrage normal d'un coeur qui fibrille</p>

  <img class="centrer" src="assets/icon/dsa.jpg" alt="" /><br>

</ion-content>
