<ion-content>

    <h3 align="center" class="Style1">GARROT</h3>

    <ul>
      <li>Appliquer le garrot tourniquet en amont de l'hémorragie :
        <ul>
          <li>A quelque centimètre de la plaie</li>
          <li>Entre la plaie et la racine du membre, au-dessus du coude ou du genou</li>
          <li>Jamais sur une articulation</li>
        </ul>
      </li>
    </ul><br>

    <img class="centrer" src="assets/icon/garrot2.jpg" alt="" /><br>

    <li>Passer la sangle autour du membre et l'introduire dans la boucle prévue à cet effet</li><br>

    <li>Tirer sur la sangle très fortement et verrouiller l'attache avec le scratch</li><br>

    <img class="centrer" src="assets/icon/garrot3.jpg" alt="" /><br>

    <li>Tourner la tige jusqu'à ce que le saignement s'arrête et que le pouls en aval disparaisse</li><br>

    <img class="centrer" src="assets/icon/garrot4.jpg" alt="" /><br>

    <li>Placer la tige dans le crochet rigide en plastique</li>
    <li>Vérifier le saignement et le pouls en aval. Si le saignement n'est pas arrêté, envisager un lien ou un garrot supplémentaire en amont de celui déjà posé</li><br>

    <img class="centrer" src="assets/icon/garrot5.jpg" alt="" /><br>

    <li>Noter l'heure de pose</li>
    <li>Laisser le garrot toujours visible. Ne jamais le recouvrir</li><br>

    <p class="Style1"><strong>Une fois posé, il ne doit être desserré ou retiré que sur ordre d'un médecin</strong></p>

  </ion-content>
