<ion-content>

  <p>Il existe <strong>5 catégories</strong> de SSI :</p>

<ol>
  <li>DAI + DM + Centrale mise en Sécurité</li>
  <li>DM + Centrale mise en Sécurité</li>
  <li>Commande plusieurs DAS avec US</li>
  <li>Commande plusieurs DAS sans US</li>
  <li>Commande un DAS sans US</li>
</ol>


  <li>Seul le SSI A permet de localiser avec précision (si installation adressable) le début d'incendie</li><br>
  <li>En cas de détection, il faut repérer sur le SSI la localisation exacte (avec plan à proximité) et s'assurer que tous les voyants des fonctions de mise en sécurité sont au rouge fixe. Un rouge clignotant indique qu'un DAS n'est pas en position de sécurité, donc risque</li><br>

<ul>
  <li>Le SSI est divisé en deux parties :<br>
    <ul>
      <li>-La Première pour la localisation</li>
      <li>-La Seconde pour les commandes de mise en sécurité : Alarme générale, compartimentage, désenfumage, arrêts techniques (ascenseurs, ventilation, etc.)</li><br>
    </ul>
  </li>
</ul>

  <li>Une pression sur une commande manuelle déclenche le scénario de mise en sécurité</li><br>
  <li>Le réarmement n'est possible qu'après acquittement de la détection incendie</li>

</ion-content>
