<!--
  Generated template for the GnrAriOperationavantChefdagresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Procèdure Opérationnelle</ion-title>
        <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>PROCEDURES OPERATIONNELLES AVANT ENGAGEMENT</h5>

<h3 class="Style1"><u>CHEF D'AGRES</u></h3><br>

<li>Désigne les porteurs d’ARI</li>
<li>Désigne le point d’entrée</li>
<li>Désigne le contrôleur responsable de la gestion des porteurs</li><br>

<p><strong>Le Chef d’Agrès doit connaître l’aptitude au port de l’ARI de son personnel afin que les binômes soient homogènes et efficaces</strong></p><br>

<p><strong>Les personnels les plus performants au port de l’ARI sont chargés en priorité des reconnaissances</strong></p><br>

<p class="Style1">Pour des raisons opérationnelles, une première reconnaissance sous ARI peut-être conduite sans la présence du binôme de sécurité. Toutefois, celui-ci devra être mis en place le plus rapidement possible</p>

</ion-content>
