<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Présence de polychlorobiphényles ou pyralène<br>
  </li>
<li>Risque d’électrocution<br>
  </li>
<li>Risque toxique et irritant<br>
</li>
<li>Pollution chaude<br>
</li>
</ion-content>
