<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Tonique</li>
        <li>Comateuse</li>
        <li>Amnésique</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>Traitement médical ? 1ère fois ?</li>
      <li>Morsure de langue ?</li>
      <li>Emission d'urine ?</li>
    </ul>
  </li>
</ul>
</ion-content>
