<ion-content>
  <h3 class="Style1">Bilans :</h3>

  <li>Depuis combien de temps ?<br>
    </li>
    <li>Perception des pouls périphériques si possible ?<br>
    </li>
    <li>Fonctions vitales ? Fréquence, rythme, TA ?<br>
    </li>
</ion-content>
