<ion-content>

    <h5 class="Style1">M1: Etablissement de la LDT</h5>
  
      <li>Décroche la LDT</li><br>
      <li>Fait une réserve sur l’épaule</li><br>
      <li>Se rend au point d’attaque</li><br>
      <li>Crie «HALTE» dès que l’équipier à poser le premier raccord a ses pieds</li><br>
      <li>Attaque le feu</li>
  
  </ion-content>
