<!--
  Generated template for the GnrAriOperationillustrationsReconnaissancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Procèdure Opérationnelle</ion-title>
      <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>PROCEDURES OPERATIONNELLES ILLUSTRATIONS</h5>

<h3 class="Style1"><u>RECONNAISSANCE</u></h3><br>

<img src="assets/icon/GNR_engagement1.png"/><br>
<li>L’équipier est relié à la ligne guide par la longueur de 1,25 m de sa liaison personnelle</li><br>
<li>Le chef est relié à l’équipier par la même longueur de 1,25 m</li>

</ion-content>
