<ion-content>
    <h3 class="Style1">Bilans :</h3>
  
    <li>1ère fois ?<br>
      </li>
      <li>Traitement ?<br>
      </li>
      <li>Douleur survenue lors d'un effeort ?<br>
      </li>
      <li>Douleur qui cesse au repos ?<br>
      </li>
  </ion-content>
  