page-srchartegraphique {

          
      .m1-background-12{
        background-color: rgba(0,0,0,0);
        background-image: 
          -webkit-gradient(linear, 50.0% 0.0%, 50.0% 100.0%, from(rgb(0,0,0)), to(rgb(255,255,255)));
      }
      
      
      .m1-font-14{
        color: rgb(0,0,0);
        font-family: Helvetica;
        font-size: 19px;
        font-weight: bold;
        text-decoration: none;
      }
      
      .m1-font-26{
        color: rgb(0,0,0);
        font-family: Helvetica;
        font-size: 14px;
        font-weight: lighter;
        text-decoration: none;
      }
      
      .m1-font-30{
        color: rgb(255,255,255);
        font-family: Helvetica;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
      }


    #m1-CharteGraphique-text9{
        height: 19px;
        left: 120px;
        line-height: 19px;
        text-align: left;
        top: -97px;
        width: 182px;
      }
      
      #m1-CharteGraphique-image7{
        height: 27px;
        left: 7px;
        line-height: 27px;
        top: -74px;
        width: 88px;
      }
      
      #m1-CharteGraphique-text8{
        height: 19px;
        left: 120px;
        line-height: 19px;
        text-align: left;
        top: -98px;
        width: 182px;
      }
      
      #m1-CharteGraphique-image6{
        height: 31px;
        left: 7px;
        line-height: 31px;
        top: -79px;
        width: 88px;
      }
      
      #m1-CharteGraphique-text7{
        height: 38px;
        left: 120px;
        line-height: 19px;
        text-align: left;
        top: -86px;
        width: 182px;
      }
      
      #m1-CharteGraphique-image5{
        height: 31px;
        left: 7px;
        line-height: 31px;
        top: -59px;
        width: 88px;
      }
      
      #m1-CharteGraphique-text6{
        height: 38px;
        left: 120px;
        line-height: 19px;
        text-align: left;
        top: -74px;
        white-space: pre-wrap;
        width: 182px;
      }
      
      #m1-CharteGraphique-image4{
        height: 49px;
        left: 7px;
        line-height: 49px;
        top: -33px;
        width: 80px;
      }
      
      #m1-CharteGraphique-text5{
        height: 19px;
        left: 120px;
        line-height: 19px;
        text-align: left;
        top: -66px;
        width: 149px;
      }
      
      #m1-CharteGraphique-image3{
        height: 72px;
        left: 7px;
        line-height: 72px;
        top: -17px;
        width: 80px;
      }
      
      #m1-CharteGraphique-text4{
        height: 19px;
        left: 120px;
        line-height: 19px;
        text-align: left;
        top: -49px;
        width: 149px;
      }
      
      #m1-CharteGraphique-text3{
        height: 19px;
        left: 120px;
        line-height: 19px;
        text-align: left;
        top: -107px;
        width: 118px;
      }
      
      #m1-CharteGraphique-image2{
        height: 70px;
        left: 7px;
        line-height: 70px;
        top: 14px;
        width: 80px;
      }
      
      #m1-CharteGraphique-image1{
        height: 69px;
        left: 7px;
        line-height: 69px;
        top: 7px;
        width: 80px;
      }
      
      #m1-CharteGraphique-panel1-scroller{
        border-top-color: transparent;
        border-width: 1px 0px 0px 0px;
        height: 472px;
        left: 0px;
        line-height: 40px;
        margin-right: 0px;
        top: 0px;
        width: auto;
      }
      
      #m1-CharteGraphique-panel1{
        border-width: 1px 1px 1px 1px;
        height: 476px;
        left: 8px;
        line-height: 474px;
        margin-right: 16px;
        top: 0px;
        width: auto;
      }
      
      #m1-CharteGraphique-text2{
        height: 21px;
        line-height: 21px;
        margin-left: auto;
        right: 0px;
        text-align: center;
        top: 0px;
        width: 320px;
      }
      
      #m1-CharteGraphique-text1{
        height: 25px;
        left: 147px;
        line-height: 25px;
        text-align: center;
        top: -21px;
        width: 26px;
      }
      
      #m1-CharteGraphique-back1{
        border-width: 5px 5px 5px 13px;
        height: 30px;
        left: 5px;
        line-height: 20px;
        top: 7px;
        width: 60px;
      }
      
      #m1-CharteGraphique-navbar1{
        height: 43px;
        left: 0px;
        line-height: 43px;
        margin-right: 0px;
        top: 0px;
        width: auto;
      }
      
      #m1-CharteGraphique{
        display: none;
      }

}
