<!--
  Generated template for the SrchartegraphiquePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Charte Graphique</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div id="m1-CharteGraphique-panel1" class="m1-iscroll-wrapper m1-background-5 m1-border-4">
        <div id="m1-CharteGraphique-panel1-scroller" class="m1-iscroll-scroller" data-bounce="true">
            
          <p><img id="m1-CharteGraphique-image1" class="m1-clickable m1-image" src="assets/icon/CGraphGPL.png"/>= Véhicule au GPL</p>

          <p><img id="m1-CharteGraphique-image2" class="m1-clickable m1-image" src="assets/icon/CGraphEL.png"/>= Véhicule électrique</p>

          <p><img id="m1-CharteGraphique-image3" class="m1-clickable m1-image" src="assets/icon/CGraphHyb.png"/>= Véhicule hybride</p>

          <p><img id="m1-CharteGraphique-image4" class="m1-clickable m1-image" src="assets/icon/CGraphZonerenforcee.png"/>= Zone renforcée ou sensible: déconseillée</p>

          <p><img id="m1-CharteGraphique-image5" class="m1-clickable m1-image" src="assets/icon/CGraphCoupesup.png"/>= Limite coupe supérieure</p>

          <p><img id="m1-CharteGraphique-image6" class="m1-clickable m1-image" src="assets/icon/CGraphCoupeinf.png"/>= Limite coupe inférieure</p>

          <p><img id="m1-CharteGraphique-image7" class="m1-clickable m1-image" src="assets/icon/CGraphCoupeconseille.png"/>= Coupe conseillée</p>
        </div>
    </div>
</ion-content>
