<ion-content>
    <h3 class="Style1">Actions :</h3>
  
    <li>Périmètre de sécurité de 100 mètres minimum<br>
      </li>
    <li>Évacuer les badauds et habitants de proximité<br>
    </li>
    <li>Y a t-il des victimes et d’éventuels risques de propagation ?<br>
      </li>
    <li>Est-il nécessaire de mettre en jeu la sécurité des secours ?<br>
      </li>
    <li>Si oui, engager le minimum de personnel sous ARI, avec un moyen en eau suffisamment puissant pour attaquer à distance<br>
    </li>
    <li>Attaque 500l/mn par les 3/4 avant du véhicule, pas de jet direct, en utilisant si possible les écrans du terrain<br>
    </li>
    <li>Si non, laisser brûler jusqu’à extinction avec surveillance à distance<br>
    </li>
  </ion-content>
