<ion-content>
    <h3 class="Style1">Actions - Conduite a Tenir :</h3>
  
    <ul>
      <li>Gestes à effectuer :
        <ul>
          <li>Laisser la victime semi assise</li>
          <li>Repos strict</li>
          <li>Inhalation oxygène (fort débit)</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Conditionnement :
        <ul>
          <li>Demi assis</li>
          <li>Rassurer, calmer</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Surveillance :
        <ul>
          <li>Signes d'aggravations ?</li>
        </ul>
      </li>
    </ul>
  </ion-content>
