<ion-content>

<h5 class="Style1">Sac d'attaque : Etablissement par l'extérieur au moyen de la commande</h5>

  <li>Suit le chef d’agrès au point où la LDV doit être hissée</li>
  <li>Pose le sac d’attaque à terre</li>
  <li>Suit le chef d’agrès dans les étages</li>
  <li>Aide l’équipier à hisser la lance</li>
  <li>Commande « ouvrez »</li>
  <li>Réalise la mission donnée par le chef d’agrès</li>

</ion-content>
