<!--
  Generated template for the GnrLspccCompositionSacdetransportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MATERIEL</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>SAC DE TRANSPORT</h5>

  <img src="assets/icon/Sac.png"/><br>

  <li>Couleur jaune citron</li>
  <li>Couleur bleu pour le lot échelle</li>

</ion-content>
