<ion-content>
    <h3 class="Style1">Accès - Cheminements :</h3>

    <li>Emplacement stratégique du moyen aérien<br>
    </li>
    <li>FPT au point d'attaque et dépasse l'adresse ou au point d'eau<br>
    </li>
    <li>Accès à l'arrière du bâtiment, aux coursives, aux façades inaccessibles<br>
    </li>
</ion-content>
    
    