<!--
  Generated template for the GnrfdfDihCompositionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DU DIH</h3>

<img src="assets/icon/Capture81.PNG" alt="" />

<h4 class="Style1">COMPOSITION</h4>

<p>Chaque service départemental d’incendie et de secours adapte la composition de son personnel
formant le DIH qui peut varier de 12 à 20 sapeurs-pompiers, non compris les équipages des
hélicoptères, pour tenir compte de sa spécificité opérationnelle, du relief de la zone
d’intervention et du nombre d’hélicoptères.</p>

<p><u>Exemple d’un DIH à 14 :</u></p>

<img src="assets/icon/Capture82.PNG" alt="" />

</ion-content>
