<!--
  Generated template for the SrprincipesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Principes</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-tabs>
        <ion-tab [root]="tab17Root" tabTitle="Accident" tabIcon="tab17"></ion-tab>
        <ion-tab [root]="tab18Root" tabTitle="Reco" tabIcon="tab18"></ion-tab>
        <ion-tab [root]="tab19Root" tabTitle="Inc" tabIcon="tab19"></ion-tab>
        <ion-tab [root]="tab20Root" tabTitle="Découpe" tabIcon="tab20"></ion-tab>
        <ion-tab [root]="tab21Root" tabTitle="Hybrides" tabIcon="tab21"></ion-tab>
      </ion-tabs>
</ion-content>
