<ion-content>

  <h5><u>Ressources - Infrastructure et Logistique</u> :</h5>

  <img src="assets/icon/charteg12.PNG"/>

  <h5><u>Sectorisation Fonctionnelle</u> :</h5>

  <img src="assets/icon/charteg13.PNG"/>


</ion-content>
