<!--
  Generated template for the GnrfdfPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

 <ion-list inset>
    <button ion-item *ngFor="let item of list" (click)="itemSelected(item)">
      {{ item.title }}
    </button>
  </ion-list>

<h5>MOYENS OPÉRATIONNELS</h5>

  <ion-list inset>
    <button ion-item *ngFor="let item2 of list2" (click)="itemSelected(item2)">
      {{ item2.title }}
    </button>
  </ion-list>

<h5>MESURES DE SÉCURITÉ D’AUTOPROTECTION ET D’AUTODÉFENSE</h5>

    <ion-list inset>
    <button ion-item *ngFor="let item3 of list3" (click)="itemSelected(item3)">
      {{ item3.title }}
    </button>
  </ion-list>

<h5>MANOEUVRES DU CCF</h5>

    <ion-list inset>
    <button ion-item *ngFor="let item4 of list4" (click)="itemSelected(item4)">
      {{ item4.title }}
    </button>
  </ion-list>

<h5>MANOEUVRES DU GIFF</h5>

    <ion-list inset>
    <button ion-item *ngFor="let item5 of list5" (click)="itemSelected(item5)">
      {{ item5.title }}
    </button>
  </ion-list>

<h5>MANOEUVRES DE L’UIFF et DE L’ULIFF</h5>

    <ion-list inset>
    <button ion-item *ngFor="let item6 of list6" (click)="itemSelected(item6)">
      {{ item6.title }}
    </button>
  </ion-list>

<h5>MANOEUVRES DU DIH</h5>

    <ion-list inset>
    <button ion-item *ngFor="let item7 of list7" (click)="itemSelected(item7)">
      {{ item7.title }}
    </button>
  </ion-list>

</ion-content>
