<!--
  Generated template for the GnrlspccPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LSPCC</ion-title>
        <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>Possibilités et Limites d'Utilisation</h5>

 <ion-list inset>
    <button ion-item *ngFor="let item of list" (click)="itemSelected(item)">
      {{ item.title }}
    </button> 
  </ion-list>

  <h5>Matériel</h5>

  <ion-list inset>
    <button ion-item *ngFor="let item2 of list2" (click)="itemSelected(item2)">
      {{ item2.title }}
    </button> 
  </ion-list>

    <h5>Point Fixes</h5>

  <ion-list inset>
    <button ion-item *ngFor="let item3 of list3" (click)="itemSelected(item3)">
      {{ item3.title }}
    </button> 
  </ion-list>

      <h5>L'Operation</h5>

  <ion-list inset>
    <button ion-item *ngFor="let item4 of list4" (click)="itemSelected(item4)">
      {{ item4.title }}
    </button> 
  </ion-list>

</ion-content>
