<!--
  Generated template for the GnrfdfDihMoyensPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DU DIH</h3>

<img src="assets/icon/Capture81.PNG" alt="" />

<h4 class="Style1">MOYENS</h4>

<p>Le DIH dispose au minimum, outre le matériel d’extinction utilisé par les sapeurs-pompiers, des
matériels suivants :</p>

<li>D’un lot de filets et de bâches</li>
<li>D’un lot de matériel spécifique (pièces de jonction, accessoires hydrauliques)</li>
<li>D’appareillages radio, si possible intégrés dans le casque</li>
<li>De matériels lots de sauvetage et de cordes de montagne pour progression en passage difficile</li>
<li>De motopompes portatives de relais</li>

</ion-content>
