<ion-content>
    <h3 class="Style1">Bilans :</h3>
  
    <li>Violance du choc ?<br>
      </li>
      <li>Sensibilité, Motricité ?<br>
      </li>
      <li>Douleur cervicales ?<br>
      </li>
  </ion-content>

