<!--
  Generated template for the GnretablissementlancesSmesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BINOMES</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">SMES</h5>

<li>Le chef d’agrès ne dispose que de quelques secondes pour exprimer son premier ordre à la descente de l’engin ou immédiatement après</li><br>
<li>Pour être rapide et clair et afin de ne rien oublier, il doit utiliser le canevas appelé SMES :</li>
<p>S - Situation</p><br>
<p>M - Mission</p><br>
<p>E - Exécution</p><br>
<p>S - Sécurité</p><br>

</ion-content>
