<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Si avion militaire, attaque latérale et jamais de face (missiles), attention aux sièges éjectables lors du sauvetage<br>
  </li>
  <li>Protection impérative des réservoirs situés à la base des ailes en général<br>
  </li>
  <li>Si accès difficile, prévoir un PRM et engager des moyens hors chemin<br>
  </li>
</ion-content>