<ion-content>

<h5 class="Style1">Règles de Base Pendant l'Engagement</h5>

  <li>Choisir judicieusement les points fixes. Ils doivent obligatoirement être doublés pour les amarrages principaux</li>
  <li>Interdire l'utilisation des cordes et autres matériels du lot de sauvetage pour des opérations autres que la descente, la remontée ou la sécurité des personnes</li>
  <li>Evaluation de la difficulté technique due à l'environnement</li>
  <ul>
  <li>Surveiller attentivement la corde avec attention. Il faut bien veiller notamment à :
<ul>
  <li>Ne pas marcher dessus</li>
  <li>Eviter les frottements sur les rebords tranchants</li>
  <li>Utiliser les protections</li>
  <li>Ne pas les faires reposer sur un sol jonché de débris</li>
  <li>Eviter tout contact avec des produits corrosifs, atmosphère corrosive et parties chaude</li>
</ul>
</li>
</ul>

<li>Porter une attention toute particulère sur les coutures des anneaux cousus et les noeuds lors de la réalisation du dispositif de descente. Ceux-ci doivent être écratés de tout frottement</li><br>
<li>Visser les mousquetons</li><br>
<li>Contrôler le bon fonctionnement des appareils de freinage en faisant une traction sur la corde de descente</li><br>
<li>Utiliser le descendeur en point fixe</li><br>
<li>Réaliser un double amarrage</li><br>
<li>Utiliser un mousqueton pour prolonger les anneaux cousus</li><br>

</ion-content>
