<ion-content>
  <h3 class="Style1">Bilans :</h3>

  <li>Prendres des précautions pour décrocher le pendu, risque de chute<br>
    </li>
    <li>Rechercher la détresse respiratoire<br>
    </li>
</ion-content>
