<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Reconnaissance et identification de la structure (Risque effondrement, accès, point d’eau, propagation, combustible…)<br>
    </li>
  <li>Coupures des fluides et des énergies<br>
    </li>
  <li>Stopper la propagation<br>
    </li>
  <li>Identifier les recoupements intérieurs et les murs coupe-feu sur lesquels on peut s’appuyer<br>
    </li>
  <li>Procéder à la ventilation des locaux encore intacts<br>
  </li>
  <li>Dimensionner les moyens hydrauliques, matériels et personnels, afin de circonscrire le feu<br>
  </li>
  <li>Envisager la protection des réseaux d’évacuation d’eau, voir la récupération des eaux d’extinction<br>
  </li>
</ion-content>
