<!--
  Generated template for the GnrAriOperationavantPorteursPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Procèdure Opérationnelle</ion-title>
            <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>PROCEDURES OPERATIONNELLES AVANT ENGAGEMENT</h5>

<h3 class="Style1"><u>PORTEURS</u></h3><br>

<li>Vérifier que l’ARI est opérationnelle (identification, plombage, etc.)</li>
<li>Vérifier que la balise possède sa plaque de contrôle</li>
<li>Vérifie le matériel d’exploration : lampe portative, ligne guide, liaison personnelle, système de sonore de détresse, dispositif de dérivation</li>
<li>Effectue le RAPACE avant encliquetage de son ARI :</li><br>
<strong>R</strong> &ensp; Ouverture complète du Robinet de la bouteille<br>
<strong>A</strong> &ensp; Ajustement du harnais<br>
<strong>P</strong> &ensp; Pression au manomètre (&gt; à 180 ou 280 Bars)<br>
<strong>A</strong> &ensp; Armement du système sonore de détresse (sifflet + balise sonore de localisation)<br>
<strong>C</strong> &ensp; Code de communication<br>
<strong>E</strong> &ensp; Etanchéité du masque<br>

<p class="Style1">LE CODE DE DETRESSE DOIT RESTER IMMUABLE, C’EST LE DÉCLENCHEMENT DU SYSTÈME SONORE DE DÉTRESSE</p>

</ion-content>
