<ion-content>

<h5 class="Style1">Tuyaux en écheveaux : Etablissement par l'extérieur au moyen de la commande</h5>

  <li>Suit le chef au point où la LDV doit être hissée</li>
  <li>Dépose des tuyaux au sol à côté de la division</li>
  <li>Suit le chef dans les étages</li>
  <li>Envoi la commande au BAL (attention pour envoyer commande) et hisse le raccord à l’ordre hissez</li>
  <li>Amarre le tuyau</li>
  <li>Répercute l’ordre « ouvrez »</li>
  <li>Double le chef</li>

</ion-content>
