<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Point de concentration des secours<br>
  </li>
  <li>Engagement d'un minimum de personnel et de moyens<br>
  </li>
  <li>Attention à ne pas encombrer les voies de circulation ainsi que la périphérie du dépôts<br>
  </li>
</ion-content>
