<ion-content>

  <h3 align="center" class="Style1">D.S.A</h3>

  <p>L'utilisation d'un Défibrillateur Semi Automatique (DSA) est indiquée chez toute personne en arrêt cardiaque</p>

  <p>La défibrillation chez un enfant et un nourrisson doit être réalisée avec des électrodes adaptées qui seront positionnées de la même façon que chez l'adulte</p>

</ion-content>
