<ion-content>
    <h3 class="Style1">Stratégie Générale :</h3>

    <li>Attaque par l’intérieur et par l’extérieur<br>
      </li>
    <li>Création d’exutoire en détuilant<br>
      </li>
    <li>Protection des étages inférieurs<br>
      </li>
</ion-content>
