<ion-content>

  <h3 align="center" class="Style1">D.S.A</h3>

  <p>Une prise en charge la plus efficace et la plus rapide possible permet d'augmenter les chances de survie de la victime</p>

</ion-content>
