<!--
  Generated template for the GnrariDefinitionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Atmosphère</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h3 class="Style1">DEFINITIONS</h3>

    <li>Les appareils respiratoires isolants ont pour but de créer et de maintenir une atmosphère respirable isolée de l’air extérieur infecté<br>
    </li>
    <li>Les atmosphère non respirables peuvent être classifiées ainsi :<br>
      <ol>-Fumée d’incendie</ol>
      <ol>-Les épandages ou atmosphère toxiques</ol>
    </li>
</ion-content>
