<!--
  Generated template for the NrbcRtnCodedangerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>NRBC-RTN</ion-title>
        <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="centrer Style1">TMD - CODE DANGER</h3>

      <img src="assets/icon/CodeDanger.png"/>
      <div id="m1-NRBC_CODE-text2" class="m1-text m1-font-13 m1-shadow-1">Chiffres du haut : <strong>CODE DANGER</strong></div>
      <div id="m1-NRBC_CODE-text3" class="m1-text m1-font-13 m1-shadow-1">Chiffres du bas : <strong>CODE MATIERE</strong></div>

<h5 class="Style3"><u>DANGER PRINCIPAL</u></h5>

  <li>x   Eau de Mousse interdite</li>
  <li>0   </li>
  <li>2   Gaz</li>
  <li>3   Liquide Inflammable</li>
  <li>4   Solide Inflammable</li>
  <li>5   Combustible ou Peroxyde organique</li>
  <li>6   Toxique ou Infectieux</li>
  <li>7   Radioactif</li>
  <li>8   Corrosif</li>
  <li>9   Danger divers</li>

<h5 class="Style3"><u>DANGER SECONDAIRE ET SUBSIDIAIRE</u></h5>

  <li>x   </li>
  <li>0   Absence de danger</li>
  <li>2   Emanation de gaz</li>
  <li>3   Inflammabilité</li>
  <li>4   </li>
  <li>5   Favorise la combustion</li>
  <li>6   Toxicité</li>
  <li>7   </li>
  <li>8   Corrosivité</li>
  <li>9   Réaction violente</li><br>

      <div id="m1-NRBC_CODE-text11" class="m1-text m1-font-38"><u>Exemples :</u></div>
      <img src="assets/icon/Codedangerexemple.png"/>
      <div id="m1-NRBC_CODE-text12" class="m1-text m1-font-39">Essence Super</div>
      <div id="m1-NRBC_CODE-text13" class="m1-text m1-font-39">Gasoil</div>
      <div id="m1-NRBC_CODE-text14" class="m1-text m1-font-39">Chlore</div>
      <div id="m1-NRBC_CODE-text15" class="m1-text m1-font-39">Ammoniaque</div>


</ion-content>
