<!--
  Generated template for the GnregeConduiteatenirActionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">CONDUITES À TENIR</h3>

<h4 class="Style1">ACTIONS TACTIQUES</h4>

<p class="Style1">Lorsque la pénétration du binôme d’attaque à l’intérieur du volume est
<strong>envisageable</strong>, les <strong>règles générales de sécurité</strong> (stabilité de l’édifice,
positionnement des intervenants, présence d’un établissement alimenté et
permanence de l’eau, binôme de protection, …) doivent être <strong>appliquées en
permanence.</strong>

<h5>EXPLOSION DE FUMÉES</h5>

<p>Face à ce danger d’explosion, la plus <strong>grande prudence</strong> doit être de rigueur, <strong>l’absence de
flamme ne signifiant pas absence de danger</strong> (Attitude Défensive) :

<img src="assets/icon/Capture12.PNG" alt="" />

<ul>
  <li>Effectuer une « lecture du feu » portant sur les <strong>signes d’alarme de l’explosion de fumées</strong> :
    <ul>
      <li>rechercher et observer les fumées</li>
      <li>détecter les signes d’une grande richesse énergétique à l’intérieur du local : lueurs,
poignées de portes et vitres chaudes, sons assourdis, suies sur les vitres, …</li>
    </ul>
  </li>
</ul>

<li>Procéder à <strong>l’évacuation des occupants</strong> du bâtiment concerné et des bâtiments voisins</li>

<li>Mettre en place une <strong>zone à accès contrôlé</strong> pour les intervenants</li>

<li><strong>Ne jamais pénétrer</strong> dans le local et se tenir autant que possible à <strong>l’écart des ouvrants</strong> et du cône d’expansion
d’une éventuelle explosion pouvant s’échapper par ces ouvertures</li>

<li>S’assurer que tous les sapeurs-pompiers engagés dans la zone de protection portent les <strong>équipements de
protection individuelle</strong> complets et correctement ajustés</li>

<img src="assets/icon/Capture13.PNG" alt="" />

<ul>
  <li><strong>Empêcher toute entrée d’air</strong> et plus particulièrement :
    <ul>
      <li><strong>Rendre impossible</strong> toute <strong>ouverture accidentelle</strong> des ouvrants</li>
      <li><strong>Prohiber</strong> toute méthode de <strong>ventilation forcée</strong></li>
    </ul>
  </li>
</ul>

<li>Etre très attentif à tout <strong>éclatement ou bris de vitres</strong> : le danger d’explosion de
fumées est imminent dès cet instant</li>

<li>Utiliser ou créer un <strong>exutoire en partie haute</strong> (dans le ¼ supérieur), afin d’évacuer les gaz chauds et la
surpression</li>

<li><strong>Procéder au refroidissement des fumées</strong> après leur échappement par l’exutoire au moyen d’une
lance en jet diffusé d’attaque, afin de prévenir l’inflammation extériorisée du mélange gazeux</li>

<li><strong>Ne jamais diriger le jet dans l’ouverture</strong>, mais <strong>légèrement au-dessus</strong>, afin de ne pas contrarier
l’évacuation des fumées et faciliter la ventilation</li>

<li>S’assurer de la <strong>protection des personnels</strong> manoeuvrant à proximité d’un ouvrant en toiture</li>

<ul>
  <li>Dans le cas où <strong>l’évacuation des fumées en partie haute est impossible</strong>, il
convient de les <strong>inerter directement</strong> dans le volume (attitude offensive) :
    <ul>
      <li>Etablir une lance permettant un débit de l’ordre de 500 l/min</li>
      <li>Rechercher ou créer, en partie haute du volume, un <strong>orifice réduit</strong> (type trouée,
du diamètre de la tête de la lance) donnant à l’intérieur du volume sinistré en
<strong>ayant préalablement humidifié</strong> l’environnement immédiat (porte, parois, fumées, ... )
      <li><strong>Introduire immédiatement</strong> dans l’ouverture la lance en diffusé sous un débit de
l’ordre de 500 l/min, afin que l’eau projetée puisse « inerter » le volume et absorber les calories</li>
      <li>La mise en oeuvre de la lance devra être continue <strong>jusqu’à la disparition des
signes extérieurs</strong> de l’explosion de fumées (fumées, flammes, chaleur, fenêtres, sons)</li>
      <li><strong>Inerter</strong> les fumées restantes et <strong>ventiler</strong> le local</li>
    </ul>
  </li>
</ul>

<li>Le risque ne peut être considéré comme réduit qu’après constat de <strong>l’efficacité de
l’inertage</strong> (contrôle de la diminution de la surpression interne, diminution de la
température, changement de l’aspect des fumées, apparition de vapeur d’eau, etc.).</li>

<li>Il convient de prévoir un échec éventuel de ces actions en <strong>renforçant les moyens de
lutte</strong> en place et en <strong>préparant les effectifs disponibles</strong> à lutter contre une
éventuelle extension brutale du sinistre.</li>

<h5>EMBRASEMENT GÉNÉRALISÉ ÉCLAIR></h5>

<p>Dans une situation où la survenue d’un embrasement généralisé éclair est possible, il est
impératif de :</p>

<li class="Style1"><strong>Limiter le potentiel calorifique des fumées</strong> présentes par l’emploi
des techniques de ventilation</li>
<li class="Style1"><strong>Renforcer les moyens hydrauliques</strong> d’attaque en place</li>
<li class="Style1"><strong>Progresser par étapes successives</strong> dans le local et prévoir l’évacuation d’urgence</li>
<li class="Style1"><strong>Neutraliser l’énergie présente</strong> par l’emploi des techniques de
refroidissement et d’extinction au moyen d’une lance en jet diffusé d’attaque à un débit de 500 l/min.</li>

<p><u><strong>Limitation du potentiel calorifique des fumées</strong></u></p><br>

<p>La ventilation permet une évacuation du potentiel calorifique gazeux du local, notamment par la mise en
oeuvre ou la création <strong>d’exutoires situés en partie haute</strong> du volume en feu.</p>

<p>Cette mise en oeuvre permet aux couches chaudes de s’échapper par le haut, les parties basses restant alors
plus praticables à l’intervention des porte-lance.</p>

<p>Tout ceci doit être exécuté de manière réfléchie, ordonnée,
coordonnée et <strong>nécessite une formation adaptée aux techniques de ventilation.</strong></p>

<li class="Style1">L’extraction des fumées doit <strong>impérativement</strong> se faire par le haut.</li>
<li class="Style1">Le moyen de ventilation est activé en partie basse, <strong>après que l’exutoire ait été réalisé en partie haute.</strong></li>
<p class="Style1">Les fumées et gaz chauds sont alors poussés vers l’extérieur et le
risque d’embrasement généralisé éclair est diminué par la disparition
d’une grande partie du combustible (gaz chauds et fumées).</p>

<p><u><strong>Renforcement des moyens hydrauliques</strong></u></p><br>

<p>Les moyens hydrauliques établis à priori sur un feu en volume semiouvert
doivent permettre un débit minimum de 500 l/min en jet diffusé d’attaque.</p>

<p class="Style1">Dès que le danger d’embrasement généralisé éclair est identifié comme
imminent, le <strong>renforcement immédiat des moyens hydrauliques</strong> doit être ordonné (attitude défensive).</p>

<p>En cas de survenue du phénomène, les personnels exposés doivent pouvoir être protégés
et le risque de propagation de l’incendie doit pouvoir être enrayé, <strong>notamment en
direction des itinéraires de repli et de secours.</strong></p>

<p><u><strong>La progression dans le volume</strong></u></p><br>

<li class="Style1"><strong>Aucune action ne doit être entreprise sans que chaque binôme
d’attaque ne dispose d’un établissement en eau sous un débit
minimum de l’ordre de 500 l/min permettant la réalisation d’un jet diffusé d’attaque</strong></li>

<li class="Style1">En préalable à toute progression dans un local, l’action
déterminante consiste à effectuer une évaluation de la température
de la couche chaude par le « test du plafond »</li>

<li class="Style1">En présence des signes d’alarme, le binôme d’attaque ne doit
pénétrer que de <strong>2 mètres au maximum</strong> dans le local sinistré afin
de rendre possible une évacuation urgente en cas d’aggravation
brutale de la situation</li>

<li class="Style1"><strong>La progression doit s’effectuer par étapes successives de 1 à 2
mètres avec contrôle systématique des signes d’alarme.</strong></li>

<p><img src="assets/icon/Capture14.PNG" alt="" /><strong>Pénétration du binôme d’attaque dans le local sinistré en présence des signes d’alarme</strong></p>

<ul>
  <li>Les intervenants doivent prêter une attention particulière au <strong>repérage des issues
possibles</strong>, l’évacuation d’urgence en cas d’imminence de survenue d’un embrasement généralisé éclair pouvant se faire :
    <ul>
      <li>Par l’itinéraire de repli : constitué du trajet d’accès</li>
      <li>Par l’itinéraire de secours : recherché lors de l’arrivée sur les lieux</li>
    </ul>
  </li>
  <p>Le binôme d’attaque se replie en veillant à se protéger par un jet
diffusé d’attaque dans la couche de fumées.</p>
</ul>

<li>Une circulation permanente de <strong>l’information</strong> entre les personnels engagés et ceux
restés à l’extérieur doit être assurée.</li>

<p><u><strong>Neutralisation de l’énergie</strong></u></p><br>

<p>L’<strong>eau</strong> permet par son application raisonnée :</p>

<li><strong>D’évaluer</strong> la température, notamment de la partie chaude de la couche de fumées, par
le « test du plafond » permettant ainsi d’apprécier le risque d’embrasement généralisé éclair</li>
<li><strong>D’inerter</strong> le mélange gazeux par vaporisation</li>
<li><strong>D’absorber</strong> une partie de l’énergie présente dans le volume</li>
<li><strong>D’éteindre</strong> les matériaux en feu ou en ignition</li>

<p>La <strong>neutralisation de l’énergie</strong> s’obtient au moyen d’une lance en jet diffusé d’attaque de
500 l/min au minimum :</p>

<li>Soit en <strong>projetant des volumes d’eau par impulsions « ouvrir / fermer »</strong> dans la
couche de fumée, en partie haute du volume, jusqu’à ce que l’eau ne soit plus vaporisée</li>

<p><img src="assets/icon/Capture15.PNG" alt="" /><strong>N eutralisation de l’énergie a u moyen d’une lance en jet diffusé d’attaque</strong></p>

<li>Soit en « <strong>crayonnant</strong> » afin de couvrir une zone plus large. Le crayonnage peut se
faire suivant la technique des lettres : le porte-lance doit « tracer » une des lettres <strong>T, Z, O.</strong></li>

<p><img src="assets/icon/Capture16.PNG" alt="left" />

<p>Le <strong>point de départ</strong> de la réalisation de la lettre est toujours en <strong>partie haute.</strong></p>

<p class="Style1">La lettre est « tracée » une seule fois, puis le porte-lance ferme le robinet de la lance et
observe la situation (relecture des signes d’alarme).</p>

<p>Quelle que soit la technique employée (impulsion ou crayonnage), l’eau doit être appliquée à un <strong>taux
optimum</strong> afin de pouvoir lutter efficacement sur le plan calorifique :</p>

<li>Un <strong>débit</strong> d’eau <strong>trop faible</strong> entraînerait la production de vapeur d’eau surchauffée risquant
de brûler le binôme d’attaque</li>

<ul>
  <li>Un <strong>débit</strong> d’eau <strong>trop important</strong> produirait des dégâts supplémentaires et perturberait très
fortement le régime aéraulique du volume et la stratification des fumées, causant une diffusion
des gaz chauds dans l’ensemble du local qui :
    <ul>
      <li>risquerait de brûler le binôme d’attaque</li>
      <li>diminuerait instantanément les possibilités de progression pour parvenir au foyer</li>
    </ul>
  </li>
</ul>

<li>Un <strong>débit</strong> d’eau <strong>optimum</strong> permet de traiter la couche de fumées de manière à absorber le
maximum de calories, sans que la vapeur d’eau produite ne présente une température trop
importante et sans perturber la stratification thermique</li><br>

<p>Le porte-lance ne doit pas oublier que la projection d’eau dans la couche de fumées <strong>n’a pas pour
objectif d’éteindre le foyer mais de prévenir un risque d’embrasement généralisé éclair.</strong> Il ne doit
donc utiliser que le volume d’eau strictement nécessaire.</p>

<p class="Style1"><strong>L’eau projetée en jet diffusé d’attaque en applications successives</strong>
dans la couche de fumées permet <strong>de contrôler la survenue de l’embrasement généralisé éclair.</strong></p>

<p>Après avoir neutralisé le danger majeur représenté par les fumées et la chaleur, <strong>l’attaque
directe du foyer principal à la base des flammes peut être effectuée</strong> (attitude offensive).</p>

<p><u><strong>Cas critique</strong></u></p>

<p>L’embrasement généralisé éclair se produit. Les intervenants sont directement menacés par le phénomène.</p>

<p class="Style1"><strong>Se jeter au sol face contre terre, binôme regroupé et maintenir la lance
au-dessus des casques en jet diffusé de protection² au débit maximum.</strong></p>

<p><img src="assets/icon/Capture17.PNG" alt="" /><strong>Technique de protection du binôme en cas de survenue d’un embrasement généralisé éclair</strong></p>


</ion-content>
