<ion-content>

<h5 class="Style1">Sac d'attaque : Etablissement par l'extérieur au moyen de la commande</h5>

  <li>BAT BAL, pour l’établissement d’une LDV avec sac d’attaque par l’extérieur au moyen de la commande, en reconnaissance !</li><br>
  <li>BAT, emplacement du sac d’attaque pour être hissée..., point d’attaque ici… mission… ; Etablissez !</li><br>
  <li>BAL, emplacement de la division…prise d’eau…Etablissez !</li><br>

</ion-content>
