<!--
  Generated template for the GnrLspccCompositionTriangledevacuationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MATERIEL</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>TRIANGLE D'EVACUATION</h5>

  <img src="assets/icon/triangle_evac1.jpg"/><br>

  <li>Permet de descendre ou monter une victime</li>
  <li>Il est en option dans le lot échelle</li>

</ion-content>
