<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Périmètre de sécurité<br>
    </li>
  <li>Engagement sous ARI, du personnel strictement nécessaire<br>
    </li>
  <li>Attendre EDF<br>
    </li>
</ion-content>
