<ion-content>

  <h5 class="Style1">M6: Remplacement et Prolongation de Tuyaux</h5>

    <li>BAT, pour le remplacement ou le prolongement d’un tuyau d’attaque, en RECONNAISSANCE</li><br>
    <li>BAL, pour le remplacement ou le prolongement d’un tuyau d’alimentation, en RECONNAISSANCE</li><br>
    <li>Alimentation à moins de 20m, à la charge du conducteur</li><br>

</ion-content>