<ion-content>

  <p>Constitue un immeuble de grande hauteur, pour l'application du présent chapitre, tout corps de bâtiment dont le plancher bas du dernier niveau est situé, par rapport au niveau du sol le plus haut utilisable pour les engins des services publics de secours et de lutte contre l'incendie :</p>
  <ul>
    <li>à 50 mètres pour les immeubles à usage d'habitation</li>
    <li>à plus de 28 mètres pour tous les autres immeubles.</li>
  </ul>
  <p><strong>Les Immeubles de grande hauteur sont répartis dans les classes suivantes :</strong></p>
  <ul>
    <li><strong>GHA</strong> : Immeubles à usage d'Habitation</li>
    <li><strong>GHO</strong> : Immeubles à usage d'Hôtel</li>
    <li><strong>GHR</strong> : Immeubles à usage d'Enseignement</li>
    <li><strong>GHS</strong> : Immeubles à usage de Dépôt d'Archives</li>
    <li><strong>GHTC</strong> : Immeubles à usage de Tour de Contrôle</li>
    <li><strong>GHU</strong> : Immeubles à usage Sanitaire</li>
    <li><strong>GHW 1</strong> : Immeubles à usage de Bureaux : Dont la hauteur du plancher bas est supérieure à 28 mètres et inférieure ou égale à 50 mètres</li>
    <li><strong>GHW 2</strong> : Immeubles à usage de Bureaux : Dont la hauteur du plancher bas est supérieure à 50 mètres</li>
    <li><strong>GHZ</strong> : Immeubles à usage Principal d'Habitation : Dont la hauteur du plancher bas est supérieure à 28 mètres et inférieure ou égale à 50 mètres et comportant des locaux autres que ceux à usage d'habitation ne répondant pas aux conditions d'indépendance</li>
    <li><strong>ITGH</strong> : Immeuble de Très Grande Hauteur. Constitue un immeuble de très grande hauteur tout corps de bâtiment dont le plancher bas du dernier niveau est situé à plus de 200 mètres par rapport au niveau du sol le plus haut utilisable pour les engins des services publics de secours et de lutte contre l'incendie.</li>
  </ul>

</ion-content>
