<ion-content>
  <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Coquille2.png"/>
  
<div id="m1-demiPavAvant-text">

  3. Déposer la banquette, sièges, etc<br>
  4. Couper les compas et enlever le coffre<br>
  5. Etayer la partie arrière (2 etais + sangles). Prévoir une marge de developpement pour les étais<br>
</div>
        
</ion-content>
