<ion-content>

  <h3 align="center" class="Style1">FACADES</h3>

  <li>Une façade accessible est une façade accessible aux échelles et qui dispose des fenêtres permettant le passage d'un pompier équipé. Généralement, le passage libre est de 1.30m de haut sur 0.90m de large</li><br>
  <li>Ces fenêtres permettent aux occupants de se manifester aux fenêtres</li><br>
  <li>Certaines façades ne disposent pas de fenêtres de dimensions ou en nombres suffisants. Dans ces conditions, il est demandé aux constructeurs de créer des baies "pompiers" de dimensions supérieures (1,80m de haut), accessibles et ouvrables de l'extérieur par un carré 9mm de la polycoise. Ces fenêtres sont matérialisées par une signalisation visible de jour comme de nuit (pastille rouge, etc.). Ces fenêtres s'ouvrent dans une circulation commune et doivent, en principe, s'ouvrir vers l'intérieur</li><br>

</ion-content>
