<ion-content>
    <img id="m1-Pavillon-image1" class="m1-clickable m1-image" src="assets/icon/Pavillon3.png"/>
  <div id="m1-Pavillon-text">
      7. Retirer le pavillon par l'arrière<br>
      8. Protéger les parties saillantes et découpes<br>
</div>
          
</ion-content>
