<ion-content>


  <p><img id="m1-PRV_plan-image1" class="m1-clickable m1-image" src="assets/icon/Fleche.png"/><strong>= Itinéraire d'évacuation</strong></p>

  <p><img id="m1-PRV_plan-image2" class="m1-clickable m1-image" src="assets/icon/rassemblement.png"/><strong>= Point de rassemblement</strong></p>

  <p><img id="m1-PRV_plan-image3" class="m1-clickable m1-image" src="assets/icon/EAS.png"/><strong>= Espace d'attente sécurisé</strong></p>

  <p><img id="m1-PRV_plan-image4" class="m1-clickable m1-image" src="assets/icon/Dsa.png"/><strong>= Défiblillateur</strong></p>

  <p><img id="m1-PRV_plan-image5" class="m1-clickable m1-image" src="assets/icon/infirmerie.png"/><strong>= Infirmerie</strong></p>

  <p><img id="m1-PRV_plan-image6" class="m1-clickable m1-image" src="assets/icon/DM.png"/><strong>= Déclencheur manuel d'alarme</strong></p>

  <p><img id="m1-PRV_plan-image7" class="m1-clickable m1-image" src="assets/icon/tph_rouge.png"/><strong>= Ligne directe de secours</strong></p>

  <p><img id="m1-PRV_plan-image8" class="m1-clickable m1-image" src="assets/icon/EPA.png"/><strong>= Extincteur portatif</strong></p>

  <p><img id="m1-PRV_plan-image9" class="m1-clickable m1-image" src="assets/icon/ExRoues.png"/><strong>= Extincteur sur roues</strong></p>

  <p><img id="m1-PRV_plan-image10" class="m1-clickable m1-image" src="assets/icon/RIA.png"/><strong>= RIA</strong></p>

  <p><img id="m1-PRV_plan-image11" class="m1-clickable m1-image" src="assets/icon/Porte.png"/><strong>= Portes</strong></p>

  <p><img id="m1-PRV_plan-image12" class="m1-clickable m1-image" src="assets/icon/AU_Eq.png"/><strong>= Arrêt d'urgence équipement</strong></p>

  <p><img id="m1-PRV_plan-image13" class="m1-clickable m1-image" src="assets/icon/PCF.png"/><strong>= Portes coupe-feu</strong></p>

  <p><img id="m1-PRV_plan-image14" class="m1-clickable m1-image" src="assets/icon/PCF2.png"/><strong>= Portes coupe-feu avec degré</strong></p>

  <p><img id="m1-PRV_plan-image15" class="m1-clickable m1-image" src="assets/icon/SSIAP.png"/><strong>= Service de sécurité</strong></p>

  <p><img id="m1-PRV_plan-image16" class="m1-clickable m1-image" src="assets/icon/asc.png"/><strong>= Ascenseur</strong></p>

  <p><img id="m1-PRV_plan-image17" class="m1-clickable m1-image" src="assets/icon/ASC_SP.png"/><strong>= Ascenseur prioritaire</strong></p>

  <p><img id="m1-PRV_plan-image18" class="m1-clickable m1-image" src="assets/icon/MC.png"/><strong>= Monte charge</strong></p>

  <p><img id="m1-PRV_plan-image19" class="m1-clickable m1-image" src="assets/icon/AS_PMR.png"/><strong>= Monte handicapé</strong></p>

  </ion-content>
