prev-plansdintervention-base {

    .m1-font-13{
        color: rgb(0,0,0);
        font-family: Helvetica;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
      }

      #m1-PRV_plan-text21{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -357px;
        width: auto;
      }
      
      #m1-PRV_plan-image19{
        height: 38px;
        left: 24px;
        line-height: 38px;
        top: -328px;
        width: 60px;
      }
      
      #m1-PRV_plan-text20{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -343px;
        width: auto;
      }
      
      #m1-PRV_plan-image18{
        height: 38px;
        left: 24px;
        line-height: 38px;
        top: -314px;
        width: 58px;
      }
      
      #m1-PRV_plan-text19{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -328px;
        width: auto;
      }
      
      #m1-PRV_plan-image17{
        height: 35px;
        left: 22px;
        line-height: 35px;
        top: -300px;
        width: 54px;
      }
      
      #m1-PRV_plan-text18{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -315px;
        width: auto;
      }
      
      #m1-PRV_plan-image16{
        height: 38px;
        left: 20px;
        line-height: 38px;
        top: -286px;
        width: 58px;
      }
      
      #m1-PRV_plan-text16{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -315px;
        width: auto;
      }
      
      #m1-PRV_plan-image15{
        height: 65px;
        left: 19px;
        line-height: 65px;
        top: -272px;
        width: 66px;
      }
      
      #m1-PRV_plan-text15{
        height: 42px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -279px;
        white-space: pre-wrap;
        width: auto;
      }
      
      #m1-PRV_plan-image14{
        height: 47px;
        left: 15px;
        line-height: 47px;
        top: -237px;
        width: 71px;
      }
      
      #m1-PRV_plan-text14{
        height: 42px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -256px;
        width: auto;
      }
      
      #m1-PRV_plan-image13{
        height: 66px;
        left: 14px;
        line-height: 66px;
        top: -202px;
        width: 67px;
      }
      
      #m1-PRV_plan-text13{
        height: 42px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -222px;
        white-space: pre-wrap;
        width: auto;
      }
      
      #m1-PRV_plan-image12{
        height: 68px;
        left: 14px;
        line-height: 68px;
        top: -167px;
        width: 68px;
      }
      
      #m1-PRV_plan-text12{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -195px;
        width: auto;
      }
      
      #m1-PRV_plan-image11{
        height: 64px;
        left: 14px;
        line-height: 64px;
        top: -153px;
        width: 64px;
      }
      
      #m1-PRV_plan-text11{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -182px;
        width: auto;
      }
      
      #m1-PRV_plan-image10{
        height: 66px;
        left: 11px;
        line-height: 66px;
        top: -139px;
        width: 66px;
      }
      
      #m1-PRV_plan-text10{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -169px;
        width: auto;
      }
      
      #m1-PRV_plan-image9{
        height: 68px;
        left: 11px;
        line-height: 68px;
        top: -125px;
        width: 69px;
      }
      
      #m1-PRV_plan-text9{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -156px;
        width: auto;
      }
      
      #m1-PRV_plan-image8{
        height: 67px;
        left: 11px;
        line-height: 67px;
        top: -111px;
        width: 67px;
      }
      
      #m1-PRV_plan-text8{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -141px;
        width: auto;
      }
      
      #m1-PRV_plan-image7{
        height: 67px;
        left: 11px;
        line-height: 67px;
        top: -97px;
        width: 67px;
      }
      
      #m1-PRV_plan-text7{
        height: 42px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -116px;
        white-space: pre-wrap;
        width: auto;
      }
      
      #m1-PRV_plan-image6{
        height: 66px;
        left: 11px;
        line-height: 66px;
        top: -62px;
        width: 67px;
      }
      
      #m1-PRV_plan-text6{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -92px;
        width: auto;
      }
      
      #m1-PRV_plan-image5{
        height: 66px;
        left: 10px;
        line-height: 66px;
        top: -48px;
        width: 67px;
      }
      
      #m1-PRV_plan-text5{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -77px;
        width: auto;
      }
      
      #m1-PRV_plan-image4{
        height: 65px;
        left: 10px;
        line-height: 65px;
        top: -34px;
        width: 68px;
      }
      
      #m1-PRV_plan-text4{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -63px;
        width: auto;
      }
      
      #m1-PRV_plan-image3{
        height: 67px;
        left: 8px;
        line-height: 67px;
        top: -20px;
        width: 67px;
      }
      
      #m1-PRV_plan-text3{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -49px;
        width: auto;
      }
      
      #m1-PRV_plan-image2{
        height: 68px;
        left: 8px;
        line-height: 68px;
        top: -6px;
        width: 69px;
      }
      
      #m1-PRV_plan-text2{
        height: 21px;
        left: 114px;
        line-height: 21px;
        margin-right: 122px;
        text-align: left;
        top: -37px;
        width: auto;
      }
      
      #m1-PRV_plan-image1{
        height: 70px;
        left: 8px;
        line-height: 70px;
        top: 8px;
        width: 68px;
      }

}
