<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>Prendre en compte les moyens de prévention existants<br>
</li>
<li>Risque d’effondrement des structures et du rayonnage<br>
</li>
</ion-content>