<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Constitution de binômes de reconnaissance<br>
    </li>
  <li>Étude du site sur plan (Cheminements, niveaux, boxes avec porte, communications verticales…). Coupure des énergies<br>
    </li>
  <li>Isolation et ventilation des parties supérieures<br>
    </li>
  <li>Recherche du foyer selon la direction, l’importance des fumées à certains endroits<br>
    </li>
  <li>Reconnaître et baliser l’accès le plus proche du feu<br>
  </li>
  <li>Ventilation énergique des espaces<br>
  </li>
  <li>Extinction et reconnaissance<br>
  </li>
</ion-content>