<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>LVAS</li>
        <li>Oxygène</li>
        <li>Rassurer la personne</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Position adoptée par la victime</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Couvrir</li>
      </ul>
    </li>
  </ul>
</ion-content>