<ion-content>
    <h3 class="Style1">Stratégie Générale :</h3>

    <li>Identification du type de transport<br>
      </li>
    <li>Évacuation systématique des passagers et de l’équipage<br>
      </li>
    <li>Mise en place parallèle d’un dispositif d’attaque et d’épuisement<br>
      </li>
    <li>Protection du personnel et engagement minimum<br>
      </li>
  </ion-content>
