<ion-content>
  <h3 class="Style1">A proscrire</h3>

  <li>Sous-estimer le risque de panique lié aux propagations des fumées dans les circulations supérieures<br>
  </li>
  <li>Sous-estimer la présence de véhicules GPL<br>
  </li>
</ion-content>
