<!--
  Generated template for the GnrAriOperationpendantPorteurPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Procèdure Opérationnelle</ion-title>
                <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>PROCEDURES OPERATIONNELLES AVANT ENGAGEMENT</h5>

<h3 class="Style1"><u>PORTEUR</u></h3><br>

<li>Le binôme doit rester solidaire</li>
<li>Le chef est relié avec sa liaison personnelle à l’équipier</li>
<li>L’équipier est relié avec sa liaison personnelle à la ligne guide</li>
<li>Le chef assure la progression alors que l’équipier dispose la ligne guide de façon à garantir un retour sûr et rapide</li>
<li>Le chef amarre la ligne guide à un point fixe et signale la fin de la reconnaissance au moyen du code de communication. Il utilise le code de communication de retour à l’air libre</li>
<li>Le binôme rebrousse chemin en remontant la ligne guide</li>
<li>Au cours de la progression, les porteurs doivent faire demi-tour lorsque le manomètre indique la moitié de la pression de départ ou sur demande du contrôleur</li>
<li>Lors de l’attaque, le chef peut se raccorder directement à la ligne guide, il reste néanmoins devant l’équipier : les porteurs gardent les mains libres et ne perdent pas le lien avec la sortie</li>

<p><strong>Le binôme doit ressortir impérativement en cas de déclenchement du sifflet de fin de charge ou du système sonore de détresse.<br>
Si l’équipe doit se retirer avant la fin de la reconnaissance, elle doit amarrer la ligne guide avant de faire demi-tour</strong></p>
</ion-content>
