<ion-content>

    <h3 align="center" class="Style1">KIT BRULURES</h3>

<li>L'application doit être particulièrement bien réalisée dans les zones difficiles (creux poplités, creux axillaires, plis sous mammaires,...</li><br>

<li>La compresse sera appliquée directement sur les vêtements si ceux-ci adhérent à la peau et n'ont pu être retirés</li><br>

<li>L'emballage doit recouvrir l'intégralité de la compresse afin d'éviter l'écoulement de l'hydrogel</li><br>

<li>Les compresses ne sont pas indiquées en cas de brûlures chimiques, qui, elle, imposent un rinçage abondant pour éliminer le produit</li>

</ion-content>
