<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Souvent situé en zone rurale<br>
  </li>
  <li>Repérage des points d’eau (puisard, rivière, hydrants…)<br>
  </li>
  <li>Canaliser l’évacuation des chevaux avec de la rubalyse, des commandes, jusqu’au point de rassemblement des animaux<br>
  </li>
</ion-content>
