<ion-content>

  <h3 align="center" class="Style1">Oxymètre de Pouls</h3>

<p>La mesure de la pression pulsatile fait partie du bilan complémentaire systématique, elle est donc réalisée à chaque fois et peut s'avérer particulièrement utile dans le cas suivants :</p>

<li>Détresse vitale (sauf arrêt cardio-respiratoire)</li>
<li>Gêne respiratoire ou de plainte respiratoire</li>
<li>Malaise ou aggravation d'une maladie</li>
<li>Traumatisme grave ou violent, ou en cas de traumatisme thoracique</li>

</ion-content>
