<!--
  Generated template for the GnrariAtmospherePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Atmosphère</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h3 class="Style1">ATMOSPHERES TOXIQUES</h3>

    <li>Les toxiques peuvent être rencontrés sous forme solide, liquide ou gazeuse.<br>
      On trouve principalement :<br>
      <ol>-Particules solides fibreuses</ol>
      <ol>-Solutions aqueuses acides et basiques</ol>

    <li>Les Gaz que l’on peut diviser en 2 groupes :<br>
        <ol>-Lésions pulmonaires (Chlore, phosgene, ammoniac, axydes d’azote,...)</ol>
        <ol>-Pénètrent par la peau ou les voies aériennes (acide cyanhydrique, oxyde de carbone,...)</ol>
    </li>

    <p><strong>Il y a lieu de procéder à une analyse des risques avant toute intervention afin de compléter si besoin  la protection respiratoire par une tenue étanche</strong></p>
</ion-content>
