<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>Isoler</li>
        <li>Rassurer l'entourage</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Plat dos</li>
        <li>PLS si inconscient</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Reprise de la crise</li>
      </ul>
    </li>
  </ul>
</ion-content>
