<ion-content>

  <h3 align="center" class="Style1">Oxymètre de Pouls</h3>

<li>Chez une victime agitée, qui présente des tremblements, un refroidissement des extrémités, une détresse circulatoire ou certaines maladies vasculaires, la mesure de la SpO2 n'est pas fiable ou impossible car le capteur ne peut pas effectuer de mesures</li>

<li>En cas d'intoxication au CO le sang devient encore plus rouge et l'oxymètre de pouls va donner à tort des valeurs rassurantes</li>

<li>La présence de vernis à ongles ne permet pas une bonne mesure au niveau de l'extrémité di doigt</li>

</ion-content>
