<ion-content>
    <h3 class="Style1">Accès - Cheminements :</h3>
  
    <li>Point de concentration des secours<br>
    </li>
    <li>Engagement d'un minimum de personnel et de moyens<br>
    </li>
    <li>Périmètre de sécurité 100m<br>
    </li>
  </ion-content>
