<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Présence de substances chimiques méconnues dans l’immédiat<br>
  </li>
<li>Risques de réactions violentes au feu et agents extincteurs<br>
  </li>
<li>Risques de toxicité, d’explosivité, corrosivité<br>
</li>
<li>Le risque incendie prime sur le chimique en terme de protection individuelle<br>
</li>
</ion-content>