<ion-content>

<h5 class="Style1">Sac d'attaque : Etablissement par l'extérieur au moyen de la commande</h5>

  <li>Procède à l’établissement de la division jusqu’à la prise d’eau</li>
  <li>Récupère la commande envoyée par le BAT après avoir donné l’ordre « envoyez »</li>
  <li>Ouvre le sac d’attaque et raccorde la LDV à la commande et ordonne « hissez »</li>
  <li>Aide à la progression de la lance en façade</li>
  <li>Sur l’ordre « ouvrez », branche à la division et ouvre</li>
  <li>Se tient à la disposition du chef d’agrès</li>

</ion-content>
