<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Feu de grande ampleur<br>
  </li>
<li>Diversité du combustible<br>
  </li>
<li>Structure généralement métallique, d’où un risque d’effondrement<br>
</li>
<li>Risque d’embrasement généralisé<br>
</li>
</ion-content>