<ion-content>

<h5 class="Style1">LES NOEUDS</h5>
  
<p><strong>Noeud de huit double</strong></p>

<li>Il est réalisé à chaque extrémité de la corde avant de la lover dans le sac. Il sert de noeud de sécurité et noeud d'amarre</li>

<img id="m1-POINTS-image2" class="m1-clickable m1-image" src="assets/icon/huit_double_1.gif"/>

<p><strong>Noeud de huit double</strong></p>

<li>Il est réalisé à l'aide d'une cordelette</li>
<li>Il sert à aménager une poignée de traction</li>

<img id="m1-POINTS-image3" class="m1-clickable m1-image" src="assets/icon/noeud_francais.gif"/>

<p><strong>Clé d'arrêt sur huit descendeur</strong></p>

<img id="m1-POINTS-image4" class="m1-clickable m1-image" src="assets/icon/cle_arret.png"/>

</ion-content>
