<ion-content>
    <h5><u>TECHNIQUE N°4</u>: Véhicule sur le toit</h5>
    <img src="assets/icon/OuvertureporteD1.png"/>
<ul>
1. Pincer le bas de caisse<br>
2. Ecarter la portière depuis l'espace créer jusqu'à ouverture de la porte<br>
3. Faites sauter les charnières<br>
4. Dépose de la porte<br>
</ul>

</ion-content>
