<!--
  Generated template for the GnrfdfUiffDeplacementsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DE L’UIFF et DE L’ULIFF</h3>

<img src="assets/icon/Capture54.PNG" alt="" />

<h4 class="Style1">DEPLACEMENTS</h4>

<p>Les déplacements décrits dans le chapitre 1 de la partie « Manoeuvres du GIFF » du présent
guide peuvent être réalisés par l’UIFF ou par l’ULIFF.</p>

</ion-content>
