<ion-content>

  <h3 align="center" class="Style1">FACADES</h3>

  <li>Les vitrages récents sont à double, voire triples vitrages. Elles sont également de plus en plus souvent inviolables. Il est donc utopique de vouloir casser de nous jour une fenêtre récente</li><br>

</ion-content>
