<ion-content>
  <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Coquille3.png"/>
  
<div id="m1-demiPavAvant-text">

  6. Positionner le verin sur des points d'appui fiables au milieu de véhicule de préférence<br>
  7. Mettre sous tension les étais et le verin<br>
  8. Couper les montants B et C<br>

</div>
        
</ion-content>
