<ion-content>
  <h3 class="Style1">A proscrire</h3>

  <li>Entreprendre une extinction immédiate si les moyens ne correspondent pas<br>
  </li>
  <li>Attaquer au jet bâton, contaminer la mousse, briser un tapis de mousse<br>
  </li>
</ion-content>
