<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Identifier les stocks concernés par le biais de l’exploitant<br>
    </li>
  <li>Coupure des énergies<br>
    </li>
  <li>Constitution de binômes reconnaissance sous ARI<br>
    </li>
  <li>Mise en place d’un dispositif de ventilation, du site ou mobile (RMV, RMVGD…)<br>
    </li>
  <li>Utilisation de l’eau en jet diffusé afin de diluer certains gaz types (chlore et ammoniac)<br>
  </li>
  <li>Extinction mousse recommandée<br>
  </li>
</ion-content>
