<!--
  Generated template for the GnrAriContraintesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contraintes Physiologiques</ion-title>
        <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-tabs>
  <ion-tab [root]="tab56Root" tabTitle="CORPOREL" tabIcon="tab56"></ion-tab>
  <ion-tab [root]="tab57Root" tabTitle="SENSORIEL" tabIcon="tab57"></ion-tab>
  <ion-tab [root]="tab58Root" tabTitle="RELATION" tabIcon="tab58"></ion-tab>
  
</ion-tabs>

</ion-content>
