<ion-content>

<h5 class="Style1">Sauvetage par l'Exterieur</h5>

<li>Se munit du matériel sur ordre<br></li>
<li>Réceptionne la commande<br></li>
<li>Ecarte la victime de la façade<br></li>
<li>Réceptionne la victime</li>

</ion-content>
