<!--
  Generated template for the FeudetransformateurPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Feu de Transformateur au PCB</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Risques" tabIcon="tab1"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Strategies" tabIcon="tab2"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Acces" tabIcon="tab3"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Actions" tabIcon="tab4"></ion-tab>
    <ion-tab [root]="tab5Root" tabTitle="Attention" tabIcon="tab5"></ion-tab>
    <ion-tab [root]="tab6Root" tabTitle="Interdit" tabIcon="tab6"></ion-tab>
  </ion-tabs>
</ion-content>
