<ion-content>
    <h3 class="Style1">Risques :</h3>
  
    <li>Embrasement général, rupture du réservoir<br>
    </li>
  <li>Fuite de carburant enflammé : torchère<br>
    </li>
  <li>Risque de BLEVE pour les véhicule au GPL<br>
  </li>
  <li>L électrique : Electrisation par contact avec un conducteur, conductibilité des eaux, brûlure chimique<br>
  </li>
  </ion-content>
