<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>Protéger l’administration du sinistre<br>
</li>
<li>Faire prévenir le service des eaux pour une sollicitation importante du réseau<br>
</li>
</ion-content>
