<ion-content>
  <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Charniere2.png"/>
  
<div id="m1-demiPavAvant-text">

  5. Poser les cales de reprise de toit<br>
  6. Faire deux coupes de décharge dans le pavillon, proche des montants A et C<br>

</div>
        
</ion-content>
