<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Périmètre de sécurité<br>
    </li>
  <li>Identification du produit<br>
    </li>
  <li>Confinement ou évacuation de la zone sinistrée<br>
    </li>
  <li>Limiter la pollution<br>
    </li>
</ion-content>
