<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Reconnaissances dans les locaux contigus, horizontaux et verticaux<br>
    </li>
  <li>Coupure des énergies<br>
    </li>
  <li>Repérer les points chauds<br>
    </li>
  <li>Dégarnir, effectuer des percées si nécessaire<br>
    </li>
  <li>Procéder à l'extinction du ou des foyers, avec des moyens légers (LDT, sceau-pompe)<br>
  </li>
  <li>Dégarnir très largement autour des parties impliquées<br>
  </li>
</ion-content>
