<!--
  Generated template for the GnrAriEquipementHarnaisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>MATERIEL</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h5>HARNAIS - DOSSARD</h5>

    <img src="assets/icon/GNR_Harnais.png"/><br>

    <li>Matière légère</li>
    <li>Assure le confort et la répartition du poids</li>
    <li>Supporte les éléments de sécurité</li>
    <li>Sangles de fixation</li>

</ion-content>
