<!--
  Generated template for the GdoEtablissementsettechniquesdextinctionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>GDO & GNR</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

  <h4 class='Style1'>Etablissements et Techniques d'Extinction</h4>

  <img src="assets/icon/GTO-établissements-et-techniques-dextinction.jpg"/><br>

  <p>Ce guide présente des méthodes et des techniques permettant de mettre en œuvre les actions d’extinction, décrites dans les guides de doctrine opérationnelle.</p>

  <p>Ce document est organisé en parties consacrées aux différents domaines d’activités ou environnements opérationnels, nécessitant l’utilisation de techniques opérationnelles.</p>

  <p>Les fiches sont classées en trois familles :</p>
  <li>les ressources en eau</li>
  <li>les établissements</li>
  <li>les techniques d’extinction</li><br>

  <p>Les méthodes et les techniques présentées dans ce document sont choisies et adaptées selon les besoins du service d’incendie et de secours, en fonction des risques à couvrir.</p>

  <a href="https://drive.google.com/open?id=13y5kFZWWKjA4edUFC1Wquu95Dc7NiVQk">GTO-etablissements-techniques-extinction-2018</a>

</ion-content>
