    <ion-content>
      <h3 class="Style1">Stratégie Générale :</h3>

      <li>Attaque conjointe intérieure/extérieure, sous ARI<br>
        </li>
      <li>Préserver les communications existantes<br>
        </li>
      <li>Ventilation<br>
        </li>
      <li>Inventorier les habitants<br>
        </li>
      <li>Prendre en compte les dégâts potentiels par les eaux d'extinction<br>
        </li>
    </ion-content>

