<ion-content>

<h5 class="Style1">Tuyaux en écheveaux : Etablissement par l'extérieur au moyen de la commande</h5>

  <li>Suit le chef au point où la LDV doit être hissée</li>
  <li>Garde avec lui le tuyau d’attaque en O et la lance</li>
  <li>Suit le chef d’agrès dans les étages</li>
  <li>Pose son tuyau, enlève les fixations et ouvre le O</li>
  <li>Aide l’équipier à hisser la lance</li>
  <li>Commande « ouvrez »</li>
  <li>Réalise la mission donnée par le chef d’agrès</li>

</ion-content>
