<!--
  Generated template for the GnretablissementlancesManoeuvrescomplLdvenginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BINOMES</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">LDV avec Engin en Aspiration</h5>

<p><strong>Commandement</strong></p>
<li>BAT, BAL, pour l’établissement d’une LDV sur division alimenté avec engin en aspiration, en reconnaissance !</li><br>

<p><strong>BAT</strong></p>
<li>Le BAT devient BAL 2</li>
<li>Etablit la division selon M2</li>
<li>Le BAL 2 redevient BAT</li>
<li>Etablit la LDV selon M3</li><br>

<p><strong>BAL</strong></p>
<li>Etablit la ligne d’aspiration</li>
<li>Se tient à disposition du chef d’agrès</li>

</ion-content>
