<ion-content>
    <h3 class="Style1">Stratégie Générale :</h3>
  
    <li>Rechercher la carburation<br>
      </li>
    <li>Périmètre de sécurité<br>
      </li>
    <li>Engagement d’un minimum de personnel<br>
      </li>
    <li>Évacuation des personnes directement menacées<br>
      </li>
  </ion-content>