<ion-content>

    <h5 class="Style1">Point Fixe Humain</h5>
    
    <li>Va chercher la victime et l'approche de l'endroit choisi pour l'évacuer<br></li>
    <li>Equipe la victime du triangle<br></li>
    <li>Accroche la commande à l'anneau dorsal du triangle<br></li>
    <li>Envoie l'autre extrémité au 2e binôme<br></li>
    <li>Vérifie la fermeture de tous les mousquetons et de leur bonne mise en place<br></li>
    <li>Engage la victime dans la descente<br></li>
    <li>Contrôle la descente<br></li>
    
    </ion-content>