<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Panique des chevaux dangereux pour l’homme<br>
  </li>
<li>Présence d’excellents combustibles favorisant une propagation très rapide<br>
  </li>
</ion-content>
