<ion-content>

  <h3 align="center" class="Style1">GARROT</h3>

<li>Le garrot supprime totalement la circulation du sang dans le segment de membre concerné</li><br>

<ul>
  <li>Il doit être posé en respectant scrupuleusement les indications ci-dessous :
    <ul>
      <li>Au membre supérieur, sur le bras, entre la plaie et l'aisselle</li>
      <li>Au membre inférieur, sur la cuisse, la plaie et l'aine</li>
    </ul>
  </li>
</ul><br>

<li>Dans certain cas, le garrot ne peut être posé. En effet, si il y a présence d'une plaie hémorragique au cou, il est nécessaire de
  maintenir la compression manuelle ou de réaliser un point de compression direct</li><br>

<li>En cas de section de membre au pli de l'aine ou de l'épaule, le point de compression direct sera la seule solution</li>

</ion-content>
