<ion-content>
    <h3 class="Style1">Règles de Base Après l'Engagement :</h3>
  
    <li>Procéder au nettoyage du masque<br>
    </li>
    <li>Remplir les bouteilles et vérifier la pression d’air<br>
    </li>
    <li>Nettoyer tous les éléments<br>
    </li>
    <li>Plomber et remettre les bouchons et plaque de contrôle sur toutes les bouteilles opérationnelles<br>
    </li>
    <li>Ranger le matériel à son emplacement d’origine<br>
    </li>
    <li>Retirer du service tout matériel ayant subi une agression chimique ou thermique importante et le faire contrôler soit par le fabriquant, soit par un laboratoire notifié<br>
    </li>
  </ion-content>
