<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Identiques aux feux de bâtiments et sous-sols<br>
    </li>
  <li>Coupure des énergies<br>
  </li>
  <li>Reconnaissances pointues liées aux infrastructures compliquées<br>
    </li>
  <li>Prévoir des binômes de reconnaissance alternés<br>
    </li>
  <li>Attention aux sauvetages combinés plongeurs/simples SP<br>
  </li>
  <li>Utilisation de commandes, cordages, ponts, embarcations…<br>
  </li>
  <li>Attaque de la berge ou par l ’intérieur. Utilisation limitée de l’eau<br>
  </li>
  <li>Utilisation de mousse si la chaleur est trop intense<br>
  </li>
  <li>Combiner l’extinction avec des moyens d’épuisement<br>
  </li>
  <li>Réalisation de passerelles au moyens d'échelles, madriers, planches…<br>
  </li>
  <li>Mise en place d’une main courante<br>
  </li>
  <li>Limiter l’engagement du personnel sur la péniche<br>
  </li>
</ion-content>