<ion-content>

  <h3 align="center" class="Style1">Oxymètre de Pouls</h3>

<li>L'oxymètre de pouls est un appareil électronique qui mesure la longueur d'onde de la couleur rouge qui reflète la quantité d'oxygène transportée par le sang exprimée en %</li><br>

<li>L'oxymètre de pouls permet de détecter très rapidement un manque d'oxygène dans l'organisme</li><br>

<ul>
  <li>L'oxymètre de pouls comprend :
    <ul>
      <li>une unité de mesure dotée, en générale d'un écran de lecture et alimentée par des piles</li>
      <li>un capteur que l'on pose sur un doigt (index en principe)</li>
    </ul>
  </li>
</ul><br>

  <img class="centrer" src="assets/icon/saturometre.jpg" alt="" /><br>

</ion-content>
