<ion-content>

    <h3 align="center" class="Style1">GARROT</h3>

<p>Un garrot est correctement posé si :</p>

<li>Il est posé entre la plaie et la racine du membre, au-dessus du coude ou du genou</li><br>

<li>Il est suffisamment serré (impossible de glisser un doigt dessous)</li><br>

<li>La compression qu'il exerce est permanente</li><br>

<li>L'heure de pose est notée</li>

</ion-content>
