<ion-content>

  <h3 align="center" class="Style1">ATTELLE PNEUMATIQUE DE TRACTION (DONWAY)</h3>

  <p>La réalisation d'une immobilisation à l'aide d'une attelle en traction peut provoquer une mobilisation excessive du foyer de fracture si la procédure de mise en place n'est pas respectée et entraîner douleur et complications</p>

  <p>En milieu nécessitant des chaussures spéciales (montagne) desserrer les chaussures avant la fin de la mise en place de l'attelle.
    Les risques de gelures engendrées par les chaussures peuvent être augmentés par l'anneau immobilisateur du bassin</p>

  </ion-content>
