<ion-content>

  <li>Une voie engin permet l'accès au bâtiment. Elle  permet de se rapprocher  des portes d'entrée ou d'accès. Sa largeur est comprise entre 3 et 6m. Le passage libre sous voute est de 3.50m avec une pente de 15% maximum</li><br>
  <li>La voie échelle permet la mise en station d'un moyen aérien. Sur une longueur de 10m au moins, la largeur de la chaussée et de 4m au moins. La pente maximale est de 10%</li><br>
  <li>La force portante est de 160kN avec un maximum de 90kN par essieu et une résistance au poinçonnement de 80N/cm2</li><br>
  <li>Elle peut être communément appelée "voie lourde"</li>

</ion-content>
