<ion-content>

  <div id="m1-PRV_plan-text60" class="m1-text m1-font-13">Ventilation haute</div>
  <img id="m1-PRV_plan-image58" class="m1-clickable m1-image" src="assets/icon/VH.png"/>
  <img id="m1-PRV_plan-image59" class="m1-clickable m1-image" src="assets/icon/VB.png"/>
  <div id="m1-PRV_plan-text61" class="m1-text m1-font-13">Ventilation basse</div>
  <img id="m1-PRV_plan-image60" class="m1-clickable m1-image" src="assets/icon/Barrage_eau_GN.png"/>
  <div id="m1-PRV_plan-text62" class="m1-text m1-font-13">Barrage eau général</div>
  <img id="m1-PRV_plan-image61" class="m1-clickable m1-image" src="assets/icon/barrage_eau_partiel.png"/>
  <div id="m1-PRV_plan-text63" class="m1-text m1-font-13">Barrage eau partiel</div>
  <img id="m1-PRV_plan-image62" class="m1-clickable m1-image" src="assets/icon/Egout.png"/>
  <div id="m1-PRV_plan-text64" class="m1-text m1-font-13">Raccordement à l'égout Vanne d'isolement d'égout</div>
  <img id="m1-PRV_plan-image63" class="m1-clickable m1-image" src="assets/icon/flamme.jpg"/>
  <div id="m1-PRV_plan-text65" class="m1-text m1-font-13">Produits dangereux : voir chapitre NRBC</div>
  <img id="m1-PRV_plan-image64" class="m1-clickable m1-image" src="assets/icon/chaufferie.png"/>
  <div id="m1-PRV_plan-text66" class="m1-text m1-font-13">Chaufferie</div>
  <img id="m1-PRV_plan-image65" class="m1-clickable m1-image" src="assets/icon/vanne_police.png"/>
  <div id="m1-PRV_plan-text67" class="m1-text m1-font-13">Vanne police</div>
  <img id="m1-PRV_plan-image66" class="m1-clickable m1-image" src="assets/icon/zag.png"/>
  <div id="m1-PRV_plan-text68" class="m1-text m1-font-13">Raccord ZAG</div>
  <img id="m1-PRV_plan-image67" class="m1-clickable m1-image" src="assets/icon/local_EL.png"/>
  <div id="m1-PRV_plan-text69" class="m1-text m1-font-13">Local électrique</div>
  <img id="m1-PRV_plan-image68" class="m1-clickable m1-image" src="assets/icon/coupure_HT.png"/>
  <div id="m1-PRV_plan-text70" class="m1-text m1-font-13">Coupure électrique</div>
  <img id="m1-PRV_plan-image69" class="m1-clickable m1-image" src="assets/icon/coupure_BT.png"/>
  <div id="m1-PRV_plan-text71" class="m1-text m1-font-13">Coupure électrique</div>
  <img id="m1-PRV_plan-image70" class="m1-clickable m1-image" src="assets/icon/AU_EL.png"/>
  <div id="m1-PRV_plan-text72" class="m1-text m1-font-13">Arrêt d'urgence électricité avec fonction</div>
  <img id="m1-PRV_plan-image71" class="m1-clickable m1-image" src="assets/icon/Barrage_gaz_ville.png"/>
  <div id="m1-PRV_plan-text73" class="m1-text m1-font-13">Barrage gaz de ville</div>
  <img id="m1-PRV_plan-image72" class="m1-clickable m1-image" src="assets/icon/barrage_gaz.png"/>
  <div id="m1-PRV_plan-text74" class="m1-text m1-font-13">Barrage gaz</div>
  <img id="m1-PRV_plan-image73" class="m1-clickable m1-image" src="assets/icon/stockage_liquide_infla.png"/>
  <div id="m1-PRV_plan-text75" class="m1-text m1-font-13">Stockage liquide inflammable</div>
  <img id="m1-PRV_plan-image74" class="m1-clickable m1-image" src="assets/icon/depot_bouteille_gaz.png"/>
  <div id="m1-PRV_plan-text76" class="m1-text m1-font-13">Dépôt bouteille gaz</div>
  <img id="m1-PRV_plan-image75" class="m1-clickable m1-image" src="assets/icon/local_poubelle.png"/>
  <div id="m1-PRV_plan-text77" class="m1-text m1-font-13">Local poubelle</div>
  <img id="m1-PRV_plan-image76" class="m1-clickable m1-image" src="assets/icon/vide-ordures.png"/>
  <div id="m1-PRV_plan-text78" class="m1-text m1-font-13">Vide ordures</div>
  <img id="m1-PRV_plan-image77" class="m1-clickable m1-image" src="assets/icon/gaine_EL.png"/>
  <div id="m1-PRV_plan-text79" class="m1-text m1-font-13">Gaine électrique</div>
  <img id="m1-PRV_plan-image78" class="m1-clickable m1-image" src="assets/icon/gaine_gaz.png"/>
  <div id="m1-PRV_plan-text80" class="m1-text m1-font-13">Gaine gaz</div>
  <img id="m1-PRV_plan-image79" class="m1-clickable m1-image" src="assets/icon/machinerieASC.png"/>
  <div id="m1-PRV_plan-text81" class="m1-text m1-font-13">Machinerie ascenseur</div>
  <img id="m1-PRV_plan-image80" class="m1-clickable m1-image" src="assets/icon/Supresseur_incendie.png"/>
  <div id="m1-PRV_plan-text82" class="m1-text m1-font-13">Surpresseur incendie</div>
  <img id="m1-PRV_plan-image81" class="m1-clickable m1-image" src="assets/icon/compresseur_incendie.png"/>
  <div id="m1-PRV_plan-text83" class="m1-text m1-font-13">Compresseur incendie</div>
  <img id="m1-PRV_plan-image82" class="m1-clickable m1-image" src="assets/icon/GE.png"/>
  <div id="m1-PRV_plan-text84" class="m1-text m1-font-13">Groupe électrogène</div>
  <img id="m1-PRV_plan-image83" class="m1-clickable m1-image" src="assets/icon/groupe_clim.png"/>
  <div id="m1-PRV_plan-text85" class="m1-text m1-font-13">Groupe de climatisation</div>
  <img id="m1-PRV_plan-image84" class="m1-clickable m1-image" src="assets/icon/groupe_ventil.png"/>
  <div id="m1-PRV_plan-text86" class="m1-text m1-font-13">Groupe de ventilation</div>
  <img id="m1-PRV_plan-image85" class="m1-clickable m1-image" src="assets/icon/AU_Extraction.png"/>
  <div id="m1-PRV_plan-text87" class="m1-text m1-font-13">Arrêt sur extraction</div>
  <img id="m1-PRV_plan-image86" class="m1-clickable m1-image" src="assets/icon/arret_ventilation.png"/>
  <div id="m1-PRV_plan-text88" class="m1-text m1-font-13">Arrêt sur ventilation</div>
  <img id="m1-PRV_plan-image87" class="m1-clickable m1-image" src="assets/icon/arret_soufflage.png"/>
  <div id="m1-PRV_plan-text89" class="m1-text m1-font-13">Arrêt sur soufflage</div>

</ion-content>
