<!--
  Generated template for the DivAnimalierPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>DIV</ion-title>
            <ion-buttons end >
              <header-menu></header-menu>
            </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="Style1 centrer">ANIMALIER</h3>

<h5 class="Style1">Dangers :</h5>

<li>Inferctieux : maladie rabique, morsure, coup, salive, introduction corps étranger</li>
<li>Allergiques : piqûres d'insectes</li><br>

<h5 class="Style1">Matériels :</h5>

<p><strong>Animaux</strong> : Filet à lancer, gants de protection, pince de capture, cage, surpantalon, perche de capture, fusil hypodermique</p>

<p><strong>Hyménoptères</strong> : Tenue de protection avec casque, gants en caoutchouc, masque de protection respiratoire
de niveau 1 à usage unique, paire de lunette fermée, pulvérisateur, insecticide, outils divers</p>

<h5 class="Style1">Technique d'approche :</h5>

<li>Ne pas porter de couvre chef</li>
<li>Ne pas se presser</li>
<li>Se mettre à la hauteur de l'animal</li>
<li>Ne pas fixer l'animal dans les yeux</li>
<li>Parler d'une voix douce</li>
<li>Le laisser renifler</li><br>

<h5 class="Style1">Zone de sécurité :</h5>

<p>L'animal crée autour de lui un espace individuel ou zone de sécurité. Toute violation de cet espace provoque soit une attaque, soit une fuite</p>

<p>C'est la distance à partir de laquelle, l'animal se sent menacé et son comportement va être l'attaque 
(attitude dominant) ou il se laisse approcher et capturer (attitude dominé).</p>

<h5 class="Style1">Consignes opérationnelles :</h5>

<p><strong>Chiens :</strong></p>

<li>Observer le langage corporel</li>
<li>Ne pas porter de couvre chef</li>
<li>Appeler le chien par son nom d'une voix décidée</li>
<li>L'appaêter si nécessaire</li>
<li>Capturer avec un lasso ou la perche, le filet à lancer</li>
<li>Museler le chien</li>

<p><strong>Chats :</strong></p>

<li>Ne pas porter de couvre chef</li>
<li>Parler doucement à l'animal</li>
<li>Donner à manger</li>
<li>Capture a la main : tenir par le cou puis avec les deux pattes arrière tendues</li>
<li>Avec instruments : prendre par le cou, avec l'epuisette, filet a lancer</li><br>

<p><strong>Note : un chat dans un arbre redescend tout seul !</strong></p>

<p><strong>Equidés :</strong></p>

<li>Approche par l'avant, ne pas porter de couvre chef</li>
<li>Lui parler, le nourrir (sucre, pomme) le laisser renifler la main</li>
<li>Le caresser sur le nez</li>
<li>Poser le licol</li>
<li>Zone dangereuse : arrière de la croupe</li><br>

<p><strong>Bovins :</strong></p>

<li>Ne pas porter de couvre chef</li>
<li>Voir attitude</li>
<li>Lui parler</li>
<li>Ne pas fixer dans les yeux</li>
<li>Capture à la main : doigt dans les naseaux, par les cornes, poser le licol</li>
<li>Instrument : crée un périmètre de sécurité (cordages), faire un lasso</li><br>

<p><strong>Serpents :</strong></p>

<li>Ne pas taper du pied (vibrations)</li>
<li>Bien regarder où l'on marche</li>
<li>Tenue de feu complète</li>
<li>Capture à la main si espèce identifiée et sans risque (couleuvre)</li>
<li>Instruments : pince spéciale, bâton à crochet, extincteur CO2</li><br>

<p><strong>Oiseaux :</strong></p>

<li>Approcher l'oiseau par le coté</li>
<li>Aveugler avec une serviette</li>
<li>Le saisir par le bec et ligaturer le bec</li>
<li>Plaquer les ailes contre le corps</li>
<li>Mettre si possible sa tête sous son aile</li><br>

<p><strong>Hyménoptères (nid de guêpes ou frelons) :</strong></p>

<li>Destruction à la tombée de la nuit ou le matin avant le lever du soleil</li>
<li>Pulvériser l'insecticide à l'entrée du nid et sur prois externe puis récupérer dans un sac poubelle</li>
<li>En cas de piqures, le pompier doit être vu par un medecin</li><br>

<p><strong>Essaim d'abeilles :</strong></p>

<li>Demander l'intervention d'un apiculteur</li>
<li>Destruction de l'essaim que si présence d'un péril imminent (école, crêche) ou si possible de le récupérer</li><br>

<p><strong>Bovin ou équidé dans une piscine :</strong></p>

<li>Tenir la tête hors de l'eau</li>
<li>Vider le bassin</li>
<li>Contention de la bête</li>
<li>Construire une rampe ou utiliser un élévateur</li>
<li>Pas d'intervention sans vétérinaire</li><br>

</ion-content>
