<ion-content>

  <h5 class="Style1">M5: Lance à Mousse</h5>

    <li>BAT, BAL, pour l’établissement d’une lance à mousse, en RECONNAISSANCE</li><br>
    <li>Une lance à mousse, point d’attaque..., emplacement du proportionneur..., prise d’eau..., accès..., mission..., ETABLISSEZ</li><br>
    <li>Le BAL est responsable de l’approvisionnement en émulseur</li>

</ion-content>

