<ion-content>

    <h3 align="center" class="Style1">KIT A.E.S</h3>

    <p>Ce kit est indiqué pour toute :</p>

    <li>Piqûre, coupure avec du matériel souillé par du sang</li>
    <li>Projection de sang ou de liquide biologique sanglant sur une peau lésée ou sur les muqueuses (bouche et yeux)</li>

</ion-content>

