<!--
  Generated template for the GdoExerciceducommandementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>GDO & GNR</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

  <h4 class='Style1'>Exercice du Commandement et Conduite des Opérations</h4>

<img src="assets/icon/Guide-de-doctrine-opérationnelle-Exercice-du-commandement-et-conduite-des-opérations.jpg"/><br>

  <p>Ce document a pour objectif d’offrir les grands principes utiles à la conduite de ces interventions.</p>

  <p>Ainsi, après avoir mis en lumière les caractéristiques et particularités d’une opération de secours, ce guide a notamment vocation à offrir les savoirs nécessaires, utiles avant, pendant et après une opération.</p>

  <p>Commander une opération de secours nécessite aussi des qualités de chef, quel que soit son grade.
    Celles-ci s’appréhendent et se développent par un long travail d’apprentissage, d’expérience, d’écoute et de remise en question permanente.
  </p>

  <a href="https://drive.google.com/open?id=1Kxn-OsJ6zZKiEzPfT_Pkj2GMohKveD-R">GDO-exercice-du-commandement-et-conduite-des-operations_VF_03-06-2019</a>

</ion-content>
