prev-plansdintervention-eau {


    .m1-font-13{
        color: rgb(0,0,0);
        font-family: Helvetica;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
      }

    #m1-PRV_plan-text25{
        height: 42px;
        left: 106px;
        line-height: 21px;
        margin-right: 114px;
        text-align: left;
        top: -66px;
        white-space: pre-wrap;
        width: auto;
      }
      
      #m1-PRV_plan-image23{
        height: 38px;
        left: 8px;
        line-height: 38px;
        top: -27px;
        width: 70px;
      }
      
      #m1-PRV_plan-text24{
        height: 21px;
        left: 106px;
        line-height: 21px;
        margin-right: 114px;
        text-align: left;
        top: -55px;
        width: auto;
      }
      
      #m1-PRV_plan-image22{
        height: 50px;
        left: 8px;
        line-height: 50px;
        top: -20px;
        width: 59px;
      }
      
      #m1-PRV_plan-text23{
        height: 21px;
        left: 106px;
        line-height: 21px;
        margin-right: 114px;
        text-align: left;
        top: -46px;
        width: auto;
      }
      
      #m1-PRV_plan-image21{
        height: 59px;
        left: 8px;
        line-height: 59px;
        top: -6px;
        width: 59px;
      }
      
      #m1-PRV_plan-text22{
        height: 21px;
        left: 106px;
        line-height: 21px;
        margin-right: 114px;
        text-align: left;
        top: -33px;
        width: auto;
      }
      
      #m1-PRV_plan-image20{
        height: 61px;
        left: 8px;
        line-height: 61px;
        top: 8px;
        width: 58px;
      }
      
      #m1-PRV_plan-page2-box-scroller{
        border-top-color: transparent;
        border-width: 1px 0px 0px 0px;
        height: 419px;
        left: 0px;
        line-height: 40px;
        margin-right: 0px;
        top: 0px;
        width: auto;
      }
      
      #m1-PRV_plan-page2-box{
        height: 419px;
        left: 0px;
        line-height: 419px;
        margin-right: 0px;
        top: 0px;
        width: auto;
      }
      
      #m1-PRV_plan-page2{
        height: 100.0%;
        left: 0px;
        top: 0px;
        width: 100.0%;
      }

}
