<ion-content>

  <p><img id="m1-PRV_plan-image20" class="m1-clickable m1-image" src="assets/icon/PI.png"/><strong>= Poteau d'incendie</strong></p>

  <p><img id="m1-PRV_plan-image21" class="m1-clickable m1-image" src="assets/icon/BI.png"/><strong>= Bouche d'incendie</strong></p>

 <p><img id="m1-PRV_plan-image22" class="m1-clickable m1-image" src="assets/icon/Point_aspi.png"/><strong>= Point d'aspiration</strong></p>

 <p><img id="m1-PRV_plan-image23" class="m1-clickable m1-image" src="assets/icon/Cuve.png"/><strong>= Résevoir aérien avec quantité</strong></p>


</ion-content>
