<ion-content>

<h5 class="Style1">Sauvetage par l'Exterieur</h5>

<li>Se munit du LSPCC et se rend au lieu désigné<br></li>
<li>Va chercher la victime et l'approche de l'endroit choisi pour l'évacuer<br></li>
<li>Choisit un ou deux points fixes et réalise l'amarrage<br></li>
<li>Installe le dispositif de descente après avoir estimé la hauteur<br></li>
<li>Relie le harnais de la victime à la corde à l'aide du mousqueton<br></li>
<li>Vérifie la fermeture de tous les mousquetons<br></li>
<li>Engage la victime dans la descente sans lâcher le brin libre de la corde<br></li>
<li>Contrôle et régule la descente de la victime</li>

</ion-content>
