<ion-content>

<h5 class="Style1">Etablissement d'une LDV sur colonne sèche ou humide</h5>

  <li>Prend son matériel</li><br>
  <li>Suit le chef dans les étages</li><br>
  <li>Déroule 1 tuyau et raccorde le tuyau du chef au sien</li><br>
  <li>Raccorde son ½ raccord à l’orifice de la colonne sèche au N-1 et ouvre</li><br>
  <li>Vient doubler le chef</li>

</ion-content>
