<ion-content>

  <h5 class="Style1">Etablissement d'une LDV par l'extérieur au moyen de la commande</h5>

    <li>Suit le chef au point où la LDV doit être hissée</li><br>
    <li>Déroule son tuyau et raccorde sa lance</li><br>
    <li>Suit le chef d’agrès dans les étages</li><br>
    <li>Aide l’équipier à hisser la lance et constitue une réserve d’un tuyau</li><br>
    <li>Commande « ouvrez »</li><br>
    <li>Réalise la mission donnée par le chef d’agrès</li><br>

</ion-content>