<!--
  Generated template for the GnrfdfDihDeroulementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DU DIH</h3>

<img src="assets/icon/Capture81.PNG" alt="" />

<h4 class="Style1">DÉROULEMENT CHRONOLOGIQUE D’UNE OPÉRATION</h4>

<p>Une opération se déroule selon la chronologie suivante :</p>

<li>Activation du DIH par le centre opérationnel</li>
<li>Embarquement des personnels</li>
<li>Reconnaissance aérienne des sites, faisabilité de la mission</li>
<li>Création d’une zone d’emport (alimentation des citernes et travail en sling)</li>
<li>Rotation des personnels et matériels sur zone de poser pour les établissements</li>
<li>Attaque et extinction du feu</li>
<li>Noyage</li>
<li>Surveillance selon le cas (falaises, gorges, etc...)</li>
<li>Rotation de retour (personnel et matériel)</li>
<li>Inventaire général</li>
<li>Rentrée du DIH sur le CIS</li>
<li>Compte-rendu</li>


</ion-content>
