<!--
  Generated template for the GnrLspccOperationSauvetageexterieurPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LSPCC</ion-title>
                <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-tabs>
        <ion-tab [root]="tab61Root" tabTitle="Chef d'agrès" tabIcon="tab61"></ion-tab>
        <ion-tab [root]="tab62Root" tabTitle="Chef d'équipe" tabIcon="tab62"></ion-tab>
        <ion-tab [root]="tab63Root" tabTitle="Equipier" tabIcon="tab63"></ion-tab>
        <ion-tab [root]="tab64Root" tabTitle="2e Binôme" tabIcon="tab64"></ion-tab>
    </ion-tabs>

</ion-content>
