<!--
  Generated template for the GnregeExplosiondefumeeDefinitionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">EXPLOSION DE FUMÉES</h3>

<h4 class="Style1">DEFINITION</h4>

<p>Fumées surchauffées, accumulées dans un volume clos, explosant lors d’un apport d’air.</p>

<p><img src="assets/icon/Page-11-Image-11.png" alt="" /><strong>EXPLOSION DE FUMÉES</strong>(Backdraft)</p>

</ion-content>
