<!--
  Generated template for the GnregeConduiteatenirTechniquePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">CONDUITES À TENIR</h3>

<h4 class="Style1">TECHNIQUE DE PROGRESSION ( T.O.O.T.EM. )</h4>

<p><strong>Avant toute pénétration</strong> dans un volume et <strong>lors des progressions</strong>, les intervenants
doivent, à intervalle de temps régulier et à chaque changement de local, respecter la
procédure suivante désignée sous le sigle mnémotechnique de <strong>T.O.O.T.EM.</strong> :

<li><span class="rouge">T</span><strong>oucher</strong>les portes et leurs poignées afin d’estimer
la chaleur radiante</li><br>

<li><span class="rouge">O</span><strong>bserver</strong>tous les signes d’alarme significatifs
pouvant annoncer une explosion de fumées ou un embrasement généralisé éclair</li><br>

<li><span class="rouge">O</span><strong>uvrir</strong>le volume, si les conclusions tirées des
deux actions précédentes l’autorisent, <strong>en veillant à se protéger</strong></li><br>

<li><span class="rouge">T</span><strong>ester</strong>la température des fumées au plafond au
moyen de volumes d’eau projetée en jet diffusé
d’attaque.
Si l’eau retombe sous forme de gouttes, la
température est conventionnelle et le risque
thermique faible.
Si l’eau se vaporise, la température est importante
et le risque est MAXIMAL : refroidir la couche de
fumées en jet diffusé d’attaque</li><br>

<li><span class="rouge">E</span><strong>ngagement</strong><span class="rouge">M</span><strong>inimal</strong>des personnels d’attaque
dans les volumes concernés par le sinistre.
La <strong>progression</strong> des binômes doit se faire par
étape de <strong>1 à 2 mètres</strong> au bout de laquelle un
nouveau test du plafond sera effectué.</li><br>



</ion-content>
