<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>Dimensionner les moyens hydrauliques<br>
</li>
<li>Prévenir le risque explosion avant de procéder à une quelconque vidange<br>
</li>
</ion-content>
