<ion-content>

    <h3 align="center" class="Style1">KIT SINUS</h3>

    <p>L'outil SINUS (Système d'Information Numérique Unique Standardisé) est un outil de dénombrement mis à disposition des SP, des SAMU, et des Forces de l'Ordre</p>

    <p>Il a pour objectifs :</p>

    <li>Le dénombrement précis du nombre de victimes et d'impliqés</li>
    <li>Le partage de la gestion des victimes/impliqés avec les différents services partenaires</li>
    <li>L'accès en temps réel à une liste unique et partagée</li>
    <li>Le suivi du parcours de la victime depuis le lieu de l'accident jusqu'à son traitement juridique et social</li><br>

    <p class="Style1">Il peut être mis en oeuvre avec ou sans activation du plan ORSEC NOVI</p>

    <p>L'outil SINUS est interfacé avec l'outil SIVIC (outil de suivi de la santé). Cet interfaçage informatique permet :</p>

    <li>La récupération par SINUS du dénombrement des arrivées directes en centre hospitalier</li>
    <li>Le transfert dans le SIVIC de toutes les données de SINUS</li><br>

    <p>La composition du kit SINUS est définie dans le recueil des moyens opérationnels</p>

    <img class="centrer" src="assets/icon/kitsinus1.jpg" alt="" /><br>

</ion-content>
