<!--
  Generated template for the GnrAriAugmentationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contraintes Physiologiques</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>Augmentation du Travail du Porteur</h5>

   <ion-list inset>
    <button ion-item *ngFor="let item of list" (click)="itemSelected(item)">
      {{ item.title }}
    </button> 
  </ion-list>

</ion-content>
