<!--
  Generated template for the GnrAriAugmentationEspacemortPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contraintes Physiologiques</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">Augmentation de l’Espace Mort</h5>

<li>Une partie de l’air expiré, riche en CO2, est inspiré à nouveau, donc hyperventilation et sécrétion d’hormones qui vont augmenter la consommation d’air du porteur</li><br>

<p><strong>Rappel :</strong>L'espace mort est le volume restant libre entre les alvéoles pulmonaires et la soupape d’expiration. Le demi-masque réduit l’espace mort</p>

</ion-content>
