<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Risque d’explosion<br>
  </li>
<li>Variété et quantité des produits stockés<br>
  </li>
<li>Risque de pollution selon le produit stocké<br>
</li>
<li>Proximité des autres silos<br>
</li>
</ion-content>
