<ion-content>
    <h3 class="Style1">Signes :</h3>
  
    <ul>
      <li>Visibles :
        <ul>
          <li>Convulsions hypertoniques</li>
          <li>Révulsions des yeux</li>
          <li>Mouvements anrchiques</li>
        </ul>
      </li>
    </ul>
  
  <ul>
    <li> A rechercher :
      <ul>
        <li>Températures</li>
        <li>Rougeurs, Antécédents</li>
      </ul>
    </li>
  </ul>
  </ion-content>