<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Rougeurs, gonflements</li>
        <li>Gênes respiratoires</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>Nombre de piqûres ?</li>
      <li>Guêpes, frelons, abeilles ?</li>
      <li>Localisation des piqûres ?</li>
    </ul>
  </li>
</ul>
</ion-content>