<!--
  Generated template for the NrbcRtnEtiquettesdedangerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>NRBC-RTN</ion-title>
        <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class= "centrer Style1">TMD - ETIQUETTES</h3>

  <img src="assets/icon/500pxADR_1.png"> 1. Danger d'explosion
  <img src="assets/icon/500pxADR_14.png"> 1.4 Matières et objets ne présentant qu'un danger mineur en cas de mise à feu ou d'amorçage durant le transport
  <img src="assets/icon/500pxADR_15.png"> 1.5 Matières très peu sensibles comportant un risque d'explosion en masse
  <img src="assets/icon/500pxADR_16.png"> 1.6 Objets extrêmement peu sensibles ne comportant pas de risque d'explosion en masse
  <img src="assets/icon/500pxADR_21.png"> 2. Gaz inflammables
  <img src="assets/icon/500pxADR_21b.png"> 2. Gaz inflammables
  <img src="assets/icon/500pxADR_22.png"> 2. Gaz non inflammables, non toxiques
  <img src="assets/icon/500pxADR_22b.png"> 2. Gaz non inflammables, non toxiques
  <img src="assets/icon/500pxADR_23.png"> 2. Gaz toxique
  <img src="assets/icon/500pxADR_3.png"> 3. Liquides inflammables
  <img src="assets/icon/500pxADR_3b.png"> 3. Liquides inflammables
  <img src="assets/icon/500pxADR_41.png"> 4.1 Matières solides inflammables, matières autoréactives et matières explosibles désensibilisées
  <img src="assets/icon/500pxADR_42.png"> 4.2 Matières spontanément inflammables
  <img src="assets/icon/500pxADR_43.png"> 4.3 Matières qui, au contact de l'eau, dégagent des gaz inflammables
  <img src="assets/icon/500pxADR_43b.png"> 4.3 Matières qui, au contact de l'eau, dégagent des gaz inflammables
  <img src="assets/icon/500pxADR_51.png"> 5.1 Matières comburantes
  <img src="assets/icon/500pxADR_52.png"> 5.2 Peroxydes organiques
  <img src="assets/icon/500pxADR_52b.png"> 5.2 Peroxydes organiques
  <img src="assets/icon/500pxADR_61.png"> 6.1 Matières toxiques
  <img src="assets/icon/500pxADR_62.png"> 6.2 Matières infectieuses
  <img src="assets/icon/500pxADR_7A.png"> 7.A Matières radioactives
  <img src="assets/icon/500pxADR_7B.png"> 7.B Matières radioactives
  <img src="assets/icon/500pxADR_7C.png"> 7.C Matières radioactives
  <img src="assets/icon/500pxADR_7E.png"> 7.E Matières radioactives
  <img src="assets/icon/500pxADR_8.png"> 8. Matières corrosives
  <img src="assets/icon/500pxADR_9.png"> 9. Matières et objets dangereux divers

</ion-content>
