<ion-content>

  <h3 align="center" class="Style1">Lecteur de Glycémie</h3>

<p>La mesure de glycémie capillaire est réalisée :</p>

<li>Sur toute victime diabétique</li>
<li>En cas de coma, inconscience</li>
<li>En cas de malaise avec ou sans PCI</li>
<li>En cas de sueurs, pâleur, fatigue, céphalées</li>
<li>En cas de troubles neurologiques ou d'allure psychiatrique</li>
<li>En cas d'intoxication médicamenteuse et/ou alcoolique</li>
<li>A la demande du 15</li><br>

<p>Sur avis médical pour les enfants de moins de 5 ans. <strong>CONTRE INDIQUE</strong> pour les nouveau-né (0 à 1 mois)</p>

</ion-content>
