<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Sauvetage/reconnaissance cubique (constructions imbriquées, locaux mitoyens)<br>
    </li>
  <li>Coupure des énergies  (Gaz et  électricité)<br>
    </li>
  <li>Éviter la propagation en façade par un moyen en eau sur EPA (rideau d'eau et non extinction)<br>
    </li>
  <li>Eviter la propagation aux pavillons voisin ou mitoyens<br>
    </li>
  <li>Extinction par l'intérieur (colonne sèche/établissement par l'extérieur ou rampant), avec un minimum d'eau et bonne lecture du feu (risque de backdraft ou flash-over)<br>
  </li>
  <li>Ventilation des gaz chauds et des fumées<br>
  </li>
  <li>Faciliter l'extinction par une ventilation efficace<br>
  </li>
  <li>Déblais et vérification des points chauds résiduels avec la caméra thermique<br>
  </li>
  <li>Surveillance<br>
  </li>
</ion-content>