<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Etendue</li>
        <li>Aspect, localisation</li>
        <li>Profondeur</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>Saignement ?</li>
      <li>Corps étrangers ?</li>
      <li>Cause...</li>
    </ul>
  </li>
</ul>
</ion-content>
