<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>Allonger</li>
        <li>Comprimer (manuellement, point de compression, garrot)</li>
        <li>Oxygèner</li>
        <li>Rassurer</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Plat dos</li>
        <li>Couvrir</li>
        <li>Relever les jambes (si perte de sang)</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Efficacité de la compression</li>
        <li>Contrôle du pouls périphérique</li>
      </ul>
    </li>
  </ul>
</ion-content>
