<!--
  Generated template for the GnretablissementlancesGeneralitesProtectioncollPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>BINOMES</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h5 class="Style1">PROTECTION COLLECTIVE</h5>

    <li>Garder toujours le contact</li>
    <li>Agir en concertation</li>
    <li>Respecter les consignes</li>
    <li>Réfléchir avant d'agir</li>
    <li>Surveiller l'environnement</li>
    <li>Prévenir du danger</li>
    <li>Penser au repli</li>
    <li>Faire passer les messages</li>
    <li>Réaliser la mission et rendre compte</li>


</ion-content>
