<ion-content>
    <h3 class="Style1">OFFICIER CRM-TRANSIT :</h3>
   
    <li>Réceptionne au CRM / Transit les moyens en renfort demandés<br>
    </li>
    <li>Organise le CRM / Transit<br>
    </li>
    <li>Informe l'officier moyens au PCC de l'arrivée des engins (tactique 1/2 avec le PCC)<br>
    </li>
    <li>Veille le canal tactique Sécurité / Accueil 08<br>
    </li>
  </ion-content>