<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Prise de renseignement au PC sécurité (étage, compartiment, cheminements, moyens disponibles, évacuation…)<br>
    </li>
  <li>Laisser un SP chargé d’accueillir les chefs d’agrès et de les acheminer vers le PCA<br>
    </li>
  <li>Regrouper les équipes et le matériel au niveau n-2<br>
    </li>
  <li>S’assurer du bon fonctionnement du dispositif d’extraction des fumées et d’alimentation des colonnes humides<br>
    </li>
  <li>Coupure des énergies à l’étage concerné<br>
  </li>
  <li>Mise en place d’un dispositif d’attaque à partir du niveau n-1<br>
  </li>
</ion-content>
