<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Contact et prise de renseignements avec le service de sécurité<br>
    </li>
  <li>Sauvetage et évacuation du niveau concerné, n+1 et n-1<br>
    </li>
  <li>Regroupement des moyen à n-1<br>
    </li>
  <li>Attaque du sinistre avec lance sur colonne humide<br>
    </li>
</ion-content>
