<ion-content>

    <h3 align="center" class="Style1">Thermomètre</h3>

    <li>Retirer l'enveloppe extérieure de l'étui de protection</li><br>

    <img class="centrer" src="assets/icon/thermometre2.jpg" alt="" /><br>

    <img class="centrer" src="assets/icon/thermometre3.jpg" alt="" /><br>

    <li><u>Voie buccale</u> : placer le thermomètre sous la langue en maintenant la bouche fermée le temps de la mesure</li><br>

    <li><u>Voie axillaire</u> : placer le thermomètre au creux de l'aisselle en plaquant le bras contre le thorax</li><br>

    <li>Le thermomètre s'arrête automatiquement après 10 minutes. Arrêt manuel possible en appuyant sur le bouton marche/arrêt pour economiser la pile</li><br>

    <li>Lire et transmettre le <strong>résultat affiché</strong> au médecin régulateur en precisant la voie utilisée</li><br>

    <img class="centrer" src="assets/icon/thermometre4.jpg" alt="" /><br>

    <li>Retirer la protection du thermomètre</li><br>

    <li>Nettoyer l'extrémité du thermomètre avec une lavette imbibée de produit désinfectant et mettre un etui de protection</li><br>

    <img class="centrer" src="assets/icon/thermometre5.jpg" alt="" /><br>

  </ion-content>
