<ion-content>
  <h3 class="Style1">Bilans :</h3>

  <li>Rechercher si plusieurs victimes ?<br>
    </li>
    <li>Risque pour les sauveteurs ?<br>
    </li>
    <li>Causes ?<br>
    </li>
    <li>Etre attentif au détecteur de CO<br>
    </li>
</ion-content>
