<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>LVAS</li>
        <li>Compression thoraciques + ventilation à l'insufflateur + O2</li>
        <li>Brancher le DSA</li>
        <li>Préparer le système d'aspiration</li>
        <li>Appel SAMU dès le constat de l'arrêt cardio-respiratoire</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Plat dos</li>
        <li>Sur plan horizontal</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Prise de pouls toutes les 2 minutes</li>
      </ul>
    </li>
  </ul>
</ion-content>