<ion-content>
    <h3 class="Style1">Bilans :</h3>
  
    <li>Rechercher la cause et la supprimer<br>
      </li>
      <li>Affiner le lésionnel : étendue, profondeur, localisation de la brûlure<br>
      </li>
      <li>Age de la victime, antécédents médicaux<br>
      </li>
  </ion-content>
