<!--
  Generated template for the GnrLspccReconnaissancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LSPCC</ion-title>
                <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">RECONNAISSANCE D'APPARTEMENT, LOCAUX OU OUVERTURE DE PORTE</h5>

<strong><u>POSSIBILITES</u></strong><br>
<li>Permet la descente d'un sauveteur en partant des étages supérieurs et d'accéder aux étages inférieurs dans le cas où la façade n'est pas accessible aux échelles</li>
<li>Avant de procéder à cette manoeuvre, il convient de déterminer l'itinéraire de sortie du sauveteur</li><br>

<strong><u>LIMITES</u></strong><br>
<li>La hauteur maximale autorisée entre les deux points à atteindre ne doit pas excéder la longueur utile de la corde</li>

<p><img src="assets/icon/GHS-pictogram-exclam.svg.png"/>En présence de difficultés techniques ou de blessures graves, faire appel, en contactant le CODIS, à une autre spécialisée (GRIMP, etc.)</p>

</ion-content>
