<!--
  Generated template for the GnretablissementlancesMessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BINOMES</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">MESSAGES</h5>

<p>Les Messages radios doivent être strucurés. Dans tous les cas, il convient de suivre les canevas suivants :</p>

<p><strong>MESSAGE D'AMBIANCE</strong></p>
<li>Je suis...</li>
<li>Je vois...</li>
<li>Je demande...(renfots)</li><br>

<p><strong>MESSAGE DE RENSEIGNEMENT</strong></p>
<li>Je suis...</li>
<li>Je vois...</li>
<li>Je prévois...</li>
<li>Je fais...</li>
<li>Je demande...</li><br>

</ion-content>
