<!--
  Generated template for the GnrLspccCompositionMousquetonsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MATERIEL</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>MOUSQUETONS</h5>

  <img src="assets/icon/mous.jpg"/><br>

  <li>6 mousquetons symétriques à vis (mousqueton de gauche)</li>
  <li>Charge à la rupture grand axe &gt; 2000 kg</li>
  <li>Charge à la rupture petit axe &lt; à 750 kg</li><br>

<p>En options :</p>
  <li>1 mousqueton à verrouillage automatique</li>
  <li>1 connecteur rapide demi-lune</li><br>
  
  <li>Le lot échelle comprend 9 mousquetons symétriques à vis et 1 à verrouillage automatique</li>

</ion-content>
