<ion-content>
    <h3 class="Style1">PROTECTION DE L'ACCIDENT :</h3>
  
            <li>Placement des engins en protection (Attention aux écoulements de produits)<br>
            </li>
            <li>Balisage visuel<br>
            </li>
            <li>Port des EPI haute visibilité<br>
            </li>
  </ion-content>
