<ion-content>
    <h3 class="Style1">Bilan Lesionnel :</h3>
  
      <h5>Malaise :</h5>
        <li>Interroger la victime<br>
        </li>
        <li>Rechercher les signes de malaise grave<br>
        </li>

      <h5>Traumatisme :</h5>
        <li>Recherche les lésions sans déplacer la victime<br>
        </li>
        <li>Palper de la tête aux pieds<br>
        </li>
  </ion-content>
