<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>S’informer sur la nature de l’élément, son état physique, la quantité, l’activité, la mise en service, le débit de dose, son contenant ?<br>
  </li>
  <li>Gestion des personnels intervenants (SDIS et extérieurs), du temps d’intervention, du risque de contamination par déplacement des agents<br>
  </li>
  <li>Gérer la ventilation des locaux et le risque de propagation de la contamination (VMC, ouvrants, …)<br>
  </li>
</ion-content>
