<!--
  Generated template for the GnrLspccProtectionindPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LSPCC</ion-title>
                <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">PROTECTION INDIVIDUELLE CONTRE LES CHUTES</h5>

<strong><u>POSSIBILITES</u></strong><br>
<li>Parer les chutes du personnel lors de déplacement dans un environnement hostile</li><br>

<strong><u>LIMITES</u></strong><br>
<li>La distance entre les amarrages est déterminée par la hauteur libre sous la personne en progression (tenir compte de l'élasticité de la corde)</li>
<li>La longueur de la corde après le premier point de renvoi doit toujours être inférieure à cette hauteur de manière à pouvoir stopper la chute du sauveteur avant qu'il ne heurte un obstacle</li><br>

<p><img src="assets/icon/GHS-pictogram-exclam.svg.png"/>Les points permettant de s'assurer doivent impérativement être au-dessus ou au même niveau de l'axe de déplacement</p>


</ion-content>
