<!--
  Generated template for the GnrAriOperationpendantControleurPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Procèdure Opérationnelle</ion-title>
            <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>PROCEDURES OPERATIONNELLES AVANT ENGAGEMENT</h5>

<h3 class="Style1"><u>CONTROLEUR</u></h3><br>

<li>Contrôle un seul point d’accès</li>
<li>Supervise au maximum 10 porteurs, soit 5 binômes dont le binôme de sécurité</li>
<li>Fait assurer l’approvisionnement en bouteilles de rechange</li>
<li>Garde toujours à proximité immédiate un binôme prêt à intervenir pour porter secours aux binômes engagés</li>
<li>Reste constamment en relation avec le COS et le tient informé du déroulement de l’opération</li>
<li>Prend les mesures d’urgence en cas de besoin</li><br>

<p><strong>LORSQU’UN SIGNAL SONORE DE DÉTRESSE RETENTIT, TOUS LES BINÔMES ENGAGÉS REJOIGNENT IMMEDIATEMENT LA SORTIE</strong></p>
<p><strong>LE CONTROLEUR ENGAGE IMMÉDIATEMENT LE BINOME DE SÉCURITÉ POUR RETROUVER LE BINOME EN DIFFICULTÉ</strong></p>

</ion-content>
