<!--
  Generated template for the PrevgrosetsecondoeuvrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Gros et Second Oeuvre</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs>
    <ion-tab [root]="tab48Root" tabTitle="DEFINITION" tabIcon="tab48"></ion-tab>
    <ion-tab [root]="tab49Root" tabTitle="STRUCTURES" tabIcon="tab49"></ion-tab>
    <ion-tab [root]="tab50Root" tabTitle="DISTRIBUTION" tabIcon="tab50"></ion-tab>
    <ion-tab [root]="tab51Root" tabTitle="OUVERTURE" tabIcon="tab51"></ion-tab>
  </ion-tabs>
</ion-content>
