<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Prévoir un PRM<br>
  </li>
  <li>Prise en compte du site par rapport au plan ER<br>
  </li>
  <li>Repérer les moyens d’isolation du sinistre afin de conserver la plus grande partie de l’étage concerné<br>
  </li>
  <li>Repérer les voies échelles<br>
  </li>
</ion-content>
