<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Procéder aux sauvetages et à l’évacuation des passagers, le tout protégé par  un moyen mousse important en manœuvre<br>
    </li>
  <li>Identifier le transporteur et déterminer des points d’attaque stratégiques<br>
    </li>
  <li>Réaliser une attaque massive pour réduire les délais d’extinction<br>
    </li>
  <li>Anticiper sur les risques de propagation<br>
    </li>
  <li>Prévoir des moyens mousse et poudre conséquents. Anticiper sur les besoins hydrauliques<br>
  </li>
  <li>Effectuer un tapis de mousse<br>
  </li>
  <li>Effectuer des relevés d’explosimètrie<br>
  </li>
</ion-content>
