<ion-content>

    <h3 align="center" class="Style1">Lecteur de Glycémie</h3>

<li>La date de péremption sera vérifiée avant son utilisation</li><br>

<li>La quantité de sang prélevée sera suffisante pour remplir la barre d'état</li><br>

<li>Le résultat affiché sera transmis au médecin régulateur</li><br>

  </ion-content>
