<ion-content>
  <h3 class="Style1">A proscrire</h3>

  <li>Négliger le risque de contamination<br>
  </li>
  <li>Mauvaise gestion des personnels et témoins exposés au risque<br>
  </li>
</ion-content>
