<ion-content>
    <h3 class="Style1">Stratégie Générale :</h3>
  
    <li>Questionner le responsable de la sécurité<br>
      </li>
    <li>Identifier le foyer, son intensité, sa couleur, son tonnage, le type de métal, sa forme et niveau de division<br>
      </li>
    <li>Ecarter les risques de propagation, sécuriser la zone<br>
      </li>
    <li>Faire le point des moyens d'extinction compatible sur le site<br>
      </li>
  </ion-content>
