<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Repérer les mises à l’eau, les accès les plus courts pour les engins<br>
  </li>
  <li>Amarrage du bateau si possible<br>
  </li>
  <li>Déterminer un point de rassemblement des victimes<br>
  </li>
  <li>Prévoir un point de concentration des secours<br>
  </li>
</ion-content>