<ion-content>
  <h3 class="Style1">MESSAGE D'AMBIANCE :</h3>

  <p>Message à transmettre le plus rapidement possible :</p>

  <li>Je suis...<br>
  </li>
  <li>Je vois...<br>
  </li>
  <li>Je demande... (renforts)<br>
  </li>
</ion-content>
