<!--
  Generated template for the GnrLspccSauvetageexcavationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LSPCC</ion-title>
                <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">SAUVETAGE EN EXCAVATION</h5>

<strong><u>POSSIBILITES</u></strong><br>
<li>Remontée verticale de victimes conscientes ou inconscientes. Pour ce type de sauvetage, on a recours éventuellement au matériel de sauvetage traditionnel en plus du lot de sauvetage (échelle à coulisse...)</li>
<li>En cas de doute sur l'atmosphère respirable se munir d'ARI</li>

<strong><u>LIMITES</u></strong><br>
<li>Le dénivelé maximal autorisé pour la remontée d'une victime par rapport au niveau de sa réception est fixé par la longueur utile de la corde</li><br>

<p><img src="assets/icon/GHS-pictogram-exclam.svg.png"/>En présence de difficultés techniques ou de blessures graves, faire appel, en contactant le CODIS, à une autre équipe spécialisée (GRIMP, etc.)</p>


</ion-content>
