<ion-content>
    <h3 class="Style1">Bilan Vital :</h3>
  
      <h5>Mise en évidence d'une détresse vitale :</h5>
        <li>Hémorragie, LVAS<br>
        </li>

      <h5>Examen rapide des trois fonctions vitales :</h5>
        <li>Conscience<br>
        </li>
        <li>Ventilation<br>
        </li>
        <li>Circulation<br>
        </li>
  </ion-content>
