<!--
  Generated template for the FonctiondupcPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Fonction du PC</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs>
  <ion-tab [root]="tab35Root" tabTitle="OFFICIER CRM" tabIcon="tab35"></ion-tab>
  <ion-tab [root]="tab36Root" tabTitle="OFFICIER TRANS" tabIcon="tab36"></ion-tab>
  <ion-tab [root]="tab37Root" tabTitle="OFFICIER RENS" tabIcon="tab37"></ion-tab>
</ion-tabs>
</ion-content>
