<ion-content>

  <h5 class="Style1">Etablissement d'une LDV par l'extérieur au moyen de la commande</h5>

    <li>Suit le chef au point où la LDV doit être hissée</li><br>
    <li>Déroule ses deux tuyaux et raccorde celui du chef (ne raccord pas à la division)</li><br>
    <li>Suit le chef dans les étages</li><br>
    <li>Envoi la commande au BAL (attention pour envoyer commande) et hisse la lance à l’ordre hissez</li><br>
    <li>Constitue une réserve et amarre le tuyau</li><br>
    <li>Répercute l’ordre « ouvrez »</li><br>
    <li>Double le chef</li><br>

</ion-content>