<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Porter une attention toute particulière sur :<br>
  </li>
  - Les gaines et jonctions en liaison avec les parties atteintes<br>
  - Les vides constitués par les faux plafonds
  
</ion-content>
