<ion-content>

<h5 class="Style1">Sac d'attaque : Etablissement par les communications existantes</h5>

  <li>BAT BAL, pour l’établissement d’une LDV avec le sac d’attaque, en reconnaissance !</li><br>
  <li>BAL, le sac d'attaque… prise d'eau…cheminement…Etablissez !</li><br>
  <li>BAT, LDV 500…point d’attaque…mission… prise d’eau…cheminement…Etablissez !</li><br>

</ion-content>