<ion-content>

    <h5 class="Style1">Point Fixe Humain</h5>
    
    <li>S'équipe du harnais<br></li>
    <li>Installe le descendeur sur le harnais<br></li>
    <li>Régule la descente sur ordre du chef<br></li>
    
    </ion-content>
