<ion-content>

  <li>Le nombre et la largeur des issues de secours dans les établissements sont déterminés par rapport aux nombres de personnes à évacuer</li><br>
  <li>La règle de base est l'évacuation totale de l'immeuble. Toutefois, il existe des cas particuliers :</li>
  <ol>- Les hôpitaux et maisons de retraite où l'évacuation des personnes se fait horizontalement à l'aide des zones protégées (zones U10, J10)</ol>
  <ol>- Les personnes en situation de handicap (personnes en fauteuil roulant, avec un déambulatoire, mal voyant, etc.). On parle alors d'évacuation différée puisque ces personnes doivent regagner un espace protégé du feu le temps que les secours assurent la mise en sécurité. L'emplacement des zones protégées est précisé sur les plans d'intervention</ol>

</ion-content>