<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Attaque offensive par percée de flanc<br>
    </li>
  <li>Prévoir plusiuers passages avec les CCF :<br>
    <ol>1-Rabattre les flammes</ol>
    <ol>2-Parfaire l'extinction</ol>
    <ol>3-Extinction confirmée</ol>
  </li>
  <li>Prévoir des porteurs d'eau<br>
    </li>
  <li>Prendre en compte le sens et la force du vent<br>
    </li>
  <li>Prévoir une ligne d'arrêt si risque de propagation et déplacement rapide (vents)<br>
  </li>
</ion-content>