<!--
  Generated template for the GnretablissementlancesReglesdebasePrisedeauPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BINOMES</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">LA PRISE D'EAU</h5>

  <p>Le commandement d'exécution d'une lance doit toujours indiquer son point d'attaque et sa prise d'eau</p><br>

  <p>Les prises d’eau peuvent être :</p>
  <li>Les Reconnaissances</li>
  <li>Les Sauvetages</li>
  <li>Les Etablissements</li>
  <li>L’Attaque</li>
  <li>La Protection</li>
  <li>Le Déblai</li>
  <li>La Surveillance</li>

  <p>UNE LANCE EST TOUJOURS ALIMENTEE PAR UNE PRISE D’EAU !</p>

</ion-content>
