<!--
  Generated template for the GnretablissementlancesSacdattaqueMaterielPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>BINOMES</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">SAC D'ATTAQUE : MATERIEL</h5>

<li>Sac de 25 kg environ avec deux poignées de transport sur les côtés et 2 poignées de transport sur les faces avant et arrière (rouge côté feu, vert côté sortie)</li><br>
<li>Une LDV 500 raccordée sur le 1er tuyau</li><br>
<li>3 tuyaux de 45 x 20m en Z (le premier tuyau peut être en O également)</li><br>
<li>Une sangle au milieu du premier tuyau (si en Z) pour effectuer la réserve</li><br>
<li>Eventuellement des cales et sangle d’amarrage</li><br>

</ion-content>
