<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>S’assurer de la stabilité du bateau avant d’engager son personnel<br>
</li>
<li>Sécurité du personnel assurée par les plongeurs<br>
</li>
</ion-content>
