<ion-content>
    <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Pavillonarriere1.png"/>
    <div id="m1-demiPavAvant-text4">
      1. Baisser ou casser les vitres avant<br>
      2. (Couper les montants A)<br>
      3. Découpe du pare-prise<br>
  </div>
</ion-content>
