<!--
  Generated template for the GnrfdfDihPrincipePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DU DIH</h3>

<img src="assets/icon/Capture81.PNG" alt="" />

<h4 class="Style1">PRINCIPES D’UTILISATION</h4>

<p>Le DIH intervient par voie aérienne en complément des moyens de lutte terrestre ou à leur place
lorsque le foyer se trouve sur un site difficile d’accès pour les engins de lutte, voire inaccessible
ou éloigné (cas des îles par exemple).
<strong>2 appareils sont souhaitables pour effectuer une mission opérationnelle.</strong></p>

<p>De par la formation reçue par les personnels le composant, le DIH peut effectuer ses missions
à partir de différents types d’hélicoptères de la sécurité civile ou d’appareils en location par les
SDIS affectés à la lutte contre les feux de forêts. Il peut être hélitreuillé.</p>

<p>Les matériels utilisés (citernes souples, motopompes de relais, tuyaux, etc.) sont transportés
dans un filet ou panier sous l’hélicoptère (sling).</p>

<h5>Organisation générale de la manoeuvre</h5>

<p>Le COS donne mission au chef du DIH qui effectue, avec le ou les équipages d’hélicoptère, une
reconnaissance aérienne approfondie de la zone d’intervention afin de déterminer la faisabilité
de l’opération. Après concertation, le COS valide ou pas la mission.</p>

<p>Le chef DIH et son adjoint désignent l’emplacement de la zone d’emport, de la zone de poser et
d’attaque, de la zone de repli possible et donnent aux personnels et aux équipages, l’idée de
manoeuvre.</p>

<p>Le personnel de lutte (au moins 2 équipes de 4 hommes plus le chef du DIH et/ou son adjoint)
est déposé par hélicoptère sur un site le plus judicieux (sur un piton à faible végétation ou une
pente descendante à l’abri d’une propagation rapide et/ou à l’abri du vent). En fonction de
l’intervention, il est possible de renforcer le nombre des équipes de lutte.</p>

<p>Par rotations successives et rapides, l’hélicoptère dépose sur la zone de poser et d’attaque, par
sling, le matériel d’extinction nécessaire aux équipes de lutte suivi de la dépose de citernes
souples en fonction de la possibilité de l’appareil.</p>

<p>La noria de ravitaillement en eau par citerne souple doit être régulière et constante. Elle est
fonction de la quantité d’eau utilisée pour fixer et maîtriser le feu et nécessite une disponibilité
permanente d’un appareil.</p>

<p>Pour éviter des établissements de grande longueur et chaque fois que cela est possible, il est
préférable, en fonction de l’évolution du feu, de déplacer les zones de poser et d’attaque au plus
près de l’incendie.</p>

<p>L’établissement est réalisé de préférence du haut vers le bas pour éviter les pertes de charge.</p>

<h5>Dévidoir aérien</h5>

<p>Le dévidoir aérien de 45 et/ou de 70 permet d’assurer une permanence de l’eau et une meilleure
sécurité des équipes au sol par rapport aux rotations des citernes souples, en particulier lorsque
l’intervention est de longue durée.</p>

<p>Selon la longueur de l’établissement à mettre en place, il est possible de réaliser un
prolongement avec un autre dévidoir aérien armé de tuyaux de même diamètre ou de diamètre
différent (tuyaux de Ø de 70 mm prolongés par des tuyaux de Ø 45). Toutefois, la présence d’un
équipier DIH est nécessaire pour raccorder les tuyaux et/ou placer la motopompe de relais.</p>

<h5>Sécurité des personnels du DIH</h5>

<p><u><strong>Avant l’opération (DZ, aéroport)</strong></u></p>

<p>Rappel au personnel des consignes de sécurité par le chef du DIH ou son adjoint et par les
équipages sur :</p>

<li>L’environnement extérieur (mouvements d’aéronefs, etc...)</li>
<li>L’approche et l’embarquement dans un aéronef</li>
<li>La conduite à tenir pendant le vol et lors du débarquement</li><br>

<p><u><strong>En opération</strong></u></p>

<p>Chaque <strong>sapeur-pompier</strong> veille à sa propre sécurité et avertit son chef d’équipe d’un danger
imminent ou potentiel visible.</p>

<p>Chaque <strong>chef d’équipe</strong> veille à la sécurité des personnels et fait respecter les consignes du chef
du DIH ou de son adjoint.</p>

<p>Le <strong>chef d’équipe</strong> rend compte de toute anomalie dans le domaine de la sécurité et propose au
chef du DIH ou à son adjoint une relève d’une partie du personnel si le besoin s’en fait sentir.</p>

<p><strong>L’adjoint du chef</strong> du DIH assure le ravitaillement des personnels (vivres et eau potable).</p>

<p><u><strong>Sécurité des personnels par voie aérienne</strong></u></p>

<p>Durant la phase d’engagement du DIH et chaque fois que la situation l’exige, un hélicoptère
(avec ou sans un cadre du DIH) veille à la sécurité générale en vol en jouant le rôle de
« sonnette » (comme pour un établissement de grande longueur).</p>

<p>Cet hélicoptère peut, à tout moment, en plus de sa mission guidage/sécurité du DIH, récupérer
du personnel menacé par le feu.</p>

<p>Pendant les rotations (personnels, matériels et citernes), chaque équipage veille à la sécurité
des personnels au sol (évolution du feu, danger non visible du sol, etc...) et prend les décisions
d’urgence qui s’imposent (guidage radio, largages ABE/HBE, récupération) en concertation avec
le chef du DIH ou son adjoint.</p>

<p>Le chef du DIH avertit le personnel d’attaque lors des largages (ABE/HBE) de manière à
respecter les consignes de sécurité.</p>

<h5>Rôle et mission du sapeur-pompier accrocheur</h5>

<p>Le sapeur-pompier accrocheur est chargé de l’accrochage de la charge sous l’hélicoptère.</p>

<p><u><strong>Avant le départ en opération</strong></u></p>

<p>Il vérifie et contrôle son matériel dans la berce (longes de 3 M, de 6 M, élingues, manilles, filets,
etc...)</p>

<p><u><strong>A l’arrivée</strong></u></p>

<p>Il doit :</p>

<li>Recevoir ses ordres du chef de la ZE</li>
<li>Assister au briefing sécurité avec les équipages</li>
<li>Préparer son matériel</li>
<li>Se mettre en tenue adaptée (chasuble, casque, gants...)</li><br>

<p><u><strong>Pendant l’opération</strong></u></p>

<p>Il doit :</p>

<li>Rester en liaison visuelle avec le Chef de ZE et le guideur</li>
<li>Assurer sa propre sécurité par rapport aux hélicoptères</li>
<li>Vérifier que la charge soit bien accrochée</li>
<li>Rendre compte au chef de la ZE (anomalie, fatigue, etc...)</li><br>

<p><u><strong>En fin d’opération</strong></u></p>

<p>Il doit :</p>

<li>Contrôler son matériel après utilisation</li>
<li>Faire l’inventaire du matériel</li>
<li>Rendre compte au chef de la ZE</li><br>

<p><u><strong>Sécurité générale pour le sapeur-pompier accrocheur : travail en sling</strong></u></p>

<p>La phase de l’accrochage sous l’hélicoptère doit être la plus courte possible.</p>

<p>Dès l’accrochage de la charge réalisée et sa vérification terminée, le sapeur-pompier accrocheur
se porte à l’avant de l’hélicoptère, à côté du guideur, de façon à être vu par le pilote.</p>

<p>Durant l’accrochage, tout incident mécanique ou autre survenant sur l’hélicoptère est signalé par
le pilote par la mise en marche de la sirène. Dans ce cas, le sapeur-pompier accrocheur doit
évacuer immédiatement vers l’avant de l’appareil.</p>

<p>Durant la phase opérationnelle des norias, le sapeur-pompier accrocheur doit être très vigilant
aux mouvements des appareils. Pour éviter un phénomène de routine, le chef de la ZE le
remplacera au vu de l’état de fatigue ou sur sa demande.</p>

<p>A chaque opération, le sapeur-pompier accrocheur doit penser à la présence possible
d’électricité statique sur l’appareil. Pour éviter un risque de brûlure, le port de gants est
obligatoire. Chaque fois que cela est possible, le pilote touchera le sol avec son appareil pour
supprimer ce risque électrostatique.</p>

<p>Lors du contrôle de l’état du matériel ou des agrès (longe, élingue, manille, filet, etc...), un défaut
constaté ou un doute sur leur fiabilité entraîne leur remplacement.</p>

<p class="centrer"><strong>RÉALISATION DE LA ZONE D’EMPORT (ZE)</strong></p>

<p>Commandement du chef de la zone d’emport : “ Pour la réalisation de la zone d’emport, exécutez ”</p>

<p><img src="assets/icon/Capture83.PNG" alt="" /><strong>Le chef de la ZE (chef d’équipe N° 1) désigne l’emplacement, le nombre, la capacité des matériels aérotransportables.</strong></p>

<p class="centrer"><strong>RÉALISATION DE LA ZONE D’EMPORT</strong></p>

<img src="assets/icon/Capture84.PNG" alt="" /><br>

<p class="centrer"><strong>PRINCIPES DE FONCTIONNEMENT OPÉRATIONNEL DES ZONES DE POSER ET D’ATTAQUE</strong></p>

<p><img src="assets/icon/Capture85.PNG" alt="" />le contact radio doit être permanent entre les équipages des hélicoptères, les différentes équipes et le chef DIH ou son adjoint.</p><br>

<h5>MANOEUVRE DU DEVIDOIR AÉRIEN DE 45 ET/OU DE 70</h5>

<p>La manoeuvre du dévidoir aérien de 45 et/ou de 70 permet l’établissement de tuyaux de Ø 45
mm et/ou Ø 70 mm lovés en écheveau dans un panier métallique suspendu sous l’appareil.
L’hélicoptère établit depuis le point d’arrêt des CCF vers un site éloigné et/ou difficile d’accès
dans un minimum de temps.</p>

<p>L’hélicoptère récupère, en sling depuis la zone d’emport, le dévidoir aérien. Celui-ci est
accroché sous l’hélicoptère par la longe reliée aux quatre élingues et manilles.</p>

<p>L’hélicoptère vient se placer en stationnaire au-dessus du CCF qui refoulera dans
l’établissement.</p>

<p>L’équipage du CCF récupère le premier ½ raccord contenu dans le panier métallique pour le
raccorder à un ou deux tuyaux déjà déroulés au sol dont une extrémité sert de tour mort. Ce
dispositif permet la tension des tuyaux qui se déroulent lors du déplacement de l’hélicoptère.</p>

<p>En liaison radio, le chef de la manoeuvre d’établissement du dévidoir aérien précise au pilote
qu’il peut se diriger, en douceur, vers le point d’attaque ou le point d’alimentation.</p>

<p>Le dévidoir se dévide normalement et les tuyaux se posent sur la végétation existante qui peut
atteindre 10 ou 20 m de haut (cas des arbres).</p>

<p class="centrer"><strong>ÉTABLISSEMENT A L’AIDE DU DÉVIDOIR AÉRIEN (DA)</strong></p>

<p>Commandement du chef de la zone d’emport : « Pour l’établissement de tuyaux de 45 ou de 70 au moyen du dévidoir aérien, établissez. »</p>

<p><img src="assets/icon/Capture86.PNG" alt="" />Pour des questions de sécurité le contact radio doit être permanent entre les équipages des hélicoptères, des différentes équipes et le chef DIH ou
son adjoint.</p>

<p class="centrer"><strong>Schéma de principe du dévidoir aérien de 45 et /ou 70</strong></p>

<img src="assets/icon/Capture87.PNG" alt="" /><br>

</ion-content>
