<!--
  Generated template for the MenuIncPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>INC</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h4 class="titre-categorie-inc">INCENDIE</h4>

    <ion-list inset>
        <button ion-item *ngFor="let item of list" (click)="itemSelected(item)">
        <fa-icon name="fire-extinguisher"></fa-icon>
          {{ item.title }}
        </button>
      </ion-list>
</ion-content>
