<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Email</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <!--<div padding>
    <ion-item>
      <ion-label color="primary" stacked>De:</ion-label>
      <ion-input [(ngModel)]="to" type="email" aria-placeholder="To"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Sujet:</ion-label>
      <ion-input [(ngModel)]="subject" type="text" aria-placeholder="Type your Subject"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked>Text:</ion-label>
        <ion-input [(ngModel)]="body" type="text" aria-placeholder="Type your Body"></ion-input>
      </ion-item>
  <button ion-button block (click)="send()">Envoyer</button>
  </div>-->

  <p>Cette application sera régulièrement mise à jour dans la mersure du possible avec des compléments d’informations et guides.</p>

  <p>Bien que cette application ait fait l'objet de plusieurs relectures, il est fort probable qu'il subsiste des erreurs.
    Nous vous remercions de votre indulgence et vous invitons à nous faire part de vos remarques pour faire évoluer cette application dans le bon sens.</p>

  <p><strong>N'hésitez pas à envoyer un mail à l'auteur si vous avez un commentaire, une suggestion ou une question.</strong></p>

  <h5><a href="mailto:emifrog@yahoo.fr">Envoyer un email pour toutes suggestions ou questions</a></h5>

</ion-content>