<!--
  Generated template for the GnrfdfUiffOffensivesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DE L’UIFF et DE L’ULIFF</h3>

<img src="assets/icon/Capture54.PNG" alt="" />

<h4 class="Style1">MANOEUVRES OFFENSIVES</h4>

<p>L’emploi des moyens terrestres composant l’UIFF et, jusqu’à une certaine mesure, leurs
caractéristiques techniques sont liés au relief du massif forestier, à la nature des sols et de la
végétation, à l’aspect évolutif du feu.</p>

<p><strong>La technique d’intervention privilégiée est le plus souvent offensive et essentiellement
mobile.</strong></p>

<p>Elle consiste à abattre les flammes au moyen d’une lance, jet droit, établie depuis la cabine du
1er CCF en progression. Le porte-lance est situé en cabine et manoeuvre la lance par le toit
ouvrant.</p>

<p>Le 2ème CCF en progression complète l’extinction au moyen d’une lance établie depuis la
cabine en jet droit ou diffusé.</p>

<p>Une 2ème unité feux de forêts peut suivre la progression de la première pour parfaire l’extinction
ou la remplacer dès qu’il est nécessaire d’effectuer une noria.</p>

<p><img src="assets/icon/Capture73.PNG" alt="" /><strong>Technique d’intervention offensive de l’UIFF</strong></p><br>

<p><img src="assets/icon/Capture74.PNG" alt="" /><strong>Technique d’intervention offensive de l’ULIFF</strong></p><br>

<p>Les unités d’intervention feux de forêts <strong>peuvent être regroupées</strong>, avec ou sans le soutien de
camions citernes grande capacité, afin d’établir une ligne d’appui dynamique.</p>

<p>Les lances sont établies en cabine, les portes lances manoeuvrent par le toit ouvrant. Le
dispositif conserve ainsi sa capacité de mobilité. Pour réaliser les manoeuvres offensives
(attaque de front, attaque de flanc, attaque par percée de flanc) suivant l’intensité du foyer, des
lances canons peuvent être mises en oeuvre.</p>

<p>Dans certains cas de figures, l’extinction nécessite <strong>la réalisation d’établissements de tuyaux.</strong></p>

<p><img src="assets/icon/Capture75.PNG" alt="" /><strong>Etablissement d’une ligne d’appui dynamique</strong></p>



</ion-content>
