<ion-content>

  <h3 align="center" class="Style1">KIT Section de Membres</h3>

<p>Le mebre sectionné ne doit jamais être mis en contact direct avec la glace, cela pourrait entraîner des gelures pouvant compromettre sa ré-implantation</p>

</ion-content>
