<ion-header>
  <ion-navbar color="danger">
    <ion-title *ngIf="!isSearchbarOpened">
      Accueil
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="openEmail()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">

  <h3 text-center>Memento Sapeurs-Pompiers 06</h3>

  <p>
    Cette Application est à destination de tous les Sapeurs Pompiers. Elle permet d'avoir sur soi une fiche des differentes manoeuvres et doctrines SP.
  </p>

    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let c of cat">
          <ion-card (click)="openPage(c)">
            <img src="{{c.img}}"/>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
