<ion-content>

  <h3 align="center" class="Style1">ATTELLE CERVICO-THORACIQUE</h3>

  <li>Le non-respect de la technique est susceptible d'aggraver une lésion de la colonne vertébrale</li><br>

  <li>Des sangles thorasiques trop serrées sont susceptible de créer ou d'aggraver une détresse respiratoire</li><br>

  <h5><u>Cas Particulier</u></h5>

  <li>Chez la femme enceinte, au cours des derniers mois de grossesse, ne fixer la sangle thoracique inférieure</li><br>

  <li>Chez une victime qui présente un traumatisme du thorax, ne pas serrer la sangle thoracique supérieure pour ne pas limiter la respiration de la victime</li><br>

  <li>Chez une victime qui présente une suspicion de fracture du fémur, ne pas placer la sangle de cuisse correspondante</li><br>

  <li>Chez l'enfant, il est possible de rouler une couverture ou plier le coussin devant le thorax et l'abdomen afin de combler les espaces pour une immobilisation parfaite</li><br>

</ion-content>
