<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Risque de fissure du conduit, par la chaleur ou choc thermique<br>
  </li>
<li>Risque de propagation par conduction<br>
  </li>
<li>Risque d’intoxication, Ultérieure, au CO<br>
</li>
</ion-content>
