<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>Dégagement d'urgence ?</li>
        <li>Bilans</li>
        <li>Ventiler les locaux</li>
        <li>Oxygène</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Plat dos</li>
        <li>PLS si inconscient</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Fonctions vitales</li>
      </ul>
    </li>
  </ul>
</ion-content>