<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Mise en place d’un moyen de repli pour le personnel engagé<br>
  </li>
  <li>Reconnaître les structures permettant une protection du personnel<br>
  </li>
</ion-content>