<ion-content>
  <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/TableauBord2.png"/>
  
<div id="m1-demiPavAvant-text">

  4. Insérer l'écarteur dans la brèche<br>
  5. En appui sur la partie basse, soulever le tableau de bord lentement<br>

</div>
        
</ion-content>
