<ion-content>

  <h5 class="Style1">M3: Etablissement d'une lance sur prise d'eau</h5>
  
    <li>Le BAT, pour l’établissement d’une lance, en reconnaissance</li><br>
    <li>Une lance 500 l/mn, point d’attaque..., prise d’eau..., accès..., mission..., ETABLISSEZ !</li><br>
  
  </ion-content>
