<ion-content>
    <h3 class="Style1">Actions :</h3>

    <li>Sauvetage/reconnaissance cubique (constructions imbriquées, locaux mitoyens)<br>
      </li>
    <li>Évacuation des appartements contigus et superposés, générale au besoin<br>
      </li>
    <li>Coupure des énergies (Gaz et  électricité sur pallié)<br>
      </li>
    <li>Éviter la propagation en façade par un moyen en eau sur EPA (rideau d'eau et non extinction)<br>
      </li>
    <li>Extinction par l'intérieur (colonne sèche/établissement par l'extérieur ou rampant), avec un minimum d'eau et bonne lecture du feu (risque de backdraft ou flash-over)<br>
    </li>
    <li>Ventilation des gaz chauds et des fumées dans les parties supérieures et horizontales du bâtiment (escaliers, gaines techniques, ascenseurs, appartements)<br>
    </li>
    <li>Faciliter l'extinction par une ventilation efficace de l'appartement concerné<br>
    </li>
</ion-content>
    
    