<ion-content>

    <h3>Résistance au feu des structures</h3>
<p>(Evaluations ci-dessous) :</p>
<table width="100%" borde="1">
  <tr>
    <th width="11%" scope="col">Matériaux</th>
    <th width="17%" scope="col">D.</th>
    <th width="72%" scope="col">R.</th>
  </tr>
  <tr>
    <th rowspan="5" scope="row">Paroi en béton</th>
    <td>5cm<br /></td>
    <td>CF 1/2h<br /></td>
  </tr>
  <tr>
    <td> 5cm + enduit plâtre</td>
    <td>CF 1h</td>
  </tr>
  <tr>
    <td>7cm</td>
    <td>CF 1h</td>
  </tr>
  <tr>
    <td>11cm</td>
    <td>CF 2h</td>
  </tr>
  <tr>
    <td>15cm</td>
    <td>CF 3h</td>
  </tr>
  <tr>
    <th rowspan="4" scope="row">Paroi en briques creuses</th>
    <td>8cm avec 1cm plâtre</td>
    <td>CF 1h</td>
  </tr>
  <tr>
    <td>11cm avec 1cm plâtre</td>
    <td>CF 2h</td>
  </tr>
  <tr>
    <td>      15cm avec 1cm plâtre<br /></td>
    <td>      CF 3h<br /></td>
  </tr>
  <tr>
    <td>20cm avec 1cm plâtre</td>
    <td>CF 4h</td>
  </tr>
  <tr>
    <th rowspan="2" scope="row">Paroi briques pleines</th>
    <td>6 cm avec 1cm plâtre<br /></td>
    <td>CF 1h30<br /></td>
  </tr>
  <tr>
    <td>10 cm avec 1cm plâtre</td>
    <td>CF 3h</td>
  </tr>
  <tr>
    <th rowspan="3" scope="row">Parpaings pleins</th>
    <td>10cm<br /></td>
    <td>CF 2h<br /></td>
  </tr>
  <tr>
    <td>15cm</td>
    <td>CF 4h</td>
  </tr>
  <tr>
    <td>20cm</td>
    <td>CF 6h</td>
  </tr>
  <tr>
    <th rowspan="2" scope="row">Parpaings creux</th>
    <td>15cm<br /></td>
    <td>CF 2h<br /></td>
  </tr>
  <tr>
    <td>20cm</td>
    <td>CF 3h</td>
  </tr>
  <tr>
    <th rowspan="5" scope="row">Poteau en béton</th>
    <td>15cm x 15cm<br /></td>
    <td>SF 1/2h<br /></td>
  </tr>
  <tr>
    <td>20cm x 20cm</td>
    <td>SF 1h</td>
  </tr>
  <tr>
    <td>24cm x 24cm</td>
    <td>SF 1h30</td>
  </tr>
  <tr>
    <td>30cm x 30cm</td>
    <td>SF 2h</td>
  </tr>
  <tr>
    <td>36cm x 36cm</td>
    <td>SF 3h</td>
  </tr>
  <tr>
    <th rowspan="3" scope="row">Poteau bois</th>
    <td>Chêne 15 x 15cm, charge maxi de 10kn<br /></td>
    <td>SF 1/2h<br /></td>
  </tr>
  <tr>
    <td>Pin 18 x 20cm, charge maxi 18Kn</td>
    <td>SF 1/2h</td>
  </tr>
  <tr>
    <td>Lamellé-collé 18 x 20 cm, charge maxi 18kN</td>
    <td>SF 1/2h</td>
  </tr>
  <tr>
    <th scope="row">Poutre</th>
    <td>Lamellé-collé 65 x 21, longueur &lt;3.60m, Charge &lt;9.5kN</td>
    <td>SF 1h</td>
  </tr>
  <tr>
    <th rowspan="3" scope="row">Plancher bois</th>
    <td>Solives toutes épaisseurs, plénum de 30cm, parement BA13</td>
    <td>CF 1/4h</td>
  </tr>
  <tr>
    <td>Solives toutes épaisseurs, plénum de 30cm avec laine minérale, parement BA15</td>
    <td>CF 1/2h</td>
  </tr>
  <tr>
    <td>Solives &gt;222x70mm, platelage 30mm, plénum 30cm, parement BA13</td>
    <td>CF 1h</td>
  </tr>
  <tr>
    <th rowspan="6" scope="row">Plancher béton</th>
    <td>Poutrelles béton, chape béton &gt;4cm, parement BA13</td>
    <td>CF 1/2h</td>
  </tr>
  <tr>
    <td>Poutrelles béton, chape béton &gt;4cm, projection directe de 13mm plâtre</td>
    <td>CF 1h</td>
  </tr>
  <tr>
    <td>Poutrelles béton, chape béton &gt;4cm, projection directe de 16mm plâtre</td>
    <td>CF 2h</td>
  </tr>
  <tr>
    <td>Plancher collaborant &gt;10cm ou dalle béton &gt;7cm</td>
    <td>CF 1/2h</td>
  </tr>
  <tr>
    <td>Plancher collaborant &gt;10cm ou dalle béton &gt;7cm + ba13 avec recouvrement joints</td>
    <td>CF 1h</td>
  </tr>
  <tr>
    <td>Plancher collaborant &gt;10cm ou dalle béton &gt;7cm + 2 couches ba13 avec recouvrement joints</td>
    <td>CF 2h</td>
  </tr>
</table>

</ion-content>
