<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Liés aux sens du vent<br>
  </li>
  <li>Périmètre de sécurité de 100 mètres avec zonage à priori. 500 mètres si risque d’explosion<br>
  </li>
  <li>Réglementer l’accès au site<br>
  </li>
  <li>Prévoir un PRM<br>
  </li>
</ion-content>
