<ion-content>

<h5 class="Style1">Etablissement d'une LDV sur colonne sèche ou humide</h5>

  <li>BAT, pour l’établissement d’une LDV à R+ … sur colonne sèche, BAL pour l’alimentation d’une colonne sèche…En reconnaissance !</li><br>
  <li>BAL, alimentation de la colonne sèche, orifice de la colonne sèche, prise d’eau, établissez !</li><br>

<p>Le chef d’agrès et le BAT se rendent au N-1 par l’escalier (ou N-2 par l’ascenseur prioritaire) pour constituer le parc matériel. Le chef d’agrès peut également déclencher le désenfumage de la cage d’escalier, la porte d’accès au RDC devra impérativement rester ouverte.</p><br>

<p>Il est recommandé que le chef d’agrès emporte le LSPCC et fait ouvrir un réseau tactique 3-4 avec son engin et les engins suivants en renforts</p>

</ion-content>