<ion-content>

  <h3 align="center" class="Style1">ATTELLE CERVICO-THORACIQUE</h3>

  <li>L'attelle cervico-thoracique est utilisée pour immobiliser la tête et la nuque d'une victime assise ou dans un espace restreint,
    lorsqu'un traumatisme de la colonne vertébrale est suspecté, avant d'allonger la victime et de l'immobiliser complètement sur un plan dur
  </li><br>

  <li>Elle permet de limiter considérablement les risques d'aggravation au cours des différentes manipulations</li><br>

  <li>Chez l'enfant, l'ACT peut-être utilisé pour procéder à l'immobilisation générale du corps</li><br>

</ion-content>
