<!--
  Generated template for the GnregeEnvironnementScenarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">ENVIRONNEMENT</h3>

<h4 class="Style1">SCENARIO TYPE D'UN INCENDIE DANS UN VOLUME</h4>

<p>C’est l’étude de l’interaction des divers éléments précités pendant les premiers instants du
développement de l’incendie.</p>

<p>Pour une raison quelconque, un des matériaux combustibles du volume entre en contact
avec une source d’ignition et s’enflamme.</p>

<h5>Combustible</h5>

<p>Seul un objet brûle, les autres éléments combustibles n’étant pas touchés. La quantité de
gaz de pyrolyse n’est pas significative.</p>

<h5>Comburant</h5>

<p>Le feu consomme l’oxygène qui, à cet instant, est en quantité suffisante pour entretenir la
réaction de combustion.</p>

<h5>Énergie libérée par le feu</h5>

<p>Le feu est de faible importance, l’énergie transportée par convection vers le haut
s’accumule au niveau du plafond.</p>

<p>Le rayonnement émis échauffe les objets combustibles immédiatement voisins du feu.</p>

<h5><u>Scénario de croissance</u></h5>

<p>Les objets atteints par le rayonnement initial s’échauffent, distillent et s’enflamment de
proche en proche. Le foyer prend de l’importance.</p>

<p>La quantité de chaleur libérée augmente et la température du local s’élève
progressivement. Dans le même temps, la quantité des fumées produites est de plus en
plus importante et s’accumule dans la partie haute du volume.</p>

<p><img src="assets/icon/Page-9-Image-7.png" alt="" /><strong>Scénario de croissance</strong></p><br>

<p>Pour se développer d’avantage, le feu nécessite la mise en place d’un cycle d’échanges
entre l’intérieur et l’extérieur du volume.</p>

<h5>Échanges au cours d’un incendie</h5>

<p>Pour le développement de l’incendie, doivent s’établir :</p><br>

<li>Des échanges de <strong>matières</strong> (comburant et combustible) : de l’air frais (comburant) doit
arriver au niveau du foyer pour entretenir la réaction de combustion des gaz de
pyrolyse issus des matériaux chauffés (combustible)</li>

<li>Des échanges <strong>d’énergie</strong> (chaleur) : sous l’effet de la convection, les gaz chauds
s’accumulent au plafond, transmettant leur chaleur aux parois qui s’échauffent. La
température du volume augmente de plus en plus rapidement.</li>

<p>Les échanges sont conditionnés par les normes et méthodes de construction qui font
apparaître deux paramètres importants :</p><br>

<li>Une <strong>isolation thermique</strong> qui freine la déperdition de calories, contribuant à concentrer
la chaleur dans le volume</li>

<li>Une <strong>circulation d’air</strong> qui, par son renouvellement, contribue, d’une part, à amener un
peu d’air frais au foyer et, d’autre part, à propager les fumées et les gaz chauds dans
d’autres volumes.</li>

<p><img src="assets/icon/Page-10-Image-8.png" alt="" /><strong>Cycle des échanges en volume semi-ouvert : portes et fenêtres ouvertes</strong></p><br>

<p class=Style1>C’est désormais le débit d’arrivée d’air frais (présence et taille des
ouvertures) qui peut orienter l’évolution de l’incendie :</p>

<li class="Style1">Soit vers une situation <strong>d’explosion de fumées</strong></li>

<li class="Style1">Soit vers une situation <strong>d’embrasement généralisé éclair</strong></li>

<p class="Style1"><strong>L’apparence banale de la situation rencontrée peut être trompeuse</strong> :
la taille du bâtiment, ainsi que l’importance de l’incendie, ne sont pas
obligatoirement en rapport avec les risques encourus par les personnels
engagés.</p>

</ion-content>
