<!--
  Generated template for the GnrAriEquipementSoupapealademandePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>MATERIEL</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h5>SOUPAPE A LA DEMANDE</h5>

    <img src="assets/icon/GNR_Soupape1.png"/><br>

    <li>Abaisse la pression de 7 bars fournies par le détenteur haute pression à une supression de 1,5 à 3 millibars, jusqu’à 300l/min</li>
    <li>Système bi-pass permettant d’augmenter l’arrivée d’air en cas d’effort violant ou de panique</li>
    <li>Doit être encliquetée juste avant engagement</li>

</ion-content>
