<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>L'engais solide ne doit pas former de croûte par l'utilisation de l'eau : augmentation de la température avec risque d'explosion<br>
</li>
</ion-content>
