<ion-content>
    <h3 class="Style1">Règles de Bases Pendant l'Engagement :</h3>
  
    <li>Toujours travailler en binôme indissociable<br>
    </li>
    <li>Enregistrer et surveiller les binômes à l’entrée : le chef donne les plaques au contrôleur (CA en l’absence du contrôleur dans les premières minutes)<br>
    </li>
    <li>Le contrôleur renseigne le nom, pression et heure d’engagement sur les plaques + tableau de contrôle<br>
    </li>
    <li>Communiquer le code d’alerte et les moyens de communication au contrôleur<br>
    </li>
    <li>Utiliser la ligne de vie (ligne guide, LDT ou LDV). La liaison personnelle de l’équipier est raccordée à la ligne guide, à la LDT ou la LDV<br>
    </li>
  </ion-content>
