<ion-content>

<h3>PERTURBATION SENSORIELLES</h3>
  <h5 class="Style1">Modifications du Schéma Corporel</h5>

  <li>Modification des capacités de mobilisation du tronc et du cou<br>
  </li>
  <li>Augmentation du gabarit du porteur<br>
  </li>
  <li>Création d’un ballant d’inertie<br>
  </li>

</ion-content>
