<!--
  Generated template for the GnregeSyntheseTypologiePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">SYNTHÈSE DES PHÉNOMÈNES</h3>

<h4 class="Style1">Typologie incertaine</h4>

<p>Si l’explication théorique de ces deux phénomènes présentant des signes différents est
établie, leur identification en opération peut être délicate.</p>

<p>Leur détection requiert une vigilance de tous les instants associée à une reconnaissance
poussée du bâtiment.</p>

<p>En effet, la réalité sur intervention n’est malheureusement jamais composée de cas
expérimentaux bien nets, tels qu’ils peuvent être observés et décrits expérimentalement
en laboratoire ou même reproduits artificiellement en simulateur.</p>

<p class="Style1">Les intervenants, et en particulier le personnel d’encadrement, doivent
garder en permanence à l’esprit que face aux phénomènes dangereux
décrits dans le présent guide national de référence, une <strong>vigilance
individuelle et collective</strong>, associée à <strong>une analyse réfléchie</strong>, sont de
rigueur.</p>

</ion-content>
