<ion-content>

  <li>RIA : Peuvent être utilisé par les binômes</li><br>
  <li>Colonne sèche : point d'eau à 60m maxi, faire attention à l 'escalier desservi si plusieurs colonnes sèche (présence signalétique normalement), vérifier le bon état et la fermeture des robinets sur paliers ou mettre bouchons</li><br>
  <li>Colonne humide : alimentation des cuves à prévoir si besoin : raccord à disposition</li><br>
  <li>Sprinkleur : Vérifier sur postes de contrôle la zone (plan à proximité) et vanne d'arrêt sur poste (gong hydraulique en fonctionnement) Attention aux dégâts occasionnés ! Possibilité de réalimenter les sources. Peu compromettre le désenfumage par le refroidissement des fumées (toujours désenfumé avant extinction si possible)</li><br>

</ion-content>

