<!--
  Generated template for the GnrLspccCompositionRangementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MATERIEL</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>RANGEMENT DANS LE SAC</h5>

  <img src="assets/icon/lot courant.jpg"/><br>

  <li>Le rangement dans le sac doit permettre l'utilisation rapide et optimal de l'ensemble du matériel</li>
  <li>Le rangement est arrêté localement par les services d'incendie et de secours</li>

</ion-content>
