<!--
  Generated template for the GnrAriEquipementBouteillePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MATERIEL</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>BOUTEILLE</h5>

  <img src="assets/icon/bouteille.jpg"/><br>

  <p>- Eléments figurant sur le bouteille :</p><br>

  <li>Nom de la société et poinçon</li>
  <li>Matière ou alliage</li>
  <li>Date de la première épreuve avec - poinçon de l’organisme</li>
  <li>Pression d’épreuve en Bars</li>
  <li>Pression de service</li>
  <li>Numéro de bouteille</li>
  <li>Poids vide sans robinet</li>
  <li>Capacité en litre d’eau ou volume réel</li>
  <li>Nature du gaz : air</li>
  <li>Coloration de la collerette concerne la date de réépreuve</li>
  <li>Coloration du corps concerne l’identification du gaz (N&amp;B)</li>

</ion-content>
