<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Mise en place d un périmètre de sécurité et engagement d’un minimum de personnel<br>
    </li>
  <li>Désignation du PRM<br>
    </li>
  <li>Identification du produit<br>
    </li>
  <li>Évacuation ou confinement<br>
    </li>
  <li>Limiter les effets de pollution (endiguer les écoulements…)<br>
  </li>
  <li>Adapter les moyens d’extinction par le biais des renseignements divers sur le ou les produits en cause<br>
  </li>
  <li>Contrôler et décontaminer l’ensemble des intervenants<br>
  </li>
</ion-content>
