<ion-content>

  <h3 align="center" class="Style1">BRANCARD CUILLERE</h3>

 <p>Le brancard cuillère est un moyen de relevage qui facilite l'installation de la victime sur une brancard, un plan dur ou son transfert
   sur un matelas immobilisateur à dépression, tout en respectant son axe "tête-cou-tronc".
 </p>

  <img class="centrer" src="assets/icon/cuillere.jpg" alt="" /><br>

</ion-content>
