<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Évacuation générale de l’établissement (Gestion du risque panique)<br>
    </li>
  <li>Prise de contact avec le service de sécurité<br>
    </li>
  <li>Ventilation des volumes et reconnaissance<br>
    </li>
  <li>Extinction rapide du sinistre<br>
    </li>
</ion-content>
