<ion-content>
  <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/TableauBord3.png"/>
  
<div id="m1-demiPavAvant-text">

  6. Soulever le tableau de bord lentement<br>
  7. Opérer éventuellement en même temps qu'avec un vérin placé de l'autre côté<br>

  <p>Attention à ne pas reployer le vérin ou l'écarteur</p>

</div>
        
</ion-content>