<!--
  Generated template for the GnrfdfUiffEtablissementsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DE L’UIFF et DE L’ULIFF</h3>

<img src="assets/icon/Capture54.PNG" alt="" />

<h4 class="Style1">ÉTABLISSEMENTS</h4>

<p>L’unité feux de forêts réalise des établissements lorsque la pénétration des véhicules dans le
massif forestier est impossible en raison de :</p>

<li>L’état du terrain qui entraînerait l’enlisement des véhicules (zones humides ou sablonneuses)</li>
<li>Le relief accidenté du terrain</li>
<li>La densité et la nature de peuplements qui causeraient de graves détériorations aux véhicules</li>
<li>La présence d’obstacles infranchissables</li><br>

<h5>ÉTABLISSEMENTS DE LA LANCE DU DEVIDOIR TOURNANT</h5>

<p><u><strong>CCF roulant</strong></u></p>

<p>Lorsque la lance du dévidoir tournant est utilisée en phase d’extinction complète des lisières, le
tuyau de la lance du dévidoir tournant est déroulé de quelques mètres, l’équipier se déplace à
pied en suivant la progression du CCF qu’il dirige.</p>

<p><u>Déroulement :</u></p>

<p>Commandement du chef de l’UIFF (chef d’agrès) : « Lance du dévidoir tournant, établissez »</p>

<img src="assets/icon/Capture76.PNG" alt="" /><br>

<p><u><strong>CCF A L’ARRÊT</strong></u></p>

<p>Cette manoeuvre est limitée à l’établissement de la lance du dévidoir tournant armant 1 des CCF</p>

<p><u>Déroulement :</u></p>

<p>Commandement du chef de l’UIFF (chef d’agrès) : « Pour l’établissement de la lance du dévidoir tournant du CCF « 1 ou 2 », en reconnaissance ».</p>

<img src="assets/icon/Capture77.PNG" alt="" /><br>

<h5>ÉTABLISSEMENTS DE 1 OU 2 LANCES 500</h5>

<p><u><strong>Situation</strong></u></p>

<p>Cette manoeuvre permet à l’unité feux de forêts d’établir une lance 500 jusqu’à 120 mètres ou 2 lances 500 jusqu’à 60 mètres.
Selon l’équipement des CCF (tuyaux roulés sur eux-mêmes ou sur dévidoir), le rôle des personnels décrit ci-après sera à adapter.</p>

<p><u><strong>Rôle des personnels (CCF armés de tuyaux roulés sur eux-mêmes)</strong></u></p>

<p><u>Déroulement :</u></p>

<p>Commandement du chef de l’UIFF (chef d’agrès) : « Pour l’établissement de la lance 500, débit XXX l/min, en
reconnaissance »</p>

<p><img src="assets/icon/Capture78.PNG" alt="" />(1) Dans ce cas, la noria d’alimentation des CCF est assurée au moyen des CCF d’une autre unité d’intervention feux de forêts.</p>

<h5>PROLONGEMENT DE LA LANCE 500</h5>

<p><u>Déroulement :</u></p>

<p>Commandement du chef de l’UIFF (chef d’agrès) : « Prolongement de la lance 500 »</p>

<img src="assets/icon/Capture79.PNG" alt="" /><br>

<h5>SCHÉMA D’ORGANISATION THÉORIQUE D’UN POINT D’EAU PERMETTANT L’ALIMENTATION SIMULTANÉE DE 4 CCF</h5>

<img src="assets/icon/Capture80.PNG" alt="" /><br>

</ion-content>
