<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Étude des constructions<br>
    </li>
  <li>Stopper la propagation<br>
    </li>
  <li>Organiser l’alimentation générale du dispositif<br>
    </li>
  <li>Sauver si possible, la partie administrative de l’exploitation<br>
    </li>
</ion-content>