<!--
  Generated template for the GnretablissementlancesGeneralitesSauvetagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>BINOMES</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h5 class="Style1">LES SAUVETAGES</h5>

    <li>Mission première des sapeurs-pompiers sur toutes les opérations</li>
    <li>Mise en sécurité des personnes et des animaux menacés par l'incendie avec tous les moyens disponibles :</li>
    <p>Lot de sauvetage et de protection contre les chutes, échelles, etc</p>

</ion-content>
