<ion-content>
        <h3 class="Style1">Actions - Conduite a Tenir :</h3>

        <ul>
          <li>Gestes à effectuer :</li>
            <p>- MAMAN :</p>
              <ul>
                <li>Installer sur un champs stérile</li>
                <li>Laisser faire la nature</li>
                <li>Dégager le cordon si nécessaire</li>
                <li>Clamper le cordon</li>
                <li>Rassurer, Oxygène</li>
              </ul>

        </ul>
        <ul>
            <p>- BEBE :</p>
                <ul>
                  <li>LVAS</li>
                  <li>Ranimation ?</li>
                  <li>Couverture</li>
                  <li>Température du bébé ?</li>
                </ul>

        </ul>

        <ul>
          <li>Conditionnement :
            <ul>
              <li>Maman allongée sous oxygène</li>
              <li>Bébé couvert</li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>Surveillance :
            <ul>
              <li>Les 3 fonctions vitales du bébé et de la maman</li>
            </ul>
          </li>
        </ul>
</ion-content>
