<!--
  Generated template for the CadredordrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CADRE D'ORDRE</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs>
    <ion-tab [root]="tab29Root" tabTitle="PATRACDR" tabIcon="tab29"></ion-tab>
    <ion-tab [root]="tab30Root" tabTitle="DPIF" tabIcon="tab30"></ion-tab>
    <ion-tab [root]="tab31Root" tabTitle="SMES" tabIcon="tab31"></ion-tab>
    <ion-tab [root]="tab32Root" tabTitle="SOIEC" tabIcon="tab32"></ion-tab>
  </ion-tabs>
</ion-content>
