<ion-content>

  <h3 align="center" class="Style1">D.S.A</h3>

<ul>
  <li>Sans interrompre la RCP en cours et le plus rapidement possible, poser le DSA près de la victime et le mettre en marche :
    <ul>
      <li>Un test d'auto-contrôle est réalisé</li>
      <li>Un son se fait entendre et alerte de la mise en fonction</li>
      <li>Une voix guide l'équipe dans les différentes étapes</li>
    </ul>
  </li>
</ul><br>

<li>Sécher la poitrine si celle-ci est humide ou/et raser la poitrine si elle est particulièrement velue, à l'endroit ou l'on pose les électrodes</li><br>

<ul>
  <li>Coller les électrodes sur la poitrine nue de la victime, conformément au schéma visible :
    <ul>
      <li>La première juste au-dessous de la clavicule droite</li>
      <li>La seconde sur le côté gauche du thorax 5 à 10 cm au-dessous de l'aisselle</li>
    </ul>
  </li>
</ul><br>

<p class="Style1">La mise en place des électrodes ne doit pas interrompre la RCP</p>

<img class="centrer" src="assets/icon/dsa5.jpg" alt="" /><br>

<img class="centrer" src="assets/icon/dsa6.jpg" alt="" /><br>

<li>Faire arrêter la RCP en cours lorsque le DSA l'indique et ne pas toucher le patient durant l'analyse. L'analyse permet de reconnaître les rythmes cardiaques qui nécessitent un choc électrique</li><br>

<h5>CHOC RECOMMANDE</h5>

<li>Ecouter et respecter les recommandations du DSA</li><br>

<li>La RCP sera reprise lorsque le DSA se chargera pour délivrer le choc pour éviter le "no-flow" (environ 15 secondes)</li><br>

<li>Lorsque l'appareil annonce "écartez-vous!", veiller à ce que personne ne touche la victime. Appuyer sur le bonton pour choquer</li><br>

<p class="Style1">Reprendre immédiatement la RCP après la délivrance du choc (30/2) sans contrôle du pouls</p>

<img class="centrer" src="assets/icon/dsa8.jpg" alt="" /><br>

<h5>CHOC NON RECOMMANDE</h5>

<li>Si le DSA ne préconise pas de choc électrique lors de la première analyse ou lors des analyses suivantes, <strong>reprendre immédiatement la RCP après avoir vérifié l'absence de pouls</strong></li><br>

<p><u>Remarque :</u></p>

<p>Le DSA ne sera éteint et la RCP interrompue qu'à la demande d'un médecin. De retour au CIS, les données seront transmises le plus rapidement possible</p>

<li>La carte mémoire sera envoyée par courrier avec la fiche "intervention DSA"</li><br>

<li>Par télétransmission mais aussi avec la fiche "intervention DSA" qui sera envoyée par fax au SSSM</li>

</ion-content>
