<ion-content>
    <h3 class="Style1">Risques :</h3>
  
    <li>Combustion explosive<br>
    </li>
  <li>Réaction violente de certains métaux àl'eau et à l'humidité<br>
    </li>
  <li>Projection d'eau = création d'hydrogène = explosion<br>
  </li>
  <li>Réaction violentede certains métaux au froid et gaz d'inhibition<br>
  </li>
  <li>Très haute températures de combustions (jusqu'à 5000°C)<br>
  </li>
  <li>Extinction difficile et technique<br>
  </li>
</ion-content>
