<!--
  Generated template for the GnrAriEquipementLigneguidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>MATERIEL</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h5>LIGNE GUIDE</h5>

    <img src="assets/icon/Ligne_guide2.png"/><br>

    <li>Longueur de 50 à 60 m</li>
    <li>Diamètre de 6 à 8 mm</li>
    <li>Enroulée et fixée sur un tambour ou lovée et fixée dans un sac</li>
    <li>Comporte des repères de progression tous les 2,5 m</li>
    <li>Repères de progression par olives ou noeuds</li>
    <li>Olives : 1 olive vers la sortie, groupe de 3 olives vers l’intérieur</li>
    <li>Noeuds : 1 noeud de 0,05 m vers la sortie, plusieurs noeuds de 0,125 m vers l’intérieur</li>
    <li>Munie à une extrémité d’un mousqueton avec plaque numérotée et à l’autre d’un anneau</li>
    <li>Elle relie les porteurs d’ARI avec l’extérieur</li>

    <p><strong>Liaison personnelle + Ligne guide = Ligne de vie</strong></p>

</ion-content>
