<ion-content>

<h3 align="center" class="Style1">LA SANGLE ARAIGNEE</h3>

  <li>La sangle araignée solidarise la victime au plan dur avec immobilisateur de tête, au niveau du thorax, du bassin, et des membres inférieurs.</li><br>
  <li>Elle peut être associée à un rembourrage entre les jambes afin d’en limiter les mouvements.</li><br>
  <li>Dans le but d’assurer une immobilisation de bonne qualité au niveau du bassin et de diminuer les risques d’aggravation de lésions internes liés aux vibrations, lorsque le plan dur avec immobilisateur
  de tête aura été utilisé dans un but d’immobilisation, il sera systématiquement installé dans le matelas immobilisateur à dépression.
  <strong>Cette méthode apparaitra peut être excessive dans certains cas mais diminuera les risques d’aggravation secondaire.</strong></li><br>

<img class="centrer" src="assets/icon/Capture88.PNG" alt="" /><br>

</ion-content>
