<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Se référer au feu d’espace clos<br>
    </li>
  <li>Coupure des énergies<br>
    </li>
  <li>Étudier le risque de pollution par les eaux d’extinction<br>
    </li>
</ion-content>