<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Différents accès à la chaufferie<br>
  </li>
  <li>Communications avec les locaux mitoyens pouvant favoriser le risque de propagation<br>
  </li>
  <li>Raccords ZAG pour les ventilations<br>
  </li>
</ion-content>