<ion-content>
  <h3 class="Style1">Bilans :</h3>

  <li>Nature des médicaments, aliments ?<br>
    </li>
    <li>Quantité absorbée ?<br>
    </li>
    <li>Depuis combien de temps ? Alcool ?<br>
    </li>
    <li>Traitement médicamenteux en cours ?<br>
    </li>
</ion-content>
