<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Coupure des énergies<br>
    </li>
  <li>Coupure de l’alimentation chaufferie<br>
    </li>
  <li>Ventilation énergique<br>
    </li>
  <li>Évacuation de l’établissement<br>
    </li>
</ion-content>