<ion-content>

    <h5 class="Style1">M3: Etablissement d'une lance sur prise d'eau</h5>
    
      <li>Déroule son tuyau et raccorde sa lance</li><br>
      <li>Attaque le feu dès que l’équipier est en double porte lance</li><br>
    
    </ion-content>
