<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Reconnaissances approfondies au moyen d’une caméra thermique<br>
    </li>
  <li>Trouées en partie supérieure des points chauds<br>
    </li>
  <li>Extinction et dégarnissage<br>
    </li>
  <li>Contrôle permanent de la teneur en CO dans le volume<br>
    </li>
</ion-content>
