<ion-content>

  <h3 align="center" class="Style1">ATTELLE PNEUMATIQUE DE TRACTION (DONWAY)</h3>

<p>L’immobilisation est obtenue en exerçant une traction sur le membre traumatisé</p>

<p>Cette immobilisation limite les mouvements du membre traumatisé, diminue la douleur et prévient la survenue de complications</p>

  </ion-content>
