<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>Desserer les vêtements</li>
        <li>Oxygène</li>
        <li>Rassurer et couvrir</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Installer dans la position où la victime se sent le mieux</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Fonctions vitales</li>
      </ul>
    </li>
  </ul>
</ion-content>
