<!--
  Generated template for the MessageradioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Message Radio</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs>
    <ion-tab [root]="tab33Root" tabTitle="AMBIANCE" tabIcon="tab33"></ion-tab>
    <ion-tab [root]="tab34Root" tabTitle="RENSEIGNEMENT" tabIcon="tab34"></ion-tab>
  </ion-tabs>
</ion-content>
