<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>Prévoir un contrôle médical des personnels engagés<br>
</li>
<li>Se procurer les plans afin de clarifier les cheminements<br>
</li>
</ion-content>
