<ion-content>

  <h5 class="Style1">M5: Lance à Mousse</h5>

    <li>Se munit de la lance à mousse, d’un tuyau et du proportionneur</li><br>
    <li>Se rend au point d’attaque</li><br>
    <li>Déroule son tuyau et raccorde sa lance</li><br>
    <li>Attaque le feu</li>

</ion-content>
