<ion-content>

  <h3 align="center" class="Style1">KIT Section de Membres</h3>

<li>Mettre des gants à usage unique propres</li><br>

<li>Nettoyer le membre, si nécessaire, avec un flacon de Miniversol</li><br>

<img class="centrer" src="assets/icon/kitsectiondemembre2.jpg" alt="" /><br>

<li>Envelopper le membre sectionné dans un champ stérile</li>

<img class="centrer" src="assets/icon/kitsectiondemembre3.jpg" alt="" /><br>

<li>Placer le tout à l'intérieur du sac plastique se trouvant au milieu du sac isotherme</li><br>

<li>Refermer cette poche à l'aide du zip</li><br>

<img class="centrer" src="assets/icon/kitsectiondemembre4.jpg" alt="" /><br>

<li>Activer les sacs réfrigérants en les percutent</li><br>

<img class="centrer" src="assets/icon/kitsectiondemembre5.jpg" alt="" /><br>

<li>Placer les sacs réfrigérants à l'intérieur du sac dans les deux poches latérales</li><br>

<img class="centrer" src="assets/icon/kitsectiondemembre6.jpg" alt="" /><br>

<li>Maintenir le sac isothérme fermé grâce au scratch</li><br>

<li>Noter le nom de la victime et l'heure de survenue de l'accident</li>

</ion-content>
