<!--
  Generated template for the OutilsgraphiquesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Outils Graphiques</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-tabs>
        <ion-tab [root]="tab42Root" tabTitle="Situation" tabIcon="tab42"></ion-tab>
        <ion-tab [root]="tab43Root" tabTitle="Actions" tabIcon="tab43"></ion-tab>
        <ion-tab [root]="tab44Root" tabTitle="Moyens" tabIcon="tab44"></ion-tab>
        <ion-tab [root]="tab45Root" tabTitle="Charte" tabIcon="tab45"></ion-tab>
      </ion-tabs>

</ion-content>
