<!--
  Generated template for the DivTransmissionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>DIV</ion-title>
            <ion-buttons end >
              <header-menu></header-menu>
            </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

  <h3 class="Style1 centrer">TRANSMISSION</h3>

  <p>Le CTA-CODIS reçoit les appels 18-112, etc. Il alerte par les appels sélectifs (bip) les pompiers
  des centres de secours concernés.</p>

  <p>Le CTA-CODIS doit connaître l'heure de départ et d'arrivée sur les lieux, soit par radio, soit par un statut
  du réseau ANTARES (Adaptation Nationale des Transmission Aux Risques et aux Secours - Bande de fréquance 380-400 Mhz).</p>

  <h5>Le CTA-CODIS</h5>

  <li>Un <strong>Officier CODIS</strong> chargé d'informer les autorités et d'anticiper les besoins lors des interventions
  de grande ampleur ou de longue durée</li>

  <li>Un <strong>Chef de Salle</strong> qui coordonne le travail des opérateurs</li>

  <li>Des <strong>Opérateurs</strong> qui réceptionnent le 18 et <strong>traitent</strong> les alertes</li>

  <h5>LES EQUIPEMENTS</h5>

  <li><strong>Station fixe</strong> installé à demeure des CIS, CTA, CODIS, etc</li>
  <li><strong>Station mobile</strong> installée dans un véhicule</li>
  <li><strong>Station portative</strong> transportée par un homme, sur batterie</li>
  <li><strong>Appel sélectif</strong> (bip) permet la réception des appels avec message</li>

  <h5>LES CANAUX</h5>

  <p class="Style1">Mode relayé (intermédiaire d'un relais radio) ou mode récépteur (intermédiaire d'un relais indépendant RIP)</p>

  <li><strong>Opérationnels</strong>: transmission entre les moyens opérationnels du groupement et le CTA-CODIS</li>
  <li><strong>Commandement</strong>: transmission entre PC et CODIS</li>
  <li><strong>SSU</strong>: transmission entre véhicules sanitaire et CRRA 15</li>
  <li><strong>Autorités</strong>: dédié aux autorités</li>
  <li><strong>Inter-Opérationnel</strong>: entre services police, préfecture, etc</li>
  <li><strong>Moyens Nationnaux</strong>: renforts nationaux</li>
  <li><strong>Accueil -Sécurité</strong>: accueil des secours extérieurs</li>

  <p><strong>Mode direct (sans relais radio : DIR):</strong>
  Portée de 2km  pour les portatifs, 10km pour les mobiles environs si pas d'obstacles</p>

  <li><strong>Air-Sol</strong>: Transmission avec DRAGON</li>

<li><strong>Tactiques</strong>: Destinés à la communication entre station, sans passer par le relais (faible distance).
  Il existe deux niveaux de canaux tactiques:
  <ul>
    <li>Niveau 1/2 entre COS, PC, Chef de Secteurs</li>
    <li>Niveau 3/4 entre Chefs de Secteurs et Chefs d'Agrès</li>
  </ul>
</li>

<h5>Les Statuts ANTARES</h5>

<li><strong>1 : Parti</strong></li>
<li><strong>2 : Sur les lieux</strong></li>
<li><strong>3 : Message</strong></li>
<li><strong>4 : Message urgent</strong></li>
<li><strong>5 : Transport CH</strong></li>
<li><strong>6 : Arrivée CH</strong></li>
<li><strong>7 : Disponible</strong></li>
<li><strong>8 : Indisponible</strong></li>
<li><strong>9 : Rentré CIS</strong></li>

<h5>ALPHABET RADIO</h5>

<img src="assets/icon/alphabet-international.JPG" alt="" />
<img src="assets/icon/numerique.jpg" alt="" /><br>

<h5>Indicatifs Radio des Autorités</h5>

<li class="Style1">Aramis : <strong>Préfet</strong></li>
<li class="Style1">Porthos : <strong>Directeur du cabinet du Préfét</strong></li>
<li class="Style1">Lancelot : <strong>DDSIS</strong></li>
<li class="Style1">Gareth : <strong>Chef de groupement</strong></li>
<li class="Style1">Hippocrate : <strong>Médecin-Chef des SP</strong></li>
<li class="Style1">Merlin : <strong>Chef de centre</strong></li>

</ion-content>
