<ion-content>

  <h5><u>Précaution</u></h5><br>

  <li>Confirmation de l'évacuation des occupants</li><br>
  <li>Se faire guider par les SSIAP si communication complexe, demander que les SSAIP posent une ligne guide entre le point de rassemblement des moyens et le parc matériel dans le bâtiment</li><br>
  <li>Demander au SSIAP l'exploitation du SSI : compartimentage, désenfumage, alarme</li><br>
  <li>S'assurer auprès des SSIAP du bon fonctionnement des dispositifs actionnés de sécurité (portes, clapets coupe-feu, etc.) et exiger la localisation des problèmes (risque de propagation)</li><br>
  <li>Récupérer des radios dédiées si prévues ainsi que les plans d'intervention (et plans ER)</li><br>

</ion-content>

