<!--
  Generated template for the GdoIcendiesdestructuresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>GDO & GNR</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <h4 class='Style1'>Interventions sur les Incendies de Structures</h4>

    <img src="assets/icon/Guide-de-doctrine-operationnelle-interventions-sur-les-incendies-de-structures.jpg"/><br>

    <p>Mission exclusive des SDIS, représentant près de 300 000 interventions chaque année, la lutte contre l'incendie a connu ces dernières années de nombreuse évolutions. Ce guide de doctrine opérationnelle vise particulièrement les feux de structures.</p>

    <p>Il comporte un certain nombre de fiches scientifiques qui ont vocation à être actualisées en fonction de l'évolution de l'état des connaissances en la matière. Il met notamment en lumière les nécessaires adaptations aux territoires, en lien avec les risques identifiés, l'organisation de la structure et les ressources disponibles.</p>

    <a href="https://drive.google.com/open?id=1NGrzjfnI13xKE9SOmRxAuIpbKtimOzqG">GDO-incendies-de-structures-2018-V2</a>

</ion-content>
