<ion-content>
    <h3 class="Style1">Actions :</h3>

    <li>Coupure des énergies<br>
      </li>
    <li>Attaque par l’intérieur<br>
      </li>
    <li>L’atmosphère refroidit dans les combles, créer un exutoire à l’aide de moyens aériens et appuyer l’action d’extinction intérieure<br>
      </li>
    <li>Stopper les risques de propagation horizontale aux combles mitoyens<br>
      </li>
    <li>Utilisation d’un minimum d’eau<br>
    </li>
    <li>Déblais rapides et progressifs afin de limiter la charge sur les planchers<br>
    </li>
</ion-content>
