<ion-content>

    <h3 align="center" class="Style1">KIT BRULURES</h3>

<li>La compresse d'hydrogel doit être en contact avec l'intégralité de la surface brûlée</li><br>

<li>L'application doit être particulièrement bien réalisée dans les zones difficiles (creux poplités, creux axillaires, plis sous mammaires,...</li><br>

<li>Le refroidissement soulage la douleur</li>

</ion-content>
