<!--
  Generated template for the PrevfacadesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PREVENTION</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-tabs>
        <ion-tab [root]="tab46Root" tabTitle="FONCTIONNEMENT" tabIcon="tab46"></ion-tab>
        <ion-tab [root]="tab47Root" tabTitle="PRECAUTION" tabIcon="tab47"></ion-tab>
      </ion-tabs>
</ion-content>
