<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>Risque de propagation<br>
</li>
<li>Les fumées<br>
</li>
<li>Changement de la direction et de la force du vent<br>
</li>
<li>Prévoir des moyens suffisants CCF+Porteurs d'eau + PC<br>
</li>
</ion-content>