<!--
  Generated template for the GnrLspccCompositionCordelettePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MATERIEL</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>CORDELETTE</h5>

  <img src="assets/icon/noeud_francais.gif"/><br>

  <p><strong>EN OPTION</strong></p>
  <li>Anneau de cordelette fermé par un noeud de 8 pour faciliter la traction lors de la remontée 
(Le noeud sur la corde est le noeud français)</li>

</ion-content>
