<ion-content>
    <h3 class="Style1">Signes :</h3>
  
    <ul>
      <li>Visibles :
        <ul>
          <li>Respiration rapide, forcée</li>
          <li>Sifflante à l'expiration</li>
          <li>Cyanose</li>
        </ul>
      </li>
    </ul>
  
  <ul>
    <li> A rechercher :
      <ul>
        <li>Antécédents</li>
        <li>Asthmatique connu ?</li>
        <li>Circonstance de survenue</li>
      </ul>
    </li>
  </ul>
  </ion-content>