<ion-content>

  <h3 align="center" class="Style1">Lecteur de Glycémie</h3>

  <img class="centrer" src="assets/icon/glycemie.jpg" alt="" /><br>

  <h5>Mise en oeuvre du lecteur de glycémie</h5>

  <li>Mettre des gants</li><br>

  <li>Nettoyer le doigt de la victime si nécessaire avec du sérum physiologique puis sécher</li><br>

  <li>Vérifier la date de péremption</li><br>

  <img class="centrer" src="assets/icon/glycemie2.jpg" alt="" /><br>

  <li>Ouvrir le sachet de l'électrode en tirant dans le prolongement de l'encoche</li><br>

  <img class="centrer" src="assets/icon/glycemie3.jpg" alt="" /><br>

  <li>Introduire l'électrode dans le lecteur de glycémie jusqu'à la butée (les 3 lignes noires tournées vers le haut</li><br>

  <img class="centrer" src="assets/icon/glycemie4.jpg" alt="" /><br>

  <li>L'appareil s'allume et efféctue son autotest puis le symbole "goutte de sang" clignote</li><br>

  <li>Décapuchonner en tournant la partie violette et tirer</li><br>

  <img class="centrer" src="assets/icon/glycemie6.jpg" alt="" /><br>

  <li>Piquet le doigt de la victime avec l'autopiqueur (piquet sur un des points rouge indiqué sur l'illustration)</li><br>

  <img class="centrer" src="assets/icon/glycemie7.jpg" alt="" /><br>

  <li>Appuyer sur la pulpe du doigt pour obtenir une goutte de sang suffisante</li><br>

  <li>Approcher la goutte de sang au contact de l'électrode. Le sang est absorbé et monte par capillarité</li><br>

  <li>Le compte à rebours s'affiche et le résultat apparait au bout de 5 secondes accompagné d'un BIP</li><br>

  <li>Le resultat apparait en mg/dl (milligramme / décilitre) ex: 100 ml/dl = 1 g/l</li><br>

  <img class="centrer" src="assets/icon/glycemie10.jpg" alt="" /><br>

  <li>Retirer l'électrode, l'appareil s'étient automatiquement</li><br>


</ion-content>
