<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Prévoir un itinéraire par rapport au vent et stationner à 100 mètres du site d’intervention<br>
    </li>
  <li>Prévoir un PRM<br>
  </li>
  <li>Engagement d’un minimum de personnel et sous protection maximale (ARI, tenue de feu complète)<br>
    </li>
  <li>Réaliser un périmètre de sécurité de 50 mètres à priori<br>
    </li>
  <li>Fermer les ouvrants supérieurs et latéraux ainsi que les gaines de ventilation<br>
  </li>
  <li>Ventiler par un accès étudié<br>
  </li>
  <li>Procéder à l’extinction en utilisant un minimum d’eau. Utiliser les écrans du terrain<br>
  </li>
  <li>Relever la durée d’exposition des personnels engagés<br>
  </li>
  <li>Remontées d’informations au CODIS<br>
  </li>
</ion-content>
