<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Météorologie<br>
    </li>
  <li>Parquer les engins à 100 mètres minimum<br>
  </li>
  <li>Périmètre de sécurité et évacuation des tiers directement menacés<br>
    </li>
  <li>Aucune intervention directe sans EDF et confirmation de coupe des fluides en amont et en aval<br>
    </li>
  <li>Attaque à la poudre. Parfaire l’extinction à la mousse ou eau pulvérisée en limitant les quantités (pollution)<br>
  </li>
  <li>Déblais par entreprise spécialisée, récupération des eaux d’extinction<br>
  </li>
  <li>Faire décontaminer les intervenants et matériels<br>
  </li>
</ion-content>