<ion-content>
    <h3 class="Style1">OFFICIER MOYENS :</h3>
   
    <li>Fixe avec le COS les emplacements du PCC, du Point de Transit (PT), du Centre de Regroupement des moyens (CRM) et éventuellement du PMA, la DZ<br>
    </li>
    <li>Rédige et tient à jour l'Ordre Complémentaire des Transmissions (OCT)<br>
    </li>
    <li>Prend en charge les moyens (personnels et matériels) déjà engagés sur le site<br>
    </li>
    <li>Répertorie les moyens en transit et évalue les délais d'arrivée au PT ou au CRM<br>
    </li>
    <li>Renseigne le COS sur les moyens pouvant être mis à dispostion, les confronte aux moyens nécessaires demandés par son homologue de la fonction renseignement<br>
    </li>
    <li>Constitue, si nécessaire, des groupes à partir d'agrès isolés en liaison avec le CRM (ou le CODIS) et en fonction des missions et objectifs fixés par le COS<br>
    </li>
    <li>Assure le soutien logistique des moyens (alimentation du personnel, relèves, carburants,...)<br>
    </li>
    <li>Echanges avec son homologue de la fonction Renseignements la SITAC et les informations le concernant (balance des moyens)<br>
    </li>
    <li>Informe son homologue de la fonction Moyens au CODIS<br>
    </li>
  </ion-content>
