<!--
  Generated template for the GnrAriEquipementTableaudecontrolePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>MATERIEL</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h5>TABLEAU DE CONTROLE</h5>

    <img src="assets/icon/Tableau_controle.png"/><br>

    <li>Permet le regroupement des plaques de contrôles aux fins de surveillance du nombre de personnes engagées et du suivi et du contrôle du temps d’engagement des porteurs</li>
    <li>Plusieurs colonnes avec au minimum les plaques et identification des porteurs, l’heure d’entrée, la sortie prévisible</li>
    <li>Montre recommandée avec feutres ou craies</li>

</ion-content>
