<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Parquer les engins à distance<br>
    </li>
  <li>Stopper l’arrivée du combustible dans la chaufferie<br>
    </li>
  <li>Coupure des énergies<br>
    </li>
  <li>Faire évacuer l’établissement<br>
    </li>
  <li>Mise en place d’un périmètre de sécurité<br>
  </li>
  <li>Ventilation de la chaufferie<br>
  </li>
  <li>Possibilité de brumiser le volume<br>
  </li>
  <li>Attendre que le combustible présent soit épuisé et que la chaudière ne soit plus emballée<br>
  </li>
</ion-content>