<!--
  Generated template for the NrbcRtnEtiquettesdedanger2AnciensPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>NRBC-RTN</ion-title>
        <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="centrer"><strong>Anciens Pictogrammes</strong></h5>

<img src="assets/icon/500pxHazard_E.png"/> Explosif (E)
<img src="assets/icon/500pxHazard_O.png"> Comburant (O)
<img src="assets/icon/500pxHazard_F.png"> Hautement inflammable (F)
<img src="assets/icon/500pxHazard_FF.png"> Extrémement inflammable (F+)
<img src="assets/icon/500pxHazard_T.png"> Toxique (T)
<img src="assets/icon/500pxHazard_TT.png"> Trés toxique (T)
<img src="assets/icon/500pxHazard_X.png"> Nocif (Xn)
<img src="assets/icon/500pxHazard_Xi.png"> Irritant (Xi)
<img src="assets/icon/500pxHazard_C.png"> Corrosif (C)
<img src="assets/icon/500pxHazard_N.png"> Dangereux pour l'environnement (N)

</ion-content>
