<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Lecture du feu (feu de cave, de pièce ou de combles avec possibilité des 3 en même temps)<br>
    </li>
  <li>Attaque conjointe intérieure/extérieure, sous ARI<br>
    </li>
  <li>Ventilation<br>
    </li>
  <li>Inventorier les habitants<br>
    </li>
</ion-content>