<!--
  Generated template for the GnregeEmbrasementDefinitionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">EMBRASEMENT GÉNÉRALISÉ ÉCLAIR</h3>

<h4 class="Style1">DÉFINITION</h4>

<p>Dans un volume semi-ouvert, passage instantanée d’une situation de feu localisé à un embrasement généralisé des matériaux combustibles qui s’y trouvent.</p>

</ion-content>
