<ion-content>

  <p><strong>Les Etablissements Recevant du Public sont classés en fonction de leur type d'activité et en fonction de l'effectif : </strong></p>
  <p class="Style1">Types d'ERP : <u>Établissements installés dans un bâtiment</u></p>
  <table width="100%" bordes="1">
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Nature</th>
    </tr>
    <tr>
      <th scope="row">J</th>
      <td>Strucutures d'accueil pour personnes âgées et handicapées</td>
    </tr>
    <tr>
      <th scope="row">L</th>
      <td>Salles d’auditions, de conférences, de réunions, de spectacles ou à usage multiple</td>
    </tr>
    <tr>
      <th scope="row">M</th>
      <td>Magasins de vente, centres commerciaux</td>
    </tr>
    <tr>
      <th scope="row">N</th>
      <td>Restaurants et débits de boissons</td>
    </tr>
    <tr>
      <th scope="row">O</th>
      <td>Hôtels et pensions de famille</td>
    </tr>
    <tr>
      <th scope="row">P</th>
      <td>Salles de danse et salles de jeux</td>
    </tr>
    <tr>
      <th scope="row">R</th>
      <td>Établissements d’enseignement, colonies de vacances</td>
    </tr>
    <tr>
      <th scope="row">S</th>
      <td>Bibliothèques, centres de documentation</td>
    </tr>
    <tr>
      <th scope="row">T</th>
      <td>Salles d’exposition</td>
    </tr>
    <tr>
      <th scope="row">U</th>
      <td>Établissements sanitaires</td>
    </tr>
    <tr>
      <th scope="row">V</th>
      <td>Établissements de culte</td>
    </tr>
    <tr>
      <th scope="row">W</th>
      <td>Administrations, banques, bureaux</td>
    </tr>
    <tr>
      <th scope="row">X</th>
      <td>Établissements sportifs couverts</td>
    </tr>
    <tr>
      <th scope="row">Y</th>
      <td>Musées</td>
    </tr>
  </table>
  <p><span class="Style1">Types d'ERP : <u>Établissements spéciaux</u></span></p>
  <table width="100%" borde="1">
    <tr>
      <th width="7%" scope="col">Type</th>
      <th width="93%" scope="col">Nature</th>
    </tr>
    <tr>
      <th scope="row">PA</th>
      <td>Établissements de plein air</td>
    </tr>
    <tr>
      <th scope="row">CTS</th>
      <td>Chapiteaux, tentes et structures itinérants ou à implantation prolongée ou fixes</td>
    </tr>
    <tr>
      <th scope="row">SG</th>
      <td>Structures gonflables</td>
    </tr>
    <tr>
      <th scope="row">PS</th>
      <td>Parcs de stationnement couverts</td>
    </tr>
    <tr>
      <th scope="row">OA</th>
      <td>Hôtels-restaurants d’altitude</td>
    </tr>
    <tr>
      <th scope="row">GA</th>
      <td>Gares accessibles au public</td>
    </tr>
    <tr>
      <th scope="row">EF</th>
      <td>Établissements flottants ou bateaux stationnaires et bateaux</td>
    </tr>
    <tr>
      <th scope="row">REF</th>
      <td>Refuges de montagne</td>
    </tr>
  </table>
  <p><span class="Style1">Catégorie d'ERP : <u>Capacité d'Accueil</u></span></p>
  <p>Les ERP sont également répertoriés en 5 catégories, déterminées en fonction de la capacité de l’établissement :</p>
  <ul>
    <li>1ère catégorie : au-dessus de 1 500 personnes</li>
    <li>2ème catégorie : de 701 à 1 500 personnes</li>
    <li>3ème catégorie : de 301 à 700 personnes</li>
    <li>4ème catégorie : 300 personnes et au-dessous, à l’exception des établissements de 5ème catégorie</li>
    <li>5ème catégorie : établissements accueillant un nombre de personnes inférieur au seuil dépendant du type d’établissement </li>
  </ul>
  <p><strong> Pour l’application du règlement de sécurité, les ERP sont classés en deux groupes :</strong></p>
  <ul>
    <li>le premier comprend les établissements des 1re, 2e, 3e et 4e catégories ;</li>
    <li>le second ne concerne que les établissements de la 5e catégorie. </li>
  </ul>
  <p>Pour les ERP du premier groupe, le nombre de personnes pris en compte pour la détermination de la catégorie intègre à la fois le public et le personnel n’occupant pas des locaux indépendants qui posséderaient leurs propres dégagements.<br></p>
  <p>Pour les ERP de 5em catégorie (petits établissements), il ne comprend que le public (et pas le personnel)</p>

</ion-content>
