<ion-content>
  <h3 class="Style1">Bilan Circonstanciel :</h3>

  <ul>
    <li> Recherche de risques persistants<br>
    </li>
    <li> Questionner l'entourage<br>
    </li>
    <li> Se faire relater les faits<br>
    </li>
  </ul>
</ion-content>
