<ion-content>

  <h3 align="center" class="Style1">ATTELLE PNEUMATIQUE DE TRACTION (DONWAY)</h3>

<p>L'immobilisation est correcte si :</p>

<li>Le segment blessé et les articulations sus et sous jacentes sont immobilisés par l'attelle</li><br>

<li>L'attelle est correctement fixée</li><br>

<li>Aucun signe de compression n'apparait après sa mise en place (circulation d'aval correct)</li><br>

<li>Il n'y a pas de douleur testiculaire (chez l'homme)</li>

  </ion-content>
