<ion-content>

<h3 align="center" class="Style1">LA SANGLE ARAIGNEE</h3>

<p>La sangle araignée, associée au plan dur et à l'immobilisateur de tête, est utilisée pour assurer l'immobilisation complète d'une victime chez
qui l'on suspecte un traumatisme de la colonne vertébrale, avant de la brancarder.</p>

<li>La sangle n'est mise en place que sur une victime allongée sur le plan dur</li>
<li>Un serrage exessif de la sangle thoracique risque d'entraver la respiration</li>
<li>Pour une victime présentant un traumatisme du thorax, la sangle thoracique ne doit pas être serrée</li>
<li>Avant rangement, vérifier l’absence d’usure, détérioration, ou couture défectueuse… si besoin, procéder au remplacement de la sangle araignée auprès de la pharmacie départementale.</li><br>

</ion-content>
