<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>Dégagements</li>
        <li>Déshabiller le noyé</li>
        <li>Bilans</li>
        <li>Ranimation ?</li>
        <li>Oxygène</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Allonger demi assis (PLS si inconscient)</li>
        <li>Couvrir</li>
        <li>Rassurer</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Fonctions vitales</li>
      </ul>
    </li>
  </ul>
</ion-content>
