<!--
  Generated template for the AutresTramwayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Autres Interventions</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 align="center" class="Style1">RÉSEAU TRAMWAY</h3>

<h5>Présentation du tramway</h5>

<p>La gestion du réseau tramway est entièrement sous la responsabilité du Poste de Commandement Central (PCC) situé au dépôt du Rouret</p>

<p align="center"><u>Schéma des voies</u></p>

<img src="assets/icon/Capture109.PNG" alt="" /><br>

<h5>Conduite à tenir</h5>

<p><strong>Pour toute intervention impliquant du personnel ou du matériel sur la voie du tramway :</strong></p>
<li>Demander <strong>l’arrêt du trafic</strong> (chaque rame rejoint un quai)</li><br>

<p><strong>Pour intervention plaçant du personnel ou du matériel dans les 3m de la LAC :</strong></p>
<li>Demander la <strong>coupure de la LAC <u>et sa mise à la terre</u></strong></li><br>

<p class="Style1">Nota : dans le cas de l’utilisation d’échelles aériennes, considérer qu’elles interviennent toujours par deux pour balayer l’ensemble des façades, d’où un placement des engins encore plus particulier, de part et d’autre de la LAC (prévoir un espace suffisant).</p>

</ion-content>
