<ion-content>

  <h5 class="Style1">M1: Etablissement de la LDT</h5>

    <li>Le BAT, pour l’établissement d’une LDT, en reconnaissance</li><br>
    <li>BAT, point d’attaque ici, mission</li>

</ion-content>
