<!--
  Generated template for the GnretablissementlancesReglesdebaseTypedetablissementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BINOMES</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">TYPES D'ETABLISSEMENTS</h5>

  <li>Etablissement horizontal : au sol, sur un plancher</li>
  <li>Etablissement vertical : jour de la cage d’escalier, en façade</li>
  <li>Etablissement oblique : plan incliné, volées d’un escalier</li>

  <p>Rappel : Dans un bâtiment, en fonction de l'époque de construction, on compte par étage :</p>
  <li>3 à 4 mètres de longueur de tuyau pour un établissement vertical</li>
  <li>6 à 8 mètres de longueur de tuyau pour un établissement oblique</li>

</ion-content>
