<ion-content>
  <h3 class="Style1">Bilans :</h3>

  <li>Circonstance de survenue ?<br>
    </li>
    <li>A jeun ?<br>
    </li>
    <li>Pendant ou après un effort ?<br>
    </li>
    <li>Insulino dépendant ou non ?<br>
    </li>
    <li>Heure de la dernière injection ?<br>
    </li>
</ion-content>
