<ion-content>
    <h3 class="Style1">Bilans :</h3>
  
      <li>Questionner l'entourage pour compléter le bilan circonstanciel<br>
      </li>
      <li>Circonstences de survenue<br>
      </li>
      <li>Changement de comportement de la victime<br>
      </li>
      <li>Prostration<br>
      </li>
      <li>Agitation<br>
      </li>
  </ion-content>
