<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Analyser la zone de feu avec l'exploitant si possible<br>
    </li>
  <li>Définir le combustible<br>
    </li>
  <li>Identifier les risques et points sensibles<br>
    </li>
  <li>Faire la part du feu<br>
    </li>
    <li>Prévoir les scénarios d'évolution possibles<br>
    </li>
</ion-content>