<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Personne sortie ou non de l'eau</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>Cause de la noyade</li>
    </ul>
  </li>
</ul>
</ion-content>
