<ion-content>
  <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Portefeuille2.png"/>
  
<div id="m1-demiPavAvant-text">

  4. Positionner un ou deux verins et mettre sous tension avec utilisation d'un sabot si nécessaire<br>
  5. Faire une découpe de décharge dans la bas du montant A<br>

</div>
        
</ion-content>
