<ion-content>
  <h3 class="Style1">A proscrire</h3>

  <li>Sous-estimer le risque de propagation par conduction<br>
  </li>
  <li>Sous-estimer le risque d’intoxication au CO dù aux fissures du conduit<br>
  </li>
</ion-content>