<ion-content>
    <h3 class="Style1">Bilan Fonctionnel :</h3>
  
    <ul>
      <li>Etat de la conscience (conscience - sensibilité - orientation)<br>
      </li>
      <li>Etat ventilatoire : Fréquence, régularité, amplitude (cyanose, sueurs)<br>
      </li>
      <li>Etat circulatoire : Fréquence, régularité, amplitude (pâleur, marbrures)<br>
      </li>
    </ul>
  </ion-content>
  
