<ion-content>

  <h3 align="center" class="Style1">ATTELLE CERVICO-THORACIQUE</h3>

  <p>La mise en place de l'ACT se fait :</p>

  <li>Sur une tête en position neutre</li>
  <li>Sans bouger la tête de la victime par rapport au tronc</li><br>

  <p>L'ACT est correctement installée si :</p>

  <li>Elle prend appui sous les aisselles de la victime</li>
  <li>Elle est suffisamment serrée pour ne pas bouger</li>
  <li>La colonne vertébrale repose sur l'attelle</li>
  <li>La tête de la victime est immobilisée en position neutre</li><br>

</ion-content>
