<!--
  Generated template for the GnrAriEquipementCornedappelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>MATERIEL</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h5>CORNE D'APPEL</h5>

    <img src="assets/icon/GNR_CORNE.jpg"/><br>

    <li>Fixée au harnais</li>
    <li>Permet de communiquer selon un code préétabli entre le porteur et le contrôleur</li>

</ion-content>
