<ion-content>

<h5 class="Style1">BINOME D'EXPLORATION</h5>

<li>Aide le chef à l'installation du dispositif de descente<br></li>
<li>Contrôle la descente du chef<br></li>
<li>Participe à la remontée de la victime<br></li>
<li>Remonte le chef</li>

</ion-content>
