<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Présence de malades lourds ou légers ou de personnes handicapées<br>
  </li>
<li>Présence de nombreux appareillages électriques<br>
  </li>
<li>Présence d’éléments divers (O2, sources radiologiques, substances chimiques…)<br>
</li>
<li>Présence de points névralgiques (urgences, blocs, plateaux techniques…)<br>
</li>
</ion-content>