<ion-content>

  <h3 align="center" class="Style1">Lecteur de Glycémie</h3>

  <p>Le sucre, comme l'O2 est essentiel au bon fonctionnement de l'organisme, notamment du cerveau</p>

  <p>La mesure de la glycémie permet de compléter le bilan complémentaire de la victime et d'orienter les SP sur une éventuelle hypoglysémie</p>

  <img class="centrer" src="assets/icon/glycemie1.jpg" alt="" /><br>

</ion-content>
