<!--
  Generated template for the GnrAriAugmentationThermoregulationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contraintes Physiologiques</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">Thermorégulation</h5>

<li>Exposition aux très fortes températures</li><br>
<li>Perte d’efficacité de la sudation dont l’évaporation est limitée par les EPI ainsi que par l’existence du harnais et de la pièce faciale</li><br>
<li>Perte de calories possible que par la ventilation par l'intermédiaire de l’air expirée (certainement pas suffisant)</li><br>

<p><strong>Conséquences :</strong></p>
<li>Augmentation de la fréquence respiratoire</li>
<li>Augmentation de la consommation d’air</li>
<li>Lucidité perturbée par l’hyperventilation</li>

</ion-content>
