<ion-content>

    <h3 align="center" class="Style1">ATTELLE CERVICO-THORACIQUE</h3>

    <p>L'attelle cervico-thoracique (A.C.T) permet d'immobiliser la tête, le cou, le tronc d'une vicitme suspecte d'un traumatisme de la colonne vertébrale</p>

    <img class="centrer" src="assets/icon/1.jpg" alt="" /><br>

    <p>L'attelle cervico-thoracique est composée:</p>

    <li>D'un corset semi-rigide (dans le sens de la hauteur), constitué d'une bande thoracique (corset) reliée à un rabat de tête <span class="Style1">(1)</span></li>
    <li>De 3 sangles thoraciques <span class="Style1">(2)</span></li>
    <li>De 2 sangles de cuisse <span class="Style1">(3)</span></li>
    <li>De poignets de portage <span class="Style1">(4)</span></li>
    <li>D'un coussin de tête <span class="Style1">(5)</span></li>
    <li>De sangles de maintien de la tête au niveau du front et du menton <span class="Style1">(6)</span></li>
    <li>D'un sac de rangement <span class="Style1">(7)</span></li>

    </ion-content>
