<!--
  Generated template for the GnrariFumeesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Atmosphère</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h3 class="Style1">LES FUMEES D'INCENDIE</h3>

    <li>La Combustion dégage :<br>
      <ol>-Un Rayonnement lumineux</ol>
      <ol>-Chaleur (convection, conduction et rayonnement)</ol>
      <ol>-Gaz toxiques et solides (suies, cendres, etc.)</ol>
    </li>

    <li>Air non respirable : Agression Chimique
    </li><br>

    <li>Fumées chaudes : Agression Physique (augmentation de la contrainte physique)
    </li>

    <p><strong>Le Risque Chimique présenté par les fumées d’incendie se ramène au risque toxicologique du produit libéré lors de la combustion</strong><br></p>

    <p><strong>De plus, certains matériaux tel que le béton absorbent, sous l’effet de la chaleur, les gaz de combustion : Après l’incendie ces gaz sont libérés, donc présence de CO = ARI obligatoire pendant les phases attaques et déblais</strong></p>

</ion-content>
