<ion-content>

  <h5 class="Style1">Etablissement d'une LDV par l'extérieur au moyen de l'échelle à coulisses</h5>

    <li>Prend l’échelle à coulisses avec l’équipier</li>
    <li>Suit le chef d’agrès à l’endroit où doit être dressée l’échelle</li>
    <li>Dresse et développe l’échelle</li>
    <li>Déroule son tuyau et raccorde sa lance</li>
    <li>Fixe sa lance dans le dos</li>
    <li>Monte à l’échelle avec le tuyau entre les jambes et la commande</li>
    <li>Se rend au point d’attaque et constitue une réserve suffisante</li>
    <li>Amarre le tuyau et commande ouvrez</li>
    <li>Réalise la mission donnée par le chef d’agrès</li>

</ion-content>