<!--
  Generated template for the GnrAriOperationillustrationsTravauxsurplacePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Procèdure Opérationnelle</ion-title>
      <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>PROCEDURES OPERATIONNELLES ILLUSTRATIONS</h5>

<h3 class="Style1"><u>TRAVAUX SUR PLACE</u></h3><br>

<img src="assets/icon/GNR_engagement2.png"/><br>
<li>Chaque membre du binôme est relié à la ligne guide par la longueur de 1,25 m de sa liaison personnelle</li>

</ion-content>
