<!--
  Generated template for the DivTronconnagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>DIV</ion-title>
            <ion-buttons end >
              <header-menu></header-menu>
            </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="Style1 centrer">TRONCONNAGE</h3>

<p>Lors de tempêtes ou de vents forts, de nombreux arbres tombent sur la voie publique.
Leur dégagement est réalisé au moyen de scies à bois, tronçonneuses et appareils de force (câbles, tirfor, cordages).</p>

<p>Le tronçonnage est une opération à risques, il convient donc d'être formé et entraîné avant d'utiliser une tronçonneuse.</p>

<p class="Style1">Une tronçonneuse ne sert qu'à couper du bois ou des objets en bois!</p>

<h5 class="Style1">Technique opérationnelle pour couper un arbre ou un élément vertical</h5>

<li>Etablir un périmètre de sécurité équivalent à 1,5 fois la hauteur de l'arbre avec un chemin de repli à l'opposé de la chute, voire latérale</li>
<li>S'équiper des EPI spécifiques au tronçonnage : Surpantalon et veste anti-coupe, gants, casque, lunettes</li>
<li>Vérifier la tension de la chaîne</li>
<li>Enlever les végétaux éventuels accrochés au tronc à couper, caler si nécessaire et enlever les branches au fur et à mesure</li>
<li>Démarrer la machine au sol (on / starter)</li>
<li>Tenir la tronçonneuse fermement à deux mains pour en assurer le contrôle permanent</li>
<li>Couper lentement et méthodiquement en faisant attention aux branches sous tension, le sens du vent, la pente du terrain, etc</li>
<li>Procéder une entaille d'abattage du coté de la chute sur 1/3 du tronc maximum</li>
<li>Avertir le voisinage de la chute imminente</li>
<li>Procéder à la coupe d'abattage (voir illustration)</li>
<li>Enclencher sans délais le frein de lame après chaque coupe</li>
<li>De retour au CIS, nettoyer la machine, faire le complétement d'huile et d'essence et vérifier la chaîne (tension et affûtage)</li><br>

<h5 class="Style1">Technique opérationnelle pour couper une branche ou tronc horizontal</h5>

<li>S'équiper des EPI spécifiques au tronçonnage : Surpantalonet veste anti-coupe, gants, casques, lunettes</li>
<li>Vérifier la tension de la chaîne</li>
<li>Enlever les végétaux éventuels accrochés au tronc à couper</li>
<li>Démarrer la machine au sol (on / starter)</li>
<li>Tenir la tronçonneuse fermement à deux mains pour en assurer le contrôle permanent</li>
<li>Evaluer les forces de compression et les forces de tension (voir illustrations) et prévoir un calage ou arrimage des grosses pièces si necessaire</li>
<li>Couper lentement et méthodiquement :
  <ul>
    <li>une coupe de dédagement sur la partie en compression</li>
    <li>une coupe de séparation sur la partie en tension</li>
  </ul>
</li>
<li>Enclencher sans délais le frein de lame après chaque coupe</li>
<li>Caler si nécessaire et enlever les branches au fur et à mesure</li>
<li>De retour au CIS, nettoyer la machine, faire le complétement d'huile et d'essence et vérifier la chaîne (tension et affûtage)</li><br>

<h5 class="Style1">Dangers lors de l'utilisation d'une tronçonneuse</h5>

<li>Le rebond : la tronçonneuse est projetée avec force vers l'utilisation, de façon incontrôlable (danger majeur)</li>
<li>L'attirance de coupe : partir inférieure coincée ou touche un corps étranger, la tronçonneuse est brutalement tirée vers l'avant</li>
<li>Le contrecoup : partir supérieure coincée ou touche un corps étranger, la tronçonneuse est brutalement propulsée vers l'arrière, vers l'utilisateur</li><br>

<img src="assets/icon/illus_tronconnage_179.jpg" alt="" /><br>
<img src="assets/icon/zonedereplie_183.jpg" alt="" /><br>
<img src="assets/icon/elagage_178.jpg" alt="" /><br>
<img src="assets/icon/tron_a_180.png" alt="" /><br>
<img src="assets/icon/tron_b_181.png" alt="" /><br>
<img src="assets/icon/tron_c_182.png" alt="" /><br>

</ion-content>
