<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>S’assurer de la stabilité de l’édifice, sa géographie, ce qu’il contient<br>
    </li>
  <li>Coupure des énergies<br>
    </li>
  <li>Constituer des binômes de reconnaissance, de sécurité<br>
    </li>
  <li>Débuter l’extraction des fumées<br>
    </li>
  <li>Entamer les recherches si notions de victimes potentielles<br>
  </li>
  <li>Recherche du sinistre, des accès les plus courts par des équipes spécialisées dans les reconnaissances de longues durées (GRIMP)<br>
  </li>
  <li>Mise en place d’une stratégie d’attaque<br>
  </li>
  <li>Définir un sens de tirage pour les fumées en fonction de la géographie du site et accélérer le procédé de ventilation<br>
  </li>
</ion-content>
