<ion-content>

    <h3><strong>Critères de résistance au feu des matériaux - Classification des performances.</strong></h3>
<table width="100%" borde="1">
  <tr>
    <th scope="col">Français</th>
    <th scope="col">Définiiton</th>
  </tr>
  <tr>
    <td>SF</td>
    <td>Capacité portante de l'élément exposé au feu sans perte de stabilité</td>
  </tr>
  <tr>
    <td>PF</td>
    <td>Etanchéité aux gaz chauds et aux flammes</td>
  </tr>
  <tr>
    <td>CF</td>
    <td>Isolation thermique</td>
  </tr>
</table>
<h3><strong>Critères européens : </strong></h3>
<p>R = SF</p>
<p>E = PF</p>
<p>EI = PF + CF</p>
<p>REI = SF + PF + CF</p>

</ion-content>
