<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>Allonger</li>
        <li>Oxygène</li>
        <li>Emballer</li>
        <li>Rassurer</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Position d'attente</li>
        <li>Respect du confort de la victime</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Ecoulement de sang ?</li>
      </ul>
    </li>
  </ul>
</ion-content>
