<ion-content>

  <li>Prendre en compte les personnes en situation de handicap dès la reconnaissance : sauvetage ou mise en sécurité à prévoir</li><br>
  <li>Assurer une évacuation horizontale dans les hôpitaux et maisons de retraite, puis maintenir la porte entre zones fermée. L'attaque devra être réalisée depuis un autre accès, de préférence par l'extérieur ou par l'escalier de secours donnant directement dans la zone sinistrée</li><br>

</ion-content>