<ion-content>

    <h5 class="Style1">Protection Contre les Chutes</h5>
    
    <li>Se munit d'un lot de sauvetage<br></li>
    <li>S'équipe du harnais<br></li>
    <li>Se munit d'anneaux cousus et de mousquetons<br></li>
    <li>S'engage dans la progession en réalisant si nécessaire des amarrages intermédiaires<br></li>
    <li>Une fois l'intervention terminée, récupère les anneaux cousus à son retour<br></li>
    
    </ion-content>
