<!--
  Generated template for the GnrLspccCompositionDescendeurPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MATERIEL</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>DESCENDEUR</h5>

  <img src="assets/icon/descendeur1.jpg"/><br>

  <li>Type 8</li>
  <li>Résistance de 2000 kg</li>
  <li>Il permet de contrôler la vitesse</li>
  <li>Assurer la victime</li>
  <li>Il doit être exclusivement en point fixe</li>

</ion-content>
