<!--
  Generated template for the GnrAriEquipementLiaisonpersonnellePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>MATERIEL</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h5>LIAISON PERSONNELLE</h5>

    <img src="assets/icon/GNR_LiaisonPErso.png"/><br>

    <li>Longueur totale de 6 m</li>
    <li>Liaison courte de 1,25, liaison longue de 6 m</li>
    <li>Diamètre de 4 mm</li>
    <li>Extrémité «courante» avec mousqueton de diamètre supérieur à la ligne guide</li>
    <li>Extrémité «fixe» avec fixation sur le porteur</li><br>

    <p><strong>Liaison personnelle + Ligne guide = Ligne de vie</strong></p>

</ion-content>
