<ion-content>
    <h3 class="Style1">Actions - Conduite a Tenir :</h3>
  
    <ul>
      <li>Gestes à effectuer :
        <ul>
          <li>Allonger</li>
          <li>Immobiliser</li>
          <li>Maintien de la tête</li>
          <li>Oxygène</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Conditionnement :
        <ul>
          <li>Collier cervical, coquille</li>
          <li>Plat dos (pieds plus bas que la tête)</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Surveillance :
        <ul>
          <li>Trois fonctions vitales</li>
        </ul>
      </li>
    </ul>
  </ion-content>
