<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>Rassurer</li>
        <li>Oxygène</li>
        <li>L'aider à prendre son traitement</li>
        <li>Mesure de la glycémie (Glycémie normale : entre 0.80g/l et 1.20g/l)</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Possition adoptée par la victime</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Aggravation en PC ?</li>
      </ul>
    </li>
  </ul>
</ion-content>
