<ion-content>
    <h5 class="Style1">POINTS FIXES ET AMARRAGES</h5>
  
<p><strong>POINTS FIXES</strong></p>

<li>Est considéré comme point fixe, tout objet ou structure convenablement ancré, offrant une résistance suffisante à l'effort demandé</li>
<p>Exemples : Pane, chevrons, poutre, poteau...</p>

<p><strong>AMARRAGES</strong></p>

<li>L'amarrage est l'élément essentiel d'un dispositif de descente, de remontée ou de protection contre les chutes</li>
<li>Il est réalisé à l'aide d'anneaux cousus et de mousquetons</li>
<li>Un amarrage principale doit toujours être doublé sur un même point fixe si celui-ci est assez résistant, sinon choisir deux points fixes distincts</li>

<p><strong>UTILISATION DES AMARRAGES</strong></p>

<img id="m1-POINTS-image1" class="m1-clickable m1-image" src="assets/icon/amarrages.png"/>

</ion-content>
