<!--
  Generated template for the GnrLspccOperationReglesdebasesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>REGLES DE BASES</ion-title>
            <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-tabs>
        <ion-tab [root]="tab22Root" tabTitle="AVANT" tabIcon="tab22"></ion-tab>
        <ion-tab [root]="tab23Root" tabTitle="PENDANT" tabIcon="tab23"></ion-tab>
        <ion-tab [root]="tab24Root" tabTitle="APRES" tabIcon="tab24"></ion-tab>
    </ion-tabs>

</ion-content>
