<!--
  Generated template for the GnrfdfPreambulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h4 class="Style1">PREAMBULE</h4>

<p>La doctrine française relative aux feux de forêts a été élaborée à partir de la prise en compte
des retours d’expérience et de l’évolution des techniques de lutte contre les feux de forêts.</p>

<p>Les manoeuvres de base décrites dans le présent guide des techniques professionnelles sont
simplifiées et présentées sous forme de principe. Elles prennent en compte les spécificités
opérationnelles de certaines régions liées aux conditions locales de topographie ou de dotation
en matériels.</p>

<p>Les dispositions du présent guide national de référence, prises en application du code général
des collectivités territoriales et notamment de l’article R. 1424-52, sont applicables dans le
cadre des missions et des formations des sapeurs-pompiers dans le domaine des <strong>feux de
forêts.</strong></p>

<p class="Style1">Elles permettent à tous les sapeurs-pompiers et aux personnels des unités militaires investies à
titre permanent des missions de sécurité civile de conduire les interventions <strong>dans un cadre
national commun et cohérent, garant d’efficacité et de sécurité.</strong></p>

<p>Nonobstant le fait que ce guide national de référence soit adapté au cadre national commun, le
règlement opérationnel, mentionné à l’article R. 1424-42 du code général des collectivités
territoriales, peut, compte tenu du caractère particulier des feux de forêts et au regard des
spécificités locales, compléter les moyens et les consignes de sécurité considérés comme utiles
à sa mise en oeuvre.</p>

<p>Les <strong>appellations</strong> suivantes sont utilisées dans le cadre du présent guide :</p>

<li>FDF : feux de forêts</li>
<li>CCF : camion citerne feux de forêts</li>
<li>CCFM : camion citerne feux de forêts de classe M</li>
<li>CCFS : camion citerne feux de forêts de classe S</li>
<li>GIFF : groupe d’intervention feux de forêts</li>
<li>UIFF : unité d’intervention feux de forêts</li>
<li>ULIFF : unité lourde d’intervention feux de forêts</li>
<li>VLTT : véhicule léger tout terrain</li>
<li>VTU : véhicule tout usage</li>
<li>DIH : détachement d’intervention héliporté</li>
<li>COS : commandant des opérations de secours</li>
<li>Lance 150 : lance pouvant débiter 150 l/min</li>
<li>Lance 500 : lance pouvant débiter 500l/min</li>
<li>Lance 1000 : lance pouvant débiter 1000l/min</li>
<li>ZE : zone d’emport</li>
<li>DA : dévidoir aérien</li><br>

<img src="assets/icon/Capture20.PNG" alt="" />

</ion-content>
