<!--
  Generated template for the DivBachagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>DIV</ion-title>
            <ion-buttons end >
              <header-menu></header-menu>
            </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="Style1 centrer">BACHAGE</h3>

<p><strong>Deux cas de figures :</strong></p>

<li>Protection des biens lors des intempéries ou inondations</li>
<li>Protection des biens lors d'un incendie</li>

<h4 class="Style1">Protection des biens lors des intempéries ou inondations</h4>

<p>Avant d'opérer, le chef d'agrès doit s'assurer que le propriétaire des lieux s'est trouvé dans l'impossibilité d'obtenir
l'intervention d'un couvreur et que la demende est justifiée.</p>

<p>Une fois les bâches posées, il doit les faire prendre en compte par le propriétaire, qui en devient responsable.</p>

<p>Le chef d'agrès doit toujours lui indiquer que le bâchage effectué par les sapeurs pompiers ne peut être que provisoire etde courte durée.</p>

<h4 class="Style1">Protection des biens lors d'un incendie</h4>

<p>Lors d'un incendie, le bâchage des objets menacés par ce dernier se fera conjointement à la phase d'attaque et après l'incendie :</p>

<h5><strong>Phase attaque</strong></h5>

<li>Regroupement des objets menacés par les fumées et eaux d'incendie au centre de la pièce</li>
<li>Essayer de surélever les objets menacés et les recouvrir le plus hermétiquement possible</li><br>

<h5><strong>Après l'incendie</strong></h5>

<li>Protection des biens après la phase déblais par le bâchage des ouvertures (toiture, fenêtres, portes, etc.)</li>

<h4 class="Style1">Matériel (matériel minimum)</h4>

<li>Plusieurs bâches de 12 à 40 m2 (textile ou polyéthylène)</li>
<li>Des pointes et un marteau de charpentier</li>
<li>Un rouleau de fil de fer</li>
<li>Une tenaille</li>
<li>Options : pince coupante, films plastiques, cordes, etc</li><br>

<h4 class="Style1">Techniques de bâchage (règles générales) d'un toit</h4>

<li>Enlever les clous sur les charpentes afin de ne pas détériorer et percer les bâches</li>
<li>Ne pas poser les bâches sur des parties saillantes, bords tranchants ou éléments chauds ou incandescents de l'incendie</li>
<li>Plier les bâches en accordéon</li>
<li>Fixer la première bâche en partie haute sur le faîtage</li>
<li>La déplier à l'aide d'une commande et fixer éventuellement des poids pour lester la bâche</li>
<li>Clouer la bâche par l'intermédiaire des oeillets sur les chevrons de la charpente</li>
<li>Dans tous les cas, les bâches basses de plus de 100cm (voir illustration)</li>
<li>Il faut également s'assurer que l'eau s'écoule naturellement, qu'il n'y a pas de risque de réservoir</li><br>

<h4 class="Style1">Protection des meubles</h4>

<li>Surélever les meubles et objets à protéger sur des parpaings, palette bois, etc</li>
<li>Recouvrir d'une bâche en faisant bien attention sur l'coulement de l'eau : il ne faut pas que l'eau stagne et qu'elle s'egoule
naturellement aux pieds de la bâche (angles)</li>
<li>Pour la protection des meubles lors des inondations (eau montante), il convient de poser la bâche sur la surélévation afin
d'envelopper les objets (lester la bâche par le dessus)</li><br>

<h4 class="Style1">Règles de sécurité</h4>

<li>Chute liée à la hauteur</li>
<li>Toiture fragilisée</li>
<li>Toiture humide et glissante</li>
<li>Déséquilibre lors du déploiement des bâches</li>
<li>Blessures avec les outils</li>
<li>Obligation de porter les EPI et utilisation du LSPCC</li><br>

<img src="assets/icon/bachage_221.png" alt="" /><br>
<img src="assets/icon/bachage2_185.png" alt="" /><br>
<img src="assets/icon/bachage3_186.png" alt="" /><br>

</ion-content>
