<ion-content>
  <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Portefeuille1.png"/>
  
<div id="m1-demiPavAvant-text">

  1. Après avoir fait un dépavillonage<br>
  2. Déplacer les cales de roue avant à l'arrière du véhicule<br>
  3. Contre-caler au niveau du montant B<br>

</div>
        
</ion-content>