<ion-content>
    <h3 class="Style1">Actions - Conduite a Tenir :</h3>
  
    <ul>
      <li>Gestes à effectuer :
        <ul>
          <li>Immobilisation</li>
          <li>Oxygène</li>
          <li>Rassurer</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Conditionnement :
        <ul>
          <li>Attelles</li>
          <li>Eventuellement coquille</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Surveillance :
        <ul>
          <li>Verifier le pouls</li>
        </ul>
      </li>
    </ul>
  </ion-content>
