<ion-content>
    <h3 class="Style1">Actions - Conduite a Tenir :</h3>
  
    <ul>
      <li>Gestes à effectuer :
        <ul>
          <li>Mettre au repos</li>
          <li>Oxygène</li>
          <li>Rassurer</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Conditionnement :
        <ul>
          <li>Position demi assise</li>
          <li>Transport sans décélération brutale jusqu'au CH</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Surveillance :
        <ul>
          <li>Fonction circulatoire</li>
          <li>Risque de survenue d'une fibrillation ventriculaire à tout instant</li>
        </ul>
      </li>
    </ul>
  </ion-content>
