<ion-content>

<h5 class="Style1">Règles de Base Avant l'Engagement</h5>

  <li>Vérification du contenu du sac<br>
  </li>
  <li>Désignation du personnel<br>
  </li>
  <li>Evaluation de la difficulté technique due à l'environnement<br>
  </li>
    <li>Evaluation de la hauteur ou de la profondeur<br>
  </li>
    <li>Evaluation de l'état de la victime<br>
  </li>

</ion-content>
