// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.Style1 {
    font-family: 'Roboto', sans-serif;
    color: #bd081c;
  }

.Style2 {
    font-family: 'Roboto', sans-serif;
    color: #488aff;
  }

.Style3 {
      font-family: 'Roboto', sans-serif;
    color: #000000;}

  ::-webkit-scrollbar{ display:none; }

.toolbar-title {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.centrer {
    text-align: center;
}

.titre-categorie-inc {
    color: #fdfffc;
    background-color: #bd081c;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
}


.titre-categorie-prev {
    color: #fdfffc;
    background-color: #0084ff;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
}

.titre-categorie-nrbc {
    color: #fdfffc;
    background-color: #ff5700;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
}

.titre-categorie-sap {
    color: #fdfffc;
    background-color: #43A047;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
}

.titre-categorie-outils {
    color: #fdfffc;
    background-color: #131418;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
}

.titre-categorie-goc {
    color: #fdfffc;
    background-color: #8e44ad;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
}

.titre-categorie-gnr {
    color: #131418;
    background-color: #bdc3c7;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
}

// tab INC

.ion-md-tab1[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons/fire.png") !important;
}
.ion-md-tab1[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons/fire.png") !important;
}


.ion-md-tab2[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons/emergency.png") !important;
}
.ion-md-tab2[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons/emergency.png") !important;
}


.ion-md-tab3[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons/Big10.png") !important;
}
.ion-md-tab3[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons/Big10.png") !important;
}

.ion-md-tab4[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons/fire-engine.jpg") !important;
}
.ion-md-tab4[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons/fire-engine.jpg") !important;
}

.ion-md-tab5[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons/warning_shield.png") !important;
}
.ion-md-tab5[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons/warning_shield.png") !important;
}

.ion-md-tab6[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons/interdit1.png") !important;
}
.ion-md-tab6[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons/interdit1.png") !important;
}

//tab SAP

.ion-md-tab7[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/monitor.png") !important;
}
.ion-md-tab7[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/monitor.png") !important;
}

.ion-md-tab8[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/stethoscope.png") !important;
}
.ion-md-tab8[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/stethoscope.png") !important;
}

.ion-md-tab9[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/doctor.png") !important;
}
.ion-md-tab9[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/doctor.png") !important;
}

.ion-md-tab10[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/warning_shield.png") !important;
}
.ion-md-tab10[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/warning_shield.png") !important;
}

// tab SAP Bilans

.ion-md-tab11[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/house.png") !important;
}
.ion-md-tab11[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/house.png") !important;
}

.ion-md-tab12[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/medicalsign.png") !important;
}
.ion-md-tab12[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/medicalsign.png") !important;
}

.ion-md-tab13[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/manfigure.png") !important;
}
.ion-md-tab13[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/manfigure.png") !important;
}

.ion-md-tab14[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/brain.png") !important;
}
.ion-md-tab14[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/brain.png") !important;
}

.ion-md-tab15[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/oldphone.png") !important;
}
.ion-md-tab15[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/oldphone.png") !important;
}

.ion-md-tab16[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/warning_shield.png") !important;
}
.ion-md-tab16[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/tabsIcons2/arrowbig12.png") !important;
}

// tab SR Principes

.ion-md-tab17[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/constructionbarrier.png") !important;
}
.ion-md-tab17[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/constructionbarrier.png") !important;
}

.ion-md-tab18[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/3d.png") !important;
}
.ion-md-tab18[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/3d.png") !important;
}

.ion-md-tab19[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/fire.png") !important;
}
.ion-md-tab19[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/fire.png") !important;
}

.ion-md-tab20[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/trafficcongestion.png") !important;
}
.ion-md-tab20[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/trafficcongestion.png") !important;
}

.ion-md-tab21[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/electric.png") !important;
}
.ion-md-tab21[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/electric.png") !important;
}

// tab SR

.ion-md-tab22[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/1N_30x30.png") !important;
}
.ion-md-tab22[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/1N_30x30.png") !important;
}

.ion-md-tab23[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/2N_30x30.png") !important;
}
.ion-md-tab23[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/2N_30x30.png") !important;
}

.ion-md-tab24[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/3N_30x30.png") !important;
}
.ion-md-tab24[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/3N_30x30.png") !important;
}

.ion-md-tab25[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/4N_30x30.png") !important;
}
.ion-md-tab25[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/4N_30x30.png") !important;
}

.ion-md-tab26[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/5N_30x30.png") !important;
}
.ion-md-tab26[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/5N_30x30.png") !important;
}

.ion-md-tab27[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/6N_30x30.png") !important;
}
.ion-md-tab27[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/6N_30x30.png") !important;
}

.ion-md-tab28[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/7N_30x30.png") !important;
}
.ion-md-tab28[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/7N_30x30.png") !important;
}

// tab GOC cadre d'ordre

.ion-md-tab29[ng-reflect-is-active="true"] {
    max-width: 26px !important;
}
.ion-md-tab29[ng-reflect-is-active="false"] {
    max-width: 26px !important;
}

.ion-md-tab30[ng-reflect-is-active="true"] {
    max-width: 26px !important;
}
.ion-md-tab30[ng-reflect-is-active="false"] {
    max-width: 26px !important;
}

.ion-md-tab31[ng-reflect-is-active="true"] {
    max-width: 26px !important;
}
.ion-md-tab31[ng-reflect-is-active="false"] {
    max-width: 26px !important;
}

.ion-md-tab32[ng-reflect-is-active="true"] {
    max-width: 26px !important;
}
.ion-md-tab32[ng-reflect-is-active="false"] {
    max-width: 26px !important;
}

// tab GOC message radio

.ion-md-tab33[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/binocular.png") !important;
}
.ion-md-tab33[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/binocular.png") !important;
}

.ion-md-tab34[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/box3d.png") !important;
}
.ion-md-tab34[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/box3d.png") !important;
}

// tab GOC fonction pc

.ion-md-tab35[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/Big10.png") !important;
}
.ion-md-tab35[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/Big10.png") !important;
}

.ion-md-tab36[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/oldphone.png") !important;
}
.ion-md-tab36[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/oldphone.png") !important;
}

.ion-md-tab37[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/document.png") !important;
}
.ion-md-tab37[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/document.png") !important;
}

// tab GOC outils graphique

.ion-md-tab38[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/document.png") !important;
}
.ion-md-tab38[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/document.png") !important;
}

.ion-md-tab39[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/document.png") !important;
}
.ion-md-tab39[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/document.png") !important;
}

.ion-md-tab40[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/document.png") !important;
}
.ion-md-tab40[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/document.png") !important;
}

.ion-md-tab41[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/document.png") !important;
}
.ion-md-tab41[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/document.png") !important;
}

// tab PREV outils graphique

.ion-md-tab42[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/shop.png") !important;
}
.ion-md-tab42[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/shop.png") !important;
}

.ion-md-tab43[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/apartment.png") !important;
}
.ion-md-tab43[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/apartment.png") !important;
}

.ion-md-tab44[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/house.png") !important;
}
.ion-md-tab44[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/house.png") !important;
}

.ion-md-tab45[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/hotel.png") !important;
}
.ion-md-tab45[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/hotel.png") !important;
}

// tab PREV

.ion-md-tab46[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/waterhose.png") !important;
}
.ion-md-tab46[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/waterhose.png") !important;
}

.ion-md-tab47[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/warning_shield.png") !important;
}
.ion-md-tab47[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/warning_shield.png") !important;
}

// tab PREV gros et second oeuvre

.ion-md-tab48[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/question_shield.png") !important;
}
.ion-md-tab48[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/question_shield.png") !important;
}

.ion-md-tab49[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/box3d.png") !important;
}
.ion-md-tab49[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/box3d.png") !important;
}

.ion-md-tab50[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/firewall.png") !important;
}
.ion-md-tab50[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/firewall.png") !important;
}

.ion-md-tab51[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/public.png") !important;
}
.ion-md-tab51[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/public.png") !important;
}

// tab PREV plan d intervention

.ion-md-tab52[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/EAS30x30.png") !important;
}
.ion-md-tab52[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/EAS30x30.png") !important;
}

.ion-md-tab53[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/PI30x30.png") !important;
}
.ion-md-tab53[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/PI30x30.png") !important;
}

.ion-md-tab54[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/SSI30x30.png") !important;
}
.ion-md-tab54[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/SSI30x30.png") !important;
}

.ion-md-tab55[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/chaufferie30x30.png") !important;
}
.ion-md-tab55[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/chaufferie30x30.png") !important;
}

//tab GNR contraintes

.ion-md-tab56[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/manfigure.png") !important;
}
.ion-md-tab56[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/manfigure.png") !important;
}

.ion-md-tab57[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/manfigure.png") !important;
}
.ion-md-tab57[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/manfigure.png") !important;
}

.ion-md-tab58[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/manfigure.png") !important;
}
.ion-md-tab58[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/manfigure.png") !important;
}

//tab GNR amarrage et noeuds

.ion-md-tab59[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/CourbeA.png") !important;
}
.ion-md-tab59[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/CourbeA.png") !important;
}

.ion-md-tab60[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/CourbeB.png") !important;
}
.ion-md-tab60[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/CourbeB.png") !important;
}

// tab GNR sauvetage par l exterieur

.ion-md-tab61[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/Adjudant.png") !important;
}
.ion-md-tab61[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/Adjudant.png") !important;
}

.ion-md-tab62[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/gradeCPL_30x30.png") !important;
}
.ion-md-tab62[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/gradeCPL_30x30.png") !important;
}

.ion-md-tab63[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/grade1cl_30X30.png") !important;
}
.ion-md-tab63[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/grade1cl_30X30.png") !important;
}

.ion-md-tab64[ng-reflect-is-active="true"] {
    max-width: 26px !important;
    content: url("../../assets/icon/Binome_import30.png") !important;
}
.ion-md-tab64[ng-reflect-is-active="false"] {
    max-width: 26px !important;
    content: url("../../assets/icon/Binome_import30.png") !important;
}
