<!--
  Generated template for the GnrLspccCompositionAnneauxcoususPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MATERIEL</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>ANNEAUX COUSUS</h5>

  <img src="assets/icon/anneaux_2.jpg"/><br>

  <li>3 anneaux cousus de 0.80 m couleur Bleu clair</li>
  <li>3 anneaux cousus de 1.50 m couleur Rouge clair</li>
  <li>Résistance 2000 kg</li>
  <li>Largeur de 18 à 25 mm</li><br>

  <p>Le lot échelle comprend 3 anneaux de couleur bleu en plus</p>

</ion-content>
