<ion-content>

    <h5 class="Style1">M4: Alimentation de l'engin</h5>
    
      <li>Décroche le dévidoir et enlève la division si nécessaire</li><br>
      <li>Emmène le dévidoir avec le chef jusqu’à la prise d’eau</li><br>
      <li>Remonte l’établissement avec le dévidoir</li><br>
      <li>Se met à disposition du chef d’agrès</li><br>

</ion-content>
