<ion-content>

    <h3 align="center" class="Style1">BRANCARD CUILLERE</h3>

    <p>Le transfert de la victime sur le brancard :</p>

    <li>Doit être doux, sans à coup tout en respectant l'axe "tête-cou-tronc" si un traumatisme est suspecté</li><br>

    <li>Ne doit pas augmenter une douleur ni aggraver une lésion préexistante</li>

  </ion-content>
