<ion-content>

  <h3 align="center" class="Style1">Mesure de la Pression Artérielle</h3>

<li>La victime doit être soit assise soit allongée, au repos, bras dénudé afin de recueillir des valeurs fiables</li><br>

<li>La taille du brassard doit être adaptée à la morphologie de la victime au risque de fausser la mesure</li><br>

<li>Les restrictions d'emploi des différents matériels doivent être respectées<li><br>

<li>Les mesures doivent être transmises au médecin lors du contact avec le 15</li>

</ion-content>
