<!--
  Generated template for the GnrAriEquipementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Matériel</ion-title>
        <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>EQUIPEMENT</h5>

   <ion-list>
   <ion-item *ngFor="let item of list" (click)="itemSelected(item)">
   <ion-avatar item-start>
   <img src="{{item.image}}">
    
  </ion-avatar>
    <h4>
      {{ item.title }}
    </h4> 
    
     </ion-item>
  </ion-list>
  

</ion-content>
