<ion-content>

    <h5 class="Style1">M1: Etablissement de la LDT</h5>
  
      <li>Facilite le déroulement du tuyau jusqu’au premier raccord</li><br>
      <li>Prend le premier raccord et le dépose au pied du chef</li><br>
      <li>Retransmet l’ordre «HALTE»</li><br>
      <li>Double le chef</li><br>
  
  </ion-content>
