<ion-content>
    <h3 class="Style1">Bilans :</h3>
  
    <li>1ère fois ?<br>
      </li>
      <li>Maladie connue ?<br>
      </li>
      <li>Traumatisme crânien récent ?<br>
      </li>
  </ion-content>
