<!--
  Generated template for the GnrfdfGiffDeplacementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DU GIFF</h3>

<img src="assets/icon/Capture54.PNG" alt="" />

<h4 class="Style1">DEPLACEMENTS</h4>

<h5>Règles pratiques</h5>

<p><u><strong>Vitesse</strong></u></p>

<li>La <strong>vitesse maximale</strong> est fixée par le chef du GIFF</li>


  <li>La <strong>distance de sécurité</strong> entre chaque véhicule lors du déplacement est :
    <ul>
      <li>d’environ 50 m sur route</li>
      <li>dispositif resserré en agglomération et adapté sur piste</li>
    </ul>
  </li>


<p><u><strong>Signalisation</strong></u></p>

<p>Les <strong>feux de croisement</strong> des véhicules sont allumés. Le chef du GIFF fixe les conditions
d'utilisation des <strong>signaux sonores</strong> (corne deux tons) et <strong>lumineux</strong> (gyrophares) des véhicules.</p>

<h5>Différents déplacements</h5>

<p><u><strong>Formation de transit</strong></u></p>

<p class="Style1">Pendant le déplacement sur la route, le véhicule le plus lent ou le moins
manoeuvrant est placé immédiatement derrière la VLTT.</p>

<p>Commandement du chef du GIFF : « Prenez la formation de transit »</p>

<img src="assets/icon/Capture55.PNG" alt="" />

<p><u><strong>Formation tactique</strong></u></p>

<p class="Style1">Pendant le déplacement sur la piste, le véhicule le moins manoeuvrant est
placé en dernière position.</p>

<p>Commandement du chef du GIFF : « Prenez la formation tactique »</p>

<img src="assets/icon/Capture56.PNG" alt="" />

<p><u><strong>Manoeuvre de retournement (ou ½ tour)</strong></u></p>

<p><u>Situation :</u></p>

<p>Lorsque le chef du GIFF doit faire effectuer un demi-tour à son groupe sur une piste, il repère :</p>

<li>Soit une aire de manoeuvre sur le bord de la piste</li>
<li>Soit une amorce de chemin</li><br>

<p>Commandement du chef du GIFF : « Retournement du groupe, emplacement balisé par la VLTT »</p>

<p><u>Déroulement :</u></p>

<li>Le chef du GIFF balise l’emplacement du retournement avec la VLTT</li>
<li>Les 4 véhicules dépassent cet emplacement après la manoeuvre de la VLTT et stoppent</li>
<li>La VLTT fait son ½ tour</li>
<li>Les chefs d’agrès descendent et guident la marche arrière de leur véhicule</li>
<li>Le dernier véhicule effectue une marche arrière dans l’emplacement puis repart</li>
<li>Les autres véhicules effectuent à leur tour la même manoeuvre</li>
<li>Dès que possible, les véhicules reprennent leur formation initiale</li><br>

<p class="Style1">En cas d’urgence, <strong>le chef de groupe adapte la manoeuvre</strong> en fonction de la
situation et de la configuration des lieux.</p>

<p><img src="assets/icon/Capture57.PNG" alt="" /><strong>Manoeuvre de retournement (ou ½ tour) du GIFF</strong></p>

<p><u><strong>Arrêt en parallèle</strong></u></p>

<p><u>Situation :</u></p>

<p>Au point de transit ou pour un stationnement prolongé, le GIFF peut être amené à s'immobiliser
sur une aire de manoeuvre pour être prêt à intervenir.</p>

<p>Commandement du chef du GIFF : « Arrêt en parallèle »</p>

<p><u>Déroulement :</u></p>

<li>La VLTT se gare la première</li>
<li>Les chefs d’agrès descendent et guident la marche arrière de leur véhicule</li>
<li>Les véhicules se garent parallèlement à la VLTT</li>
<li>Les personnels descendent des véhicules sur ordre du chef du GIFF</li><br>

<p><img src="assets/icon/Capture58.PNG" alt="" /><strong>Arrêt en parallèle</strong></p>

<p><u><strong>Arrêt en colonne</strong></u></p>

<p><u>Situation :</u></p>

<p>Pendant les déplacements, au point de transit ou sur le bord d’une route, le GIFF
peut être amené à effectuer un stationnement de courte durée.</p>

<p>Commandement du chef du GIFF : « Arrêt en colonne »</p>

<p><u>Déroulement :</u></p>

<li>Les véhicules se garent derrière la VLTT</li>
<li>Les personnels descendent des véhicules sur ordre du chef du GIFF</li>

<p><img src="assets/icon/Capture59.PNG" alt="" /><strong>Arrêt en colonne</strong></p>

</ion-content>
