<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Douleurs</li>
        <li>Impotence</li>
        <li>Déformation</li>
        <li>Gonflement</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>Localisation des atteintes</li>
      <li>Sensibilités</li>
      <li>Motricités</li>
    </ul>
  </li>
</ul>
</ion-content>