<ion-content>
        <h5><u>TECHNIQUE N°1</u></h5>
        <img src="assets/icon/OuvertureporteA2.png"/>
    <ul>
        4. Maintenir la poignée intérieure ouverte (ex : cale)<br>
        5. Faite sauter les charnières<br>
    </ul>
    
    </ion-content>
