<ion-content>
  <h3 class="Style1">Bilans :</h3>

  <li>Troubles respiratoire importants<br>
    </li>
    <li>Troubles cardiaques associés ?<br>
    </li>
    <li>Circonstances de survenue ?<br>
    </li>
    <li>Antécédents, Traitement ?<br>
    </li>
</ion-content>
