<ion-content>
  <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Coquille1.png"/>
  
<div id="m1-demiPavAvant-text">

  1. Enlever les portes, casser les vitres et ouvrir le coffre<br>
  2. Préparer les étais, cales supplémentaires et verin<br>

</div>
        
</ion-content>