<ion-content>

<h3>PERTURBATION SENSORIELLES</h3>
  <h5 class="Style1">Déficit Sensoriel</h5>

  <li>Champ de vision du porteur<br>
  </li>
  <li>Acuité visuelle<br>
  </li>
  <li>Acuité auditive<br>
  </li>
    <li>Perte de l’odorat<br>
  </li>
    <li>Perception des rayonnements<br>
  </li>

</ion-content>
