<ion-content>

<h5 class="Style1">Tuyaux en écheveaux : Etablissement de la prise d'eau vers le point d'attaque</h5>

  <li>Prend son matériel</li>
  <li>Laisse le chef BAT raccorder le tuyau à la prise d’eau</li>
  <li>Suit le Chef d’agrès jusqu’au point d’attaque</li>
  <li>Ouvre ou répercute l’ordre d’ouverture du chef BAT</li>
  <li>Vient double le chef</li>

</ion-content>
