<ion-content>
  <h3 class="Style1">Bilans :</h3>

  <li>Se protéger de la cause<br>
    </li>
    <li>Bilans vitales<br>
    </li>
    <li>Affiner le lésionnel pour trouver les points d'entrée et de sortie du courant<br>
    </li>
    <li>Attention aux atteintes associés suite à une chute éventuelle<br>
    </li>
</ion-content>
