<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Reconnaissances approfondies<br>
    </li>
  <li>Dégarnissage important au-delà des parties atteintes<br>
    </li>
  <li>Attaque avec des moyens légers<br>
    </li>
</ion-content>
