<!--
  Generated template for the OutilsopAricoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Outils Opérationnels</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-outils">Autonomie ARICO</h3>

<p class="centrer Style1"><strong>COMING SOON</strong></p>

</ion-content>
