<!--
  Generated template for the GnretablissementlancesGeneralitesMgoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BINOMES</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">MARCHE GENERAL DES OPERATIONS</h5>

  <li>Les Reconnaissances</li>
  <li>Les Sauvetages</li>
  <li>Les Etablissements</li>
  <li>L’Attaque</li>
  <li>La Protection</li>
  <li>Le Déblai</li>
  <li>La Surveillance</li>

  <p>L'attaque, le protection, le déblai et la surveillance ne seront pas abordés dans cette application</p>

</ion-content>
