<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>S’informer sur la nature du combustible<br>
</li>
<li>Demander la présence d’un technicien spécialisé au chef d’exploitation<br>
</li>
</ion-content>