<ion-content>

  <li>Le désenfumage favorise l'évacuation des personnes, limite la propagation et facilite l'action des secours. Toutefois, le désenfumage attise également le feu en le nourrissant d'air</li><br>
  <li>Si le désenfumage n'est pas automatique, il convient de procéder au désenfumage que si les moyens en eau sont prêts</li><br>
  <li>Aussi, une extraction naturelle ou mécanique est  peu efficace s'il n'y a pas d'amenée d'air (vide). Il convient de vérifier que les amenées sont prévues dans l'installation, ou à défaut il est nécessaire d'ouvrir les portes et fenêtres</li><br>
  <li>Prendre en compte le sens du vent pour le désenfumage naturel par les fenêtres ou ouvrants afin de ne pas inverser le sens d'écoulement</li><br>
  <li>Enfin, il est impératif de ne pas déstratifier les fumées (débit ou vitesse trop importante) faute de quoi, le désenfumage sera inefficace, voire il y a un risque d'enfumage généralisé</li><br>

</ion-content>

