<!--
  Generated template for the GnregeConduiteatenirSynoptiquePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">CONDUITES À TENIR</h3>

<h4 class="Style1">SYNOPTIQUE</h4>

<p>Le tableau ci-après résume les éléments abordés précédemment afin d’identifier le risque
potentiel d’explosion de fumées ou d’embrasement généralisé éclair, les mesures
immédiates à appliquer ainsi que la conduite à tenir adaptée à la situation rencontrée.</p>

<p><strong>EXPLOSION DE FUMÉES – EMBRASEMENT GÉNÉRALISÉ ÉCLAIR</strong></p>

<img src="assets/icon/Capture18.PNG" alt="" />

</ion-content>
