<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Présence d'éléments de construction divers et variés<br>
  </li>
<li>Présence d'équipements électriques<br>
  </li>
<li>Propagation du foyer laissant des intervalles intactes<br>
</li>
<li>Dégagement de fumées par les jointures<br>
</li>
</ion-content>
