<ion-content>

  <h3 align="center" class="Style1">KIT Section de Membres</h3>

<p>Le membre sectionné est :</p>

<li>Protégé par un champ stérille</li>
<li>Placé au froid sans contact direct avec les poches réfrigérantes</li>

</ion-content>
