<ion-content>

  <h3 align="center" class="Style1">Mesure de la Pression Artérielle</h3>

<ul>
  <li>La pression artérielle ne doit pas être prise sur un bras
    <ul>
      <li>présentant une fistule artério-veineuse chez un dialysé</li>
      <li>perfusé</li>
      <li>présentant une lésion traumatique</li>
    </ul>
  </li>
</ul><br>

<li>Le non-respect des règles de mise en place du brassard peut engendrer une douleur et une aggravation de l'atteinte de la victime</li><br>

<li>Le tensiomètre ne doit pas rester gonflé plus que nécessaire, au risque de provoquer une douleur</li><br>

<li>Il est parfois difficile de mesurer la pression artérielle lorsque'il existe une détresse circulatoire</li><br>

<li>Le brassard est positionné sur le brad à la hauteur du coeur. Une position au-dessus du niveau du coeur risque d'indiquer des valeurs sous-estimés et inversement lorsqu'il est placé en dessous du coeur</li><br>

<p class="Style1">La mesure de la pression artérielle se fait de préférence sur une victime allongée au repos depuis quelques minutes.
  La mesure peut se faire sur une victime assise ou demi assise à condition que le brassard soit placé au niveau du coeur</p>


</ion-content>
