<ion-content>

  <h3 align="center" class="Style1">KIT Section de Membres</h3>

  <p><u>Objectif </u>: Envelopper un membre sectionné et permettre sa conservation dans les meilleures conditions dans l'attente de sa réimplantation éventuelle</p>

  <img class="centrer" src="assets/icon/kitsectiondemembre.jpg" alt="" /><br>

</ion-content>
