<ion-content>
  <h3 class="Style1">A proscrire</h3>

  <li>Couper les énergies sans étudier les conséquences<br>
  </li>
  <li>Évacuer verticalement si le sinistre peut être conservé dans un espace limité<br>
  </li>
  <li>Ouvrir les portes de recoupement de la zone sinistrée : risque de propagation aux autres zones de mise à l'abri du niveau<br>
  </li>
  <li>Procèder à l'attaque par le niveau sinistré : risque de propagation aux autres zones du niveau<br>
  </li>
</ion-content>
