<!--
  Generated template for the GnrAriEquipementPiecefacialePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MATERIEL</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <h5>PIECE FACIALE (MASQUE)</h5>

    <img src="assets/icon/masque.jpg"/><br>

    <li>Visière panoramique</li>
    <li>Soupape d'expiration</li>
    <li>Membrane phonique</li>
    <li>Brides ou Fixation type araignée</li>
    <li>Demi-masque</li>
    <li>Ne jamais inter-changer les masques d’un type sur un autre</li>
    <li>Vérifier et Nettoyer les masques après utilisation</li>
    <li>Protéger le masque dans une housse fermée</li>

</ion-content>
