<!--
  Generated template for the GnrAriOperationavantControleurPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Procèdure Opérationnelle</ion-title>
            <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>PROCEDURES OPERATIONNELLES AVANT ENGAGEMENT</h5>

<h3 class="Style1"><u>CONTROLEUR</u></h3><br>

<li>Enregistre les binômes équipés d’ARI avant l’engagement</li>
<li>Regroupe et renseigne les plaques de contrôle</li>
<li>Etablit un code de communication avec les binômes</li>
<li>Désigne la fonction des binômes (exploration et sécurité)</li>
<li>Vérifie le bon équipement des porteurs (lampe, ligne de vie, etc.)</li>
<li>Vérifier que le masque et l’appareil sont compatibles</li>
<li>Que les ARI d’un même binôme sont de même type, contenance et pression</li>
<li>Que les ARI sont capelés à l’air frais</li>
<li>Enregistre au maximum 5 binômes sont le binôme de sécurité</li>
<li>Calcul le délai d'intervention et note l’heure de sortie prévisible (pression bouteille en Bars X volume bouteille en litre (6l en mono bouteille) / consommation en litres/min du porteur)</li>

<p class="Style1">Il faut retenir une consommation de 90 l/mn si le porteur ne connaît pas sa consommation. Cela représente un temps d’engagement de 13 mn avec une bouteille de 200B et 20 mn avec une bouteille de 300B</p>

</ion-content>
