<ion-content>

  <h3 align="center" class="Style1">Oxymètre de Pouls</h3>

<p class="Style1">La fréquence cardiaque (FC/min) donnée par l'appareil ne doit en aucun cas se substituer à la prise de pouls car elle permet d'apprécier sa quantité, ni à la recherche des signes de détresse circulatoire</p>

<li>Placer le capteur sur une peau ou un ongle non verni, propre</li>
<li>La cellule rouge doit être positionnée sur l'ongle (fil sur la face postérieure du doigt)</li><br>

<img class="centrer" src="assets/icon/saturometre2.jpg" alt="" /><br>

<li>Mettre l'appareil en marche et laisser la mesure se stabiliser</li>
<li>Relever les résultats sur l'ecran de l'appareil (fréquence du pouls et saturation en oxygène)</li><br>

<img class="centrer" src="assets/icon/saturometre3.jpg" alt="" /><br>

<p>La SpO2 est le reflet exprimé en pourcentage de la quantité d'oxygène transportée par le sang. Elle se situe normalement entre 95 et 100% en air ambiant</p>

</ion-content>
