<!--
  Generated template for the GnrAriAugmentationResistancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contraintes Physiologiques</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">Résistance Inspiratoires et Expiratoires</h5>

<li>Résistance inspiratoire liée à la nécessité d’abaisser la surpression à l’intérieur du masque qui actionne le micro-régulateur et qui permet l’arrivée de l’air</li><br>
<li>Résistance expiratoire liée à l’effort nécessaire au rejet de l’air expiré par la soupape d’expiration</li>

</ion-content>
