<ion-content>

<h3 align="center" class="Style1">ASPIRATEUR DE MUCOSITES</h3>

<p>L'aspirateur des mucosités est réalisée :</p>

<li>Après avoir libéré les voies aériennes et installé la victime en PLS, chez une victime qui a perdu connaissance</li>
<li>Pendant les compressions thoraciques afin de ne pas les interrompre, chez une victime en arrêt cardiaque</li>
<li>En présence de signes d'encombrement ou de liquide dans la bouche, chez un nouveau-né en détresse à la naissance</li><br>

<p class="Style1">La présence d'une canule oropharyngée n'empêche pas l'aspiration. Toutefois, elle peut être retirée temporairement pour faciliter la manoeuvre</p>

<p><strong>Réalisation des aspirations</strong></p>

<p>Le matériel d'aspiration monté et prêt à fonctionner, est positionné à côté de la tête de toute victime inconsciente</p>

<li>S'équiper de gants de protection à usage unique, d'un masque de protection respiratoire et de lunettes</li><br>

<li>Raccorder la sonde stérile au tuyau d'aspiration puis la sortir de son emballage</li><br>

<ul>
  <li>Allumer l'appareil et régler l'aspiration à l'aide de la mollette de réglage (régler en fonction de l'age de la victime) :
    <ul>
     <li>300 à 400 mm Hg (0.40 à 0.52 bars) chez l'adulte ou l'enfant</li>
     <li>100 mm Hg (0.13 bars) chez le nourrisson ou le nouveau-né</li>
    </ul>
  </li>
</ul><br>

<img class="centrer" src="assets/icon/aspi3.jpg" alt="" /><br>

<li>Ouvrire la bouche de la victime</li><br>

<li>Introduire délicatement la sonde d'aspiration au fond de la bouche en restant perpendiculaire au visage</li><br>

<img class="centrer" src="assets/icon/aspi4.jpg" alt="" /><br>

<li>Démarrer l'aspiration en allumant l'appareil</li><br>

<li>Aspirer les sécrétions en ressortant progressivement la sonde et en lui imprimant des mouvements de rotation entre les doigts</li>

<p class="Style1">Pour ne créer aucune lésion dans la cavité buccale et au niveau du pharynx de la victime, il fait éviter les phénomènes de ventouse au niveau des muqueuses</p>

<img class="centrer" src="assets/icon/aspi5.jpg" alt="" /><br>

<li>Remettre la sonde dans son emballage d'origine, une fois l'aspiration terminée</li><br>

<li>Eteindre l'appareil</li><br>

<li>Renouveler plusieurs fois l'aspiration si nécessaire</li>

</ion-content>
