<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Maux de tête, vomissements</li>
        <li>Tailles des pupilles anormales</li>
        <li>Fatigue</li>
        <li>Coma</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>La cause (chauffage, combustion, etc.)</li>
    </ul>
  </li>
</ul>
</ion-content>
