<ion-content>

<h5 class="Style1">Etablissement d'une LDV sur colonne sèche ou humide</h5>

  <li>Prend son matériel</li><br>
  <li>Suit le chef d’agrès dans les étages</li><br>
  <li>Au N, déroule son tuyau (ou pose son tuyau en O) et donne le raccord à l’équipier</li><br>
  <li>Attend l’équipier avant de procéder à l’attaque</li><br>

</ion-content>
