<!--
  Generated template for the MenuDivPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>DIV</ion-title>
        <ion-buttons end >
          <header-menu></header-menu>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <h4 class="titre-categorie-nrbc">Interventions Diverses</h4>

  <ion-list>
    <ion-item *ngFor="let item of list" (click)="itemSelected(item)">
      <ion-avatar item-start>
        <img src="{{item.image}}">

      </ion-avatar>
        <h4>
          {{ item.title }}
        </h4>
    </ion-item>
  </ion-list>

</ion-content>
