<!--
  Generated template for the GnregeEnvironnementEnveloppePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">ENVIRONNEMENT</h3>

<h4 class="Style1">ENVELOPPE BÂTIMENTAIRE</h4>

<p>Les phénomènes d’explosion de fumées et d’embrasement généralisé éclair intéressent
essentiellement un environnement bâtimentaire. Quels que soient le sinistre et sa cause,
ils peuvent être générés par de nombreux éléments selon un scénario type.</p>

<p>Une maison, un immeuble, un établissement recevant du public, tout local quelle que
puisse être son activité, est conçu selon le même principe : constituer une enveloppe au
sein de laquelle les activités humaines peuvent se développer.</p>

<p>Cette enveloppe matérielle a une double fonction :</p>

<li>Protéger les occupants et/ou les biens contre les intempéries, les intrusions, les
bruits.</li><br>

<li>Maîtriser les <strong>échanges thermiques entre l’extérieur et l’intérieur</strong> de la
construction. Les bâtiments modernes, de par leur conception, constituent des
« pièges » dans lesquels la chaleur se trouve confinée.</li>

</ion-content>
