<ion-content>
    <h3 class="Style1">DESINCARCERATION :</h3>
  
    <li>Reflexion sur la technique à utiliser<br>
    </li>
    <li>Calage du véhicule<br>
    </li>
    <li>Couper ou retirer les ceintures<br>
    </li>
    <li>Poser les protections airbage<br>
    </li>
    <li>Proteger la victime des débris et chocs<br>
    </li>
    <li>Marquer le véhicule : charte graphique<br>
    </li>
    <li>Dégarnissage des plastiques et habillages<br>
    </li>
    <li>Créer un parc matériel<br>
    </li>

  </ion-content>
