<ion-content>

<h5 class="Style1">Sac d'attaque : Etablissement par l'extérieur au moyen de la commande</h5>

  <li>Suit le chef au point où la LDV doit être hissée</li>
  <li>Pose le sac d’attaque à terre</li>
  <li>Suit le chef d’agrès dans les étages</li>
  <li>Envoi la commande au BAL (attention pour envoyer commande) et hisse le lance à l’ordre "hissez" du BAL</li>
  <li>Amarre le tuyau</li>
  <li>Répercute l’ordre « ouvrez »</li>
  <li>Double le chef</li>

</ion-content>
