<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Périmètre de sécurité<br>
    </li>
  <li>Protection maximale du personnel<br>
    </li>
  <li>Gestion classique du risque incendie<br>
    </li>
    <li>Stopper la propagation des fumées<br>
    </li>
</ion-content>
