<ion-content>

<h5 class="Style1">BINOME D'EXPLORATION</h5>

<li>Se munir du lot<br></li>
<li>S'équipe du harnais<br></li>
<li>Choisit un ou deux points fixes et réalise l'amarrage de la corde de descente<br></li>
<li>Choisit un ou deux autres points fixes et réalise l'amarrage du 8 descenseur<br></li>
<li>Installe sur la corde une poulie qu'il relie à son harnais au moyen d'un mousqueton<br></li>
<li>Vérifie la fermeture de tous les mousquetons<br></li>
<li>Coiffe un ARI si besoinl<br></li>
<li>S'engage dans le descente en emportant l'équipement préparé par le binôme de remontée<br></li>
<li>Equipe la victime du triangle d'évacuation et commande la remontée<br></li>
<li>Se fait remonter en même temps ou après la victime</li>

</ion-content>
