<ion-content>

  <h3 align="center" class="Style1">D.S.A</h3>

  <li>Le DSA peut être utilisé au cours de la RCP chez l'adulte, l'enfant et le nourrisson</li><br>

  <li>Le DSA ne sera pas utilisé chez le nouveau-né (de 0 à 1 mois</li><br>

  <li>Chez l'enfant et le nourrisson, la défibrillation doit être réaliser avec des électrodes adaptées. Cependant sur un enfant et un nourrisson, si l'équipier ne dispose que des électrodes adultes, il est autorisé à délivrer un choc</li><br>

  <li>La présence de matériaux ou de gaz inflammables ou explosifs impose un dégagement d'urgence avant la mise en place du DSA (Pour la même raison, la bouteille d'oxygène doit être éloignée</li><br>

  <li>Les timbres médicamenteux autocollants positionnés à l'emplacement d'une électrode, doivent être retirés et la zone de collage essuyé</li><br>

  <p>Le stimulateur cardiaque est un boîtier qui est situé sous la peau, le plus souvent sous la clavicule droite à l'emplacement d'une électrode
    Ce boîtier est reconnaissable car il existe une cicatrice cutanée et une masse dure perçue sous la peau en dessous de la clavicule droite le plus souvent</p>

  <p>Ce stimulateur peut entraîner un dysfonctionnement du DSA. L'électrode doit être collée à environ 1 cm en dessous du bord inférieur du boitier</p>

  <li>Si une victime est allongée sur une surface mouillée ou une surface conduisant l'électricité, elle doit être déplacée ou isolée. Si elle est mouilée, sa poitrine doit être séchée rapidement avant la pose des électrodes</li><br>

  <li>Si une victime se trouve dans un moyen de transport en mouvement, l'analyse du DSA est susceptible d'être perturbée. Le véhicule doit être arrêté, le moteur coupé</li><br>

</ion-content>
