<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Reconnaître les communications avec les parties supérieures potentiellement enfumées<br>
  </li>
  <li>Déterminer les cheminements les plus simples pour atteindre le foyer<br>
  </li>
  <li>Baliser ces cheminements<br>
  </li>
  <li>Possibilité d’utilisation d’une caméra thermique<br>
  </li>
</ion-content>