<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Dépend du type d’avion (tourisme, ligne, militaire…)<br>
  </li>
<li>Explosion des réservoirs. LSE du kérosène élevée<br>
  </li>
<li>Nombreuses victimes<br>
</li>
<li>En général, site difficile d’accès<br>
</li>
</ion-content>
