<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Repérer les locaux traversés par le conduit<br>
  </li>
  <li>Repérer les éléments de construction qui traversent le conduit<br>
  </li>
</ion-content>