<!--
  Generated template for the GnrfdfMoyensTerrestresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MOYENS OPÉRATIONNELS</h3>

<h4 class="Style1">MOYENS OPÉRATIONNELS TERRESTRES</h4>

<img src="assets/icon/Capture21.PNG" alt="" />

<h5>Camion citerne feux de forêts</h5>

<p>La lutte contre les feux de forêts est menée au sol à partir d’un engin de base normalisé, le
<strong>camion citerne feux de forêts</strong> capable, en raison du personnel, du matériel, de la capacité en
agent(s) extincteur(s) et de ses possibilités hydrauliques et d’évolution en terrain non aménagé, de :</p>

<li>Lutter contre les feux de végétaux, à l’arrêt ou lors d’un déplacement à allure réduite</li>
<li>Procéder à des ravitaillements en eau</li><br>

<p>Il peut être utilisé isolément ou être intégré dans un GIFF, une UIFF ou une ULIFF.
La composition du personnel du CCF est la suivante :</p>

<li>1 Chef d’agrès
<li>1 Conducteur
<ul>
 <li>1 Binôme :
    <ul>
      <li>1 Chef</li>
      <li>1 Equipier</li>
    </ul>
  </li>
</ul>

<h5>Groupe d’intervention feux de forêts</h5>

<p>Lorsque l’évolution du sinistre et les besoins en eau dépassent les possibilités hydrauliques d’un
CCF, la mise en oeuvre simultanée de plusieurs CCF est nécessaire.</p>

<p>Cet ensemble de véhicules constitue un <strong>groupe d'intervention feux de forêts</strong>, placé sous les
ordres d’un chef de groupe feux de forêts, dont la composition est la suivante :</p>

<ul>
  <li>1 VLTT
    <ul>
      <li>1 Chef de groupe</li>
      <li>1 Conducteur</li>
    </ul>
  </li>
  <li>4 CCF de classe M
    <ul>
      <li>1 Chef d'agrès</li>
      <li>1 Conducteur</li>
      <li>1 Binôme (chef - équipier)</li>
    </ul>
  </li>
</ul>

<p>En fonction des besoins et des contraintes locales, un des CCF peut être remplacé par un engin
d’appui (CCI, CCGC, …) avec le personnel adapté.</p>

<p class="Style1"><strong>Afin d’améliorer l’efficacité du GIFF</strong> (capacité hydraulique supérieure,
autoprotection, etc.), un ou plusieurs des CCF peuvent être de classe S
(CCFS). Dans ce cas, le personnel du CCFS est le suivant :</p>

<li class="Style1">1 Chef d'agrès</li>
<li class="Style1">1 Conducteur</li>
<li class="Style1">1 Binôme (chef - équipier) ou 1 équipier</li><br>

<h5>Unité d’intervention feux de forêts et unité lourde d’intervention feux de forêts</h5>

<p>Dans certains massifs forestiers, le principe de lutte contre les feux de végétaux consiste à
attaquer le feu à partir de véhicules CCF spécialement adaptés dits « pénétrants ».</p>

<p><strong>L’unité d’intervention feux de forêts</strong> est constituée d’une VLTT et de 2 CCF de classe M ou
S. Ce module est placé sous le commandement unique d’un chef d’unité d’intervention feux de
forêts (chef d’agrès).</p>

<p>Répartition des personnels :</p>

<ul>
  <li>VLTT :
    <ul>
      <li>1 Chef d’agrès</li>
      <li>1 Conducteur (éventuellement)</li>
    </ul>
  </li>
  <li>2 CCF comprenant chacun :
    <ul>
      <li>1 Conducteur</li>
      <li>1 Equipier</li>
    </ul>
  </li>
</ul>

<p class="Style1">Cet ensemble élémentaire peut être renforcé par un CCF de classe S et
prendre l’appellation <strong>d’unité lourde feux de forêts</strong> (ULIFF). Ce CCF est armé
par 1 conducteur et 1 équipier.</p>

<p>Le CCF pénétrant est doté d’une pompe qui alimente les lances et permet une action mobile à
l’intérieur du massif forestier.
La tactique de lutte utilisée génère un emploi important d’eau. La multiplication des points de
ravitaillement en eau des CCF pénétrants est mise en oeuvre.</p>

<p>Des <strong>VTU alimentation</strong> spécialement dédiés aux points d’eau permettent le ravitaillement
simultané de 4 CCF.</p>

<h5>Colonne d’intervention feux de forêts</h5>

<p>La <strong>colonne d’intervention feux de forêts</strong> est composée de 3 GIFF et d’un élément de
commandement et de soutien.</p><br>

</ion-content>
