<ion-content>

  <h3 align="center" class="Style1">KIT Section de Membres</h3>

<li>Le kit Section de Membres est utilisé pour envelopper un membre et permettre sa conservation dans les meilleures conditions</li><br>

<li>Le froid permet de préserver un membre amputé, pendant la prise en charge et le transport du blessé dans l'attente de sa ré-implantation éventuelle</li>

</ion-content>
