<ion-content>

<h3 align="center" class="Style1">ASPIRATEUR DE MUCOSITES</h3>

<p>L'introduction d'une sonde d'aspiration au fond de la gorge d'une personne consciente provoque le plus
souvent un vomissement et doit être proscrite</p>

</ion-content>
