<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Utilisation des ascenseurs prioritaires et arrêt à n-2<br>
  </li>
  <li>Utiliser un membre du service de sécurité pour les cheminements et accès<br>
  </li>
  <li>Mise en place d’un point de concentration des secours<br>
  </li>
</ion-content>
