<!--
  Generated template for the BilansPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bilans</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs>
    <ion-tab [root]="tab11Root" tabTitle="Circonstanciel" tabIcon="tab11"></ion-tab>
    <ion-tab [root]="tab12Root" tabTitle="Vital" tabIcon="tab12"></ion-tab>
    <ion-tab [root]="tab13Root" tabTitle="Lesionnel" tabIcon="tab13"></ion-tab>
    <ion-tab [root]="tab14Root" tabTitle="Fonctionnel" tabIcon="tab14"></ion-tab>
    <ion-tab [root]="tab15Root" tabTitle="Radio" tabIcon="tab15"></ion-tab>
    <ion-tab [root]="tab16Root" tabTitle="Evolutif" tabIcon="tab16"></ion-tab>
  </ion-tabs>
</ion-content>
