<!--
  Generated template for the GnrLspccOperationSauvetageexcavationChefdagresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LSPCC</ion-title>
                    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>SAUVETAGE EN EXCAVATION</h5>

<li>Désigne le personnel<br></li>
<li>Indique le lieu du sauvetage<br></li>
<li>Fixe les moyens d'accès<br></li>

</ion-content>
