<!--
  Generated template for the GnrLspccAmarrageetnoeudsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Amarrage et Noeuds</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-tabs>
        <ion-tab [root]="tab59Root" tabTitle="Points fixes et amarrages" tabIcon="tab59"></ion-tab>
        <ion-tab [root]="tab60Root" tabTitle="Noeuds" tabIcon="tab60"></ion-tab>
    </ion-tabs>

</ion-content>
