<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>Faire intervenir un expert GPL, informer la mairie et la DRIRE<br>
</li>
<li>Refroidir au maximum et en sécurité maximale<br>
</li>
</ion-content>