<ion-content>

<h5 class="Style1">Tuyaux en écheveaux : Etablissement par l'extérieur au moyen de la commande</h5>

  <li>Procède à l’établissement de la division jusqu’à la prise d’eau</li>
  <li>Récupère la commande envoyée par le BAT après avoir donné l’ordre « envoyez »</li>
  <li>Défait les fixations des deux tuyaux et les raccorde ensemble</li>
  <li>Amarre le ½ raccord à la commande et ordonne « hissez »</li>
  <li>Aide à la progression de la lance en façade</li>
  <li>Sur l’ordre « ouvrez », branche le ½ raccord du BAT à la division et ouvre</li>
  <li>e tient à la disposition du chef d’agrès</li>

</ion-content>
