<ion-content>
  <h3 class="Style1">A proscrire</h3>

  <li>Négliger les reconnaissances<br>
  </li>
  <li>Négliger les prélèvements atmosphériques des volumes concernés directement ou indirectement<br>
  </li>
</ion-content>
