<!--
  Generated template for the GnretablissementlancesGeneralitesBinomesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>BINOMES</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h5 class="Style1">LES BINOMES</h5>

    <P>Le binôme est composé d'un chef et d'un équipier</P>
    <p>Un binôme ⇒ une action</p>
    <p>Le binôme n'a pas une fonction unique : le BAL peut devenir BAT et vice versa</p><br>

    <p>Le Binôme d’Attaque (BAT)</p>
    <li>Reçoit la mission d'attaque</li>
    <li>Attaque du sinistre à l'aide d'une lance</li>
    <li>Etablissements se font du point d'attaque à la prise d'eau (sauf cas particuliers)</li><br>

    <p><strong>Nota : Sauf ordre contraire, au cours du trajet, chaque binôme d’attaque s’équipe d’A.R.I</strong></p><br>

    <p>Le Binôme d’Alimentation (BAL)</p>
    <li>Le Déblai</li>
    <li>La Surveillance</li>

</ion-content>
