<ion-content>

<h5 class="Style1">Sac d'attaque : Etablissement par les communications existantes</h5>

  <li>Alimente une division selon M2 si nécessaire</li><br>
  <li>Se tient à la disposition du chef d'agrès</li><br>

</ion-content>
