<ion-content>

<h3 align="center" class="Style1">LA SANGLE ARAIGNEE</h3>

<li>Victime présentant un traumatisme du thorax : ne pas serrer la sangle thoracique</li>
<li>Enfant ou personne de petite taille : la sangle prévue pour les cuisses devient la sangle de cheville. La sangle initialement prévue pour les chevilles sera malgré tout fixée au plan dur.
    La sangle du bassin devient la sangle des cuisses et celle du thorax celle du bassin. (Dans ce cas, il n’y a pas de sangle thoracique)</li>
<li>Victime en position debout avec suspicion de traumatisme du rachis: la sangle araignée sera installée après avoir allongée la victime au moyen du plan dur</li><br>

</ion-content>
