<ion-content>
    <h3 class="Style1">Bilans :</h3>
  
    <li>Rechercher la présence de pouls périphérique sur le membre atteint<br>
      </li>
      <li>Affiner le bilan lésionnel pour rechercher d'éventuelles lésions associées<br>
      </li>
  </ion-content>
