
<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>Attendre le complet refroidissement du conduit<br>
</li>
<li>Conseiller de ne plus utiliser le conduit jusqu’à visite de ce dernier par un spécialiste<br>
</li>
</ion-content>