<ion-content>

  <p><img id="m1-PRV_plan-image24" class="m1-clickable m1-image" src="assets/icon/Poteau_Relais.png"/><strong>= Poteau relais d'alimentation</strong></p>

  <p><img id="m1-PRV_plan-image25" class="m1-clickable m1-image" src="assets/icon/poteau_refoulement.png"/><strong>= Poteau relais refoulement</strong></p>

  <img id="m1-PRV_plan-image26" class="m1-clickable m1-image" src="assets/icon/baie_acc.png"/>
  <div id="m1-PRV_plan-text28" class="m1-text m1-font-13">Baie accessible</div>

  <img id="m1-PRV_plan-image27" class="m1-clickable m1-image" src="assets/icon/voie_echelle.png"/>
  <div id="m1-PRV_plan-text29" class="m1-text m1-font-13">Voie échelle</div>

  <img id="m1-PRV_plan-image28" class="m1-clickable m1-image" src="assets/icon/voie_engin.png"/>
  <div id="m1-PRV_plan-text30" class="m1-text m1-font-13">Voie engin</div>

  <img id="m1-PRV_plan-image29" class="m1-clickable m1-image" src="assets/icon/acces_toiture.png"/>
  <div id="m1-PRV_plan-text31" class="m1-text m1-font-13">Accès à une toiture</div>

  <img id="m1-PRV_plan-image30" class="m1-clickable m1-image" src="assets/icon/acces_batiment.png"/>
  <div id="m1-PRV_plan-text32" class="m1-text m1-font-13">Accès principale</div>

  <img id="m1-PRV_plan-image31" class="m1-clickable m1-image" src="assets/icon/acces_secondaire.png"/>
  <div id="m1-PRV_plan-text33" class="m1-text m1-font-13">Accès secondaire</div>

  <img id="m1-PRV_plan-image32" class="m1-clickable m1-image" src="assets/icon/acces_possible.png"/>
  <div id="m1-PRV_plan-text34" class="m1-text m1-font-13">Accès possible mais limité</div>
  <img id="m1-PRV_plan-image33" class="m1-clickable m1-image" src="assets/icon/escalier.png"/>
  <div id="m1-PRV_plan-text35" class="m1-text m1-font-13">Escalier </div>
  <img id="m1-PRV_plan-image34" class="m1-clickable m1-image" src="assets/icon/cs_refoulement.png"/>
  <div id="m1-PRV_plan-text36" class="m1-text m1-font-13">Colonne sèche refoulement</div>
  <img id="m1-PRV_plan-image35" class="m1-clickable m1-image" src="assets/icon/cs-alimentation.png"/>
  <div id="m1-PRV_plan-text37" class="m1-text m1-font-13">Colonne sèche alimentation</div>
  <img id="m1-PRV_plan-image36" class="m1-clickable m1-image" src="assets/icon/colonne_humide.png"/>
  <div id="m1-PRV_plan-text38" class="m1-text m1-font-13">Colonne humide refoulement</div>
  <img id="m1-PRV_plan-image37" class="m1-clickable m1-image" src="assets/icon/CHumide_realimentation.png"/>
  <div id="m1-PRV_plan-text39" class="m1-text m1-font-13">Colonne humide réalimentation</div>
  <img id="m1-PRV_plan-image38" class="m1-clickable m1-image" src="assets/icon/DF.png"/>
  <div id="m1-PRV_plan-text40" class="m1-text m1-font-13">Commande désenfumage</div>
  <img id="m1-PRV_plan-image39" class="m1-clickable m1-image" src="assets/icon/MSdivers.png"/>
  <div id="m1-PRV_plan-text41" class="m1-text m1-font-13">Equipement divers de lutte incendie</div>
  <img id="m1-PRV_plan-image40" class="m1-clickable m1-image" src="assets/icon/rideau_eau.png"/>
  <div id="m1-PRV_plan-text42" class="m1-text m1-font-13">Rideau d'eau</div>
  <img id="m1-PRV_plan-image41" class="m1-clickable m1-image" src="assets/icon/barrage_eau_incendie.png"/>
  <div id="m1-PRV_plan-text43" class="m1-text m1-font-13">Barrage eau incendie</div>
  <img id="m1-PRV_plan-image42" class="m1-clickable m1-image" src="assets/icon/Sceau.png"/>
  <div id="m1-PRV_plan-text44" class="m1-text m1-font-13">Sceau ou bac à sable</div>
  <img id="m1-PRV_plan-image43" class="m1-clickable m1-image" src="assets/icon/EAI.png"/>
  <div id="m1-PRV_plan-text45" class="m1-text m1-font-13">Extinction automatique totale du local</div>
  <img id="m1-PRV_plan-image44" class="m1-clickable m1-image" src="assets/icon/EAI_commande.png"/>
  <div id="m1-PRV_plan-text46" class="m1-text m1-font-13">Commande extinction automatique totale du local</div>
  <img id="m1-PRV_plan-image45" class="m1-clickable m1-image" src="assets/icon/EAI_localise.png"/>
  <div id="m1-PRV_plan-text47" class="m1-text m1-font-13">Commande extinction automatique localisée équipement</div>
  <div id="m1-PRV_plan-text48" class="m1-text m1-font-13">Extinction automatique localisée équipement</div>
  <img id="m1-PRV_plan-image46" class="m1-clickable m1-image" src="assets/icon/EAI_localise_commande.png"/>
  <img id="m1-PRV_plan-image47" class="m1-clickable m1-image" src="assets/icon/SSI.png"/>
  <div id="m1-PRV_plan-text49" class="m1-text m1-font-13">Tableaux système</div>
  <img id="m1-PRV_plan-image48" class="m1-clickable m1-image" src="assets/icon/DAI.png"/>
  <div id="m1-PRV_plan-text50" class="m1-text m1-font-13">DAI chaleur</div>
  <img id="m1-PRV_plan-image49" class="m1-clickable m1-image" src="assets/icon/DAI_fumee.png"/>
  <div id="m1-PRV_plan-text51" class="m1-text m1-font-13">DAI fumée</div>
  <img id="m1-PRV_plan-image50" class="m1-clickable m1-image" src="assets/icon/DAI_flamme.png"/>
  <div id="m1-PRV_plan-text52" class="m1-text m1-font-13">DAI flamme</div>
  <img id="m1-PRV_plan-image51" class="m1-clickable m1-image" src="assets/icon/Detec_gaz.png"/>
  <div id="m1-PRV_plan-text53" class="m1-text m1-font-13">Détecteur gaz</div>
  <img id="m1-PRV_plan-image52" class="m1-clickable m1-image" src="assets/icon/DAI_lineaire.png"/>
  <div id="m1-PRV_plan-text54" class="m1-text m1-font-13">DAI chaleur linéaire</div>
  <img id="m1-PRV_plan-image53" class="m1-clickable m1-image" src="assets/icon/DAI_fumee_lineaire.png"/>
  <div id="m1-PRV_plan-text55" class="m1-text m1-font-13">DAI fumée linéaire</div>
  <img id="m1-PRV_plan-image54" class="m1-clickable m1-image" src="assets/icon/DAI_flamme_lineaire.png"/>
  <div id="m1-PRV_plan-text56" class="m1-text m1-font-13">DAI flamme linéaire</div>
  <img id="m1-PRV_plan-image55" class="m1-clickable m1-image" src="assets/icon/Detec_gaz_lineaire.png"/>
  <div id="m1-PRV_plan-text57" class="m1-text m1-font-13">Détecteur gaz linéaire</div>
  <img id="m1-PRV_plan-image56" class="m1-clickable m1-image" src="assets/icon/circuiteELS.png"/>
  <div id="m1-PRV_plan-text58" class="m1-text m1-font-13">Circuit et lampe d'eclairage de sécurité</div>
  <img id="m1-PRV_plan-image57" class="m1-clickable m1-image" src="assets/icon/BAES.png"/>
  <div id="m1-PRV_plan-text59" class="m1-text m1-font-13">BAES</div>

</ion-content>
