<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Locaux en sous-sol<br>
  </li>
<li>Stockages sauvages<br>
  </li>
<li>Canalisations sous plafond (gaz, eau)<br>
</li>
<li>Potentiel calorifique important<br>
</li>
</ion-content>