<ion-content>

    <h3 align="center" class="Style1">KIT BRULURES</h3>

<p>En l'absence de point d'eau tempéré, il est possible d'utiliser des compresses hydrogel. Les conditions d'utilisation sont les mêmes que l'arrosage :</p>

<ul>
<li>Refroidir la zone brûlée le plus tôt possible et au plus tard 30 minutes après la survenue de la brûlure, si lavictime est consciente et si la surface brûlée est inférieure à :
  <ul>
    <li>30% chez l'adulte</li>
    <li>10% chez l'enfant</li>
    <li>5% chez le nourrisson</li>
  </ul>
</li>
</ul><br>

<li>Retirer la ou les compresses hydrogel au bout de 10 minutes si la brûlure est grave (sauf avis médical où le temps d'application peut être prolongé)</li><br>

<li>Si il s'agit d'une brûlure simple, les compresses hydrogel peuvent être laissées jusqu'à disparition de la douleur</li>

</ion-content>
