<!--
  Generated template for the GnrfdfCcfBasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DU CCF</h3>

<h4 class="Style1">MANOEUVRES DE BASE</h4>

<h5>Etablissement de la lance du dévidoir tournant</h5>

<p>La LDT sert principalement au conducteur à assurer la protection du CCF.
Elle peut, toutefois, être utilisée ponctuellement pour d’autres missions (extinction, traitement des sautes de feu, etc.)</p>

<p>Dans le cas où, exceptionnellement, l’établissement de la LDT est prolongé à partir de la lance avec des tuyaux souples, la lance est manoeuvrée
par le chef d’équipe.</p>

<img src="assets/icon/Capture34.PNG" alt="" />

<h5>Etablissement d’une lance 500 ou d’une prise d’eau jusqu’à 120 m</h5>

<p><u><strong>Manoeuvre réalisée avec des tuyaux roulés sur eux-mêmes</strong></u></p>

<p>Commandement du chef d’agrès : « Pour l’établissement d’une lance 500, débit XXX l/min ou d’une prise d’eau (division) à l’aide de tuyaux roulés sur eux-mêmes, en reconnaissance »</p>

<p>« Pour l’établissement d’une lance 500, débit XXX l/min ou d’une prise d’eau (division) à l’aide de tuyaux roulés sur eux-mêmes, en reconnaissance »</p>

<img src="assets/icon/Capture35.PNG" alt="" />

<p class="centrer"><strong>ÉTABLISSEMENT D’UNE LANCE 500 OU D’UNE PRISE D’EAU JUSQU’A 120 M</strong></p>

<img class="centrer" src="assets/icon/Capture35.PNG" alt="" />

<p><u><strong>Manoeuvre réalisée au moyen du dévidoir auxiliaire de 45</strong></u></p>

<p>Commandement du chef d’agrès : « Pour l’établissement de la lance 500, débit XXX l/min ou d’une prise d’eau (division) au moyen du dévidoir auxiliaire de 45 en reconnaissance »</p>

<p>« Pour l’établissement de la lance 500, débit XXX l/min ou d’une prise d’eau (division) au moyen du dévidoir auxiliaire de 45 en reconnaissance »</p>

<img src="assets/icon/Capture37.PNG" alt="" />

<p class="centrer"><strong>ÉTABLISSEMENT D’UNE LANCE 500 OU D’UNE PRISE D’EAU JUSQU’A 120 M</strong></p>
<p class="centrer"><strong>Manoeuvre réalisée au moyen du dévidoir auxiliaire de 45</strong></p>

<img class="centrer" src="assets/icon/Capture38.PNG" alt="" />

<h5>Prolongement d’une lance 500</h5>

<p><u><strong>Prolongement d’une lance 500 sans claie de portage</strong></u></p>

<p>Commandement du chef d’agrès : « Pour le prolongement de la lance 500, débit XXX l/min, établissez »</p>

<img src="assets/icon/Capture39.PNG" alt="" />

<p><u><strong>Prolongement d’une lance 500 avec claie de portage</strong></u></p>

<p>Commandement du chef d’agrès : « Pour le prolongement de la lance 500, débit XXX l/min avec claie de portage, établissez »</p>

<img src="assets/icon/Capture40.PNG" alt="" />

<p class="centrer"><strong>PROLONGEMENT D’UNE LANCE 500</strong></p>

<img class="centrer" src="assets/icon/Capture41.PNG" alt="" />

<h5>TRANSFORMATION D’UNE LANCE 500 EN 2 LANCES 150</h5>

<p><u><strong>Sans prolongement - sans claie de portage</strong></u></p>

<p>Commandement du chef d’agrès : « Pour la transformation de la lance 500 en 2 lances 150 débit XXX l/min, établissez »</p>

<img src="assets/icon/Capture42.PNG" alt="" />

<p><u><strong>Sans prolongement - avec claie de portage</strong></u></p>

<p>Commandement du chef d’agrès : « Pour la transformation de la lance 500 en 2 lances 150, débit XXX l/min avec claie de portage, établissez »</p>

<img src="assets/icon/Capture43.PNG" alt="" />

<p class="Style1">Si la claie de portage de 25 n’est pas équipée du tuyau de Ø 45 mm optionnel, l’équipier le prend à l’engin. Cette manoeuvre peut
également être réalisée, si le matériel le permet, en raccordant directement la division sur la vanne d’arrêt.</p>

<p class="center"><strong>TRANSFORMATION D’UNE LANCE 500 EN 2 LANCES 150 SANS PROLONGEMENT</strong></p>

<img class="center" src="assets/icon/Capture44.PNG" alt="" />* en option

<p><u><strong>Après prolongement - sans claie de portage</strong></u></p>

<p>Commandement du chef d’agrès : « Pour la transformation de la lance 500 en 2 lances 150, débit XXX l/min sur division alimentée, établissez »</p>

<img src="assets/icon/Capture45.PNG" alt="" />

<p><u><strong>Après prolongement - avec claie de portage</strong></u></p>

<p>Commandement du chef d’agrès : « Pour la transformation de la lance 500 en 2 lances 150, débit XXX l/min sur division alimentée avec claie de portage, établissez »</p>

<img src="assets/icon/Capture46.PNG" alt="" />

<p class="center"><strong>TRANSFORMATION D’UNE LANCE 500 EN 2 LANCES 150 APRÈS PROLONGEMENT</strong></p>

<img class="center" src="assets/icon/Capture47.PNG" alt="" />

<h5>ETABLISSEMENT D’UNE LANCE 1000</h5>

<p>Commandement du chef d’agrès : « Pour l’établissement de la lance 1000, débit XXX l/min, en reconnaissance »</p>

<p class="centrer"><strong>Dans ce cas, le CCF doit être alimenté</strong></p>

<img src="assets/icon/Capture48.PNG" alt="" />

<p class="centrer"><strong>ÉTABLISSEMENT D’UNE LANCE 1000</strong></p>

<img class="centrer" src="assets/icon/Capture49.PNG" alt="" />

<h5>SYNTHÈSE DES SIX MANOEUVRES DU CCF</h5>

<p>6 manoeuvres sont réalisables avec les moyens du CCF :</p>

<li>F 1 : établissement de la lance du dévidoir tournant de 25mm</li>
<li>F 2 : établissement d’une lance 500 ou d’une prise d’eau</li>
<li>F 3 : prolongement d’une lance 500</li>
<li>F 4 : transformation d’une lance 500 en 2 lances 150 sans prolongement</li>
<li>F 5 : transformation d’une lance 500 en 2 lances 150 après prolongement</li>
<li>F 6 : établissement d’une lance 1000</li><br>

<img src="assets/icon/Capture50.PNG" alt="" />
<img src="assets/icon/Capture51.PNG" alt="" />
<img src="assets/icon/Capture52.PNG" alt="" />

</ion-content>
