<!--
  Generated template for the GnretablissementlancesFindinterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BINOMES</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">FIN D'INTERVENTION</h5>

<li>Inventorier le matériel (avant de quitter les lieux)</li><br>
<li>Faire le plein de la tonne</li><br>
<li>En période de grand froid, vidanger la pompe et la LDT</li><br>

</ion-content>
