<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Priorité à l’évacuation<br>
    </li>
  <li>Coupure des énergies<br>
    </li>
  <li>Prendre contact avec l’exploitant, déterminer les priorités de protection et un point de rassemblement des œuvres si besoin est<br>
    </li>
  <li>Reconnaître les locaux et le sinistre sur les six faces. Possibilité d’utilisation d’une caméra thermique<br>
    </li>
  <li>Combiner extinction et protection du patrimoine culturel (bâchage, aspiration des eaux d’extinction)<br>
  </li>
  <li>Possibilité d’utilisation d’une caméra thermique<br>
  </li>
  <li>Éventuellement, utiliser les moyens propres à l’établissement<br>
  </li>
  <li>Porter une attention toute particulière aux risques de propagations horizontales et verticales, dans les faux plafonds, volumes cachés<br>
  </li>
</ion-content>
