<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Effectuer les sauvetages, mise en sécurité<br>
    </li>
  <li>Concertation avec le responsable soignant afin d’évacuer les malades vers une aile protégée et procéder à la coupure des énergies à l’étage et de la zone uniquement<br>
    </li>
  <li>Utilisation des colonnes sèches. Parc matériel à l’étage impliqué si possible<br>
    </li>
  <li>Gérer le désenfumage des locaux. Attaque par l’intérieur de la zone de compartimentage, stopper la propagation verticale par l’extérieur<br>
    </li>
  <li>Prévoir un point de rassemblement des victimes et prise en charge médicale de ces dernières<br>
  </li>
  <li>Logistique oxygène<br>
  </li>
  <li>Prendre en considération l’activité du service afin d’entreprendre des actions plus spécialisées<br>
  </li>
</ion-content>
