<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Respiration difficile, Rapide et Bruyante</li>
        <li>Cyanose</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>Toux persistante</li>
      <li>Expectorisation mousseuse rosée</li>
      <li>Marbrures</li>
    </ul>
  </li>
</ul>
</ion-content>
