<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Gérer avant tout, l’évacuation du public et du personnel commercial<br>
    </li>
  <li>Faire couper les énergies en prenant garde aux éventuels ascenseurs<br>
    </li>
  <li>Prendre contact avec le service de sécurité et effectuer les reconnaissances afin de localiser le sinistre et déterminer les priorités<br>
    </li>
  <li>Ventiler les volumes et s’assurer du bon fonctionnement des moyens de prévention<br>
    </li>
  <li>Circonscrire le foyer en prenant garde au type de structure<br>
  </li>
  <li>Utilisation des hydrants et réserves d’eau en s’assurant de leur ré alimentation<br>
  </li>
</ion-content>
