<ion-content>
    <h3 class="Style1">Actions - Conduite a Tenir :</h3>
  
    <ul>
      <li>Gestes à effectuer :
        <ul>
          <li>Supprimer la cause</li>
          <li>Refroidir à l'eau</li>
          <li>Oter les vêtements, sauf ceux qui collent à la peau</li>
          <li>Oxygèner</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Conditionnement :
        <ul>
          <li>Emballage dans une compresse spécifique</li>
          <li>Champs stériles</li>
          <li>Allonger sur les lésions saines (dos si possible)</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Surveillance :
        <ul>
          <li>Les 3 fonctions vitales</li>
        </ul>
      </li>
    </ul>
  </ion-content>
