<ion-content>

  <h3>Résistance au feu des structures</h3>
  <p>(Evaluations ci-dessous) :</p>
  <table width="100%" borde="1">
    <tr>
      <th width="11%" scope="col">Matériaux</th>
      <th width="17%" scope="col">D.</th>
      <th width="72%" scope="col">R.</th>
    </tr>
    <tr>
      <th rowspan="4" scope="row">Carreaux de plâtre</th>
      <td>5cm</td>
      <td>1h</td>
    </tr>
    <tr>
      <td>6cm</td>
      <td>2h</td>
    </tr>
    <tr>
      <td>7cm</td>
      <td>3h</td>
    </tr>
    <tr>
      <td>10cm</td>
      <td>4h</td>
    </tr>
    <tr>
      <th rowspan="3" scope="row">Cloison légère</th>
      <td>Simple BA13</td>
      <td>CF 1/2h à CF 1h</td>
    </tr>
    <tr>
      <td>Simple BA18</td>
      <td>CF 1h à CF 1h30</td>
    </tr>
    <tr>
      <td>Double BA13</td>
      <td> CF 1h à CF 2h</td>
    </tr>
    <tr>
      <th rowspan="4" scope="row">Parois brique</th>
      <td>5cm + enduit 2f<br /></td>
      <td>CF 1h30</td>
    </tr>
    <tr>
      <td>8cm + enduit 2f</td>
      <td>CF 2h</td>
    </tr>
    <tr>
      <td>10cm + enduit 2f</td>
      <td>CF 3h</td>
    </tr>
    <tr>
      <td>15cm + enduit 2f</td>
      <td>CF 4h</td>
    </tr>
 </table>
</ion-content>
