<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Intervention en hauteur<br>
  </li>
<li>Risque d’explosion due au probable stockage de bouteilles de gaz, si travaux<br>
  </li>
</ion-content>