<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>Une protection rapide des structures menacées et la mise en place immédiate d’un taux de temporisation, faciliteront l’extinction<br>
</li>
<li>Anticiper sur les moyens, se procurer un maximum d’informations, discipliner l’action des chefs d’agrès<br>
</li>
</ion-content>
