<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Comportement anormal</li>
        <li>Agitation, Agressivité ?</li>
        <li>Odeur d'alcool ?</li>
        <li>Troubles de l'équilibre</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>Quantité absorbée, Nature ?</li>
      <li>Personne ayant chutée ?</li>
      <li>Vomissement ?</li>
    </ul>
  </li>
</ul>
</ion-content>