<ion-content>

  <h5 class="Style1">M6: Remplacement et Prolongation de Tuyaux</h5>

    <li>Poursuit son action</li><br>
    <li>Dès l’ordre «PRET» de l’équipier, ordonne la fermeture de l’eau «FERMEZ»</li><br>
    <li>Débranche et rebranche sa lance</li><br>
    <li>Raccorde les tuyaux et retourne à la lance</li><br>
    <li>Annonce «OUVREZ»</li><br>

</ion-content>
