<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Connaître la nature des éventuels stockages<br>
    </li>
  <li>Engagement d’un minimum de personnel et périmètre de sécurité<br>
    </li>
  <li>Protection et refroidissement des bouteilles de gaz stockées<br>
    </li>
  <li>Extinction à la mousse ou jet diffusé<br>
    </li>
</ion-content>
