<ion-content>
    <img id="m1-Pavillon-image1" class="m1-clickable m1-image" src="assets/icon/Pavillon2.png"/>
  <div id="m1-Pavillon-text">
      5. Commencer à couper les montants opposés à la victime<br>
      6. Couper les montants A, puis B, puis C. (les montants A sont sectionnés généralement lorsqu'on fend le pare-brise)<br>
  </div>

  <p>Note : placer des équipiers judicieusement pendant la découpe pour reprendre la charge</p>
          
</ion-content>
