<ion-content>
  <h3 class="Style1">A proscrire</h3>

  <li>Engager les personnels sous ou à proximité des structures métalliques<br>
  </li>
  <li>Procéder aux établissements sans s’être assuré des moyens d’accès<br>
  </li>
</ion-content>