<!--
  Generated template for the GnrAriAugmentationStressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contraintes Physiologiques</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">Stress Emotif</h5>

<li>Causes : anxiété avant intervention, inexpérience, manque de pratique, nature de l’intervention, milieu hostile</li><br>
<li>Conséquences physiologiques : sécrétion d’hormones surrénaliennes augmentant le métabolisme physiologique et élévation de la fréquence cardiaque</li><br>

<p><strong>Conséquences :</strong></p>
<li>Augmentation du travail du porteur et donc consommation d’air accrue</li>
<li>Perte de la maîtrise de soi</li>
<li>Perte de la lucidité</li><br>

<p><strong>Remèdes :</strong></p>
<li>Entrainements réguliers au parcours à fumées</li>

</ion-content>
