<ion-content>
    <h3 class="Style1">OFFICIER RENSEIGNEMENT :</h3>
   
    <li>Fait établir les liaisons Amont et Aval du PCC<br>
    </li>
    <li>Analyse la Zone d'intervention et le sinistre<br>
    </li>
    <li>Dessine et actualise la SITAC<br>
    </li>
    <li>Fait éventuellement une reconnaissance du site pour valider les informations qui lui ont été communiquées<br>
    </li>
    <li>Inscrit sur le tableau le SOIEC<br>
    </li>
    <li>Anticipe et exprime les moyens nécessaires à son homologue de la fonction Moyen (Echange avec lui tout information le concernant)<br>
    </li>
    <li>Réceptionne pour le COS les messages que celui-ci ne peut pas prendre en direct<br>
    </li>
    <li>Sur ordre, transmet les consignes du COS aux chefs de secteur et différents intervenants<br>
    </li>
    <li>Tient à jour le tableau des messages reçus ou émis pour et par le COS<br>
    </li>
    <li>Aide le COS dans la rédaction des messages<br>
    </li>
    <li>Communique avec son homologue de la fonction Renseignement au CODIS<br>
    </li>
  </ion-content>