<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title *ngIf="!isSearchbarOpened">
      Search
    </ion-title>
        <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionChange)="onSearch($event)" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h5 class="titre-categorie-nrbc">Transport Matières Dangeureuses</h5>

  <ion-list inset>
      <button ion-item *ngFor="let item of list">
      <ion-icon  name="nuclear" item-start></ion-icon>
        {{ item.title }}
      </button>
  </ion-list>

</ion-content>
