<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Sauvetage/évacuation<br>
    </li>
  <li>Identification du transporteur et du risque<br>
    </li>
  <li>Mise en place d’un moyen d ’extinction adapté<br>
    </li>
  <li>Périmètre de sécurité ou balisage<br>
    </li>
</ion-content>