<ion-content>

<h5 class="Style1">BINOME DE REMONTEE</h5>

<li>Se munir d'un lot de sauvetage<br></li>
<li>Choisit un ou deux points fixes et réalise l'amarrage de la corde de remontée<br></li>
<li>Choisit un ou deux autres points fixes et réalise l'amarrage du 8 descenseur<br></li>
<li>Installe sur la corde une poulie qu'il relie à son harnais au moyen d'un mousqueton<br></li>
<li>Vérifie la fermeture de tous les mousquetons<br></li>
<li>Donne la corde de remontée équipée du triangle d'évacuation et de la poulie au chef du binôme d'exploration<br></li>
<li>Remonte la victime et la réceptionne<br></li>
<li>Participe à la remontée du chef binôme d'exploration<br></li>

</ion-content>
