<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>Périmètre de sécurité en fonction du vent<br>
</li>
<li>Identifier le danger et le type de produit (Fiches de Genève, Castillet, réglette TMD, fiches signalétiques du produit…)<br>
</li>
</ion-content>
