<ion-content>
    <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Pavillonavant2.png"/>
    
  <div id="m1-demiPavAvant-text">

      2. Couper les montants B puis C en commençant par le côté opposé à la victime<br>
</div>
          
</ion-content>