<ion-content>

    <h5 class="Style1">M2: Alimentation d'une prise d'eau</h5>
  
      <li>Décroche de dévidoir avec l’équipier</li><br>
      <li>Pose la division à terre (ou branche sur CS)</li><br>
      <li>Maintient la division un certain temps et rejoint l’équipier pour tirer le dévidoir</li><br>
      <li>Donne le 1/2 raccord au conducteur ou se raccorde à la prise d’eau</li><br>
      <li>Vérifie avec l’équipier l’établissement en remontant vers le point d’attaque</li><br>
      <li>Se met à disposition du chef d’agrès</li><br>
  
  </ion-content>
