<ion-content>

  <h3 align="center" class="Style1">Mesure de la Pression Artérielle</h3>

<p>La mesure de la pression artérielle doit être cohérente : En présence d'un pouls radial, la systolique est en général, supérieur à 80 mmHg</p>

</ion-content>
