<ion-content>

    <h3 align="center" class="Style1">KIT BRULURES</h3>

<li>Séquiper de gants à usage unique</li><br>

<li>Faire ouvrir l'emballage des compresses</li><br>

<li>Saisir la compresse par ses extrémités et la sortir délicatement de son emballage</li><br>

<img class="centrer" src="assets/icon/kitbrulure3.jpg" alt="" /><br>

<li>Appliquer la compresse sur la totalité de la surface brûlée en veillant à ce qu'elle soit en contact avec celle-ci</li><br>

<li>La compresse sera appliquée directement sur les vêtements si ceux-ci adhérent à la peau et n'ont pu être retirés</li><br>

<img class="centrer" src="assets/icon/kitbrulure4.jpg" alt="" /><br>

<li>Maintenir la compresse en utilisant en priorité son emballage (maintenu par une bande avec du ruban adhésif...</li><br>

<img class="centrer" src="assets/icon/kitbrulure5.jpg" alt="" />
<img class="centrer" src="assets/icon/kitbrulure6.jpg" alt="" /><br>

<p>En cas de brûlure du visage ou des parties intimes :</p>

<ul>
<li>Privilégier un refroidissement à l'eau au moyen de compresses ou de pansements absorbants
  <ul>
    <li>Les compresses ou les pansements absorbants imbibés d'eau sont à renouveler souvent pour avoir une action de refroidissement efficace</li>
    <li>Si absence d'eau, utilisation possible des petites compresses hydrogel</li>
  </ul>
</li>
</ul><br>

<li>Demander rapidement un avis médical</li>

</ion-content>
