<ion-content>
    <h3 class="Style1">Signes :</h3>
  
<ul>
<li>Visibles :
<ul>
  <li>Paralysie d'un membre ou de la face</li>
  <li>Anomalie de la parole</li>
  <li>Pupilles asymétriques</li>
</ul>
</li>
</ul>
  
  <ul>
    <li> A rechercher :
      <ul>
        <li>Sensibilité, Motricité</li>
        <li>Antécédents</li>
        <li>Traitements</li>
      </ul>
    </li>
  </ul>
  </ion-content>
