<ion-content>

    <h3 align="center" class="Style1">KIT SINUS</h3>

    <h5>Mise en oeuvre des kits SINUS</h5>

    <p>La mise en oeuvre se déroule en 2 étapes :</p>

    <li>Le dénombrement des victimes et des impliqués (positionnement des bracelets et des FMA)</li><br>

    <ul>
    <li>La catégorisation des vicitmes :
      <ul>
        <li>Etat (UA, UR, DCD, Imp)</li>
        <li>Age</li>
        <li>Sexe</li>
      </ul>
    </li>
  </ul><br>

  <h5>Positionnement des bracelets</h5>

  <p>Avant de positionner le bracelet, vérifier si un bracelet n'a pas déjà été posé (afin d'éviter les "doublons")</p>

  <li>Pour poser un bracelet, détacher le en laissant le talon sur l'anneau</li><br>

  <img class="centrer" src="assets/icon/kitsinus3.jpg" alt="" /><br>

  <li>Pour fixer le bracelet, décoller uniquement la première partie et non le bracelet entier</li><br>

  <img class="centrer" src="assets/icon/kitsinus4.jpg" alt="" /><br>

  <li>Le bracelet sera positionné sur un des poignets de la victime ou à défaut sur une des chevilles</li><br>

  <img class="centrer" src="assets/icon/kitsinus5.jpg" alt="" /><br>

  <h5>Positionnement de la fiche médicale de l'avant-FMA</h5>

  <li>Positionner la fiche autour du cou de la victime aprés avoir posé le bracelet</li><br>

  <li>Décoller une étiquette du bracelet pour la fixer sur la FMA à l'emplacement indiqué par la flèche ci</li><br>

  <img class="centrer" src="assets/icon/kitsinus9.jpg" alt="" /><br>

  <h5>Renseignement de la liste intermédiaire</h5>

  <p>La liste intermédiaire sert à collecter les informations notées par les médecins de l'avant sur la FMA. Pour cela, coller une étiquette dans le cadre n° SINUS et
    répertorier les informations. Cette fiche sera transmise au PC ou au secrétariat du PMA</p>

  <img class="centrer" src="assets/icon/kitsinus8.jpg" alt="" /><br>

  <p>Les étiquettes restantes peuvent servir notamment à l'identification des effets personnels de la victime</p>

</ion-content>
