<!--
  Generated template for the MenuPreventionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Prevention</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4 class="titre-categorie-prev">LA PREVENTION APPLIQUEE A L'OPERATION</h4>

  <ion-list inset>
      <button ion-item *ngFor="let item of list" (click)="itemSelected(item)">
        <ion-icon  name="alert" item-start></ion-icon>
        {{ item.title }}
      </button>
    </ion-list>

</ion-content>
