<!--
  Generated template for the GnrLspccCompositionHarnaiscussardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MATERIEL</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>HARNAIS CUISSARD</h5>

  <img src="assets/icon/harnais-anti-chute-avec-veste-8817-2749913.jpg"/><br>

  <li>Pouvant être enfilé rapidement par le sauveteur ou la victime</li>
  <li>Le connecteur rapide demi-lune ou triangulaire ne soit jamais être remplacé par un autre modèle (jamais de mousqueton à vis symétrique sur le harnais cuissard)</li><br>

  <p>Le lot échelle comprend 2 harnais (bi-place généralement)</p>

</ion-content>
