<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Identification des stocks<br>
    </li>
  <li>Protection respiratoire<br>
    </li>
  <li>Ventilation des fumées et gaz combustibles<br>
    </li>
  <li>Stratégie d’attaque<br>
    </li>
</ion-content>
