<!--
  Generated template for the PrevprincipesgenerauxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Principes Généraux</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h3>Les Bases de la Conception des Règles de Prévention (CCH)</h3>

<p class="Style1"><strong>Définitions de mesures de pévention et de sauvetages propres à assurer la sécurité des personnes en fonction de :</strong></p>

    <li>La nature de l'exploitation<br>
      </li>
    <li>Les dimensions des locaux<br>
      </li>
    <li>Le nombre de personnes admises<br>
    </li>
    <li>L'aptitude des personnes à se soustraire aux effets d'un incendie<br>
    </li>

<h4>Les Principes Fondamentaux sont :</h4>

<p class="Style1"><strong>Eviter l'éclosion d'un incendie</strong></p>

  <li>Installations techniques sûres<br>
  </li>
  <li>Installations électriques correctement dimensionnées<br>
  </li>
  <li>Limitation ou interdiction de stockage, distribution, emploi de produit dangereux, explosifs, toxiques, etc<br>
  </li>
  <li>L'aptitude des personnes à se soustraire aux effets d'un incendie<br>
  </li>
  <li>Activités à risques prohibées<br>
  </li>
  <li>Surveillance<br>
  </li>

<p class="Style1"><strong>Limiter le développement et la propagation du feu</strong></p>

  <li>Matériaux présentant une résistance et une réaction au feu adaptées<br>
  </li>
  <li>Isolement par rapport aux tiers<br>
  </li>
  <li>Distribution intérieure et compartimentage<br>
  </li>
  <li>Désenfumage<br>
  </li>
  <li>Arrêt installations techniques<br>
  </li>
  <li>Système de mise en sécurité automatique<br>
  </li>

<p class="Style1"><strong>Permettre l'évacuation des personnes</strong></p>

  <li>Système d'alarme<br>
  </li>
  <li>Eclairage de sécurité<br>
  </li>
  <li>Evacuation différée<br>
  </li>
  <li>Dégagements adaptés aux effectifs<br>
  </li>
  <li>Façades accessibles<br>
  </li>
  <li>Désenfumage<br>
  </li>

<p class="Style1"><strong>Faciliter l'intervention des secours</strong></p>

  <li>Moyens d'alerte<br>
  </li>
  <li>Voies engins et voies échelles<br>
  </li>
  <li>Façades accessibles<br>
  </li>
  <li>Plans d'intervention<br>
  </li>
  <li>Coupure des fluides<br>
  </li>
  <li>Moyens fixes d'extinction<br>
  </li>

</ion-content>
