<ion-content>
  <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Coquille4.png"/>
  
<div id="m1-demiPavAvant-text">

  9. Retirer les cales sous le pavillon<br>
  10. Développer le vérin et abaisser le toit lentement<br>
  11. Ajustement des étais si nécessaires et vérrouillage<br>

</div>
        
</ion-content>
