<!--
  Generated template for the DivCalagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>DIV</ion-title>
            <ion-buttons end >
              <header-menu></header-menu>
            </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="Style1 centrer">CALAGE TEMPORAIRE</h3>

<p>La consolidation par <strong>calage temporaire</strong> a pour but de soutenir un élément de la construction menaçant de
tomber sur les sauveteurs et les personnes bloquées dans le chantier, le temps de la mise en sécurité de ces derniers.</p>

<p>Toutes les opérations d'étaiement ne présentant pas de risque directe pour les humains doivent être réalisées par une équipe
<strong>Sauvetage-Déblaiement.</strong></p>

<p>La spécialité Sauvetage-Déblaiement permet d'intervenir en matière de reconnaissance, de sauvetage et de sécurisation d'un
site dans les milieux effondrés ou menaçant, où les moyens traditionnels des sapeurs pompiers sont inadaptés, insuffisants
ou dont l'emploi s'avère dangereux en raison des risques présentés.</p>

<p>Lorsque certaines opérations de secours ne nécessitent pas l'intervention d'équipes spécialisées telles que définies par le GNR,
le commandement des operations de secours (COS) peut, en cas de doute, faire appel à un chef d'unité, un chef de section ou
à un conseiller technique sauveteur déblayeur pour apprécier l'opportunité de la mise en place de mesures de sécurité particulières
(extrait du GNR SD)</p>

<h5 class="Style1">Principes généraux du calage temporaire</h5>

<li>Un étai doit toujours reposer sur un plan dur</li>
<li>Il est nécessaire de mettre une semelle et chapeur sur chaque étai</li>
<li>Il faut placer l'étai perpendiculairement à la descente de charge ou la poussée structurelles</li>
<li>Plus un étai est court, plus il est résistant</li>
<li>Ne jamais laisser de vide entre un soutènement et la charge</li>
<li>Ne pas s'aventurer sous une zone non étayée</li>

<h5 class="Style1">Règles de sécurité</h5>

<li>POrt des EPI (tenue de feu complète)</li>
<li>Rester vigilant à l'environnement de travail, pour soi et pour ses coéquipiers</li>
<li>Ne pas s'aventurer sous une zone non étayée</li>
<li>Prévoir une surveillance visuelle de la structure par plusieurs pompiers si besoin, équipés d'un signal sonore d'alarme pour avertir les pompiers engagés</li>

<h5 class="Style1">Moyens</h5>

<p>Appelés "étaiement", les moyens sont classés par catégorie :</p>

<li>Etais élémentaire : en bois, en métal, vertical, oblique ou croisillons</li>
<li>Etrésillonnement : en bois, en métal, ils sont utilisés pour les encadrements des portes et fenêtres</li>

<h5 class="Style1">Technique de calage temporaire</h5>

<li>Le calage ne doit être réalisé que par des pompiers formés et entraînés</li>
<li>Techniques : Voir illustrations</li><br>

<img src="assets/icon/etaimetallique2_187.png" alt="" /><br>
<img src="assets/icon/etaiselementaires_189.png" alt="" /><br>
<img src="assets/icon/etaioblique_188.png" alt="" /><br>
<img src="assets/icon/etaiverticale_190.png" alt="" /><br>

</ion-content>
