<ion-content>

    <p><strong>Les bâtiments d'habitation sont classés comme suit :</strong></p>
    <p  class="Style1">1° Première famille :</p>
    <div>
      <ul>
        <li class="Style5">Habitations individuelles isolées ou jumelées à un étage sur rez-de-chaussée, ou plus</li>
        <li class="Style5">Habitations individuelles à rez-de-chaussée groupées en bande</li>
      </ul>
    </div>
    <p>Toutefois, sont également classées en première famille les habitations individuelles à un étage sur rez-de-chaussée, groupées en bande, lorsque les structures de chaque habitation concourant à la stabilité du bâtiment sont indépendantes de celles de l'habitation contiguë.</p>
    <p class="Style1">2° Deuxième famille :</p>
    <div>
      <ul>
        <li>Habitations individuelles isolées ou jumelées de plus d'un étage sur rez-de-chaussée</li>
        <li>Habitations individuelles à un étage sur rez-de-chaussée seulement, groupées en bande, lorsque les structures de chaque habitation concourant à la stabilité du bâtiment ne sont pas indépendantes des structures de l'habitation contiguë</li>
        <li>Habitations individuelles de plus d'un étage sur rez-de-chaussée groupées en bande</li>
        <li>Habitations collectives comportant au plus trois étages sur rez-de-chaussée</li>
      </ul>
    </div>
    <p><strong>Pour l'application des 1° et 2° ci-dessus :</strong></p>
    <div>
      <ul>
        <li>Sont considérées comme maisons individuelles au sens du présent arrêté les bâtiments d'habitation ne comportant pas de logements superposés ;</li>
        <li>Les escaliers des bâtiments d'habitation collectifs de trois étages sur rez-de-chaussée dont le plancher bas du logement le plus haut est à plus de huit mètres du sol doivent être encloisonnés.</li>
      </ul>
    </div>
    <p class="Style1">3° Troisième famille :</p>
    <p class="Style5">Habitations dont le plancher bas du logement le plus haut est situé à vingt-huit mètres au plus au-dessus du sol utilement accessible aux engins des services de secours et de lutte contre l'incendie, parmi lesquelles on distingue :</p>
    <p class="Style5"><strong>Troisième famille A</strong> : Habitations répondant à l'ensemble des prescriptions suivantes :</p>
    <div>
      <ul>
        <li>Comporter au plus sept étages au rez-de-chaussée ;</li>
        <li>Comporter des circulations horizontales telles que la distance entre la porte palière de logement la plus éloignée et l'accès à l'escalier soit au plus égale à sept mètres ;</li>
        <li>Etre implantées de telle sorte qu'au rez-de-chaussée les accès aux escaliers soient atteints par la voie échelles.</li>
      </ul>
    </div>
    <p class="Style5"><strong>Troisième famille B</strong> : Habitations ne satisfaisant pas à l'une des conditions précédentes :</p>
    <p class="Style5"><li>Ces habitations doivent être implantées de telle sorte que les accès aux escaliers soient situés à moins de cinquante mètres d'une voie ouverte à la circulation.</li></p>
    <p class="Style5"><li>Toutefois, dans les communes dont les services de secours et de lutte contre l'incendie sont dotés d'échelles aériennes de hauteur suffisante, le maire peut décider que les bâtiments classés en troisième famille B, situés dans le secteur d'intervention desdites échelles, peuvent être soumis aux seules prescriptions fixées pour les bâtiments classés en troisième famille A. Dans ce cas, la hauteur du plancher bas du logement le plus haut du bâtiment projeté doit correspondre à la hauteur susceptible d'être atteinte par les échelles et chaque logement doit pouvoir être atteint soit directement, soit par un parcours sûr.</li></p>
    <p class="Style5"><li>De plus, les bâtiments comportant plus de sept étages sur rez-de-chaussée doivent être équipés de colonnes sèches.<li></p>
        
    <p class="Style1">4° Quatrième famille :</p>
    <p class="Style5">Habitations dont le plancher bas du logement le plus haut est situé à plus de vingt-huit mètres et à cinquante mètres au plus au-dessus du niveau du sol utilement accessible aux engins des services publics de secours et de lutte contre l'incendie.</p>
    <p class="Style5">Ces habitations doivent être implantées de telle sorte que les accès aux escaliers protégés soient situés à moins de cinquante mètres d'une voie ouverte à la circulation.</p>
    <p class="Style5">Lorsqu'un immeuble de la quatrième famille doit contenir des locaux à usage autre que d'habitation,  cet immeuble doit être rangé dans la catégorie des immeubles de grande hauteur.</p>
    <p class="Style5">Toutefois, le bâtiment demeure en quatrième famille lorsque les locaux contenus répondent à l'une des conditions suivantes :</p>
    <div>
      <ol>
        <li class="Style5">Les locaux affectés à une activité professionnelle font partie du même ensemble de pièces que celles où se déroule la vie familiale<br>
        </li>
        <li class="Style5"> Les locaux affectés à une activité professionnelle, de bureaux ou constituant un établissement recevant du public et dépendant d'une même personne physique ou morale :
          <ul>
            <li>Forment un seul ensemble de locaux contigus d'une surface de 200 mètres carrés au plus, pouvant accueillir vingt personnes au plus à un même niveau</li>
            <li>Sont isolés des autres parties du bâtiment par des parois coupe-feu de degré une heure et des blocs-portes pare-flammes de degré une demi-heure</li>
          </ul>
        </li>
        <li class="Style5"> Les locaux affectés à des activités professionnelles, de bureaux, ou constituant des établissements recevant du public de 5e catégorie répondent à l'ensemble des conditions suivantes :
          <ul>
            <li>Le plancher bas du niveau le plus haut occupé par ces locaux est toujours situé à 8 mètres au plus au-dessus du niveau du sol extérieur accessible aux piétons</li>
            <li>Chaque niveau occupé par ces locaux a au moins une façade en bordure d'une voie accessible</li>
            <li>Ces locaux et leurs dégagements sont isolés de la partie du bâtiment réservée à l'habitation par des parois coupe-feu de degré deux heures sans aucune intercommunication.</li>
          </ul>
        </li>
        <li class="Style5"> De même, l'aménagement d'un établissement recevant du public du type N sur les deux niveaux les plus élevés d'un immeuble à usage d'habitation de moins de 50 mètres de hauteur n'a pas pour effet de classer cet immeuble dans la classe G.H.Z. si l'établissement considéré ne communique pas directement avec le reste de l'immeuble, est desservi par au moins deux escaliers protégés de deux unités de passage et ne peut recevoir plus de 500 personnes.</li>
      </ol>
    </div>

</ion-content>
