<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>Immobilisation</li>
        <li>Oxygèner</li>
        <li>Rassurer</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Collier cervical, coquille si atteinte tête ou colonne vertébrale</li>
        <li>Attelles</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Fonctions vitales</li>
        <li>Tension artérielle</li>
      </ul>
    </li>
  </ul>
</ion-content>
