<!--
  Generated template for the GnrLspccSauvetageexterieurPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LSPCC</ion-title>
                <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">SAUVETAGE D'UNE PERSONNE PAR L'EXTERIEUR</h5>

<strong><u>POSSIBILITES</u></strong><br>
<li>Evacuation verticale de victimes conscientes ou inconscientes. La solution la plus simple et la plus cohérente est recherchée en cas de danger immédiat. Lors d'un sauvetage, il peut être suffisant de monter ou descendre la victime de quelques mètres pour la mettre en sécurité</li><br>

<strong><u>LIMITES</u></strong><br>
<li>La hauteur maximale autorisée pour l'évacuation d'une victime par rapport au niveau de sa réception est fixée par la longueur utile de la corde</li><br>

<p><img src="assets/icon/GHS-pictogram-exclam.svg.png"/>En présence de difficultés techniques ou de blessures graves, faire appel, en contactant le CODIS, à une autre équipe spécialisée (GRIMP, etc.)</p>

</ion-content>
