<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Sauvetage/évacuation des personnes<br>
    </li>
  <li>Évacuation des chevaux<br>
    </li>
  <li>Enrayer la propagation<br>
    </li>
</ion-content>