<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Fermeture de la vanne police<br>
    </li>
  <li>Coupure des énergies électriques<br>
    </li>
  <li>Ventilation<br>
    </li>
  <li>Attaque en mousse ou jet diffusé<br>
    </li>
</ion-content>