<!--
  Generated template for the GnregeEmbrasementTestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">EMBRASEMENT GÉNÉRALISÉ ÉCLAIR</h3>

<h4 class="Style1">TEST DU PLAFOND</h4>

<p>En plus de l’observation des signes d’alarme, il existe un moyen d’évaluation du danger au
travers de <strong>l’estimation du potentiel énergétique</strong> présent dans la couche de fumées en
partie haute du volume.</p>

<p>L’évaluation de la température de la couche de fumées s’effectue en utilisant le principe
de la vaporisation de l’eau.</p>

<p>Dans la pratique, l’action consiste simplement à ouvrir puis à fermer très rapidement une
lance en jet diffusé d’attaque1 en visant la couche dense de fumées dans la <strong>partie haute
du volume.</strong></p>

<p>En effet, de <strong>l’eau finement projetée</strong> dans une ambiance suffisamment chaude se
vaporise en absorbant une grande quantité d’énergie. En présence d’une énergie moindre,
elle retombe rapidement sans se vaporiser.</p>

<p>C’est ce phénomène simple et aisément observable qui doit être utilisé en opération.</p>

<p><img src="assets/icon/Capture7.PNG" alt="" /><strong>Test du plafond</strong></p>

<p>Ainsi, si une partie de <strong>l’eau projetée est transformée en vapeur</strong> : le danger est présent
et le risque d’embrasement généralisé éclair est réel.</p>

<p>L’ordre de repli est latent, aucune progression ne doit se faire dans le volume sinistré sans
une action préalable sur la couche de fumées.</p>

<p>Si des <strong>gouttes retombent</strong> : l’ambiance thermique du volume n’est pas très élévée
puisque l’eau n’a pas été vaporisée. La progression du binôme d’attaque peut se faire <strong>par
étapes de 1 à 2 mètres.</strong></p>

<p class="Style1">La projection d’un <strong>faible volume d’eau en impulsion « ouvrir /
fermer » en jet diffusé d’attaque</strong> dans la couche de fumée située en
partie haute du volume permet de déterminer immédiatement le risque
d’embrasement généralisé éclair :</p>

<li class="Style1">Si la température est très élevée : l’eau se vaporise sans retomber, <strong>le
danger est imminent</strong></li>

<li class="Style1">Si la température est peu élevée : l’eau retombe en gouttes sans se
vaporiser, <strong>le risque est présent mais moins élevé.</strong></li>

<p><strong>Le test du plafond doit être répété à chaque étape de la progression et à
chaque changement de volume. La plus grande vigilance reste requise.</strong></p>

</ion-content>
