<ion-content>

<h3>PERTURBATION SENSORIELLES</h3>
  <h5 class="Style1">Vie de Relation</h5>

  <li>Perception de l’espace environnement réduite<br>
  </li>
  <li>Problèmes de communication (réception et émission)<br>
  </li>

</ion-content>
