<!--
  Generated template for the AutresFerroviairePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Autres Interventions</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 align="center" class="Style1">RÉSEAUX FERROVIAIRES</h3>

<h5>Réseau SNCF</h5>

<p class="center"><strong>Caténaires :</strong></p>

<p class="center">Risque électrique (à moins de 3m)</p>

<p class="center"><strong>Effet de souffle : :</strong></p>

<p class="center">Projection du matériel / personnel
Situé dans une zone de 1m50</p>

<img src="assets/icon/catenaire.jpg" alt="" /><br>

<p>Toute intervention dans ce périmètre implique pour le COS :</p>

<p><strong>Un balisage</strong> à 1500m amont/aval (1SP avec chasuble + radio 400mhz)
Tant que l’arrêt n’est pas confirmé et qu’il y a nécessité d’intervenir</p>

<img src="assets/icon/Capture108.PNG" alt="" /><br>

<p><strong>La demande de l’arrêt du trafic</strong> en précisant le PK
(chaque rame s’immobilise, le COGC-Centre Opérationnel de gestion des Circulations-confirme au CODIS)</p>

<p align="center" class="Style1">PAS D’ENGAGEMENT DES PERSONNELS AVANT LA CONFIRMATION PAR LE CODIS DE L’ARRET DES TRAINS</p>

<p><strong>Si besoin (opération à moins de 3m des caténaires) :</strong></p>

<li><strong>La coupure d’urgence</strong> de l’alimentation des caténaires (il subsiste une tension résiduelle au maximum de 220V)</li>
<li><strong>La consignation</strong> des caténaires (évite tout risque de choc et de réalimentation accidentelle)</li>

</ion-content>
