<!--
  Generated template for the DivOuvertureportePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>DIV</ion-title>
            <ion-buttons end >
              <header-menu></header-menu>
            </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="Style1 centrer">OUVERTURE DE PORTE</h3>

<p><strong>Les ouvertures de portes ne doivent être effectuées que lorsqu'il y a :</strong></p>

<li>Une nécessité d'assistance à personne en péril (danger grave ou imminent</li>
<li>Un incendie</li>
<li>Une odeur suspecte</li>
<li>Fuite d'eau dépassant le cadre de l'appartement</li><br>

<p>Article 122-7 du code pénal : "<i>N'est pas pénalement responsable la personne qui, face à un danger actuel
ou imminent qui menace elle-même, autrui ou un bien, accomplit un acte nécessaire à la sauvegarde de la personne
ou du bien, sauf s'il y a disproportion entre les moyens employés et la gravité de la menace</i>".</p>

<p>Sauf en cas d'urgence absolue, le chef d'agrès doit chercher à tout prix à limiter les dégâts et chercher
le moyen le plus astucieux et le moins dommageable pour pénétrer dans un local : <strong>l'accès par une fenêtre
en hauteur sera privilégié.</strong></p>

<h5 class="Style1">Intervention immédiate</h5>

<p><strong>Différents cas :</strong></p>

<li>Une personne demande des secours depuis l'intérieur de son domicile mais n'ouvre pas</li>
<li>Une personne demande des secours depuis l'intérieur mais ne répond plus aux appels</li>
<li>Une personne tente de mettre fin à ses jours et refuse d'ouvrir</li>
<li>Une personne ne répond pas aux appels en cas de force majeure (incendie, odeur suspecte, fuite d'eau)</li><br>

<p><strong>Conduite à tenir :</strong></p>

<li>Vérifier si les portes et fenêtres sont effectivement fermés et regarder à l'interieur pour detecter une détresse vitale, incident ou problème grave</li>
<li>Questionner le voisinage si double des clés, concierge, etc</li>
<li>Demander la présence des forces de l'ordre</li>
<li>Casser une fenêtre en hauteur de préférence</li>
<li>Ne jamais pénétrer seul dans un domicile, toujours à deux</li>
<li>Procéder à une détection de monoxyde de carbone permanente</li>
<li>Chaque passage de porte devra être réallisée avec beaucoup de précaution (porte chaude, CO, etc)</li>
<ul>
<li>Cas particulier en présence d'une personne qui tente de mettre fin à ses jours :
  <ul>
    <li>Les forces de l'ordre doivent être présentes sur les lieux</li>
    <li>Faire appel au chef de groupe</li>
    <li>Interdire à quiconque de sonner ou d'allumer les lumières (suicide au gaz)</li>
    <li>Essayer de raisonner la personne sans prendre de risque</li>
    <li>Demander le SAMU sur les lieux</li>
    <li>Ne jamais rester devant une porte ou une fenêtre : risque de coup de feu ou autre...</li>
  </ul>
</li>
</ul>

<h5 class="Style1">Pas d'urgence - pas de danger imminent</h5>

<p><strong>Différents cas</strong></p>

<li>Frapper aux portes et volets sans rester derrière et se présenter</li>
<li>Procéder à une enquête de voisinage :
  <ul>
    <li>Qui a appeler les secours</li>
    <li>Inspecter le voisinage</li>
    <li>Faire le tour de l'habitation et regarder par les fenêtrespour déceler les signes d'occupation</li>
    <li>Vérifier la présence de courrier dans la boite aux lettres</li>
    <li>Présence d'un véhicule</li>
    <li>Personne connu : traitement médical, dépressive, etc
    <li>Présence d'un animal</li>
    <li>Y-a t-il possibilité de contacter la famille</li>
    <li>Presence d'arme à feu</li>
  </ul>
</li>
<li>Attendre les forces de l'ordre</li><br>

<h5 class="Style1">Cas de non intervention</h5>

<li>Si la personne vous répond personnellement</li>
<li>Si à votre arrivée, vous vous rendez compte que la personne a oublié ou perdu ses clés (conseiller au requérant de prendre contact avec un serrurier</li>

</ion-content>
