<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>Décrocher le pendu</li>
        <li>Bilans</li>
        <li>Ranimation cardio-pulmonaire ?</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Sur le dos ?</li>
        <li>Sur le plan dur horizontal</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Fonctions vitales</li>
      </ul>
    </li>
  </ul>
</ion-content>
