<!--
  Generated template for the GnrLspccOperationLesordresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>LSPCC</ion-title>
                    <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

  <h5><strong>LES ORDRES</strong></h5>

  <p class="Style1">MOU<br></p>

  <li>Laisse filer la corde, donner du "mou" dans la progression<br></li>

  <p class="Style1">RAVALE<br></p>

  <li>Mettre sous tension la corde afin qu'il n'y ait plus de mou<br></li>

  <p class="Style1">HALTE<br></p>

  <li>Stoppe toute manoeuvre sur sur le 8 descendeur, fait éventuellement une clé d'arrêt<br></li>

  <p class="Style1">ATTENTION COMMANDE<br></p>

  <li>A l'attention du 2e binôme, ordre préparatoire avant de lancer la commande<br></li>

  <p class="Style1">ENVOYER COMMANDE<br></p>

  <li>Confirmation du 2e binôme pour lancer la commande<br></li>

  <p class="Style1">ATTENTION VICTIME<br></p>

  <li>Ordre préparatoire à l'attention du 2e binôme, avant d'engager la victime dans le vide pour la descente<br></li>

  <p class="Style1">DESCENDEZ VICTIME<br></p>

  <li>2e binôme en position pour écarter la victime du mut, confirme la descente<br></li>

  <p class="Style1">SAUVETAGE TERMINE<br></p>

  <li>Victime prise en charge par le 2e binôme<br></li>

  <p class="Style1">A BRAS.... FERME !<br></p>

  <li>Ordre préparatoire et d'execution pour hisser la victime ou le sauveteur<br></li>

</ion-content>
