<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Présence de locaux d’habitation en partie supérieure<br>
  </li>
<li>Stockage divers et variés en fonction de l’activité<br>
  </li>
<li>Potentiel calorifique et dégagements de fumées importants<br>
</li>
</ion-content>
