<ion-content>

    <h5 class="Style1">M4: Alimentation de l'engin</h5>
    
      <li>Décroche le dévidoir et enlève la division si nécessaire</li><br>
      <li>Donne le raccord au conducteur et prend le matériel nécessaire pour ouvrir le PI/BI</li><br>
      <li>Emmène le dévidoir jusqu’à la prise d’eau</li><br>
      <li>Purge la prise d’eau avant le branchement et ouvre</li><br>
      <li>Remonte l’établissement avec le dévidoir</li><br>
      <li>Se met à disposition du chef d’agrès</li><br>
      
      <p>Note : en cas de doute, il est recommandé de vérifier la pérennité du PI avant l’établissement</p><br>    

</ion-content>
