<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>Engager les reconnaissances avant les établissements<br>
</li>
<li>Isoler et ventiler les parties supérieures, notamment les habitations<br>
</li>
</ion-content>
