<ion-content>
  <h3 class="Style1">Bilans :</h3>

  <li>Violance du choc ?<br>
    </li>
    <li>Accès aux victimes ?<br>
    </li>
    <li>Détresses vitales sur les victimes ?<br>
    </li>
    <li>Idée de manoeuvre<br>
    </li>
</ion-content>
