<ion-content>

<h5 class="Style1">Tuyaux en écheveaux : Etablissement de la prise d'eau vers le point d'attaque</h5>

  <li>Prend son matériel</li>
  <li>Raccorde le tuyau de l’équipier à la prise d’eau</li>
  <li>Suit l’équipier en ajustant les tuyaux</li>
  <li>Pose sont tuyaux au point d’attaque et ouvre le « O »</li>
  <li>Ordonne l’ouverture de l’eau</li>

</ion-content>
