<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Très répandues, excellents combustibles, gros dégagement de fumées<br>
  </li>
<li>Distillation de gaz très toxiques, voir corrosifs :<br>
  </li>
<ol>Acide chlorhydrique<br>
  </ol>
<ol>Cyanhydrique<br>
  </ol>
<ol>Monoxyde de carbone<br>
  </ol>
</ion-content>

