<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Ecoulement de sang</li>
        <li>Pâleur, Sueurs</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>Soif ?</li>
    </ul>
  </li>
</ul>
</ion-content>
