<ion-content>

<h3 align="center" class="Style1">LA SANGLE ARAIGNEE</h3>

  <p class="Style1">Le maintien de tête ne peut être relâché que lorsque les blocs d’immobilisation latéraux et les sangles
    de fixation frontale et mentonnière sont installés.
    L’équipier 1 assure le maintien du bassin pendant toute la durée de la mise en place de la sangle araignée.</p>

    <p><strong>Equipier 1 :</strong></p>

    <li>Assurer la surveillance de la victime et le maintien du bassin pendant toute la durée de la mise en place de la sangle araignée.</li><br>

    <img class="centrer" src="assets/icon/Capture89.PNG" alt="" /><br>

    <p><strong>Equipier 2 et 3 :</strong></p>

    <li>Séparer les jambes avec un billot</li>
    <li>Centrer la ceinture centrale sur la victime</li>
    <li>Positionner les sangles fixes : au niveau des aisselles et des chevilles</li>
    <li>Placer les sangles coulissantes au niveau du thorax, du bassin et des cuisses</li>
    <li>En commençant par la sangle de cheville, pré positionnez l’ensemble des sangles en passant les bandes velcro dans les alvéoles du plan dur</li><br>

    <img class="centrer" src="assets/icon/Capture90.PNG" alt="" /><br>

    <p><strong>Equipier 2 et 3 :</strong></p>

    <li>Pré positionnent la sangle d’épaules en passant les bandes velcro dans les alvéoles les plus proches afin d’englober l’articulation</li><br>

    <img class="centrer" src="assets/icon/Capture91.PNG" alt="" /><br>

    <p><strong>Equipier 2 et 3 :</strong></p>

    <li>Tout en conservant la sangle centrale centrée, les 2 équipiers saisissent chacun un coté de la sangle, exercent une légère traction et fixent la sangle des chevilles.</li><br>

    <img class="centrer" src="assets/icon/Capture92.PNG" alt="" />
    <img class="centrer" src="assets/icon/Capture93.PNG" alt="" /><br>

    <p><strong>Equipier 2 et 3 :</strong></p>

    <ul>
      <li>Selon le même procédé, fixer successivement:
        <ul>
          <li>La sangle de cuisses</li>
          <li>La sangle de bassin, sur les crêtes iliaques</li>
          <li>La sangle du thorax, <strong>sans entraver la ventilation</strong></li>
          <li>La sangle des aisselles, <strong>sans entraver la ventilation</strong></li>
          <li>Terminer par les sangles d’épaules</li>
        </ul>
      </li>
    </ul>

    <img class="centrer" src="assets/icon/Capture94.PNG" alt="" /><br>

    <p><strong>Equipier 2 et 3 :</strong></p>

    <li>Contrôler et réajuster, si nécessaire la fixation des sangles</li><br>

    <p><strong>Equipier 1 :</strong></p>

    <li>Une fois la sangle posée, le maintien de bassin peut être relâché</li>
    <li>Positionner la planche dans le matelas immobilisateur à dépression</li>
    <li>Assurer le conditionnement en veillant particulièrement à l’immobilisation du bassin</li>

    <img class="centrer" src="assets/icon/Capture95.PNG" alt="" /><br>

</ion-content>
