<ion-content>

    <h5 class="Style1">M2: Alimentation d'une prise d'eau</h5>
  
      <li>Le BAL, pour l'alimentation de ... en reconnaissance</li><br>
      <li>Division mixte...emplacement...prise d'eau....Etablissez !</li><br>
  
  </ion-content>
