<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Engagement d’un minimum de personnel sous ARI et tenue de feu complète. Utilisation des protections du terrain<br>
    </li>
  <li>Sauvetage/évacuation des personnes<br>
    </li>
  <li>Identification et périmètre de sécurité. Informations venant de l’exploitant. Retour d’informations au CODIS<br>
    </li>
  <li>Protection des installations contre le risque de propagation<br>
    </li>
  <li>Utilisation d’agents extincteurs adaptés selon les fiches signalétiques ou réglettes TMD<br>
  </li>
  <li>Obturer les regards d’égouts, protéger les cours d’eau<br>
  </li>
  <li>Effectuer des relevés d’explosimètrie, ventiler avec prudence les volumes<br>
  </li>
</ion-content>
