<ion-content>
  <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Charniere1.png"/>
  
<div id="m1-demiPavAvant-text">

    1. Préparer les cales de reprise<br>
    2. Couper le montant A<br>
    3. Couper le pare-brise du montant A jusqu'au coin supérieur opposé, le plus proche possible du toit<br>
    4. Couper les montants B puis C<br>
</div>
        
</ion-content>
