<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>Protéger du surraccident</li>
        <li>Bilans, Oxygène</li>
        <li>Rassurer</li>
        <li>Si le temps d'écrasement est court : dégager rapidement</li>
        <li>Si le temps d'écrasement est long : demander un avis médical</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Imobilisation dans le matelas à depression ou atteles</li>
        <li>Couvrir</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Fonctions vitales</li>
      </ul>
    </li>
  </ul>
</ion-content>
