<ion-content>

<h3 align="center" class="Style1">LA SANGLE ARAIGNEE</h3>

  <li>La victime ne peut glisser ni vers le haut, ni vers le bas, ni sur les côtés</li>
  <li>Les sangles ne doivent pas gêner la respiration de la victime</li>
  <li>La sangle centrale doit être tendue dans l’axe du corps</li><br>

</ion-content>
