<ion-content>
    <h3 class="Style1">Signes :</h3>
  
    <ul>
      <li>Visibles :
        <ul>
          <li>Fourmillements</li>
          <li>Contractures musculaires</li>
          <li>Mains d'accoucheur</li>
          <li>Pupilles révulsées</li>
        </ul>
      </li>
    </ul>
  
  <ul>
    <li> A rechercher :
      <ul>
        <li>Antécédents ?</li>
        <li>Traitement médical ?</li>
        <li>Contrariétés ?</li>
      </ul>
    </li>
  </ul>
  </ion-content>
