<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Sauvetage/ Mise en sécurité<br>
    </li>
  <li>Reconnaissance/Extinction en façade combinées.<br>
    </li>
  <li>Coupure des énergies<br>
    </li>
  <li>Mise en place d’un deuxième point d’attaque par l’arrière si nécessaire<br>
    </li>
  <li>Ventilation rapides des locaux et des habitations<br>
  </li>
  <li>Reconnaissances prolongées en partie supérieure<br>
  </li>
</ion-content>