<ion-content>
    <h3 class="Style1">Accès - Cheminements :</h3>
  
    <li>Fixer un point de concentration des secours<br>
    </li>
    <li>Déterminer un cheminement avec la SNCF si le lieu du sinistre n’est pas repérable<br>
    </li>
    <li>En cas de difficultés d’accès, n’engager que les moyens hors chemin<br>
    </li>
  </ion-content>
