<ion-content>
  <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/TableauBord1.png"/>
  
<div id="m1-demiPavAvant-text">

  1. Après porte et pavillon<br>
  2. Faire deux coupes dans le tablier à 30cm l'une de l'autre<br>
  3. Replier la tôle entre coupes vers l'avant<br>

</div>
        
</ion-content>
