<ion-content>
    <h3 class="Style1">Risques :</h3>

    <li>Transport de marchandises ou de passagers, à moins de 300 mètres des côtes<br>
    </li>
  <li>Risque de naufrage<br>
    </li>
  <li>Difficultés liées aux accès, au potentiel calorifique<br>
  </li>
  <li>Risques liés au chargement (pollution, explosion…)<br>
  </li>
</ion-content>
