<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>Étudier les principes d’extinction d’aéronefs<br>
</li>
<li>Engager des moyens dimensionnés avec le type d’appareil et prévoir un PRM<br>
</li>
</ion-content>
