<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>Rassurer</li>
        <li>Oxygène si gêne respiratoire</li>
        <li>Faire sucer un glaçons si piqûres dans la bouche, gorge</li>
        <li>Alerter rapidement le SAMU si oedème</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Plat dos ou demi-assis</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Réactions allergiques</li>
      </ul>
    </li>
  </ul>
</ion-content>
