<ion-content>

  <p>Les Etablissements Accueillant du Personnel doivent respecter les dispositions édictés par le Code du travail.<br></p>
  <p><strong>Cela concerne notamment :</strong></p>
  <ul>
    <li>Etablissements industriels, commerciaux, enseignement professionnel ou de bienfaisance, publics ou privés...</li>
    <li>Etablissements et offices publics</li>
    <li>Professions libérales, sociétés civiles, syndicats professionnels employant du personnel.</li>
  </ul>
  <p>Les Installations et Usines susceptibles de générer des risques ou des dangers sont soumises à une législation et une réglementation particulières, relatives à ce que l'on appelle <strong>&quot;les installations classées pour la protection de l'environnement&quot;.</strong></p>
  <p>En effet, toute exploitation industrielle ou agricole susceptible de créer des risques ou de provoquer des pollutions ou nuisances, notamment pour la sécurité et la santé des riverains est une <strong>installation classée.</strong></p>
  <p>Les activités relevant de la législation des installations classées sont énumérées dans une nomenclature qui les soumet à un régime d’autorisation, d’enregistrement ou de déclaration en fonction de l’importance des risques ou des inconvénients qui peuvent être engendrés :</p>
  <ul>
    <li><strong>Déclaration </strong> : pour les activités les moins polluantes et les moins dangereuses. Une simple déclaration en préfecture est nécessaire ;</li>
    <li><strong>Autorisation </strong> : pour les installations présentant les risques ou pollutions les plus importants. L’exploitant doit faire une demande d’autorisation avant toute mise en service, démontrant l’acceptabilité du risque. Le préfet peut autoriser ou refuser le fonctionnement ;</li>
    <li><strong>Enregistrement :</strong> pour les secteurs dont les mesures techniques pour prévenir les inconvénients sont bien connues (stations-service, entrepôts...), un régime d’autorisation simplifiée, ou régime dit d’enregistrement, a été créé en 2009.</li>
  </ul>
  <p>La nomenclature des installations classées est divisée en deux catégories de rubriques :</p>
  <ul>
    <li>l’emploi ou stockage de certaines substances (ex. toxiques, dangereux pour l’environnement…).</li>
    <li>le type d’activité (ex. : agroalimentaire, bois, déchets …) ;</li>
  </ul>
  <p>Chaque rubrique (type de substance ou d’activité) est identifiée par <strong>un numéro</strong> à 2 chiffres, chaque activité ou substance est identifiée par un numéro à 4 chiffres.<br></p>

  <p><strong>Substances et préparations :</strong></p>
  <ul>  
    <li>11XX : Toxiques</li>
    <li>12XX : Comburants</li>
    <li>13XX : Explosifs</li>
    <li>14XX : Inflammables</li>
    <li>15XX : Combustibles</li>
    <li>16XX : Corrosives</li>
    <li>17XX : Radioactifs</li>
    <li>18XX : Réactifs à l’eau</li>
  </ul>
  <p>Les caractères nocif, irritant ou sensibilisant n’ont pas encore fait l’objet de rubriques spécifiques dans la nomenclature des installations classées.</p>

  <p><strong>Branches d’activités :</strong></p>
  <ul>
  <li>21XX : Activités agricoles, animaux</li>
  <li>22XX : Agroalimentaire</li>
  <li>23XX : Textiles, cuirs, peaux</li>
  <li>24XX : Bois, papier, carton, imprimerie</li>
  <li>25XX : Matériaux, minerais et métaux</li>
  <li>26XX : Chimie, parachimie</li>
  <li>27XX : Déchets</li>
  <li>29XX : Divers</li>
  </ul>

</ion-content>
