<ion-content>
  <h3 class="Style1">SMES :</h3>


<ul>
  <li>Situation
    <ul>
      <li>Description de la situation actuelle</li>
      <li>Des actions menées</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Mission
    <ul>
      <li>But à atteindre</li>
      <li>Préciser le but à atteindre pour mener à bien l'opération et le moyen d'y parvenir</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Exécution
    <ul>
      <li>Odre préparatoire</li>
      <li>Odre d'éxecution</li>
    </ul>
  </li>
<p>Il s'agit de répartir les missions particulères aux différents chefs d'équipe afin de réaliser l'idée de manoeuvre</p>
</ul>

<ul>
  <li>Sécurité
    <ul>
      <li>Préciser les mesures de sécurité liées à la situation et aux missions données</li>
      <li>Certaines missions ou situations nécessitent des mesures de sécurité particulières</li>
    </ul>
  </li>
</ul>

</ion-content>