<ion-content>
    <h3 class="Style1">Bilans :</h3>
  
    <li>Grossesse sans difficultés ?<br>
      </li>
      <li>Présentation du bébé à la dernière visite ?<br>
      </li>
      <li>Nombre d'accouchements précédents ?<br>
      </li>
      <li>Grossesse à terme ?<br>
      </li>
  </ion-content>
  
