<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Coupure des énergies à l'extérieur du bâtiment<br>
    </li>
  <li>Mise en sécurité des habitants<br>
    </li>
  <li>Attaque énergique LDT + 1 LDV<br>
    </li>
  <li>Reconnaissances et ventilation dans les étages<br>
    </li>
</ion-content>
