<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Locaux à usage d'habitation<br>
  </li>
<li>Locaux à sommeil : victimes potentielles<br>
  </li>
<li>Danger des feux en espaces clos (cave, appartement, combles)<br>
</li>
</ion-content>
  