<!--
  Generated template for the MalaisesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Malaises</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs>
    <ion-tab [root]="tab7Root" tabTitle="Signes" tabIcon="tab7"></ion-tab>
    <ion-tab [root]="tab8Root" tabTitle="Bilans" tabIcon="tab8"></ion-tab>
    <ion-tab [root]="tab9Root" tabTitle="Actions" tabIcon="tab9"></ion-tab>
    <ion-tab [root]="tab10Root" tabTitle="Important" tabIcon="tab10"></ion-tab>
  </ion-tabs>
</ion-content>
