<ion-content>

<h3 class="Style1">SOIEC - SAOIELC :</h3>


<li><strong>S</strong>: Situation</li>
<li><strong>O</strong>: Objectif</li>
<li><strong>I</strong>: Idée de manoeuvre</li>
<li><strong>E</strong>: Exécution</li>
<li><strong>C</strong>: Commandement</li>

<p><strong>Expression de l'OI à l'aide du raisonnement tactique:</strong></p>


<ul>
  <li>Situation
    <ul>
      <li>Questionnement du raisonnement tactique (Qui? Ou? Par ou?)</li>
      <li>Aide à la formulation (Nous sommes confrontés à ...)</li>
      <li>Contenu de l'ordre (Evènement, Lieu, Dimensionnement)</li>
      <li>But (Analyse des caractéristique du sinistre)</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Objectif
    <ul>
      <li>Questionnement du raisonnement tactique (Quoi faire?)</li>
      <li>Aide à la formulation (Nous devons ...)</li>
      <li>Contenu de l'ordre</li>
      <li>But (Définition des enjeux)</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Idée de manoeuvre
    <ul>
      <li>Questionnement du raisonnement tactique (Comment faire?)</li>
      <li>Aide à la formulation (Je veux que ...)</li>
      <li>Contenu de l'ordre</li>
      <li>But (Définition des actions)</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Exécution
    <ul>
      <li>Questionnement du raisonnement tactique (Avec quoi?)</li>
      <li>Aide à la formulation (Vous faites ...)</li>
      <li>Contenu de l'ordre (1 chef, 1 mission, des moyens)</li>
      <li>But (Définition de la sectorisation)</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Commandement
    <ul>
      <li>Questionnement du raisonnement tactique (Quelles règles?)</li>
      <li>Aide à la formulation</li>
      <li>Contenu de l'ordre (Adjoint, Transmission, Mesures de sécurité)</li>
      <li>But (Définition du cadre)</li>
    </ul>
  </li>
</ul>

<p>Au niveau du chef de colonne et plus on utilise le SAOIELC :</p>

<li><strong>S</strong>: Situation</li>
<li><strong>A</strong>: Anticipation</li>
<li><strong>O</strong>: Objectif</li>
<li><strong>I</strong>: Idée de manoeuvre</li>
<li><strong>E</strong>: Exécution</li>
<li><strong>L</strong>: Logistique</li>
<li><strong>C</strong>: Commandement</li>

</ion-content>
