<!--
  Generated template for the GnretablissementlancesReglesdebaseDevoirsdubinomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BINOMES</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">Précautions et Devoirs du Binôme</h5>

<p><strong>Règles et précautions à observer pour l'établissement des tuyaux</strong></p>

  <li>Employer le moins possible de tuyaux</li>
  <li>Eviter l'enchevêtrement, les plis, les coudes, les torsions</li>
  <li>Faire une réserve en boucle au point d'attaque</li>
  <li>Serrer le plus possible la bordure du trottoir</li>
  <li>Eviter de couper les rues (emploi des dispositifs de franchissement)</li>

<p><strong>Règles pour la protection du matériel</strong></p>

  <li>Faire attention aux matériaux coupants, pointus et aux décombres brûlants</li>
  <li>Mettre les établissements à l'abri de la chute des matériaux</li>
  <li>Fermer et ouvrir doucement les vannes et robinets pour éviter les coups de bélier</li>
  <li>En période de gel, tenir la lance partiellement ouverte</li>
  <li>Eviter de détériorer les raccords</li>

</ion-content>
