<ion-content>
    <h3 class="Style1">Bilans :</h3>
  
    <li>Rechercher le facteur déclencheur<br>
      </li>
      <li>Durée de la crise ?<br>
      </li>
      <li>Traitement commencé ? Effet du traitement ?<br>
      </li>
      <li>Signes respiratoires : possibilité de parler, tousser ?<br>
      </li>
      <li>Cyanose, sueurs ?<br>
      </li>
  </ion-content>

