<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Vieille bâtisse dont les planchers et escaliers sont en bois<br>
  </li>
<li>Élevage d’animaux<br>
  </li>
<li>Présence de machines agricoles et engrais divers (risque d'explosion)<br>
</li>
<li>Exploitations artisanales<br>
</li>
</ion-content>