<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Nausée, Pâleurs, Sueurs ?</li>
        <li>Sensations de vertige ?</li>
        <li>Vomissements, Fatigues</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>1ère fois ?</li>
      <li>Depuis combien de temps ?</li>
      <li>Traitement ? Antécedents ?</li>
    </ul>
  </li>
</ul>
</ion-content>
