<!--
  Generated template for the GnregeExplosiondefumeeParametresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">EXPLOSION DE FUMÉES</h3>

<h4 class="Style1">PARAMÈTRES D’APPARITION DU PHENOMÈNE</h4>

<h5>Situation</h5>

<p>Le feu se développe dans un volume <strong>clos</strong> :

<ul>
  <li>
    Les <strong>échanges</strong> entrées / sorties sont <strong>quasi inexistants</strong> :
    <ul>
      <li>L’<strong>apport d’air</strong> frais est très <strong>faible</strong>, générant une combustion très incomplète</li>
      <li>Le feu <strong>s’étouffe</strong></li>
      <li>Les <strong>fumées</strong> et la <strong>chaleur</strong> produites par le foyer initial <strong>s’évacuent difficilement</strong> du volume</li>
    </ul>
  </li>
  <li>
    Sous l’effet de l’<strong>accumulation des fumées</strong> et de la <strong>chaleur</strong>, une <strong>mise en pression</strong> s’opère
  </li>
</ul>

<h5>Combustible</h5>

<p>Les fumées sont très chargées en gaz imbrûlés, en suies et en gaz de pyrolyse. Le
mélange se rapproche de sa limite supérieure d’inflammabilité (L.S.I.).</p>

<h5>Comburant</h5>

<p>L’oxygène ayant été en grande partie consommé dans la phase initiale et l’apport d’air
extérieur étant insuffisant, la vitesse de réaction est ralentie : l’incendie passe d’une
combustion vive à une combustion lente.</p>

<h5>Chaleur</h5>

<p>La chaleur ne s’étant pas évacuée, la température du local est très importante. Le volume
est surchauffé, ce qui a pour conséquence <strong>d’augmenter la pression</strong> en partie haute du
volume.</p>

<p>La combustion se réduit à celle des <strong>éléments incandescents</strong> qui continuent à dégager
une certaine quantité de chaleur maintenant ou augmentant le niveau de température,
donc <strong>d’énergie ambiante</strong> contenue dans le volume.</p>

<h5>Fumées</h5>

<p>La composition exacte de ces fumées est délicate à déterminer, mais des constantes
apparaissent : le taux de <strong>monoxyde de carbone (CO)</strong> est important et de <strong>nombreuses
molécules riches en carbone, plus ou moins oxydées, sont présentes.</strong></p>

<p>En phase de combustion qualifiable de « fumigène », le volume impliqué se remplit de
<strong>fumées denses, grasses, de couleurs variables.</strong>

<li>La <strong>couleur de ces fumées</strong> peut renseigner, de manière toute relative, sur les composés
présents dans le volume et leur inflammabilité :

<li>Fumées <strong>noires</strong> (ex. : pyrolyse des hydrocarbonés courants) : hautement chargées en énergie</li>

<li>Fumées <strong>jaunes</strong> (ex. : pyrolyse des polymères nitrés et sulfurés) : traduisent une élévation de température importante</li>

<li>Fumées <strong>blanches et froides</strong> (ex. : pyrolyse de la mousse de latex) : non neutres,
peuvent présenter certains dangers (combustibilité, toxicité)</li>

<p><img src="assets/icon/Page-14-Image-12.png" alt="" /><strong>Feu initial</strong>: porte et fenêtre fermées</p>

<p class="Style1">Les fumées et les gaz issus d’un incendie ne sont <strong>pas de simples
résidus</strong> ou des <strong>sous-produits de la combustion</strong> : Ils forment un
<strong>mélange combustible</strong>.</p>

</ion-content>
