<!--
  Generated template for the PrevplansdinterventionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Plans d'Intervention</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs>
    <ion-tab [root]="tab52Root" tabTitle="BASE" tabIcon="tab52"></ion-tab>
    <ion-tab [root]="tab53Root" tabTitle="EAU" tabIcon="tab53"></ion-tab>
    <ion-tab [root]="tab54Root" tabTitle="INC" tabIcon="tab54"></ion-tab>
    <ion-tab [root]="tab55Root" tabTitle="TECH" tabIcon="tab55"></ion-tab>
  </ion-tabs>
</ion-content>
