<ion-content>

<h5 class="Style1">Ordre Préparatoire : PATRACDR</h5><br>


  <ul>
    <li>
      Personnel du détachement
    <ul>
      <li>Code effectif</li>
      <li>Noms,Grade,Age,Qualifications</li>
    </ul>
    </li>
  </ul>

  <ul>
    <li>Armement
     <ul>
       <li>Liste des engins + origine</li>
       <li>Matériels du groupe</li>
       <li>Vérification : Matériels,Coffres,Carburants,...</li>
     </ul>
    </li>
  </ul>

<ul>
    <li>Tenue
      <ul>
        <li>Tenue de feu complète</li>
        <li>Sac de feu (affaires de toilette,tenue de rechange,tenue civile)</li>
      </ul>
    </li>
</ul>

<ul>
    <li>Radio
      <ul>
        <li>Recensement et vérification ERM + ERP</li>
        <li>Chargeurs et batteries</li>
      </ul>
    </li>
</ul>

<ul>
  <li>Alimentation
    <ul>
      <li>Rations alimentaire pour 24h</li>
      <li>Eau</li>
      <li>Carte carburants</li>
      <li>Badge autoroute</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Commandement
    <ul>
      <li>Désignation de l'adjudant</li>
      <li>Identification des chefs d'agres</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Déroulement prévu
    <ul>
      <li>Durée de la mission</li>
      <li>Heures de départ et d'arrivée</li>
      <li>Phase essentielles (ou? quand? comment? pourquoi?)</li>
    </ul>
  </li>
</ul>

<ul>
  <li>Rendez-vous
    <ul>
      <li>Heure et points de RDV pour la constitution du groupe</li>
    </ul>
  </li>
</ul>

</ion-content>
