<!--
  Generated template for the GnrAriOperationpointsclesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Procèdure Opérationnelle</ion-title>
      <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>PROCEDURES OPERATIONNELLES POINTS CLES</h5>

<p class="Style1"><u>Contrôleur</u></p><br>

<li>Répartition des personnels</li>
<li>Enregistrement du personnel : nom, appartenance, pression, engagement et sortie prévisible</li>
<li>Prévoit une binôme de sécurité le plus rapidement possible</li>
<li>Contrôle au maximum 5 binômes dont le binôme de sécurité</li>
<li>Connait le code de communication</li>
<li>Tiens à jour son tableau de contrôle</li>
<li>Assure l’approvisionnement en bouteille d’air</li>
<li>Rend compte régulièrement au chef d’agrès</li>
<li>Fait respecter les consignes de sécurité et le silence dans sa zone de contrôle</li><br>

<p class="Style1"><u>Porteur</u></p><br>

<li>S’assure du bon état du matériel ARI</li>
<li>S’équipe du matériel de reconnaissance</li>
<li>Définit un code de communication</li>
<li>Fait le RAPACE avant de s’engager</li>
<li>Installe judicieusement la ligne guide</li>
<li>Sort immédiatement à l’audition d’une balise de détresse</li>
<li>Vérifie très régulièrement la pression des deux appareils et fait demi-tour dès que nécessaire</li>
<li>Amarre la ligne guide avant de sortir et prévient par un code de communication</li>
<li>Lors d’un croisement, le binôme qui sort est prioritaire et le binôme qui rentre s’efface pour laisser la place tout en couvrant avec sa main son amarrage sur la ligne guide</li>
<li>Marque avec sa craie les locaux visités lors des reconnaissances</li>
<li>Ne  serre pas la ligne guide contre les portes afin de pouvoir encore les ouvrir</li>
<li>Faire une reconnaissance le long des murs, main gauche en contact avec les parois, pensez à regarder sous les lits, dans les armoires, etc</li>
<li>Progression accroupie de préférence</li>
<li>Fait attention lors de l’ouverture des portes, pense au TOOTEM et aux risques d’accidents thermiques</li>
<li>Observe les lieux afin de rendre compte en détail au chef d’agrès la configuration des locaux et les risques rencontrés : doit être capable de faire un croquis des locaux et un schéma des reconnaissances lors de la sortie</li>

</ion-content>
