<ion-content>

<h3 align="center" class="Style1">ASPIRATEUR DE MUCOSITES</h3>

<p>L'aspiration est réalisée chaque fois qu'une victime, qui a perdu connaissance, pésente un encombrement
des voies aériennes par des liquides ou des particules solides qu'elle ne peut expulser</p>

<p>La présence des secrétions dans les voies aériennes est identifiée par :</p>

<li>Des gargouillements au cours des <strong>mouvements respiratoires</strong> si la victime respire encore</li>
<li>Des gargouillements au cours des <strong>insufflations manuelles</strong> si la victime ne respire plus</li>
<li>Des vomissures dans la bouche ou le nez de la victime</li><br>

<p>Les vomissures, l'eau chez le noyé, le sang et les sécrétions des poumons sont les principales sources
d'encombrement des voies aériennes</p>

</ion-content>
