<ion-content>
    <h3 class="Style1">Actions - Conduite a Tenir :</h3>
  
    <ul>
      <li>Gestes à effectuer :
        <ul>
          <li>Mettre au repos</li>
          <li>Oxygène</li>
          <li>Rassurer</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Conditionnement :
        <ul>
          <li>Installer demi assis</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Surveillance :
        <ul>
          <li>Aggravation des signes ?</li>
          <li>Perte de connaissance ?</li>
        </ul>
      </li>
    </ul>
  </ion-content>
