<ion-content>

<h5 class="Style1">Etablissement d'une LDV sur colonne sèche ou humide</h5>

  <p><strong>Colonne sèche :</strong></p>

  <li>Alimente la prise d’eau selon M2 avec le dévidoir ou les tuyaux en écheveaux</li><br>
  <li>Donne le raccord au conducteur, puis récupère les bouchons de colonne sèche</li><br>
  <li>Devient éventuellement BAT 2 sur ordre du chef d’agrès</li><br>
  <li>Prend des bouteilles d’air de réserve</li><br>
  <li>Rejoint le parc matériel au N-1 en vérifiant la fermeture des robinets de la colonne sèche, soit en mettant des bouchons</li>

  <p><strong>Colonne humide :</strong></p>

  <li>Devient éventuellement BAT 2 sur ordre du chef d’agrès</li><br>
  <li>Prend des bouteilles d’air de réserve</li><br>
  <li>Rejoint le parc matériel au N-1 et se tient à la disposition du chef d’agrès</li><br>

</ion-content>
