<ion-content>

  <h3>Résistance au feu des structures</h3>
  <p>(Evaluations ci-dessous) :</p>
  <table width="100%" borde="1">
    <tr>
      <th width="11%" scope="col">Ouverture</th>
      <th width="72%" scope="col">R.</th>
    </tr>
    <tr>
      <th scope="row">Porte creuse de distribution</th>
      <td>PF &lt;15mn</td>
    </tr>
    <tr>
      <th scope="row">Porte pleine de distribution</th>
      <td>PF 1/2h</td>
    </tr>
    <tr>
      <th scope="row">Porte pleine des locaux à risques moyens</th>
      <td>CF 30mn</td>
    </tr>
    <tr>
      <th scope="row">Porte pleine des locaux à risques importants</th>
      <td>CF 1h</td>
    </tr>
    <tr>
      <th scope="row">Porte coulissante entre cellules</th>
      <td>CF 1h</td>
    </tr>
    <tr>
      <th scope="row">Porte entre compartiment IGH</th>
      <td>CF 2h</td>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
  </table>

</ion-content>
