<!--
  Generated template for the GnretablissementlancesReglesdebaseMaterieldebasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BINOMES</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">LE MATERIEL DE BASE</h5>

  <p><strong>BAT</strong></p>

  <p>Chef :</p>
  <li>1 ARI</li>
  <li>1 Lance</li>
  <li>1 Tuyau</li>
  <li>1 Projecteur</li>

  <p>Equipier :</p>
  <li>1 ARI</li>
  <li>2 Tuyaux</li>
  <li>1 Commande</li>

  <p><strong>BAL</strong></p>

  <li>Dévidoir(s), division et matériel sur ordre</li>

</ion-content>
