<ion-content>

<h5 class="Style1">Sac d'attaque : Etablissement par les communications existantes</h5>

  <li>Prends 2 tuyau dont celui en O et suit le chef d’agrès</li><br>
  <li>Au point d’attaque, dépose les tuyaux en Z ou O</li><br>
  <li>Constitue la réserve du tuyau en tirant sur la sangle à mi-chemin du tuyau en Z ou ouvre le O</li><br>
  <li>Réalise la mission donnée par le chef d’agrès dès qu’il est doublé par l’équipier</li>

</ion-content>
