<ion-content>
    <h3 class="Style1">Signes :</h3>
  
    <ul>
      <li>Visibles :
        <ul>
          <li>Angoisse</li>
          <li>Pâleur</li>
          <li>Sueurs</li>
        </ul>
      </li>
    </ul>
  
  <ul>
    <li> A rechercher :
      <ul>
        <li>Douleur thoracique, irradiante dans le bras gauche, mâchoire ?</li>
        <li>Anomalies du pouls</li>
      </ul>
    </li>
  </ul>
  </ion-content>
