<!--
  Generated template for the GnrfdfDihMissionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DU DIH</h3>

<img src="assets/icon/Capture81.PNG" alt="" />

<h4 class="Style1">MISSIONS</h4>

<p>Le détachement d’intervention héliporté (DIH) participe à la lutte contre les feux de forêts sous
l’autorité du préfet ou du directeur départemental des services d’incendie et de secours. Il est
placé sous les ordres du COS.</p>

<p>Le DIH constitue une unité autonome et indissociable. Il reçoit sa mission opérationnelle du
COS mais la faisabilité et la conduite des opérations restent à l’entière initiative du chef du DIH,
après avis de l’équipage hélicoptère.</p>

<p>Le DIH peut être engagé, entre autres, sur les missions suivantes :</p>

<li>Attaque très rapide des feux naissants en terrain difficile (foudre, etc...)</li>
<li>Feu situé dans un lieu éloigné des accès terrestres</li>
<li>Feu sur un site difficile d’accès (îles, falaises, pitons, etc...)</li>
<li>Alimentation d’un ou plusieurs CCF à l’aide du dévidoir aérien</li>
<li>Eventuellement récupération de personnes menacées par le feu</li>

</ion-content>
