<!--
  Generated template for the PlanorsecPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Autres Interventions</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 align="center" class="Style1">PLAN ORSEC NOVI (EX-PLAN ROUGE)</h3>

<h5>Activation du plan Nombreuses Victimes</h5>

<p>A l’initiative du COS (message), relayé par le CODIS, qui informe le Préfet</p>

<table>
  <tr class="ligne-impaire">
    <td>Echelon</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
  </tr>

  <tr class="ligne-paire">
    <td>Victimes</td>
    <td>1 à 10</td>
    <td>11 à 20</td>
    <td>21 à 50</td>
    <td>+50</td>
  </tr>
</table>

<h5>Rôle du 1er Chef d’agrès</h5>

<li>Effectue une première reconnaissance</li>
<li>Evalue le nombre de victimes</li>
<li>Empêche toute évacuation sauvage des victimes</li>
<li>Détermine l’emplacement du CRM</li><br>

<h5>Mise en place</h5>

<img src="assets/icon/Capture106.PNG" alt="" />

</ion-content>
