page-planorsec {

  td{
    border : 1px solid black;
    padding: 10px 15px;
}

table{
    border-collapse: collapse;
}

.ligne-impaire{
    background-color: #BBB;
}

.ligne-paire{
    background-color: #EEE;
}


}
