<ion-content>
    <h3 class="Style1">Actions :</h3>
  
    <li>Confirmation de la consignation des caténaires et de l’interruption du trafic ferroviaire<br>
      </li>
    <li>Coupure des énergies (Accumulateurs)<br>
      </li>
    <li>Si possible, désaccoupler les éléments du train encore sain<br>
      </li>
    <li>Reconnaître la nature des chargements. La motrice contient-elle un transformateur au pyralène?<br>
      </li>
    <li>Reconnaître les moyens et les besoins en eau<br>
    </li>
    <li>Attaque du foyer par l’extérieur de préférence<br>
    </li>
    <li>Protéger le reste du convoi<br>
    </li>
    <li>Si présence de passagers, leur évacuation vers une zone de sûreté est le premier soucis du COS. Point de rassemblement des victimes<br>
    </li>
  </ion-content>