<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Sauvetage/évacuation des personnes<br>
    </li>
  <li>Coupure des énergies<br>
    </li>
  <li>Création d’un chenal pour l’évacuation des chevaux, et ce, jusqu’au point de rassemblement des animaux (manège…)<br>
    </li>
  <li>Évacuation des chevaux. Les laisser sortir seuls !<br>
    </li>
  <li>Mise en place d’un moyen de refroidissement<br>
  </li>
  <li>Arrêt de la propagation<br>
  </li>
  <li>Principe de la tenaille<br>
  </li>
  <li>Extinction du feu<br>
  </li>
  <li>Étudier les besoins en eau<br>
  </li>
</ion-content>
