<!--
  Generated template for the GnrariPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>A.R.I</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <h4 class="Style1">Les Atmosphères non respirables</h4>

 <ion-list inset>
    <button ion-item *ngFor="let item of list" (click)="itemSelected(item)">
      {{ item.title }}
    </button>
  </ion-list>

  <h4 class="Style1">L'Opération</h4>

  <ion-list inset>
    <button ion-item *ngFor="let item2 of list2" (click)="itemSelected(item2)">
      {{ item2.title }}
    </button>
  </ion-list>

  <h4 class="Style1">Procèdure Opérationnelle</h4>

    <ion-list inset>
    <button ion-item *ngFor="let item3 of list3" (click)="itemSelected(item3)">
      {{ item3.title }}
    </button>
  </ion-list>

    <h4 class="Style1">Matériel</h4>

    <ion-list inset>
    <button ion-item *ngFor="let item4 of list4" (click)="itemSelected(item4)">
      {{ item4.title }}
    </button>
  </ion-list>

  <h4 class="Style1">Les Contraintes Physiologiques</h4>

  <ion-list inset>
  <button ion-item *ngFor="let item5 of list5" (click)="itemSelected(item5)">
    {{ item5.title }}
  </button>
</ion-list>

</ion-content>
