<ion-content>
    <h3 class="Style1">Actions :</h3>

    <li>Effectuer les sauvetages et évacuations au moyen des embarcations<br>
      </li>
    <li>Coupure des énergies<br>
      </li>
    <li>Engagement d’un minimum de personnel sous ARI et en présence des plongeurs. Emploi de la caméra thermique<br>
      </li>
    <li>Engagement des personnels avec un moyen d’extinction adapté. Limiter l’utilisation de l’eau<br>
      </li>
    <li>En parallèle, mise en place de moyens d’épuisement, si voie d’eau ou besoins massifs en agents extincteurs<br>
    </li>
    <li>Effectuer les ventilations<br>
    </li>
    <li>S’assurer en permanence de la stabilité du bateau<br>
    </li>
</ion-content>