<!-- Generated template for the HeaderMenuComponent component -->
<div>
  <ion-buttons end>
    <button ion-button icon-only (click)="backToHome()">
      <ion-icon name="home"></ion-icon>
    </button>
  </ion-buttons>
</div>
