<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Présence du public en journée et du personnel<br>
  </li>
<li>Variété du combustible selon les exploitations rassemblées<br>
  </li>
<li>Absence quasi-totale de compartimentage pour les grands volumes<br>
</li>
<li>Architecture souvent défavorable à la progression des secours<br>
</li>
</ion-content>
