<ion-content>

    <h5 class="Style1">Protection Contre les Chutes</h5>
    
    <li>Choisit un ou deux points fixes<br></li>
    <li>Réalise l'amarrage du 8 descendeur<br></li>
    <li>Vérifie la fermeture de tous les mousquetons<br></li>
    <li>Assure le chef dans la progression<br></li>
    
    </ion-content>
