<!--
  Generated template for the GdoPreventionrisquesdetoxicitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>GDO & GNR</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h4 class='Style1'>Prévention contre les Risques de Toxicité liés aux Fumées d'Incendie</h4>

    <img src="assets/icon/gdo-prévention contre les risques de toxicité liés aux fumées d'incendie.jpg"/><br>

    <p>Il rappelle les risques connus à ce jour des fumées et développe un apport de connaissances en l'état sur les autres modes de toxicité. </p>

    <p>Il est aussi destiné à vous fournir des éléments d'appréciation des risques assortis de préconisations afin de limiter les risques d'exposition lors des opérations de lutte contre l'incendie, au retour d'intervention et dans les centres d'incendie et de secours.</p>

    <a href="https://drive.google.com/open?id=14WhXo0ZjXW9b9ujwEnpdUanWQZ7GZBmd">GDO_prévention_risques_toxicité_fumées_22032018</a>

</ion-content>
