<ion-content>

  <h5 class="Style1">M5: Lance à Mousse</h5>

    <li>Le BAL se charge d'approvisionner les bidons d'émulseur et de transferer la canne d'aspiration de l'injecteur</li>

</ion-content>
