<!--
  Generated template for the DivTopographiePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>DIV</ion-title>
            <ion-buttons end >
              <header-menu></header-menu>
            </ion-buttons>
      </ion-navbar>
</ion-header>


<ion-content padding>

<h3 class="Style1 centrer">TOPOGRAPHIE</h3>

<p>Technique de représentation sur un plan (surface plane) des formes du terrain (surface courbe) avec les détails
naturels ou artificiels qu'il comporte</p>

<h4>Présentation d'une carte</h4>

<p>La lecture d'une carte se réalise avec les trois éléments suivants :</p>

<li>La reproduction dessinée des objets naturels et artificiels se travant sur le terrain : c'est le but de la <strong>planimétrie</strong></li>
<li>La représentation graphique des formes du terrain ou relief : c'est l'objet du <strong>nivellement</strong></li>
<li>La réduction sur la carte, suivant une proportion déterminée des surfaces du terrain : c'est là le fait de <strong>l'echelle</strong></li><br>

<h5 class="Style1">Planimétrie</h5>

<p>La planimétrie traite de la mise en place (projection) et de la représentation sur la carte :</p>

<li>Des détails dus à la nature (forêts, cours d'eau, lacs, mers, etc...)</li>
<li>Des détails provenant du travail des hommes (cultures, habitations, routes, voie ferrées, canaux, etc...)</li><br>

<h5 class="Style1">Nivellement</h5>

<p>Le nivellement traite de la mise en place (projection) et de la représentation sur la carte du relief du terrain (cuvettes, montagnes, vallées, etc..)</p>

<p>Un système de représentation par courbes de niveau permet de visualiser le relief isu du terrain (illustration).
Selon ce principe, les courbes rapprochées indiquent une pente abrupte, des courbes éloignées indiquent une pente faible.</p>

<h5 class="Style1">Echelle</h5>

<p>L'echelle d'une carte est le rapport constant existant entre les distances mesurées sur le terrain et les longueurs qui les représentent sur la carte</p>

<p>Elle est exprimée sous forme de fraction</p>

<p>Le numérateur et le dénominateur ont la même unité de mesure métrique : <u>ex</u>: 1/25000 (1 cm sur la carte représente 25000 cm sur le terrain)</p>

<h4>D.F.C.I. (Défence de la Forêt Contre l'Incendie)</h4>

<p>Les cartes DFCI ont plusieurs particularités :</p>

<li>Réservées aux services de l'Etat (SDIS, DDE, Sécurité civile)</li>
<li>Limité au territoire Français</li>
<li>Utilisation d'un carroyage spécifique</li>
<li>Indications de moyens de prévision</li>
<li>Indications de chemin / pistes spécifiques aux moyens SP</li><br>

<p>Les cartes employées sont les cartes habituellement au 1/50000ème, avec carroyage U.T.M.</p>

<h4>Oriantation d'une carte</h4>

<p>Une carte, sauf indication contraire selon la rose des vent, est toujours oriantée au nord (le haut de la carte au nord)</p>

<p>Deux méthodes sont couramment utilisées, soit en oriantant la carte au nord à l'aide d'une boussole, soit
en oriantant la carte à l'aide d'élélements du terrain (routes, cours d'eau, etc...)</p>

<p>L'aiguille de la boussole indique le nord magnétique. Utilisation de la boussole :</p>

<li>Amener le zéro ou N de la boussole en face de la flèche de direction</li>
<li>Poser la boussole parallèlement au bord de la carte ou le long d'une des lignes de l'axe des ordonnées de la carte</li>
<li>Tourner la carte jusqu'à ce que l'aiguille de la boussole soit en face du zéro</li>

<ion-content>
