<ion-content>
    <h3 class="Style1">Accès - Cheminements :</h3>
  
    <li>Stationner les engins en dehors du périmètre de sécurité<br>
    </li>
    <li>Repérer les éventuelles protections structurelles<br>
    </li>
  </ion-content>
