<!--
  Generated template for the GnregeConduiteatenirConsignesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">CONDUITES À TENIR</h3>

<h4 class="Style1">RÈGLES DE SÉCURITÉ</h4>

<p><strong>Les règles de sécurité</strong> suivantes doivent être appliquées par <strong>le binôme d’attaque :</strong></p>

<img src="assets/icon/Capture19.PNG" alt="" />

</ion-content>
