<!--
  Generated template for the NrbcRtnEtiquettesdedanger2NouveauxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>NRBC-RTN</ion-title>
        <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="centrer"><strong>Nouveaux Pictogrammes</strong></h5>

<img src="assets/icon/explos.jpg"/> Explosif
<img src="assets/icon/acid.jpg"/> Corrosif
<img src="assets/icon/flamme.jpg"/> Inflammable
<img src="assets/icon/rondflam.jpg"/> Comburant
<img src="assets/icon/bottle.jpg"/> Gaz sous pression
<img src="assets/icon/skull.jpg"/> Toxique
<img src="assets/icon/exclam.jpg"/> Toxique, irritant, sensibilisant, narcotique
<img src="assets/icon/silhouet.jpg"/> Sensibilisant, mutagène, cancérogène, reprotoxique
<img src="assets/icon/pollut.jpg"/> Dangereux pour l'environnement

</ion-content>
