<!--
  Generated template for the GnregePreambulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h4 class="Style1">PREAMBULE</h4>

<p>La plupart des feux auxquels sont confrontés les sapeurs-pompiers se produisent dans
des bâtiments ou, de façon plus générale, dans des volumes clos ou semi-ouverts.</p>

<p>Plusieurs accidents survenus au cours des reconnaissances ou des opérations
d’extinction de ces incendies, rendent indispensables l’adaptation des connaissances et
des techniques d’intervention.</p>

<p>L’utilisation de nouveaux matériaux de synthèse dans les constructions, ainsi que
l’amélioration de l’isolation des locaux, influent très sensiblement sur la manière dont les
feux se comportent en milieu clos ou semi-ouvert.</p>

<p>Ainsi, ces feux, parfois initialement de faible ampleur, peuvent se développer très
rapidement, produisant une grande quantité de fumées et provoquant, sous l’effet de la
chaleur, la distillation de gaz combustibles par la décomposition chimique des matériaux
contenus dans le volume (pyrolyse).</p>

<p>Cette situation peut alors conduire :</p>

<li>Soit à l’explosion, lors de l’introduction d’air, des fumées et des gaz combustibles
accumulés dans le volume si celui-ci est clos.</li><br>

<li>Soit à l’embrasement généralisé et instantané des matériaux combustibles présents
dans le volume si celui-ci est partiellement ouvert.</li><br>

<p>Les fumées et les gaz issus d’un incendie s’avèrent ne pas être que de simples résidus ou des sous-produits de la combustion
mais constituent en réalité un véritable mélange combustible.</p>

<p>Ils sont déterminants dans l’apparition de ces phénomènes que les Anglo-saxons dénomment « backdraft » (explosion de
fumées) et « flash-over » (embrasement généralisé éclair).</p>

<p>Les situations présentant des risques d’explosion de fumées et d’embrasement
généralisé éclair sont particulièrement délicates à identifier.</p>

<p>Elles peuvent se présenter lors des différentes phases de l’incendie et intéresser plusieurs zones adjacentes au
sein d’une même enveloppe bâtimentaire : les risques présentés pour les sapeurs-pompiers sont ainsi fonction du moment et du lieu de leur
intervention.</p>

<p>Face à ces phénomènes thermiques d’une extrême dangerosité, souvent mortelle, il
apparaît donc nécessaire d’apporter aux personnels des services d’incendie et de secours
tous les éléments leur permettant d’apprécier les risques encourus et de proposer les
conduites opérationnelles adaptées afin d’éviter leur survenue ou tout au moins limiter
leurs effets destructeurs.</p>

<p>Ce guide a pour objet :</p>

<li>De formuler des définitions précises de l’explosion de fumées et de l’embrasement généralisé éclair</li><br>

<li>D’apporter des connaissances concernant l’environnement et les conditions dans lesquels ils peuvent se produire</li><br>

<li>De définir les signes d’alarme de leur survenue ainsi que les techniques opérationnelles et les matériels de lutte permettant d’y faire face</li><br>

<li>De proposer une adaptation de la marche générale des opérations</li><br>

<li>De définir un savoir-être des intervenants face à ces risques</li><br>

<p>Les dispositions du présent guide national de référence, prises en application du décret
n° 97-1225 du 26 décembre 1997 relatif à l’organisation des services d’incendie et de
secours, sont applicables dans le cadre des formations et des missions des sapeurspompiers
dans le domaine des <strong>feux en volumes clos ou semi-ouverts.</strong></p>

</ion-content>
