<ion-content>
  <h3 class="Style1">Bilans :</h3>

  <li>Ne pas sous-estimer le risque<br>
    </li>
    <li>Etat de conscience ou d'inconscience ?<br>
    </li>
    <li>Association avec des médicaments<br>
    </li>
</ion-content>
