<ion-content>
    <h3 class="Style1">Accès - Cheminements :</h3>

    <li>Reconnaître les différentes possibilités d’accès aux combles, pour l’attaque mais aussi le risque potentiel de propagation<br>
    </li>
    <li>Solidité du plancher<br>
    </li>
    <li>Positionnement du moyen aérien afin de faire la part du feu<br>
    </li>
</ion-content>