<!--
  Generated template for the GnregeSyntheseConjugaisonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">SYNTHÈSE DES PHÉNOMÈNES</h3>

<h4 class="Style1">Conjugaison des phénomènes d’embrasement généralisé éclair et d’explosion
de fumées</h4>

<p>Les sites présentant des <strong>configurations bâtimentaires complexes</strong>, notamment dans le
cas de <strong>locaux gigognes</strong>, doivent alerter les intervenants sur les risques d’explosion de
fumées et d’embrasement généralisé éclair qu’ils peuvent générer.</p>

<p><img src="assets/icon/Capture11.PNG" alt="" /><strong>Exemple de locaux gigognes</strong></p>

<p>Des quantités importantes de fumées et de gaz de combustion peuvent s’être échappées
du volume initial sinistré vers des <strong>zones adjacentes</strong> contenues dans la <strong>même enveloppe
bâtimentaire</strong>, notamment du fait de la présence de conduits de V.M.C. ou de climatisation
ou encore de <strong>l’emploi de techniques de ventilation non maîtrisées.</strong></p>

<p class="Style1">Par des transferts de fumées ou de gaz de combustion depuis un local
sinistré, il est toujours possible, au sein d’un bâtiment, que des zones
proches soient concernées par un risque d’explosion de fumées ou
d’embrasement généralisé éclair sans que l’un de ces phénomènes se
soit produit dans le volume initial.</p>

<p class="Style1">De plus, la survenue d’une explosion de fumées n’exclut pas celle d’un
embrasement généralisé éclair et inversement.</p>

</ion-content>
