<ion-content>
    <h3 class="Style1">Important :</h3>
  
  <li>Ne pas faire vomir en cas d'ingestion d'un produit toxique</li>
  <li>Aucun produit ou pommade autre que de l'eau sur la brûlure</li>
  </ion-content>