<ion-content>

  <h3 align="center" class="Style1">ASPIRATEUR DE MUCOSITES</h3>

<li>Si le patient présente des sécrétions ou des débris alimentaires qui ne peuvent être aspirés, essayer de les retirer avec les doigts</li>
<li>Chez la victime inconsciente qui respire, l'aspiration des sécrétions est réalisée après avoir installé la victime en PLS</li>
<li>L'aspiration est mis en marche seulement après avoir inséré la sonde au fond de la bouche</li>

  </ion-content>
