<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Évacuation du public<br>
    </li>
  <li>Extinction rapide combinée à la protection du patrimoine culturel<br>
    </li>
</ion-content>