<ion-content>

    <h3 align="center" class="Style1">KIT A.E.S</h3>

    <p>Un Accident d'Exposition au Sang (AES) résulte de toute exposition percutanée (piqûre ou coupure) ou de tout contact sur une peau lésée ou des muqueuses (bouche,yeux)
      avec du sang ou liquide biologique souill' par du sang</p>

    <p>Le kit permet de faire face immédiatement à cette situation</p>

    <img class="centrer" src="assets/icon/kitaes.jpg" alt="" /><br>

    <p>Composition du kit :</p>

    <li>10 Dosettes de sérum physiologique</li>
    <li>1 Solution AES (hypochlorite de sodium à 0,5%)</li>
    <li>3 Blisters de 5 compresses stériles 7,5 x 7,5cm</li>
    <li>1 Flacon lave-oeil 100 ml PVS</li>
    <li>1 Rouleau de sparadrap 5 m x 2,5 cm</li>
    <li>1 Sac de déchets DASRI jaune 15 litres</li>
    <li>1 Savon Flowpack</li><br>

    <p>On trouve 1 kit AES dans toutes les VSAV</p>

  </ion-content>
