<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>Confiner rapidement le sinistre afin de garder exploitable le reste de l’étage<br>
</li>
<li>Concertation avec le responsable soignant<br>
</li>
</ion-content>
