<!--
  Generated template for the FichesautresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>INC</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1 class="titre-categorie-inc"> Autres Interventions </h1>

  <ion-list inset>
      <button ion-item *ngFor="let item of list" (click)="itemSelected(item)">
        <ion-icon  name="flame" item-start></ion-icon>
        {{ item.title }}
      </button>
    </ion-list>

</ion-content>
