<ion-content>
        <h5><u>TECHNIQUE N°2</u></h5>
        <img src="assets/icon/OuvertureporteB2.png"/>
    <ul>
            3. Faites sauter les charnières<br>
            4. Enlever la porte<br>
    </ul>
<p>Note : Technique peu efficace sur choc frontal, écarteur entre la porte et la victime stressant et dangereux pour cette dernière</p>
    </ion-content>
