<ion-content>
    <h3 class="Style1">Actions - Conduite a Tenir :</h3>
  
    <ul>
      <li>Gestes à effectuer :
        <ul>
          <li>Déshabiller le bébé</li>
          <li>Aérer</li>
          <li>Rassurer l'entourage</li>
          <li>Linge humide sur le corps si température &gt; 39°C</li>
          <li>Ranimation si nécessaire</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Conditionnement :
        <ul>
          <li>Plat dos</li>
          <li>Sur le coté si inconscient</li>
        </ul>
      </li>
    </ul>
  
    <ul>
      <li>Surveillance :
        <ul>
          <li>Les 3 fonctions vitales</li>
          <li>Reprise des convulsions</li>
        </ul>
      </li>
    </ul>
  </ion-content>
