<!--
  Generated template for the GnrLspccCompositionPouliePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MATERIEL</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>POULIE</h5>

  <img src="assets/icon/Fixepetite.jpg"/><br>

  <li>1 poulie minimum, à joues fixes ou mobiles</li>
  <li>Résistance à la rupture 2000 kg</li>
  <li>Diamètre de la gorge de 12 à 13 mm</li>
  <li>Elle peut servir à dévier la corde ou faire un mouflage</li>

</ion-content>
