<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Repérage du site<br>
    </li>
  <li>Sauvetage/évacuation rapide<br>
    </li>
  <li>Mise en place de moyen mousse<br>
    </li>
  <li>Reconnaître le type de transport<br>
    </li>
</ion-content>
