<ion-content>
  <img id="m1-OuvertureLaterale-image1" class="m1-clickable m1-image" src="assets/icon/Voielaterale2.png"/>
  <div id="m1-OuvertureLaterale-text"> Enlever la porte arrière en faisant sauter les charnières</div>

  <p>Note : Il est possible dans certain cas de laisser la porte est sectionner le montant B directement</p>
  </ion-content>
