<ion-content>
    <h3 class="Style1">Bilans :</h3>
  
    <li>Hauteur de chute, violence du choc ?<br>
      </li>
      <li>Sensibilité, motricité aux 4 extrémités ?<br>
      </li>
      <li>Lésions associées ?<br>
      </li>
  </ion-content>
