<!--
  Generated template for the MenuOutilsopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Outils Opérationnels</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>I.N.C</h5>
  <ion-list inset>
    <button ion-item *ngFor="let item of list" (click)="itemSelected(item)">
      {{ item.title }}
    </button>
  </ion-list>

    <h5>S.A.P</h5>
  <ion-list inset>
    <button ion-item *ngFor="let item2 of list2" (click)="itemSelected(item2)">
      {{ item2.title }}
    </button>
  </ion-list>


</ion-content>
