<ion-content>
    <h3 class="Style1">Règles de Bases Avant l'Engagement :</h3>
  
    <li>Toujours vérifier le bon état général du marque (avant de capeler son appareil)<br>
    </li>
    <li>Ne jamais intervertir les masques d’un type d’appareil à l’autre<br>
    </li>
    <li>Contrôler la pression de la bouteille<br>
    </li>
    <li>Ne jamais pénétrer dans une zone si la pression est inférieure à 180 B pour les ARICO-200 B, et 280 pour les ARICO-300B<br>
    </li>
    <li>Vérifier l’armement du sifflet à l’ouverture de la bouteille<br>
    </li>
    <li>Etablir un code d’alerte (sonores, filaires, radios...)<br>
    </li>
    <li>Capeler l’ARI à l’air frais, à l’extérieur des zones à risques<br>
    </li>
    <li>Contrôler l’étanchéité du masque<br>
    </li>
  </ion-content>
