<ion-content>

<h5 class="Style1">Etablissement d'une LDV sur poteau relais</h5>


  <li>Le chef prend 1 division mixte et un tuyau de 70 x 20 m</li><br>
  <li>L’équipier prend 2 tuyaux de 70 x 20 m et la clé de poteau</li><br>
  <li>Si le cheminement le permet, le BAL utiliser le dévidoir à la place des tuyaux roulés</li><br>
  <li>Réalise l’établissement entre la division ou colonne sèche et le poteau relais (manœuvre M2)</li><br>
  <li>Se tient à la disposition du chef d’agrès</li><br>

</ion-content>
