<!--
  Generated template for the GnregeEmbrasementParametrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">EMBRASEMENT GÉNÉRALISÉ ÉCLAIR</h3>

<h4 class="Style1">PARAMÈTRES D’APPARITION DU PHÉNOMÈNE</h4>

<h5>Situation</h5>

<p>Le feu se développe dans un volume <strong>semi-ouvert</strong> :</p>

<li>Les <strong>échanges</strong> entrées / sorties <strong>existent</strong></li>
<li>Le feu étant suffisamment <strong>alimenté en air</strong> se développe et la quantité de <strong>fumées</strong> produites <strong>augmente rapidement</strong></li>
<li>Les <strong>fumées s’accumulent en partie haute</strong> du volume et la <strong>chaleur</strong> provoque une <strong>augmentation</strong> de la production des gaz de distillation</li>
<li>Les <strong>flammes</strong> sont <strong>vives</strong></li>

<h5>Combustible</h5>

<p>Sous l’effet de la chaleur rayonnée par le foyer, les fumées et les parois, les matériaux
présents dans le volume se dégradent rapidement en émettant des gaz de pyrolyse
combustibles.</p>

<h5>Comburant</h5>

<p>Le comburant est disponible en quantité suffisante pour entretenir une combustion vive. Il
est amené au foyer par l’intermédiaire des ouvertures qui favorisent l’apport d’air.</p>

<h5>Chaleur</h5>

<p>Une importante chaleur est dégagée qui s’accumule en partie haute du volume, dans la
couche de fumées, et provoque un réchauffement très important des parois.</p>

<p><img src="assets/icon/Capture.PNG" alt="" /><strong>Échauffement du volume</strong></p>

<h5>Fumées</h5>

<p>Bien que des fumées s’échappent par les ouvertures du local, une partie se retrouve piégée dans le haut du volume augmentant le potentiel calorifique.</p>

<p>Elles s’accumulent au plafond et se stratifient, créant un « matelas de fumées ». L’interface entre les fumées et l’air est clairement marquée.</p>


</ion-content>
