<ion-content>

<h5 class="Style1">Etablissement d'une LDV sur poteau relais</h5>

  <p>Fait arrêter l’engin au plus près de l’alimentation du poteau relais, indique au conducteur le point d’eau à utiliser</p>

  <li>BAT BAL, pour l’établissement d’une lance alimentée par poteau relais, en reconnaissance !</li><br>
  <li>BAL, emplacement de la division (ou raccord d’alimentation de la colonne sèche) prise d’eau le poteau relais… Etablissez !</li><br>
  <li>BAT, établissement de la LDV 500, prise d’eau …cheminement…mission…Etablissez</li><br>

</ion-content>
