<!--
  Generated template for the SanglearaigneePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Matériel SAP</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="Style1">LA SANGLE ARAIGNEE</h3>

<p>Associée à un plan dur avec immobilisateur de tête, la sangle araignée doit être utilisée pour immobiliser
entièrement une victime chez qui on suspecte un traumatisme du rachis.
Ce matériel permet l’immobilisation, le relevage et le transport de la victime.</p>

<li>La sangle araignée solidarise la victime au plan dur avec immobilisateur de tête, au niveau du thorax, du bassin, et des membres inférieurs.</li><br>
<li>Elle peut être associée à un rembourrage entre les jambes afin d’en limiter les mouvements.</li><br>
<li>Dans le but d’assurer une immobilisation de bonne qualité au niveau du bassin et de diminuer les risques d’aggravation de lésions internes liés aux vibrations, lorsque le plan dur avec immobilisateur
    de tête aura été utilisé dans un but d’immobilisation, il sera systématiquement installé dans le matelas immobilisateur à dépression.
    <strong>Cette méthode apparaitra peut être excessive dans certains cas mais diminuera les risques d’aggravation secondaire.</strong></li>

<h5>DESCRIPTION</h5>

<img class="centrer" src="assets/icon/Capture88.PNG" alt="" /><br>

<h5>REALISATION</h5>

<p class="Style1">Le maintien de tête ne peut être relâché que lorsque les blocs d’immobilisation latéraux et les sangles
de fixation frontale et mentonnière sont installés.
L’équipier 1 assure le maintien du bassin pendant toute la durée de la mise en place de la sangle araignée.</p>

<p><strong>Equipier 1 :</strong></p>

<li>Assurer la surveillance de la victime et le maintien du bassin pendant toute la durée de la mise en place de la sangle araignée.</li><br>

<img class="centrer" src="assets/icon/Capture89.PNG" alt="" /><br>

<p><strong>Equipier 2 et 3 :</strong></p>

<li>Séparer les jambes avec un billot</li>
<li>Centrer la ceinture centrale sur la victime</li>
<li>Positionner les sangles fixes : au niveau des aisselles et des chevilles</li>
<li>Placer les sangles coulissantes au niveau du thorax, du bassin et des cuisses</li>
<li>En commençant par la sangle de cheville, pré positionnez l’ensemble des sangles en passant les bandes velcro dans les alvéoles du plan dur</li><br>

<img class="centrer" src="assets/icon/Capture90.PNG" alt="" /><br>

<p><strong>Equipier 2 et 3 :</strong></p>

<li>Pré positionnent la sangle d’épaules en passant les bandes velcro dans les alvéoles les plus proches afin d’englober l’articulation</li><br>

<img class="centrer" src="assets/icon/Capture91.PNG" alt="" /><br>

<p><strong>Equipier 2 et 3 :</strong></p>

<li>Tout en conservant la sangle centrale centrée, les 2 équipiers saisissent chacun un coté de la sangle, exercent une légère traction et fixent la sangle des chevilles.</li><br>

<img class="centrer" src="assets/icon/Capture92.PNG" alt="" />
<img class="centrer" src="assets/icon/Capture93.PNG" alt="" /><br>

<p><strong>Equipier 2 et 3 :</strong></p>

<ul>
  <li>Selon le même procédé, fixer successivement:
    <ul>
      <li>La sangle de cuisses</li>
      <li>La sangle de bassin, sur les crêtes iliaques</li>
      <li>La sangle du thorax, <strong>sans entraver la ventilation</strong></li>
      <li>La sangle des aisselles, <strong>sans entraver la ventilation</strong></li>
      <li>Terminer par les sangles d’épaules</li>
    </ul>
  </li>
</ul>

<img class="centrer" src="assets/icon/Capture94.PNG" alt="" /><br>

<p><strong>Equipier 2 et 3 :</strong></p>

<li>Contrôler et réajuster, si nécessaire la fixation des sangles</li><br>

<p><strong>Equipier 1 :</strong></p>

<li>Une fois la sangle posée, le maintien de bassin peut être relâché</li>
<li>Positionner la planche dans le matelas immobilisateur à dépression</li>
<li>Assurer le conditionnement en veillant particulièrement à l’immobilisation du bassin</li>

<img class="centrer" src="assets/icon/Capture95.PNG" alt="" /><br>

<h5>POINT CLES</h5>

<li>La victime ne peut glisser ni vers le haut, ni vers le bas, ni sur les côtés</li>
<li>Les sangles ne doivent pas gêner la respiration de la victime</li>
<li>La sangle centrale doit être tendue dans l’axe du corps</li><br>

<h5>CAS PARTICULIERS</h5>

<li>Victime présentant un traumatisme du thorax : ne pas serrer la sangle thoracique</li>
<li>Enfant ou personne de petite taille : la sangle prévue pour les cuisses devient la sangle de cheville. La sangle initialement prévue pour les chevilles sera malgré tout fixée au plan dur.
    La sangle du bassin devient la sangle des cuisses et celle du thorax celle du bassin. (Dans ce cas, il n’y a pas de sangle thoracique)</li>
<li>Victime en position debout avec suspicion de traumatisme du rachis: la sangle araignée sera installée après avoir allongée la victime au moyen du plan dur</li><br>

<h5>EFFICACITE</h5>

<li>L’axe « tête-cou-tronc » est maintenu</li>
<li>Le corps de la victime est correctement solidarisé au plan dur</li><br>

<h5>ENTRETIEN</h5>

<li>La sangle peut être immergée dans la solution désinfectante</li>
<li>La sangle est lavable en machine à 40°c maximum</li><br>

<h5>VERIFICATION</h5>

<li>Avant rangement, vérifier l’absence d’usure, détérioration, ou couture défectueuse… si besoin, procéder au remplacement de la sangle araignée auprès de la pharmacie départementale.</li><br>

<h5>RANGEMENT</h5>

<li>Replier et rassembler les sangles</li>
<li>Enrouler la sangle centrale autour de l’ensemble</li>

<img class="centrer" src="assets/icon/Capture96.PNG" alt="" /><br>

<li>Maintenir les sangles avec la petite sangle noire de la sangle de chevilles</li>

<img class="centrer" src="assets/icon/Capture97.PNG" alt="" /><br>

<li>Ranger l’ensemble dans le sac</li>

<img class="centrer" src="assets/icon/Capture98.PNG" alt="" /><br>

</ion-content>
