<!--
  Generated template for the GnrAriOperationillustrationsExplorationdunepiecePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Procèdure Opérationnelle</ion-title>
          <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5>PROCEDURES OPERATIONNELLES ILLUSTRATIONS</h5>

<h3 class="Style1"><u>EXPLORATION D'UNE PIECE</u></h3><br>

<img src="assets/icon/GNR_engagement5.png"/><br>

</ion-content>
