<ion-content>

  <li>Les escaliers, les circulations, les compartiments et les salles en sous-sol de plus de m2 ou en étage de plus de m2 doivent être désenfumés</li><br>
  <li>Le désenfumage est soit naturel, soit mécanique, soit un mix des deux</li><br>
  <li>Les commandes sont situées soit à proximité des cantons ou zones de désenfumage, soit sur la centrale de mise en sécurité incendie si le bâtiment est équipé d'un SSI A ou B</li><br>
  <li>Il est possible de mettre à l'arrêt ou de redémarrer les moteurs de désenfumage mécaniques depuis des commandes spécifiques "arrêts VED pompiers" situées en limite de ZF ou à proximité du SSI</li><br>
  <li>Le désenfumage peut également être assuré par les portes et fenêtres des locaux</li><br>

</ion-content>
