<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Sauvetage/évacuation<br>
    </li>
  <li>Identification du transporteur<br>
    </li>
  <li>Périmètre de sécurité si TMD, ou balisage si simple intervention sur VP<br>
    </li>
  <li>Calage du véhicule<br>
    </li>
  <li>Protection des tiers et ceinture de moyens d’extinction adaptés autour du PL<br>
  </li>
  <li>Extinction :<br>
  </li>
<ol>-Protection de celle-ci par arrosage progressif<br>
  </ol>
<ol>-Protection de celle-ci par arrosage progressif<br>
  </ol>
</ion-content>