<ion-content>

<h5 class="Style1">Tuyaux en écheveaux : Etablissement par l'extérieur au moyen de l'échelle à coulisses</h5>

  <li>BAT BAL, pour l’établissement d’une LDV avec tuyaux en écheveaux et au moyen de l’échelle à coulisse, en reconnaissance</li><br>
  <li>BAT, emplacement pour dresser l’échelle, ici..., point d’attaque … mission… ; Etablissez !</li><br>
  <li>BAL, emplacement de la division…prise d’eau…Etablissez !</li>


</ion-content>
