<!--
  Generated template for the SrouverturedeportePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ouverture de Porte</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs>
    <ion-tab [root]="tab22Root" tabIcon="tab22"></ion-tab>
    <ion-tab [root]="tab23Root" tabIcon="tab23"></ion-tab>
    <ion-tab [root]="tab24Root" tabIcon="tab24"></ion-tab>
    <ion-tab [root]="tab25Root" tabIcon="tab25"></ion-tab>
    <ion-tab [root]="tab26Root" tabIcon="tab26"></ion-tab>
    <ion-tab [root]="tab27Root" tabIcon="tab27"></ion-tab>
    <ion-tab [root]="tab28Root" tabIcon="tab28"></ion-tab>
  </ion-tabs>
</ion-content>
