<ion-content>

  <h3 align="center" class="Style1">ATTELLE CERVICO-THORACIQUE</h3>

  <li>L'axe "tête-cou-tronc" est maintenu</li>
  <li>L'immobilisation n'a pas entraîné d'aggravation d'une lésion de la colonne vertébrale</li>
  <li>Aucun mouvement de la tête n'est possible</li><br>

</ion-content>
