<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Repérer l’ensemble des points chauds, et confirmer au moyen de la caméra thermique<br>
    </li>
  <li>Effectuer des relevés d’explosimètrie et de concentration en CO<br>
    </li>
  <li>Création d’accès sur la périphérie des foyers par des moyens de percement<br>
    </li>
  <li>Ventilation des locaux<br>
    </li>
  <li>Extinction au moyen de jet sous pression<br>
  </li>
  <li>Dégarnissage<br>
  </li>
</ion-content>
