<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Stationnement des engins à 50 m au moins du sinistre, envisager le déplacement<br>
  </li>
  <li>Parquer les véhicules sous le vent<br>
  </li>
  <li>Prévoir un point de transit<br>
  </li>
</ion-content>