<ion-content>

<h5 class="Style1">Sauvetage par l'Exterieur</h5>

<li>Se munit d'une commande et suit le Chef<br></li>
<li>Aide à approcher la victime<br></li>
<li>Equipe la victime du triangle ou du harnais<br></li>
<li>Accroche la commande qui sert à écarter la victime de la façade, à l'anneau dorsal et envoi l'autre extrémité au 2ème binôme<br></li>
<li>Engage la victime dans la descente</li>

</ion-content>
