<ion-content>
    <img id="m1-demiPavAvant-image1" class="m1-clickable m1-image" src="assets/icon/Pavillonarriere2.png"/>
    <div id="m1-demiPavAvant-text4">
        6. Soulever le pare-brise et son toit vers l'arrière<br>
        7. Fixer éventuellement à l'aide d'une sangle<br>
        8. Protéger les parties saillantes<br>
  </div>
</ion-content>
