<!--
  Generated template for the GnrfdfGiffDefensivesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MANOEUVRES DU GIFF</h3>

<img src="assets/icon/Capture54.PNG" alt="" />

<h4 class="Style1">MANOEUVRES DÉFENSIVES</h4>

<p>Dans le cadre des manoeuvres défensives, le GIFF prend une position permettant d’attendre le
feu et de mener une attaque dès son approche.</p>

<p>Il existe 2 types de manoeuvres défensives :</p>

<li>La protection des points sensibles</li>
<li>L’établissement d’une ligne d’appui</li>

<h5>Protection des points sensibles</h5>

<p>Les points sensibles peuvent être des habitations, des relais hertziens, des stations de
compression de gaz, des établissements industriels ou recevant du public, etc.</p>

<p>En fonction des risques, le chef du GIFF adapte sa manoeuvre à la situation rencontrée. Il
applique et fait appliquer les mesures de sécurité, les actions à réaliser peuvent être :</p>

<li>Le confinement de la population</li>
<li>L’évacuation partielle ou totale de la population</li>
<li>La fermeture des portes et des volets</li>
<li>La vérification de l’état de la toiture</li>
<li>La recherche des locaux à risque et sources d’énergie</li>
<li>La recherche des points d’eau éventuels</li>
<li>L’établissement des lances</li>
<li>Etc</li>

<h5>Réalisation d’une ligne d’appui</h5>

<p>La ligne d’appui peut être statique ou dynamique.</p>

<p><u><strong>Ligne d’appui statique</strong></u></p>

<p>Les véhicules se placent sur un des côtés de la piste en laissant le libre passage. Ils se garent
tous les 20 m maximum. Chaque CCF établit une lance 500 minimum. L’ouverture des lances
se fait sur ordre du chef du GIFF.</p>

<p class="Style1">Le chef du GIFF veille à laisser une <strong>zone de sécurité</strong> entre les engins et le
front de feu.</p>

<p><strong>Commandement du chef du GIFF : « Pour l’exécution d’une ligne d’appui stationnement des véhicules à droite (à gauche) tous les X
m, établissez … ».</strong></p>

<p class="center"><strong>Manoeuvre effectuée par chaque CCF</strong></p>

<img src="assets/icon/Capture66.PNG" alt="" /><br>

<p><img src="assets/icon/Capture67.PNG" alt="" /><strong>Réalisation d’une ligne d’appui statique</strong></p>

<p><u><strong>Ligne d’appui dynamique</strong></u></p>

<p>Lors de la réalisation d’une ligne d’appui dynamique, le GIFF conserve sa mobilité tout en
effectuant une attaque en mouvement au moyen de lances 500 minimum ou canons actionnés
depuis les CCF.</p>

<p><img src="assets/icon/Capture68.PNG" alt="" /><strong>Réalisation d’une ligne d’appui dynamique avec des lances 500 ou des canons</strong></p>


</ion-content>
