<!--
  Generated template for the GnrfdfMesuresSecuritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MANOEUVRES FEUX DE FORÊTS</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">MESURES DE SÉCURITÉ, D’AUTOPROTECTION ET D’AUTODÉFENSE</h3>

<h4 class="Style1">MESURES DE SÉCURITÉ</h4>

<img src="assets/icon/Capture22.PNG" alt="" />

<p class="Style1">Les mesures de sécurité sont individuelles et collectives. <strong>Leur respect doit
être le souci constant du commandant des opérations de secours et de tous les intervenants.</strong></p>

<p>La <strong>tenue du personnel</strong> est déterminée par le personnel d’encadrement (chef d’équipe, chef
d’agrès, chef de groupe, etc.) et est adaptée aux risques, en particulier pour assurer la
protection contre le rayonnement thermique.</p>

<p>Chaque agent doit porter un soin particulier à son équipement. Le port de sous-vêtements
synthétiques pouvant fondre et adhérer à la peau est à proscrire.
<strong>Chaque intervenant doit veiller à sa sécurité</strong> et informer son chef hiérarchique direct de tout
problème.</p>

<p class="Style1"><strong>La cabine d’un CCF</strong> répondant à la norme en vigueur à la date de parution du
présent guide peut, compte tenu notamment des dispositifs d’autoprotection
thermique et du système d’air respirable, permettre, dans certains cas, <strong>de mettre le personnel en sécurité.</strong></p>

<p>Le COS et le personnel d’encadrement peuvent ponctuellement, en fonction des risques liés
aux sites, aux activités et aux véhicules mis en oeuvre, <strong>compléter ou adapter les mesures de
sécurité générales</strong> énoncées ci-après afin de préserver l’intégrité des intervenants.</p>

<h5>Équipier et chef d’équipe</h5>

<p><strong>L’équipier et le chef d’équipe</strong> doivent :</p>

<li>S'équiper réglementairement sur ordre du chef d’agrès</li>
<li>Contrôler la présence et le fonctionnement de leurs équipements de sécurité individuels</li>
<li>Fermer les vitres et les portières du véhicule</li>
<li>Garder le contact avec le chef d’agrès</li><br>

<h5>Conducteur</h5>

<p>Le <strong>conducteur</strong> doit :</p>

<li>S'équiper réglementairement sur ordre du chef d’agrès</li>
<li>Contrôler la présence et le fonctionnement de ses équipements de sécurité individuels</li>
<li>Veiller à la fermeture des vitres, des portières et des volets de ventilation du véhicule</li>
<li>Veiller au fonctionnement des équipements de sécurité du véhicule</li>
<li>Contrôler le niveau d’eau de la citerne</li>
<li>Se faire guider lors des déplacements présentant un risque particulier et lors des manoeuvres du véhicule</li>
<li>Ranger son véhicule sur le bord de la piste de façon à ne pas gêner la progression des autres véhicules</li>
<li>Positionner son véhicule dans le sens du départ et moteur tournant</li>
<li>Caler son véhicule</li>
<li>Veiller à la permanence de l’eau</li>
<li>Veiller la radio</li>
<li>Assurer la protection du CCF au moyen de la LDT ou du dispositif d’autoprotection</li>
<li>Rendre compte au chef d’agrès</li><br>

<h5>Chef d’agrès</h5>

<p>Le <strong>chef d’agrès</strong> doit :</p>

<li>Faire revêtir la tenue vestimentaire adaptée à la situation</li>
<li>Rappeler que la cabine du CCF autoprotégée constitue un abri contre le feu</li>
<li>Indiquer avant toute action le lieu de repli</li>
<li>Faire contrôler la présence et le fonctionnement des équipements de sécurité</li>
<li>Veiller à la fermeture des vitres et des portières du véhicule</li>
<li>Faire appliquer et contrôler l’exécution des mesures de sécurité individuelle et collective</li>
<li>Faire mettre en oeuvre le dispositif d’autoprotection du CCF et le système d’air respirable s’il y a lieu</li>
<li>Assurer la liaison radio avec le niveau de commandement supérieur</li>
<li>Faire conduire avec prudence tant sur route que sur piste</li>
<li>Guider ou faire guider le conducteur lorsque le véhicule manoeuvre</li>
<li>S’assurer du maintien en condition de ses personnels</li>
<li>Solliciter les relèves des personnels en fonction de leur état de fatigue</li>
<li>S’assurer du maintien opérationnel de ses matériels</li>
<li>Rendre compte à l’échelon hiérarchique supérieur</li><br>

<p>Cas du CCF isolé :</p>

<li>Adapter son idée de manoeuvre en fonction de l’importance du feu</li>
<li>Prévoir un itinéraire ou une zone de repli</li><br>

<p>Cas du CCF isolé avec emploi des moyens aériens :</p>

<li>Assurer la liaison radio avec les moyens aériens</li>
<li>Rester en liaison avec son personnel</li>
<li>Signaler aux pilotes les obstacles (antennes relais, lignes HT, etc.)</li>
<li>Placer les personnels hors de la zone de largage</li>
<li>Donner l’autorisation de largage</li><br>

<p class="Style1">En cas de <strong>danger</strong>, il peut et il doit :</p>

<li class="Style1">Annuler un largage</li>
<li class="Style1">Demander un largage de sécurité</li><br>

<li class="Style1">Rassurer son personnel</li>
<li class="Style1">S’assurer que l’ensemble des personnels est à l’abri</li><br>

<p>Cas du CCF en groupe :</p>

<li>Connaître l’idée de manoeuvre du chef de groupe</li>
<li>Attendre l’ordre du chef de groupe avant de faire établir</li>
<li>Assurer la liaison radio avec le chef de groupe</li><br>

<p>Cas du CCF en groupe avec emploi des moyens aériens :</p>

<li>faire protéger les personnels lors des largages de sécurité</li><br>

<h5>Chef de groupe</h5>

<p>Le <strong>chef de groupe</strong> doit :</p>

<li>Faire contrôler la présence et le fonctionnement des équipements de sécurité</li>
<li>Prévoir un itinéraire ou une zone de repli</li>
<li>Appliquer et faire appliquer les consignes de sécurité individuelle et collective</li>
<li>Définir, si nécessaire des mesures de sécurité particulières</li>
<li>Ordonner la mise en autodéfense du groupe, s’il y a lieu</li>
<li>Faire assurer les liaisons radio avant et arrière</li>
<li>Connaître l’idée de manoeuvre du chef de colonne</li>
<li>Réaliser une reconnaissance adaptée aux circonstances avant l’engagement du groupe.
Dans ce cas, compte tenu de son éloignement du GIFF, il désigne un des chefs d’agrès
des CCF pour assurer la liaison radio avec lui, afin de maintenir le contact avec le groupe</li>
<li>Veiller à ce que l’engagement ponctuel d’un ou plusieurs CCF isolés du groupe ne soit
que temporaire et assurer la liaison radio avec eux. Le regroupement des engins doit être
réalisé dès que possible afin de respecter les règles d’emploi du GIFF</li>
<li>S’assurer du maintien en condition de ses personnels</li>
<li>Solliciter les relèves des personnels en fonction de leur état de fatigue</li>
<li>S’assurer du maintien opérationnel de ses matériels</li>
<li>Veiller à la permanence de l’eau des engins en attaque</li>
<li>Se présenter obligatoirement au point de transit lorsque celui ci est activé</li>
<li>Indiquer à chaque chef d’agrès les points d’eau et les zones de sécurité à utiliser en cas de danger</li>
<li>Rendre compte à l’échelon hiérarchique supérieur</li><br>

<p>Cas d’emploi des moyens aériens :</p>

<li>Assurer la liaison radio avec les moyens aériens et les chefs d’agrès</li>
<li>Signaler aux pilotes les obstacles (antennes relais, lignes HT, etc.)</li>
<li>Mettre en sécurité les personnels lors des largages</li>
<li>Donner l’autorisation de largage</li><br>

<p class="Style1">En cas de <strong>danger</strong>, il peut et il doit :</p>

<li class="Style1">annuler un largage</li>
<li class="Style1">demander un largage de sécurité</li><br>

<li class="Style1">rassurer son personnel</li>
<li class="Style1">s’assurer que l’ensemble des personnels est à l’abri</li><br>

<h5>Chef de colonne</h5>

<p>Le <strong>chef de colonne</strong> doit :</p>

<li>Faire contrôler la présence et le fonctionnement des équipements de sécurité</li>
<li>Dresser l’inventaire des moyens humains et matériels mis à sa disposition</li>
<li>Faire appliquer les consignes de sécurité individuelle et collective</li>
<li>Définir, si nécessaire, des mesures de sécurité particulières</li>
<li>Connaître l’idée de manoeuvre du chef de site</li>
<li>Indiquer à chaque chef de groupe les points d’eau et les zones de sécurité à utiliser en cas de danger</li>
<li>Veiller à l’établissement, au plus tôt, d’un ou plusieurs points de transit dès l’engagement des moyens</li>
<li>S’assurer du maintien en condition de ses personnels</li>
<li>Solliciter les relèves des personnels en fonction de leur état de fatigue</li>
<li>S’assurer du maintien opérationnel de ses matériels</li>
<li>Faire assurer les liaisons radio avant et arrière</li><br>

<p>Cas d’emploi des moyens aériens :</p>

<li>Assurer ou faire assurer par un cadre aéro la liaison radio avec les moyens aériens et les chefs de secteur</li>
<li>Signaler aux pilotes les obstacles (antennes relais, lignes HT, etc.)</li>
<li>Mettre en sécurité les personnels lors des largages</li>
<li>Donner l’autorisation de largage</li>
<li>Rendre compte à l’échelon hiérarchique supérieur</li><br>

<p class="Style1">En cas de <strong>danger</strong>, il peut et il doit :</p>

<li class="Style1">annuler un largage</li>
<li class="Style1">demander un largage de sécurité</li><br>

<li class="Style1">rassurer son personnel</li>
<li class="Style1">s’assurer que l’ensemble des personnels est à l’abri</li><br>

<h5>Chef de site</h5>

<p>Le <strong>chef de site</strong> doit :</p>

<li>Faire appliquer les consignes de sécurité individuelle et collective</li>
<li>Définir, si nécessaire, des mesures de sécurité particulières</li>
<li>Faire assurer les liaisons radio avant et arrière</li>
<li>S’assurer du maintien en condition de ses personnels</li>
<li>Solliciter les relèves des personnels en fonction de leur état de fatigue</li>
<li>Rendre compte à l’échelon hiérarchique supérieur</li><br>

<p>Cas d’emploi des moyens aériens :</p>

<li>assurer ou faire assurer par un cadre aéro la liaison radio avec les moyens aériens et les chefs de secteur</li>
<li>signaler aux pilotes les obstacles (antennes relais, lignes HT, etc.)</li>
<li>mettre en sécurité les personnels lors des largages</li>
<li>donner l’autorisation de largage</li><br>

<p class="Style1">En cas de danger, il peut :</p>

<li class="Style1">Annuler un largage</li>
<li class="Style1">Demander un largage de sécurité</li><br>

</ion-content>
