<ion-content>

  <h3 align="center" class="Style1">Mesure de la Pression Artérielle</h3>

<li>Dénuder le bras de la victime sans que les vêtements ne provoquent un effet garrot</li>
<li>Placer le brassard à environ deux largeurs de doigt au-dessus du pli du coude, en s'assurant que le repère "artery" (artère) soit positionné sur le passage de l'artère humérale (face antérieure du bras)</li><br>

<img class="centrer" src="assets/icon/tensionarterielle2.jpg" alt="" /><br>

<li>Fermer le brassard au moyen des autoagrippants de façon à ce qu'il soit maintenu en position (ne pas serrer excessivement : risque de valeur faussée)</li><br>

<img class="centrer" src="assets/icon/tensionarterielle3.jpg" alt="" /><br>

<li>Palper le pouls radial sur le membre où le tensiomètre est placé</li>
<li>Fermer la valve de dégonflage</li><br>

<img class="centrer" src="assets/icon/tensionarterielle4.jpg" alt="" /><br>

<li>Gonfler le brassard en appuyant progressivement sur la poire jusqu'à ne plus percevoir le pouls radial</li>
<li>Continuer à gonfler environ 30 mmHg après la disparition du pouls</li><br>

<img class="centrer" src="assets/icon/tensionarterielle5.jpg" alt="" /><br>

<li>Dégonfler progressivement le brassard en ouvrant la valve de dégonflage. L'aiguille du manomètre doit descendre de 2 à 3 mm par seconde</li>
<li>Noter la pression sur le cadran dès que le pouls redevient perceptible (l'aiguille oscille sur le cadran). Ce chiffre correspond à la pression systolique</li>
<li>Dégonfler complétement le brassard</li><br>

<img class="centrer" src="assets/icon/tensionarterielle6.jpg" alt="" /><br>

</ion-content>
