<ion-content>

    <h3 align="center" class="Style1">KIT A.E.S</h3>

    <p>Dans ces situations il faut :</p>

    <li>Arrêter le geste en cours</li>
    <li>Se munir du kit AES et respecter la fiche réflexe intégrée dans le kit</li>

  <h5>En cas de piqûre ou coupure</h5>

  <li>Ne pas faire saigner</li>
  <li>Nettoyer soigneusement la zone lésée à l'eau et au savon</li>
  <li>Rincer abondamment</li>
  <li>Pendant 5 minutes minimum :</li>
  <p>Tremper la plaie dans la solution AES ou réaliser un pansement imbibé à l'aide des compresses</p>

  <h5>En cas de projection dans la bouche ou les yeux</h5>

  <p>Si nécessaire, enlever les lentilles :</p>

  <li>Jeter les souples ou laver et désinfecter les lentilles rigides avec les produits d'entretien habituels</li><br>

  <p>Pendant 5 minutes :</p>

  <li>Rincer abondamment l'oeil ou la muqueuse au sérum physiologique ou à l'eau claire</li>
  <li>Se rendre dans les 4 heures dans un service d'urgences hospitalières pour une consultation médicale</li>
  <li>Faire une déclaration d'accident de service dans les 48h en joignant le certificat initial d'accident de travail délivré par les urgences</li>
  <li>Contacter rapidement le medecin d'astreinte départementale par le biais de l'Officier Santé CODIS</li>

</ion-content>
