<ion-content>

  <h5><u>Reconnaissance</u> :</h5>

  <img src="assets/icon/charteg5.PNG"/>

  <h5><u>Actions offensives</u> :</h5>

  <img src="assets/icon/charteg6.PNG"/>

  <h5><u>Actions défensives</u> :</h5>

  <img src="assets/icon/charteg8.PNG"/>

  <h5><u>Positions des actions</u> :</h5>

  <img src="assets/icon/charteg7.PNG"/>

</ion-content>
