<ion-content>
  <h3 class="Style1">Actions - Conduite a Tenir :</h3>

  <ul>
    <li>Gestes à effectuer :
      <ul>
        <li>Supprimer le danger</li>
        <li>Bilans</li>
        <li>Ranimation</li>
        <li>Rassurer</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Conditionnement :
      <ul>
        <li>Plat dos ou demis assis</li>
        <li>Oxygène</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Surveillance :
      <ul>
        <li>Fonctions vitales (Fréquence et Rythme cardiaque)</li>
      </ul>
    </li>
  </ul>
</ion-content>
