<ion-content>
    <h3 class="Style1">PROTECTION INCENDIE :</h3>
  
    <li>Extincteurs<br>
    </li>
    <li>LDV si FPT présent<br>
    </li>
    <li>Avant de débrancher la batterie, il est utile au préalable de baisser les vitres, d'ouvrir les portes centralisées et de modifier le réglage des sièges électriques<br>
    </li>
    <li>Débrancher la batterie (toujours commencer par la cosse du "-" ou noire<br>
    </li>

  </ion-content>
