<!--
  Generated template for the GnretablissementlancesManoeuvresGnrCombinaisonsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>BINOMES</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

  <h5 class="Style1">Combinaisons Possibles</h5>

  <li>LDT : M1 par BAT avec BAL intercalé sur la ligne</li>
  <li>1 lance sur prise d’eau : M3 par BAT</li>
  <li>2 lances sur prise d’eau : M3 par BAT 1, M3 par BAL devenu BAT 2</li>
  <li>1 lance avec dévidoir : M3 par BAT, M2 par BAL</li>
  <li>2 lances avec dévidoir : M3 par BAT 1, M2 par BAL, M3 par BAL devenu BAT 2</li>
  <li>1 lance avec 2 dévidoirs : M2 par BAL, M3 par BAT</li>
  <li>Prolongement / remplacement : M6 par BAT si attaque et si BAL indispo, M6 par BAL si alimentation</li>
  <li>1 lance à mousse : M5 par BAT, approvisionnement émulseur par BAL</li>

</ion-content>
