<!--
  Generated template for the GnrLspccCompositionEntretienPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MATERIEL</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h5>ENTRETIEN ET CONTROLE</h5>

  <img src="assets/icon/Lot_de_sauvetage.jpg"/><br>

<p><strong><u>ENTRETIEN</u></strong></p>

  <li>Après emploi, si la corde est souillée, elle est lavée à grande eau (t°maxi de 30°C), sans détergent, puis séchée à plat et à l'ombre</li>
  <li>Après utilisation, elle est, au besoin, brossée afin d'éliminer sable et petits cailloux</li>
  <li>Les pièces métaliques doivent être nettoyés et contrôlées</li>

<p><strong><u>CONTROLE</u></strong></p>

  <li>La durée de vie d'une corde est de 7 ans</li>
<p>Code mise en service le / couleur :</p>
  <li>2007 : Jaune sicilien</li>
  <li>2008 : Rouge montmorency</li>
  <li>2009 : Gris kerguelen</li>
  <li>2010 : Bleu évian (clair)</li>
  <li>2011 : Noir</li>
  <li>2012 : Bleu lavandou (foncé)</li>
  <li>2013 : Vert Longchamp</li>
  <li>2014 : Jaune sicilien</li>

<p><strong><u>ENTRETIEN ET CONTROLE DES AGRES EN FIBRES</u></strong></p>

  <li>La durée de vie est liée aux conditions d'emploi et d'entretien</li>
  <li>L'amortissement de la chute d'une personne, quelque soit la hauteur, peut entraîner, après contrôle, la réforme de la corde, du harnais ou des anneaux cousus</li>

<p><strong><u>CAUSES DE REFORME IMMEDIATE</u></strong></p>

<p>Les agrès en fibre synthétiques doivent être réformés :</p>
  <li>Exposition en atmosphère corrosive</li>
  <li>Partie brûlée et fondue</li>
  <li>Souillure par produits corrosifs</li>
  <li>Gaine coupée ou usée et laissant apparaître l'âme de la corde</li>
  <li>Lorsque l'état l'âme présente une zone de réduction de diamètre, soit une perte de souplesse localisée</li><br>

<p class="Style1">L'entretien et le contrôle incombe au responsable des lots de chaque centre de secours</p>

<p class="Style1">LE MATERIEL DOIT ETRE CONTROLE PAR UN RESPONSABLE AVANT REMISE EN SERVICE</p>

</ion-content>
