<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Prévoir un point de concentration des secours<br>
  </li>
  <li>Déterminer les points d’accès au foyer. Procéder à des découpes si nécessaire<br>
  </li>
  <li>Emplacement judicieux du PC (Attention au sens du vent)<br>
  </li>
  <li>Faire couper les voies de circulation périphériques, par les forces de l’ordre<br>
  </li>
</ion-content>