<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Sauvetage, mise en sécurité, évacuation horizontale<br>
    </li>
  <li>Utilisation des moyens de prévention afin de limiter la propagation des fumées : compartimentage<br>
    </li>
  <li>Maîtrise rapide du sinistre<br>
    </li>
  <li>Regroupement et inventaire des patients et victimes<br>
    </li>
</ion-content>
