<!--
  Generated template for the AutresTunnelsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Autres Interventions</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 align="center" class="Style1">ÉQUIPEMENTS DES TUNNELS ROUTIERS DU GROUPEMENT</h3>

<h5>Tunnel Malraux (voie Mathis) : 477m</h5>

<img src="assets/icon/Capture110.PNG" alt="" /><br>

<h5>Tunnel Liautaud (ex-TRGP) : 4 tronçons</h5>

<img src="assets/icon/Capture111.PNG" alt="" /><br>

</ion-content>
