<ion-content>
  <h3 class="Style1">Bilans :</h3>

  <li>Violence du choc ?<br>
    </li>
    <li>Lésionnel<br>
    </li>
    <li>Hémorragies associées ?<br>
    </li>
    <li>Définir un ordre de priorité des atteintes<br>
    </li>
</ion-content>
