<!--
  Generated template for the MenuNrbcRtnPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>NRBC-RTN</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5 class="titre-categorie-nrbc">Transport Matières Dangeureuses</h5>

  <ion-list inset>
      <button ion-item *ngFor="let item of list" (click)="itemSelected(item)">
        <ion-icon  name="nuclear" item-start></ion-icon>
        {{ item.title }}
      </button>
    </ion-list>

  <h5 class="titre-categorie-nrbc">Etiquetage des Colis</h5>

  <ion-list inset>
      <button ion-item *ngFor="let item2 of list2" (click)="itemSelected(item2)">
        <ion-icon  name="nuclear" item-start></ion-icon>
        {{ item2.title }}
      </button>
    </ion-list>

</ion-content>
