<ion-content>

<h5 class="Style1">Tuyaux en écheveaux : Etablissement du point d'attaque vers la prise d'eau</h5>

  <p class="Style3">CHEMIN INCONNU : Actions immédiates ou reconnaissance sans le BAT, cheminement non identifié : Etablissement du point d'attaque à la prise</p>

  <p><strong>Ordre préparatoire :</strong></p>
  <li>BAT, pour l’établissement d’une lance avec tuyaux en écheveaux, en reconnaissance !</li><br>


  <p><strong>Ordre d’exécution :</strong></p>

  <li>Point d ‘attaque…, prise d'eau...accès…, mission…, Etablissez !</li><br>

</ion-content>
