<ion-content>
  <h3 class="Style1">A proscrire</h3>

  <li>Sous estimer le risque de déplacement<br>
  </li>
  <li>Attaque de face avec les engins dans le sens contraire au vent<br>
  </li>
</ion-content>