<ion-content>

<h3 align="center" class="Style1">ASPIRATEUR DE MUCOSITES</h3>

<p>L'aspirateur de mucosités, grâce à une pompe réalisant une dépression, permet le retrait des sécrétions qui
encombrent les voies aériennes d'une victime inconciente, et permet d'améliorer sa respiration spontanée ou
la ventilation artificielle et ainsi son oxygénation.</p>

<img class="centrer" src="assets/icon/Capture105.PNG" alt="" /><br>

</ion-content>
