<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Accès par les chemins et rocades<br>
  </li>
  <li>Prendre en compte les conditions climatiques, plus particulièrement le sens et la force des vents<br>
  </li>
  <li>Pénétrer dans le champ par la zone brûlée<br>
  </li>
  <li>Remonter jusqu'au front avec le personnel dans l'engin<br>
  </li>
  <li>Attention aux disparités du terrain (trous, etc.)<br>
  </li>
</ion-content>