<ion-content>
    <h3 class="Style1">A retenir :</h3>
  
  <li>Intervenir sur un site entièrement sécurisé (électricité, circulation…)<br>
  </li>
  <li>Étudier les moyens et besoins en eau pour mener à bien l’intervention<br>
  </li>
  </ion-content>
