<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Difficultés d’accès<br>
  </li>
<li>Dégagement de gaz de combustion, en particulier le CO<br>
  </li>
<li>Perception de la chaleur en décalage par rapport au foyer<br>
</li>
<li>Intervention de très longue durée<br>
</li>
</ion-content>
