<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Coupure des énergies<br>
    </li>
  <li>Ventilation de la cave et des cages d’escalier<br>
    </li>
  <li>Engagement de binômes par alternance et en sécurité<br>
    </li>
  <li>Reconnaissance/extinction<br>
    </li>
</ion-content>
