<!--
  Generated template for the GnrAriEquipementDispositifdederivationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>MATERIEL</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h5>DISPOSITIF DE DERIVATION</h5>

    <img src="assets/icon/GNR_derivation2.png"/><br>

    <li>Permet de créer un point de dérivation sur une ligne guide</li>
    <li>Présente des symboles d’identifications tactiles</li>

</ion-content>
