<!--
  Generated template for the GnregeEnvironnementElementsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">ENVIRONNEMENT</h3>

<h4 class="Style1">ELEMENT NECESSAIRES AU DEMARRAGE DU FEU</h4>

<h5>Combustible</h5>

<p>Les progrès techniques et l’évolution du confort domestique augmentent le <strong>potentiel
calorifique</strong> présent dans les locaux.</p>

<p>Le combustible alimentant un sinistre est ainsi constitué par le mobilier, les
aménagements intérieurs, la décoration, etc.</p>

<p><img src="assets/icon/Page-5-Image-4.png" alt="" /><strong>Potentiel Calorifique</strong></p><br>

<p>Parallèlement à ce potentiel calorifique, les éléments présents sont chimiquement
complexes (ex. : matières plastiques). Leur <strong>dégradation thermique</strong>, souvent rapide en
présence d’un incendie, libère des fumées et des gaz surchauffés qui constituent des
<strong>mélanges hautement combustibles.</strong></p>

<p class="Style1">Lors d’un sinistre, le potentiel calorifique se trouve augmenté par la
libération de fumées et de gaz de combustion hautement
inflammables</p><br>

<h5>Comburant</h5>

<p>Pour qu’un incendie se déclare, un <strong>comburant</strong> est nécessaire, en l’occurrence l’oxygène
de l’air ambiant.</p>

<p>Il faut une <strong>grande quantité d’oxygène</strong> pour qu’une combustion vive soit entretenue au vu
des matériaux en présence.</p><br>

<h5>Energie d'activation</h5>

<p>La source d’ignition est supposée existante. Elle peut être due à une inflammation ou à
une incandescence.</p>

</ion-content>
