<ion-content>

<h3 align="center" class="Style1">ATTELLE PNEUMATIQUE DE TRACTION (DONWAY)</h3>

<p>Après médicalisation par l'équipe médicale le membre sera ré-axé et maintenu par 2 secouristes :</p>

<li>le 1er assure le maintien du bassin</li>
<li>le 2ème assure le maintien du pied et de la jambe</li><br>

<p>La mise en place respectera les étapes suivantes :</p>

<li>Engager l'anneau ischiatique <strong>(1)</strong> par le creux naturel du genou</li>
<li>Le mettre en place par glissement jusqu'au pli de l'aine</li>
<li>Attacher la boucle sans serrer</li><br>

<img class="centrer" src="assets/icon/Capture100.PNG" alt="" /><br>

<li>Purger l'appareil en actionnant la valve de décompression <strong>(2)</strong></li>
<li>Desserrer les bagues de serrage <strong>(3)</strong></li>
<li>Relever le support de pied <strong>(4)</strong></li>
<li>Mettre en place l'attelle de manière à assurer le contact du pied sur son support</li>
<li>Relier les bras coulissants aux fiches de l'anneau ischiatique</li>
<li>Verrouiller les fiches en pratiquant ¼ de tour sur les bras coulissants</li><br>

<img class="centrer" src="assets/icon/Capture101.PNG" alt="" /><br>

<li>Ajuster la sangle support de talon</li>
<li>Entrecroiser les sangles supérieures fermement au-dessus du coup de pied en commençant par la plus longue</li>
<li>Fixer en englobant le support de pied</li><br>

<img class="centrer" src="assets/icon/Capture102.PNG" alt="" /><br>

<li>Mettre en traction le membre par manoeuvre de la pompe, l'aiguille du manomètre doit atteindre la zone verte. L’anneau ischiatique doit venir en butée au pli de l’aine.</li>
<li>Serrer la sangle de l'anneau ischiatique</li>
<li>Mettre en place les supports de jambe <strong>(5)</strong> au niveau du mollet et de la cuisse</li><br>

<img class="centrer" src="assets/icon/Capture103.PNG" alt="" /><br>

<li>Mettre en place la sangle de genou <strong>(6)</strong></li>
<li>Verrouiller les bagues de serrage</li>
<li>Relever le support d'attelle et mettre en place la victime sur le matelas immobilisateur à dépression</li>
<li>Purger l’attelle</li><br>

<img class="centrer" src="assets/icon/Capture104.PNG" alt="" /><br>

<p class="Style1">Lors du retrait de l'attelle pneumatique de traction, après décision médicale, il est impératif avant le desserrage des bagues de remettre en pression l'attelle (zone verte du manomètre).</p>


</ion-content>
