<ion-content>

  <h3 align="center" class="Style1">D.S.A</h3>

<li>Les compressions thorasiques sont interrompues le moins possible au cours de la réanimation. Cela indique une parfaite connaissance  de la procédure de prise en charge de l'arrêt cardiaque et l'anticipation de ses différents phases</li><br>

<li>La procédure de mise en oeuvre du défibrillateur est conforme et chronologique</li><br>

<li>Les consignes de sécurités sont respectées</li><br>

<li>Les équipiers respectent les indications verbales du défibrillateur et en particulier l'arrêt de la RCP pendant les phases d'analyse</li>

</ion-content>
