<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>Les animaux sont excessivement dangereux pour l’homme en cas de panique<br>
</li>
<li>Les chevaux sont agités par l’odeur de la fumée et non par la baisse de visibilité<br>
</li>
</ion-content>
