<!--
  Generated template for the GnrLspccDestinationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LSPCC</ion-title>
            <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">Destination</h5>

<p>Les lots de sauvetage et protection contre les chutes sont destinés :</p><br>

<li>Au sauvetage ou mise en sécurité d'une personne par l'extérieur</li>
<li>Au sauvetage dans les puits, fosses ou en excavation</li>
<li>A la protection contre les chutes de hauteur</li>

<p>Toutefois, en présence de difficultés techniques dépassant les limites d'utilisation des lots de sauvetage et de protection contre les chutes, ou victimes nécessitant un conditionnement particulier, le chef d'agrès doit faire appel à une équipe spécialisée (GRIMP, montagne, etc.)</p>

</ion-content>
