<!--
  Generated template for the MenuGnrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>GDO/GTO & GNR</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h4 class="titre-categorie-gnr">GUIDES DE DOCTRINE ET TECHNIQUES OPERATIONNELLES</h4>

  <ion-list inset>
      <button ion-item *ngFor="let item2 of list2" (click)="itemSelected(item2)">
        <ion-icon  name="document" item-start></ion-icon>
        {{ item2.title }}
      </button>
    </ion-list>

  <h4 class="titre-categorie-gnr">GUIDES NATIONAUX DE REFERENCE</h4>

  <ion-list inset>
      <button ion-item *ngFor="let item of list" (click)="itemSelected(item)">
        <ion-icon  name="document" item-start></ion-icon>
        {{ item.title }}
      </button>
    </ion-list>

</ion-content>
