<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Faiblaisse extrême, PC ?</li>
        <li>Pâleur</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>Antécédents, pouls rapide ?</li>
      <li>Traitement ?</li>
      <li>TA basse</li>
    </ul>
  </li>
</ul>
</ion-content>
