<ion-content>
  <h3 class="Style1">A proscrire</h3>

  <li>Négliger les risques explosion, toxicité, pollution<br>
  </li>
  <li>Engagement massif de personnel, utilisation massive d’eau et utilisation des jet bâton<br>
  </li>
</ion-content>
