<ion-content>

<h5 class="Style1">Tuyaux en écheveaux : Etablissement par l'extérieur au moyen de l'échelle à coulisses</h5>

  <li>Décroche le dévidoir de gauche, prend la LDV et les 3 tuyaux en écheveaux du BAT</li>
  <li>Suit le chef d’agrès</li>
  <li>Dépose les tuyaux de 45 et la LDV à l’endroit où sera dressée l’échelle</li>
  <li>Alimente la division selon M2 si nécessaire</li>
  <li>Se tient à la disposition du chef d’agrès</li>

</ion-content>