<ion-content>
  <h3 class="Style1">A retenir :</h3>

<li>Inventorier les habitants dans un lieu sûr "PRV" et reconnaître l'ensemble des appartements<br>
</li>
<li>Attention aux combles aménagés : victimes potentielles<br>
</li>
<li>Attention à la structure et aux risques d'éffondrement, surtout dans les pavillons anciens<br>
</li>
<li>Penser à la mairie pour d'éventuels relogements<br>
</li>
</ion-content>