<ion-content>

<h5 class="Style1">Tuyaux en écheveaux : Etablissement de la prise d'eau vers le point d'attaque</h5>

  <p class="Style3">CHEMIN CONNU : Reconnaissance effectuée avec le BAT, cheminement correctement identifié : Etablissement de la prise d'eau au point d'attaque</p>

  <p><strong>Ordre préparatoire :</strong></p>
  <li>BAT, pour l’établissement d’une lance avec tuyaux en écheveaux, en reconnaissance !</li><br>


  <p><strong>Ordre d’exécution :</strong></p>

  <li>Prise d’eau…, point d ‘attaque…, accès…, mission…, Etablissez !</li><br>

</ion-content>