<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Se procurer les plans du site<br>
  </li>
  <li>Prévoir un point de concentration des secours<br>
  </li>
  <li>Déterminer les accès les plus courts<br>
  </li>
</ion-content>