<ion-content>
    <h3 class="Style1">Signes :</h3>
  
    <ul>
      <li>Visibles :
        <ul>
          <li>Douleurs</li>
          <li>Déformation ?</li>
          <li>Impotence</li>
        </ul>
      </li>
    </ul>
  
  <ul>
    <li> A rechercher :
      <ul>
        <li>Fourmillements ?</li>
        <li>Sensibilité ?</li>
        <li>Motricité ?</li>
      </ul>
    </li>
  </ul>
  </ion-content>
