<!--
  Generated template for the GnrAriEquipementPlaquedecontrolePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>MATERIEL</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <h5>PLAQUE DE CONTROLE</h5>

    <img src="assets/icon/GNR_PlaqueControle.png"/><br>

    <li>Comporte le nom et l'appartenance</li>
    <li>Comporte la pression à l’engagement</li>
    <li>Comporte l’heure d’entrée</li>
    <li>Pouvoir être fixée au tableau de contrôle</li>
    <li>De couleur Jaune pour les ARICO 200 B, Rouge pour les 300 B et Blanche pour les ARICF</li>

</ion-content>
