<ion-content>
  <h3 class="Style1">Bilans :</h3>

  <li>C'est le risque d'allergie qui est à craindre le plus<br>
    </li>
    <li>Gênes respiratoires ?<br>
    </li>
    <li>Terrain allergiques ?<br>
    </li>
    <li>Nausées, étourdissement ?<br>
    </li>
</ion-content>
