<!--
  Generated template for the GnretablissementlancesRetourdinterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BINOMES</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h5 class="Style1">RETOUR D'INTERVENTION</h5>

<li>Répertorier les tuyaux utilisés, les laver, les faire sécher</li>
<li>Réarmer l'engin avec des tuyaux propres</li>
<li>Remettre en état le matériel utilisé</li>
<li>Signaler tout problème ou incident survenu au cours de l'intervention</li>
<li>Faire le plein en carburant</li>
<li>Changer de tenue</li>
<li>Nettoyer sa tenue d'intervention</li>
<li>Prendre une douche</li>
<li>Se restaurer</li>

</ion-content>
