<!--
  Generated template for the DivEpuisementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>DIV</ion-title>
        <ion-buttons end >
          <header-menu></header-menu>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="Style1 centrer">EPUISEMENT</h3>

<h4>Inondation</h4>

<h5 class="Style1">Causes:</h5>

<li>Violent orage</li>
<li>Remontée des eaux d'egouts</li>
<li>Fuite sur canalisation</li>
<li>Rupture de conduite</li>
<li>Robinet laissé ouvert</li>
<li>etc</li>

<h5 class="Style1">Mode Opératoire:</h5>

<p><strong>Crue importante</strong></p>

<li>Porter les gilets de sauvetage</li>
<li>Sauvetage et évacuation des personnes au moyen des embarcations</li>
<li>Protaction des biens en les surélevant</li>
<li>Assèchement et nettoyage uniquement à partir de la décrue</li>

<p><strong>Assèchement de locaux</strong></p>

<li>Evaluer la cause, les risques encourus et le volume total à pomper</li>
<li>Couper l'électricité générale</li>
<li>Calculer le cubage de l'innondation afin d'utiliser le moyen de pompage adéquat, sans le sous-dimensionner</li>
<li>Se demander où évacuer l'eau avant de mettre en place les moyens afin de ne pas iononder un autre local</li>

<h5 class="Style1">Rappel sur le cubage:</h5>

<li>Longueur (m) x largeur (m) x hauteur (m) = vomule en m3</li>
<li>1 m3 = 1000 litres d'eau</li>
<li>Selon le modèle de pompe, on peut calculer la durée : <u>ex</u>, si le volume inondée est de 60 m3, avec une pompe de 30 m3
par heure, la durée de pompage sera de 2h.
Il convient de prévoir aussi plus de 2h d'autonomie en carburant.</li>

<h5 class="Style1">Matériel d'épuisement et d'assèchement:</h5>

<li>Petit Matériel : Serpillières, raclettes, écopes, collecteurs</li>
<li>Matériel Electrique : Aspirateurs à eau, pompes électriques</li>
<li>Matériel Thermique : Pompes portatives, pompes flottantes, remorquables</li>
<li>Matériel Hydraulique : Hydo-éjecteur, turbo-pompe</li>

<h5 class="Style1">Illustrations:</h5>

<li>Aspirateur électrique</li>
<li>Ecopes</li>
<li>Pompe électrique:
  <ul>
    <li>15 à 30 m3/h</li>
    <li>Efficace jusqu'à 6cm de hauteur d'eau</li>
    <li>Se branche sur du 220 volts (voisin ou groupe électrogène)</li>
    <li>Ne pas utiliser dans local ATEX</li>
    <li>Amarrer la pompe du sol afin que la crépine n'aspire pas les saletés ou se bouche</li>
  </ul>
</li>
<li>Pompes thérmique:
  <ul>
    <li>15 à 120 m3/h</li>
    <li>Evacuation avec aspiraux</li>
    <li>Hauteur d'aspiration maxi de 8m</li>
    <li>Attention aux gaz d'échappement (CO/CO2)</li>
  </ul>
</li>
<li>Hydo-éjecteur:
  <ul>
    <li>Alimentation en tuyau de 45 et refoulement en 70</li>
    <li>Débit réelle de 250 l/min à une pression de 8 à 10 bars</li>
  </ul>
</li>

</ion-content>
