<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Coupure des énergies à l’entrée du bâtiment<br>
    </li>
  <li>Procéder aux ventilations avec ouverture d’exutoire<br>
    </li>
  <li>Reconnaître les appartements et ventiler ces derniers<br>
    </li>
  <li>Engagement d’un binôme avec un moyen en eau (ARI/Commande/Horaires)<br>
    </li>
  <li>Constitution d’un binôme de sécurité<br>
  </li>
  <li>Reconnaissance dans les bâtiments et caves mitoyennes<br>
  </li>
  <li>Possibilité d’utilisation d’une caméra thermique<br>
  </li>
</ion-content>