<ion-content>

    <h3 align="center" class="Style1">Lecteur de Glycémie</h3>

<p>Il s'agit d'un geste invasif (prélèvement de sang). L'équipier doit donc être rigoureux dans sa technique afin d'éviter tout risque d'AES</p>

  </ion-content>
