<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Repérer le sens du vent afin d’établir un périmètre de sécurité<br>
  </li>
  <li>Effectuer les reconnaissances aux alentours<br>
  </li>
</ion-content>