<ion-content>
  <h3 class="Style1">Risques :</h3>

  <li>Dégagement calorifique important selon la nature du combustible utilisé<br>
  </li>
<li>Dégagement important de fumée<br>
  </li>
<li>Risque d’explosion par surpression de la chaudière<br>
</li>
<li>Choc thermique de la fonte avec les eaux d’extinction<br>
</li>
</ion-content>