<ion-content>
    <h3 class="Style1">RECONNAISSANCE :</h3>
  
    <li>Nombres de véhicules<br>
    </li>
    <li>Types de véhicules<br>
    </li>
    <li>Nombre de personnes impliquées : (Recherche dans, sous et à proximité)<br>
    </li>
    <li>Etat des personnes impliquées : (Indeme, Urgence relative, Urgence absolue, Mort apparente)<br>
    </li>
    <li>1 ecureuil par victime<br>
    </li>
    <li>Personnes coincées ou incarcérées<br>
    </li>
    <li>Demande de renfort<br>
    </li>

  </ion-content>
