<!--
  Generated template for the MaterielsSapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Secours à Personnes</ion-title>
    <ion-buttons end >
      <header-menu></header-menu>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1 class="titre-categorie-sap"> Matériels Secours à Personnes </h1>

  <ion-list inset>
      <button ion-item *ngFor="let item of list" (click)="itemSelected(item)">
        <ion-icon  name="ios-construct" item-start></ion-icon>
        {{ item.title }}
      </button>
    </ion-list>

</ion-content>
