<ion-content>
  <h3 class="Style1">Stratégie Générale :</h3>

  <li>Reconnaissance cubique, sauvetage/mise en sécurité<br>
    </li>
  <li>Attaque directe du feu en façade et par la partie arrière boutique<br>
    </li>
  <li>Protection des habitations et ventilation<br>
    </li>
</ion-content>

