<ion-content>
  <h3 class="Style1">Signes :</h3>

  <ul>
    <li>Visibles :
      <ul>
        <li>Nausées, Vomissements, Diarrhée</li>
        <li>Pâleurs, Sueurs</li>
        <li>Troubles neurologiques</li>
      </ul>
    </li>
  </ul>

<ul>
  <li> A rechercher :
    <ul>
      <li>Douleurs abdominales</li>
      <li>Troubles rythmes ventilatoire et circulatoire</li>
      <li>Sang dans les urines</li>
    </ul>
  </li>
</ul>
</ion-content>
