<ion-content>

  <h5><u>Missions du SSIAP :</u></h5><br>

  <li>Assurer la vacuité des cheminements</li><br>
  <li>Organiser des rondes</li><br>
  <li>Faire appliquer les consignes</li><br>
  <li>Diriger les premiers secours</li><br>
  <li>Et a la disposition des sapeurs pompiers</li><br>
  <li>Veiller au bon fonctionnement du matériel incendie</li><br>
  <li>Tenir à jour le registre de sécurité</li><br>
  <li>Assurer l'accès de la commission de sécurité</li>

</ion-content>
