<ion-content>
        <h5><u>TECHNIQUE N°2</u></h5>
        <img src="assets/icon/OuvertureporteB1.png"/>
    <ul>
    1. Ecarter la tôle avec la petite pince ou ecarteur<br>
    2. Ecarter la serrure jusqu'à la rupture<br>
    </ul>
    
    </ion-content>
