<ion-content>
  <h3 class="Style1">Actions :</h3>

  <li>Sauvetage/évacuation de la zone sinistrée et Sinistrables<br>
    </li>
  <li>Analyse des ressources internes et externes, des actions de protections, des dangers imminents, des produits impliqués<br>
  </li>
  <li>Analyse des moyens en eau. Informer la SFDE<br>
    </li>
  <li>Mise en fonction du réseau de défense interne, refroidissement des structures voisines à 10 l/mn/m² de surface exposée au feu<br>
    </li>
  <li>Mise en place d’un dispositif de temporisation à 5 l/mn/m², à 5% jusqu’à la mise en place du dispositif d’extinction<br>
  </li>
  <li>Réunir les quantités d’émulseurs et cannons, mettre en place le dispositif puis procéder à l’extinction<br>
  </li>
  <li>Poursuivre les actions de refroidissement des structures et régénérer les tapis de mousse<br>
  </li>
</ion-content>

