<!--
  Generated template for the GnrAriEquipementBalisesonorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>MATERIEL</ion-title>
        <ion-buttons end >
            <header-menu></header-menu>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>BALISE SONORE</h5>

  <img src="assets/icon/GNR_Balise1.png"/><br>

  <li>Fixé au harnais</li>
  <li>Déclenche un signal de détresse en cas d’immobilisation</li>
  <li>Signal sonore peut être déclenché manuellement</li>
  <li>La plaque de contrôle peut être fixée à la clef d’identification laissée au contrôleur</li>

</ion-content>
