<ion-content>

<h5 class="Style1">BINOME DE REMONTEE</h5>

<li>Installe le dispositif de remontée de la victime avec le chef<br></li>
<li>Fait filer la corde de remontée emportée par le chef binôme d'exploration<br></li>
<li>Remonte la victime et la réceptionne<br></li>
<li>Participe à la remontée du chef binôme d'exploration</li>
</ion-content>