<ion-content>

    <table width="100%" borde="1">
        <tr>
          <th width="5%" scope="row">AG</th>
          <td width="95%">Alarme générale</td>
        </tr>
        <tr>
          <th scope="row">AGS</th>
          <td><div aligne="left">Alarme générale sélective</div></td>
        </tr>
        <tr>
          <th scope="row">BAAS</th>
          <td><div aligne="left">Bloc autonome d'alarme sonore</div></td>
        </tr>
        <tr>
          <th scope="row">CMSI</th>
          <td><div aligne="left">Centrale de mise en sécurité incendie</div></td>
        </tr>
        <tr>
          <th scope="row">DAC</th>
          <td><div aligne="left">Dispositif actionné de sécurité</div></td>
        </tr>
        <tr>
          <th scope="row">DAD</th>
          <td><div aligne="left">Dispositif autonome déclencheur</div></td>
        </tr>
        <tr>
          <th scope="row">DAS</th>
          <td><div aligne="left">Dispositif actionné de sécurité</div></td>
        </tr>
        <tr>
          <th scope="row">DCM</th>
          <td><div aligne="left">Dispositif de commande manuelle</div></td>
        </tr>
        <tr>
          <th scope="row">DCMR</th>
          <td><div aligne="left">Dispositif de commande manuelle regroupée</div></td>
        </tr>
        <tr>
          <th scope="row">DM</th>
          <td><div aligne="left">Déclencheur manuel</div></td>
        </tr>
        <tr>
          <th scope="row">DAI</th>
          <td><div aligne="left">Détecteur automatique d'incendie</div></td>
        </tr>
        <tr>
          <th scope="row">DS</th>
          <td>Diffuseur sonore</td>
        </tr>
        <tr>
          <th scope="row">DSL</th>
          <td><div aligne="left">Diffuseur sonore et lumineux</div></td>
        </tr>
        <tr>
          <th scope="row">EA</th>
          <td><div aligne="left">Equipement d'alarme</div></td>
        </tr>
        <tr>
          <th scope="row">ECS</th>
          <td><div aligne="left">Equipement de contrôle et de signalisation</div></td>
        </tr>
        <tr>
          <th scope="row">SDI</th>
          <td><div aligne="left">Système de détection incendie</div></td>
        </tr>
        <tr>
          <th scope="row">SMSI</th>
          <td><div aligne="left">Système de mise en sécurité incendie</div></td>
        </tr>
        <tr>
          <th scope="row">TS</th>
          <td><div aligne="left">Tableau de signalisation</div></td>
        </tr>
        <tr>
          <th scope="row">UAE</th>
          <td><div aligne="left">Unité d'aide à l'exploitation</div></td>
        </tr>
        <tr>
          <th scope="row">UCMC</th>
          <td><div aligne="left">Unité de commandes manuelles centralisées</div></td>
        </tr>
        <tr>
          <th scope="row">UGA</th>
          <td><div aligne="left">Unité de gestion des alarmes</div></td>
        </tr>
        <tr>
          <th scope="row">UGCIS</th>
          <td><div aligne="left">Unité de gestion centralisé des issues de secours</div></td>
        </tr>
        <tr>
          <th scope="row">US</th>
          <td><div aligne="left">Unité de signalisation</div></td>
        </tr>
    </table>
</ion-content>

