<!--
  Generated template for the GnregeEmbrasementSignesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EGE - Explosion</ion-title>
    <ion-buttons end >
        <header-menu></header-menu>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 class="titre-categorie-gnr">EMBRASEMENT GÉNÉRALISÉ ÉCLAIR</h3>

<h4 class="Style1">SIGNES D’ALARME</h4>

<p>Les signes d’alarme suivants, annonçant l’imminence d’un embrasement généralisé éclair,
peuvent être observés :</p>

<li>Le <strong>volume</strong> présente des <strong>ouvertures</strong> permettant l’apport d’air</li>
<li>Le foyer est localisé et produit des flammes <strong>claires</strong></li>
<li>La <strong>couche de fumées</strong> se densifie et s’épaissit rapidement</li>
<li>La <strong>chaleur</strong> provenant de la couche de fumées est <strong>intense et écrasante</strong>, imposant de se baisser</li>
<li>Des <strong>petites flammes</strong> apparaissent dans la couche de fumées, suivies de <strong>rouleaux de flammes</strong> à l’interface fumées/air</li>

<p class="Style1">Les rouleaux de flammes sont les éléments précurseurs de l’embrasement généralisé éclair.</p>

</ion-content>
