<ion-content>
  <h3 class="Style1">Accès - Cheminements :</h3>

  <li>Emplacement stratégique des moyens aériens<br>
  </li>
  <li>Repérer les coursives, accès aux étages supérieures<br>
  </li>
  <li>Faire descendre l'ascenseur et le condamner après reconnaissance<br>
  </li>
</ion-content>